.metrics-block {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;

  .metric-item:nth-child(3) {
    border-top: 3px solid #8FD39D;
  }

  .metric-item:nth-child(5) {
    border-top: 3px solid #6D6DF6;
  }

  .metric-item {
    .metric-item-default-style();
    margin-right: .5%;

    &:nth-child(8n + 8) {
      margin-right: 0 !important;
    }

    .close {
      margin: 0 0 0 auto;
      cursor: pointer;

      img {
        width: 1.7142857142857142rem;
        height: 1.7142857142857142rem;
      }
    }
  }

}


.metric-item-default-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  height: 100px;
  padding: 8px 12px 8px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: ir;

  .title-info {
    display: flex;
    align-items: center;
    font-size: 1.14rem;
    letter-spacing: -0.05px;
    color: #656A84;

    .anticon {
      color: #656A84;
      opacity: 1;
      margin: 0 0 0 8px;
    }

    img.warning-icon {
      margin: 0 0 0 8px;
    }
  }

  .metric-item__changes {
    & > div {
      width: max-content;
      height: 1.1428571428571428rem;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-radius: 4px;
      font-size: 0.7857142857142857rem;
      letter-spacing: 0.3px;
      text-transform: uppercase;

      img {
        margin: 0 0 0 5px;
      }
    }

    .upward-changes {
      background: #8FD39D;
      color: #fff;
    }

    .up-changes {
      background: rgba(143, 211, 157, 0.2);
      color: #8FD39D;
    }

    .down-changes {
      background: rgba(201, 203, 212, 0.2);
      color: #656A84;
    }

    .downward-changes {
      background: #656A84;
      color: #fff;
    }
  }

  .metric-item__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .value {
      font-size: 1.8571428571428572rem;
      line-height: 2.2857142857142856rem;
      letter-spacing: 0.2px;
      color: #38454F;
    }

    .label {
      font-size: 0.8571428571428571rem;
      letter-spacing: 0.2px;
      color: #656A84;
    }
  }

  //-------------------------------------
  /*Retina CSS */
  //-------------------------------------


  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      height: 75px;
      padding: 6px 9px;

    }
  }
}
