.dayparting-page.dark-mode .spend-statistics {
  //grid-area: spendStatistics;
  position: relative;

  &.disabled {
    .section-header,
    .statistics-block {
      filter: grayscale(100%);
    }
  }

  .section-header {
    justify-content: space-between;

    .custom-select {
      width: 180px;
      height: 2.2857142857142856rem;

      .ant-select-selection {
        display: flex;
        align-items: center;
        padding: 0 0 0 1.0714285714285714rem;

        &::before {
          content: 'Metric:';
          height: 100%;
          font-size: 0.8571428571428571rem;
          display: flex;
          align-items: center;
          color: #898989;
        }

        .ant-select-selection__rendered {
          margin-right: 40px;

          .ant-select-selection-selected-value {
            padding: 0 0 0 5px;
            font-size: 0.8571428571428571rem;
          }
        }
      }
    }
  }

  .statistics-block {
    padding: 0 1.4285714285714286rem 1.0714285714285714rem;

    .day-axis {
      display: grid;
      grid-row-gap: 4px;
      grid-template-columns: 1fr;
      margin: 0 4px 0 0;

      .chart-tooltip {
        margin: 0;
      }

      .day-name {
        height: 3.5714285714285716rem;
        width: 3.5714285714285716rem;
        background: #474B50;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #FFFFFF;
      }
    }

    .time-axis {
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-column-gap: 4px;
      margin-bottom: 4px;
      padding: 0 0 0 calc(3.5714285714285716rem + 4px);

      div {
        height: 3.5714285714285716rem;
        background: #474B50;
        border-radius: 2px;

        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;

      .chart-tooltip {
        margin: 0;
      }

      & > .row {
        display: grid;
        grid-template-columns: 3.57142857rem repeat(24, 1fr);
        grid-column-gap: 4px;
        margin-bottom: 4px;
      }

      .day-name {
        height: 3.57142857rem;
        width: 3.57142857rem;
        background: #474b50;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.21428571rem;
        color: #fff;

        .diff-value {
          width: 100%;
          justify-content: center;
        }
      }

      .statistic-item {
        width: 100%;
        max-width: 100%;
        display: flex;
        overflow: hidden;

        .chart-tooltip {
          max-width: 100%;
          width: 100%;
          overflow: hidden;
        }

        .statistic-information {
          width: 100%;
          height: 3.57142857rem;
          border-radius: 2px;
          background: rgb(74, 76, 89);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 1rem;
          position: relative;
          overflow: hidden;
          padding: 0 2px;

          .value {
            max-width: 100%;
            text-align: center;
            box-sizing: border-box;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }


    .legend {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.0714285714285714rem 0 0 0;
      padding: 0 0 0 calc(3.5714285714285716rem + 4px);

      .color-gradation {
        display: flex;
        flex-direction: column;

        .color {
          display: flex;
          margin: 0 0 4px;

          div {
            width: 3.7142857142857144rem;
            height: 8px;
            margin: 0 4px 0 0;

            &:first-child {
              border-radius: 2px 0 0 2px;
            }

            &:last-of-type {
              border-radius: 0 2px 2px 0;
              margin: 0;
            }
          }
        }

        .percent {
          width: calc(100% + 2.142857142857143rem);
          display: flex;
          justify-content: space-between;
          position: relative;
          left: -8px;

          div {
            flex: 1;
            color: #FFFFFF;
            display: flex;
            justify-content: flex-end;

            &:first-child {
              flex: initial;
              justify-content: flex-start;
            }
          }
        }
      }

      .out-budget {
        display: flex;
        align-items: center;
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #FFFFFF;

        div {
          width: 3.7142857142857144rem;
          height: 8px;
          border: 1px solid #FF7E81;
          border-radius: 2px;
          margin: 0 8px 0 0;
        }
      }
    }
  }



  .diff-value {
    max-width: 100%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.7142857142857143rem;
    line-height: 1.0714285714285714rem;
    position: relative;

    span {
      max-width: 95%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }

    svg {
      min-width: 6px;
      margin: 0 2px 0 0;
    }

    &.upward-changes {
      color: #7FD3A1;

      svg {
        fill: #7FD3A1;
      }
    }

    &.downward-changes {
      color: #FFAF52;

      svg {
        fill: #FFAF52;
        transform: rotate(180deg);
      }
    }
  }

  .statistic-information {
    .diff-value {
      width: 100%;
      justify-content: center;
    }
  }
}

.budget-window {
  max-width: 42.857142857142854rem;
  width: 100% !important;

  .ant-modal-content {
    padding: 2.857142857142857rem !important;
    width: 100%;
  }

  .ant-modal-body {
    padding: 0;
  }

  h2 {
    font-size: 1.1428571428571428rem;
  }

  .ant-radio-group {
    width: 100%;
  }

  .current-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    letter-spacing: -0.05px;
    color: #343C5A;

    .value {
      padding: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #FFA8AA;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .recommend-budget {
    margin: 1.4285714285714286rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .value {
      padding: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #8fd39d;
      font-weight: 500;
      font-size: 1rem;
    }

    .ant-spin-spinning {
      margin: 0.35714285714285715rem 0 0 0;
      position: absolute;
      right: 0;
    }
  }

  .custom-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-input-number, input {
      border-radius: 8px;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }

    .InputCurrency {
      width: 7.142857142857143rem;
      height: 2.2857142857142856rem;

      .Dollar {
        font-size: 1.1428571428571428rem;
        top: 3px;
        bottom: 3px;
      }

      .ant-input-number, .ant-input-number-input-wrap, input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 2.5rem 0 0 0;
    height: 32px;


    .btn {
      height: 32px;
      border-radius: 4px;
      font-weight: 500;

      &:first-child {
        margin-right: 1.0714285714285714rem;
      }
    }

    .ant-spin {
      margin: 0 auto;
    }
  }

  .success {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 0 0 20px 0;
    }

    .btn {
      width: 45%;
      height: 32px;
      margin: 25px auto 25px auto;
    }
  }
}

.dayparting-page.dark-mode .HourDayStatistics-tooltip {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    min-width: 380px;
    max-width: max-content;
    width: max-content;
    border: 0;
    box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);
    padding: 1.0714285714285714rem;
    display: flex;
    flex-direction: column;

    .tooltip-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid #C9CBD4;
      margin: 0 0 5px;
      //color: rgba(255, 255, 255, 0.8);

      .date {
        font-weight: 600;
        font-size: 0.8571428571428571rem;
        color: #353A3E;
        margin: 0;
      }

      .percent {
        background: #4a4c59;
        border-radius: 4px;
        padding: 2px 5px;
        font-size: 0.8571428571428571rem;
        color: #FFFFFF;
        margin: 0 0 0 20px;
      }
    }

      .diff-value span {
      max-width: 100%;
       overflow: inherit;
    }

    label {
      font-size: 0.7142857142857143rem;
      color: #686868;
      margin-bottom: 5px;
    }

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 1.0714285714285714rem;


      .name {
        font-size: 0.8571428571428571rem;
        color: #353A3E;
        text-transform: capitalize;
      }

      .value {
        font-size: 0.8571428571428571rem;
        color: #6959AB;
        margin: 0 10px 0 auto;
      }


      &.main-metric {
        background: #F3F3F3;
        border-radius: 4px;
        padding: 10px 5px;
        font-weight: 600;

      }
    }

    .changes-block {
      min-width: 140px;

      display: flex;
      justify-content: flex-end;

      .diff-value {
        font-size: 0.8571428571428571rem;
        margin: 0 5px 0 0;
        justify-content: flex-end;
      }

      .from {
        font-size: 0.7142857142857143rem;
        color: #686868;
      }
    }

  }
}
