.Toastify__toast-container {
  width: 432px;
  z-index: 1000000;
}

.Toastify__toast {
  border-radius: 8px;
  padding: 0 22px;
  min-height: 48px;
  font-family: Eina;

  .Toastify__toast-body {
    margin: 14px 0 14px 0;
    color: #fff;

    svg {
      margin: 0 22px 0 0;
    }

    .notification__title {
      font-size: 16px;
      display: flex;
    }

    .notification__description {
      display: block;
      margin: 10px 0 0 0;
      font-size: 14px;
    }
  }

  .Toastify__close-button {
    margin: 14px 0 0 0;
  }
}

.error-notification {
  background: #EC7F5C !important;
}

.warning-notification {
  background: #FBB13C !important;
}

.success-notification {
  background: #82BB79 !important;
}
.start-optimization-notification {
  background: #9CD987 !important;
}
.some-problem-notification {
  background: #7E8F95 !important;
}