.Toastify__toast-container {
  width: 432px;
  z-index: 1000000;

  @media (max-width: 600px) {
    width: 100%;
    height: max-content;
    top: 0;

    .Toastify__toast {
      padding: 0 10px;
      min-height: 0;
      height: max-content;

      .Toastify__close-button {
        display: none;
      }

      .Toastify__toast-body {
        margin: 5px 0;

        svg {
          display: none;
        }
      }
    }
  }
}

.Toastify__toast {
  border-radius: 4px;
  padding: 0 22px;
  min-height: 48px;
  font-family: Montserrat;

  .Toastify__toast-body {
    margin: 14px 0 14px 0;
    display: flex;
    align-items: center;

    & > svg {
      width: 1.7142857142857142rem;
      min-width: 1.7142857142857142rem;
      height: 1.7142857142857142rem;
      margin: 0 12px 0 0;
    }

    .notification__body {
      display: flex;
      flex-direction: column;
    }

    .notification__title {
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      word-break: break-word;
    }

    p {
      margin: 0;
    }

    .notification__description {
      font-weight: 500;
      font-size: 0.8571428571428571rem;
      line-height: 1.0714285714285714rem;

      margin: 3px 0 0 0;
    }
  }

  .close-button {
    display: flex;
    align-items: center;
  }
}

.error-notification {
  background: #FFCBCC !important;
  border: 1px solid #FFA8AA;

  i {
    svg {
      stroke: #FF5256;
    }
  }

  .notification__title, .notification__description {
    color: #FF5256;
  }
}

.warning-notification {
  background: #FFE3C2 !important;
  border: 1px solid #FFAF52;

  i {
    svg {
      stroke: #FFAF52;
    }
  }

  .notification__title, .notification__description {
    color: #FFAF52;
  }
}

.information-notification {
  background: #D2CDE6 !important;
  border: 1px solid #6959AB;

  .notification__title, .notification__description {
    color: #6959AB;
  }
}

.success-notification {
  background: #CCEEDA !important;
  border: 1px solid #7FD3A1;

  i {
    svg {
      stroke: #7FD3A1;
    }
  }

  .notification__title, .notification__description {
    color: #7FD3A1;
  }
}

.start-optimization-notification {
  background: #9CD987 !important;
}

.some-problem-notification {
  background: #7E8F95 !important;
}
