.Toastify__toast-container {
  width: 432px;
}

.Toastify__toast {
  border-radius: 8px;
  padding: 0 22px;
  min-height: 48px;

  .Toastify__toast-body {
    margin: 14px 0 14px 0;

    img {
      margin: 0 22px 0 0;
    }

    .notification__description {
      margin: 20px 0 0 0;
    }
  }

  .Toastify__close-button {
    margin: 14px 0 0 0;
  }
}

.error-notification {
  background: #EC7F5C !important;
  color: #fff;
}