@import "../../../../style/variables.less";

.product-breakdown {
  width: 70%;
  margin: 0 25px 0 0;
  position: relative;
  box-shadow: @default-section-shadow;
  background: #fff;
  padding: 1.4285714285714286rem 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  & > .title {
    width: 100%;
    margin: 0 0 1.0714285714285714rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.4285714285714286rem;
    color: #343C5A;
    font-weight: 500;
    padding: 0 1.4285714285714286rem;


    @media (max-width: 532px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .filters {
    display: flex;
    align-items: center;
    margin: 0 0 1.4285714285714286rem 0;
    padding: 0 1.4285714285714286rem;

    .form-group {
      width: 355px;
      margin: 0 20px 0 0;
    }

    .switch-block {
      button {
        margin: 0 10px 0 0;
      }
    }

    .product-selected {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;

      span {
        color: #6D6DF6;

        b {
          font-weight: 500;
        }
      }

      .select-switch {
        display: flex;
        margin: 0 0 0 15px;

        button {
          width: 2.2857142857142856rem;
          height: 2.2857142857142856rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          margin: 0 0 0 3px;

          svg {
            width: 1.4285714285714286rem;
            height: 1.4285714285714286rem;

            use {
              fill: #656A84;
            }
          }

          &:hover {
            background: rgba(109, 109, 246, 0.05);
          }


          &.active {
            background: rgba(109, 109, 246, 0.15);

            svg {
              use {
                fill: #6D6DF6;
              }
            }
          }
        }
      }
    }
  }

  .ant-popover-arrow {
    display: none;
  }

  .loading {
    border-radius: 0 8px 8px 8px !important;
  }

  .products-table {
    flex: 1;
  }

  .custom-table {
    height: 500px;

    .table-head {
      .th {
        border: 0;
        background: none;
        padding: 15px 8px 15px 8px;
        font-weight: 500;
        justify-content: flex-end;
        font-size: 1rem;
        background: #fff;
        margin: 0;

        &:first-child {
          justify-content: flex-start;
          padding-left: 1.4285714285714286rem;
        }

        &:last-child {
          padding-right: 1.4285714285714286rem;
        }
      }
    }

    .table-body {
      .table-body__row {

        &:hover {
          background: rgba(245, 245, 255, 0.5);
          cursor: pointer;

          .table-body__field {
            &:first-child {
              border-left: 4px solid rgba(245, 245, 255, 0.5);
            }
          }
        }

        &.activated-product {
          background: #F5F5FF;

          .table-body__field {
            &:first-child {
              border-left: 4px solid #6D6DF6;
            }
          }
        }

        .table-body__field {
          padding: 9px 8px 9px 8px;
          justify-content: flex-end;

          &:first-child {
            justify-content: flex-start;
            padding-left: 1.4285714285714286rem;
            border-right: 1px solid #C9CBD4;
            border-left: 4px solid #fff;
          }

          &:last-child {
            padding-right: 1.4285714285714286rem;
          }

          .product-item {
            .product-information {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: relative;
              font-size: 1rem;

              .image {
                img {
                  max-width: 4.642857142857143rem;
                  max-height: 4.642857142857143rem;
                }
              }

              & > div.product-item-content {
                flex: 1 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 0 0 10px;

                .caption {
                  .short-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    width: fit-content;
                    font-size: 1rem;
                    line-height: 1.2142857142857142rem;
                    font-weight: 500;
                  }
                }

                .detail {
                  display: flex;
                  justify-content: space-between;
                  font-size: 0.8571428571428571rem;

                  span:first-child {
                    font-weight: 900;
                  }
                }
              }

              .on-optimization {
                width: 80px;
                position: absolute;
                right: 0;
                bottom: -8px;
              }
            }

            .open-children-list-button {
              display: none;
            }
          }

          .product-params {
            font-size: 1.4285714285714286rem;
            color: #343C5A;
            display: flex;
            flex-direction: column;

            .product-metric-changes {
              & > div {
                width: max-content;
                display: flex;
                align-items: center;
                padding: 0 10px;
                border-radius: 4px;
                font-size: 0.7142857142857143rem; //1-px
                text-transform: uppercase;
                margin: 0 0 0 auto;

                svg {
                  margin: 0 0 0 5px;
                }

                .horizontal-line-icon {
                  display: inline-block;
                  background: #000;
                  width: 5px;
                  height: 1px;
                  margin: 0 0 0 3px;
                }
              }

              .upward-changes {
                background: #8FD39D;
                color: #fff;
              }

              .up-changes {
                background: rgba(143, 211, 157, 0.2);
                color: #8FD39D;
              }

              .down-changes {
                background: rgba(201, 203, 212, 0.2);
                color: #656A84;
              }

              .downward-changes {
                background: #656A84;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .pw-pagination {
    padding: 1.42857143rem 0 0 1.42857143rem;
    margin-top: auto;
  }

  .custom-tooltip {
    margin-left: 5px;
  }


  @media (max-width: 1200px) {
    & {
      width: 100%;
      margin: 0;

      .ant-table-pagination.ant-pagination {
        margin: 10px 0 0 0;
      }
    }
  }


  //-------------------------------------
  /*Retina CSS */
  //-------------------------------------
  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      table {
        .ant-table-tbody {
          td {
            max-width: 90px;

            &:first-child {
              min-width: 240px;
            }

            .product-item {
              .product-information {
                min-width: 220px;
              }
            }
          }
        }

        .ant-table-tbody .product-params .product-metric-changes > div {
          height: 14px;
          line-height: 14px;
          font-size: 1rem; //12px
        }
      }
    }
  }
}

.profit-tooltip-description {
  width: 250px;

  .title {
    font-size: 1rem;
    padding: 8px 0;
    margin: 0 0 8px 0;
    color: #343C5A;
    border-bottom: 1px solid rgba(109, 109, 246, 0.5);
  }

  p {
    font-size: 0.8571428571428571rem;
    line-height: 20px;
    color: #656A84;
  }

  .btn {
    padding: 0 8px;
    margin: 0 0 15px 0;
  }

  //retina
  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      .title {
        font-size: 1.1428571428571428rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}



