@import "../../../../../style/variables.less";
@import "../../../../../style/mixins.less";

.NetMargin {
    .net-margin-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .net-margin-header {
            text-align: center;

            h3 {
                color: @second-default-dark;
            }
        }
    }
}

