.landing-automation .contact-form,
.contact-form {
  background: #83FED0;
  padding: 160px 0;
  height: max-content;

  .container {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    h2 {
      margin-bottom: 21px;
      color: #17175a !important;

      span {
        color: #6D6DF6 !important;
      }
    }

    .form-description {
      text-align: center;
      font-size: 21px;
      line-height: 25px;
      color: #7C8A95;
      margin-bottom: 32px;
    }

    .team-avatars {
      margin-bottom: 48px;

      img {
        width: 64px;
        height: 64px;
        margin: 0 20px 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 48px;
      line-height: 58px;
      color: #6D6DF6 !important;
      margin-bottom: 48px;
    }
  }

  .button-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    grid-column-gap: 20px;

    &.goals {
      li {
        height: auto;
      }
    }

    li {
      flex: 1;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 18px 15px 25px;

      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      color: #17175A;
      cursor: pointer;

      div {
        flex: 1;
        display: flex;
        align-items: center;
        margin-bottom: -10px;
      }

      i {
        width: 96px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        svg {
          width: 100%;
          height: 100%;
          fill: #6D6DF6;
        }
      }

      &.active {
        background: #6D6DF6;
        color: #fff;

        svg {
          fill: #83FED0;
        }

        .steps {
          div {
            background: #83FED0;
          }
        }
      }

      .steps {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-basis: auto;
        margin: 25px 0 64px;

        div {
          flex: 1;
          background: #6D6DF6;
          margin: auto 5px 0 0;
        }
      }
    }
  }

  .form-group {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 24px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: #6D6DF6;
      margin-bottom: 9px;
    }

    input {
      height: 40px;
    }

    &.radio {
      margin-bottom: 0;

      span {
        color: #6D6DF6;
        font-weight: 400;
        font-size: 13px;
      }
    }

    &.checkbox {
      margin-bottom: 0;

      .ant-checkbox-wrapper {
        .ant-checkbox {
          width: 18px;
          height: 18px;
        }

        span {
          font-size: 13px;
          font-weight: 400;
          color: #6D6DF6;

          a {
            margin: 0 3px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }


  .actions {
    display: flex;
    justify-content: center;
    margin: 100px auto 0;

    .btn {
      height: 56px;
      font-size: 21px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0 10px 0 0;

      &.transparent {
        background: none;
        color: #6D6DF6;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .send-icon {
    width: 70px;
    height: 70px;
    margin: 140px auto 100px;
  }

  .cases {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #6D6DF6;
      margin-bottom: 48px;
    }


    .links {
      display: flex;
      justify-content: center;
      grid-column-gap: 20px;

      .btn {
        height: 56px;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .response-time {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #17175A;
  }

  .progress-bar {
    width: 100%;
    height: 8px;
    background: rgba(109, 109, 246, 0.3);
    border-radius: 4px;
    position: relative;
    display: flex;
    margin: 48px 0 0 0;

    &.step-0, &.step-7 {
      display: none;
    }

    .bar {
      background: #6D6DF6;
      border-radius: 4px;
    }
  }
}
