.dayparting-page.dark-mode .placements {

  .section-header {
    h2 {
      margin: 0 auto 0 0;
    }

    .chart-switch {
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 1rem;

      padding: 0 0 0 1.4285714285714286rem;
      border-left: 1px solid #5E5E5F;
      margin: 0 0 0 1.4285714285714286rem;

      button {
        margin: 0 10px;
      }

      span {
        color: #898989;

        &.active {
          color: #fff;
        }
      }
    }
  }

  .chart {
    opacity: 0;
  }

  .metrics-statistics {
    width: 100%;
    border-top: 1px solid #898989;
    margin: 40px 0 0 0;
    font-size: 14px;
    color: #FFFFFF;


    .row {
      display: flex;
      border-bottom: 1px solid #898989;

      &:first-of-type {
        font-weight: 600;
      }

      &:last-of-type {
        border: 0;
      }

      & > div {
        flex: 1;
        border-right: 1px solid #898989;
        padding: 1.0714285714285714rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &:first-of-type {
          padding-left: 1.4285714285714286rem;
          justify-content: flex-start;
        }

        &:last-of-type {
          padding-right: 1.4285714285714286rem;
          border: 0;
        }
      }
    }
  }

}