@import "../../../../style/variables.less";

.main-pages .main-container .page > .analytics-page {
  .analytics-header {
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: @default-section-shadow;

    &.hidden {
      height: 0;
      overflow: hidden;
    }

    .title {
      width: max-content;
      padding-right: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        stroke: #343C5A;
        margin: 1px 15px 0 0;
      }
    }

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      height: 66px;

      .title {
        padding-right: 17px;
      }
    }


    h1 {
      margin: 0;
      font-size: 1.7142857142857142rem;
    }

    .nav {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 20px;
      border-left: 1px solid #C9CBD4;

      .steps {
        display: flex;
        align-items: center;
        font-size: 1.1428571428571428rem;
        line-height: 1.3571428571428572rem;
        font-weight: 500;
        color: #656A84;
        list-style: none;
        margin: 0;

        i {
          margin: 0 0 0 10px;

          svg {
            stroke: #C9CBD4;
          }
        }

        li {
          color: #6D6DF6;
          cursor: pointer;
          margin: 0 15px 0 0;

          &:hover {
            text-decoration: underline;
          }

          &:last-child {
            color: #656A84;
            cursor: default;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .current-location {
        font-size: 1.7142857142857142rem;
        line-height: 2.0714285714285716rem;
        color: #656A84;
        margin: 0;
      }
    }
  }
}
