@import "../../../../style/variables.less";

.main-pages .main-container .page > .analytics-page {
  .analytics-header {

    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: @default-section-shadow;

    .title {
      width: 191px;
      display: flex;
      align-items: center;

      svg {
        stroke: #343C5A;
        margin: 0 15px 0 0;
      }
    }


    h1 {
      margin: 0;
    }

    .nav {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 20px;
      border-left: 1px solid #C9CBD4;

      .steps {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: #656A84;
        list-style: none;
        margin: 0;

        i {
          margin: 0 0 0 10px;

          svg {
            stroke: #C9CBD4;
          }
        }

        li {
          color: #6D6DF6;
          cursor: pointer;
          margin: 0 15px 0 0;

          &:hover {
            text-decoration: underline;
          }

          &:last-child {
            color: #656A84;
            cursor: default;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .current-location {
        font-size: 24px;
        line-height: 29px;
        color: #656A84;
        margin: 0;
      }
    }
  }
}