@import "../../../../style/variables.less";

.main-pages .main-container .page > .analytics-page {
  height: 100%;
  padding: 0;

  display: grid;
  grid-template-areas: 'header header' 'nav workplace';
  grid-row-gap: 15px;
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;

  .navigation {
    grid-area: nav;
  }

  .workplace {
    grid-area: workplace;
    width: 100%;
    overflow-x: hidden;
    padding: 0 15px 0 15px;

    .metrics-block {
      grid-gap: 15px;
    }

    .main-chart {
      margin: 15px 0 0 0;
    }
  }

  .analytics-header {
    grid-area: header;

    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: @default-section-shadow;

    .title {
      width: 191px;
      display: flex;
      align-items: center;
    }

    svg {
      stroke: #343C5A;
      margin: 0 15px 0 0;
    }

    h1 {
      margin: 0;
    }

    .nav {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 20px;
      border-left: 1px solid #C9CBD4;

      .steps {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: #656A84;
        list-style: none;
        margin: 0;

        i {
          margin: 0 0 0 10px;

          svg {
            stroke: #C9CBD4;
          }
        }

        li {
          color: #6D6DF6;

          &:last-child {
            color: #656A84;
          }
        }
      }

      .current-location {
        font-size: 24px;
        line-height: 29px;
        color: #656A84;
        margin: 0;
      }
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    zoom: 80%;
  }
}