.reports-page .report-filter {
  width: 100%;
  min-height: 4.285714285714286rem;
  background: #fff;
  padding: 0.8571428571428571rem 1.4285714285714286rem;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-row-gap: 8px;
  border-bottom: 0.5px solid #C9CBD4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  p {
    height: 2.28571429rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2142857142857142rem;
    color: #46435C;
    margin: 0 0.8571428571428571rem 0 0;
    display: flex;
    align-items: center;
  }

  .add-filter {
    padding: 0;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 0 0.8571428571428571rem 0 0;

    svg {
      width: 2.2857142857142856rem;
      height: 2.2857142857142856rem;
     fill: #6959AB;
    }

    &:hover {
      svg {
        fill: #24293F;
      }
    }
  }

  .reset-btn {
    height: 2.28571429rem;
    font-weight: 600;
    font-size: 1rem;
    color: #46435C;


    &:hover {
      color: #777391;
    }
  }
}

.filters-list {
  .filter-item {
    border-radius: 2.857142857142857rem;
    min-height: 2.2857142857142856rem;
    display: flex;
    align-items: center;
    padding: 2px 0.8571428571428571rem;
    color: #6959AB;
    font-weight: 600;
    font-size: 0.8571428571428571rem;
    margin: 0 0.5714285714285714rem 0 0;
    cursor: pointer;

    border: 1px solid #6959AB;


    i {
      margin: 0 0 0 10px;
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        use {
          stroke: #46435C;
        }
      }

      &:hover {
        svg {
          use {
            stroke: #6959AB;
          }
        }
      }
    }
  }
}


.filter-popover {
  .ant-popover-inner-content {
    max-width: max-content;
    padding: 1.4285714285714286rem 1.4285714285714286rem 1.2142857142857142rem;
  }

  .ant-popover-content > .ant-popover-arrow {
    left: 12px;
    background: #fff;
    display: block;
  }

  .DatePicker {
    input {
      padding: 0;
    }
  }
}

.filter-variables {
  display: flex;
  flex-direction: column;

  .custom-tooltip {
    display: none;
  }

  .row {
    display: flex;

    .form-group {
      width: 10.357142857142858rem;
      margin: 0 1rem 0 0;
      height: 2.2857142857142856rem;

      &:last-child {
        width: 14.285714285714286rem;
        margin: 0;
      }
    }

    .InputCurrency {
      height: 2.2857142857142856rem;
    }

    .pw-tree-select {
      overflow: hidden;
      height: 2.2857142857142856rem;

      .ant-select,
      .ant-select-selection,
      .ant-select-selection__rendered {
        min-height: 100%;
        height: 100%;
      }

      .ant-select-selection__rendered {
        flex-wrap: nowrap;
        overflow: hidden;
        width: max-content;
        min-width: 100%;
      }

      .ant-select-search__field__placeholder, .ant-select-selection__choice__content {
        font-size: 1rem;
      }
    }

    .custom-select {
      width: 100%;
      flex: 1;
      min-width: 10rem;
      height: 2.2857142857142856rem;

      &:nth-child(3) {
        margin: 0;
      }
    }
  }

  .DatePicker {
    max-width: 200px;

    .ant-calendar-picker,
    .ant-input {
      width: 100%;
      text-align: left;
    }

    .DateIcon {
      display: none;
    }

    .ant-calendar-picker-input {
      padding-left: 11px;
      display: flex;
    }

    .ant-calendar-range-picker-input:placeholder-shown {
      padding-left: 0;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 1.2857142857142858rem 0 0 0;

    .btn {
      font-weight: 600;
      font-size: 0.8571428571428571rem;
    }

    .transparent {
      padding: 0;
      color: #46435C;

      &:hover {
        color: #777391;
      }
    }

    button:last-child {
      margin: 0 0 0 15px;
    }
  }
}
