.reports-page .report-filter {
  width: 100%;
  min-height: 4.285714285714286rem;
  background: #fff;
  padding: 0 1.4285714285714286rem;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #C9CBD4;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  p {
    font-size: 1rem;
    color: #343C5A;
    margin: 0;
  }

  button {
    width: 2.2857142857142856rem;
    height: 2.2857142857142856rem;
    padding: 0;
    border-radius: 50%;
    position: relative;
    margin: 0 0 0 15px;
    text-align: center;

    svg {
      use {
        stroke: #fff;
      }
    }
  }
}