@import "../../../../../../style/variables.less";
@import "../../../../../../style/mixins.less";

.OptimizeCaption {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;

    .ProductInfo {
        color: #363694;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;

        span {
            margin-right: 10px;
        }

        i {
            cursor: pointer;
            color: @action-color-dark;
        }

    }


    @media (max-width: @desktop) {
        & {
            align-items: flex-start;
            min-height: 80px;

            .children {
                width: 100%;
            }
        }
    }
    @media (max-width: @laptop) {
        & {
            min-height: auto;

            .children {
                display: none;
            }
        }
    }
    @media (max-width: @mobile) {
        & {
            .ProductInfo {

                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

.optimize-options {
    .ProductInfo {
        width: 100%;
        justify-content: space-around;
    }
}
