.registration-page {
  .container {
    form {
      .sign-up {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        text-align: center;
        color: #5B586F;
        margin: auto 0 0 0;

        a {
          color: #6959AB;
          padding: 0 3px;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media (max-width: 800px) {
        p {
          br {
            display: none;
          }
        }

        .sign-up {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }

      }
    }
  }
}