.registration-page {
  .row {
    display: flex;

    .ant-form-item:first-child {
      margin-right: 20px;
    }

    .ant-form-item {
      flex: 1;
    }
  }

  .stripe-form {
    margin-top: 2.142857142857143rem;

    .form-title {
      font-size: 1.4285714285714286rem;
      color: #343C5A;
      margin-bottom: 20px;

      span {
        font-size: 1rem;
      }
    }

    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      margin-top: 20px;
    }

    .card-container__card,
    .card-container__expiry,
    .card-container__cvc {
      height: 60px;

      .StripeElement {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 4px 11px;

        background: #FFFFFF;
        border: 1px solid rgba(148, 163, 173, 0.4);
        box-sizing: border-box;
        border-radius: 8px;

        &--focus {
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }

        div {
          width: 100%;
        }
      }
    }


    p {
      display: flex;
      align-items: center;
      margin-top: 20px;
      font-size: 11px;
      color: #656A84;

      svg {
        margin: 0 10px 0 0;
      }
    }

    .pay-logo {
      display: flex;
      align-items: center;
      margin-top: 30px;

      svg {
        margin: 0 25px 0 0;

        &:last-child {
          margin: 0 0 0 auto;
        }
      }
    }
  }


  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    li {
      font-family: er;
      font-size: 1.0714285714285714rem;
      letter-spacing: 0.4px;
      color: #38454F;
      margin: 0 15px;
    }
  }

  .terms-and-privacy {
    text-align: center;
    font-family: e2r;
    font-size: 10px;
    letter-spacing: 0.4px;
    color: #7C8A95;
    margin: 40px 0 15px 0;

    a {
      color: #7C8A95;
    }
  }

  @media (max-width: 500px) {
    .row {
      flex-direction: column;

      .ant-form-item:first-child {
        margin-right: 0;
      }
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    & {
      .stripe-form {
        .card-container__card,
        .card-container__expiry,
        .card-container__cvc {
          height: 50px;
        }
      }
    }
  }
}