.spend-statistics {
  //grid-area: spendStatistics;
  margin: 0 10px 0 0;
  position: relative;

  &.disabled {
    .section-header,
    .statistics-block {
      filter: grayscale(100%);
    }
  }

  .statistics-block {
    padding: 0 1.4285714285714286rem 1.0714285714285714rem;

    .day-axis {
      display: grid;
      grid-row-gap: 4px;
      grid-template-columns: 1fr;
      margin: 0 4px 0 0;

      div {
        height: 3.5714285714285716rem;
        width: 2.5714285714285716rem;
        background: #474B50;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #FFFFFF;
      }
    }

    .time-axis {
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-column-gap: 4px;
      margin-bottom: 4px;
      padding: 0 0 0 calc(2.5714285714285716rem + 4px);

      div {
        height: 3.5714285714285716rem;
        background: #474B50;
        border-radius: 2px;

        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    & > .row {
      display: flex;

      &:last-child {
        margin: 0;
      }

      .statistic {
        flex: 1;

        display: grid;
        grid-gap: 4px;
        grid-template-columns: repeat(24, minmax(1.42857143rem, 1fr));
        grid-auto-flow: dense;
        position: relative;
      }

      .statistic-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        font-size: 0.8571428571428571rem;
        text-align: center;
        letter-spacing: -0.4375px;
        color: #656A84;

        text-transform: lowercase;

        .custom-tooltip {
          width: 100%;
          margin: 0;
        }


        .statistic-information {
          width: 100%;
          height: 3.5714285714285716rem;
          border-radius: 2px;
          background: #54536C;

          font-weight: 500;
          font-size: 1rem;
          line-height: 1.2142857142857142rem;
          color: #FFFFFF;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .chart-tooltip {
          .ant-popover-inner-content {
            display: flex;
            flex-direction: column;
            border: 0;
            box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);


            .date {
              //justify-content: center;
              text-transform: capitalize;
              font-weight: bold;
            }

            .col {
              display: flex;
              flex-direction: column;

              &:first-child {
                h3 {
                  padding-right: 30px;
                }
              }

              h3 {
                margin: 0 0 5px 0;
                padding: 0 0 5px 0;
                border-bottom: 1px solid #F5F5FF;
              }

              .selected-metric {
                height: 20px;
                display: flex;
                align-items: center;
                text-transform: capitalize;
              }
            }

            .value {
              height: 20px;
              margin: auto 0 0 0;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              color: #82ca9d;

              .no-value {
                width: 10px;
                height: 2px;
                background: #919191;
              }
            }

            .out-of {
              text-transform: initial;
              color: #FFA8AA;

            }
          }
        }

        .account-out-budget-item {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          background: #FBB13C;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .statistic-information {
            width: 14px;
            height: 14px;
            opacity: 0;

            @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
              width: 11px;
              height: 11px;
            }
          }
        }


        .out-budget-item {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          background: #FFA8AA;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .statistic-information {
            width: 14px;
            height: 14px;
            opacity: 0;

            @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
              width: 11px;
              height: 11px;
            }
          }
        }
      }
    }

    .legend {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.0714285714285714rem 0 0 0;
      padding: 0 0 0 calc(2.5714285714285716rem + 4px);

      .color-gradation {
        display: flex;
        flex-direction: column;

        .color {
          display: flex;
          margin: 0 0 4px;

          div {
            width: 3.7142857142857144rem;
            height: 8px;
            margin: 0 4px 0 0;

            &:first-child {
              border-radius: 2px 0 0 2px;
            }

            &:last-of-type {
              border-radius: 0 2px 2px 0;
              margin: 0;
            }
          }
        }

        .percent {
          width: calc(100% + 2.142857142857143rem);
          display: flex;
          justify-content: space-between;
          position: relative;
          left: -8px;

          div {
            flex: 1;
            color: #FFFFFF;
            display: flex;
            justify-content: flex-end;

            &:first-child {
              flex: initial;
              justify-content: flex-start;
            }
          }
        }
      }

      .out-budget {
        display: flex;
        align-items: center;
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #FFFFFF;

        div {
          width: 3.7142857142857144rem;
          height: 8px;
          border: 1px solid #FF7E81;
          border-radius: 2px;
          margin: 0 8px 0 0;
        }
      }
    }

  }
}

.budget-window {
  max-width: 42.857142857142854rem;
  width: 100% !important;

  .ant-modal-content {
    padding: 2.857142857142857rem !important;
    width: 100%;
  }

  .ant-modal-body {
    padding: 0;
  }

  h2 {
    font-size: 1.1428571428571428rem;
  }

  .ant-radio-group {
    width: 100%;
  }

  .current-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    letter-spacing: -0.05px;
    color: #343C5A;

    .value {
      padding: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #FFA8AA;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .recommend-budget {
    margin: 1.4285714285714286rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .value {
      padding: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #8fd39d;
      font-weight: 500;
      font-size: 1rem;
    }

    .ant-spin-spinning {
      margin: 0.35714285714285715rem 0 0 0;
      position: absolute;
      right: 0;
    }
  }

  .custom-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-input-number, input {
      border-radius: 8px;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }

    .InputCurrency {
      width: 7.142857142857143rem;
      height: 2.2857142857142856rem;

      .Dollar {
        font-size: 1.1428571428571428rem;
        top: 3px;
        bottom: 3px;
      }

      .ant-input-number, .ant-input-number-input-wrap, input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 2.5rem 0 0 0;
    height: 32px;


    .btn {
      height: 32px;
      border-radius: 4px;
      font-weight: 500;

      &:first-child {
        margin-right: 1.0714285714285714rem;
      }
    }

    .ant-spin {
      margin: 0 auto;
    }
  }

  .success {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 0 0 20px 0;
    }

    .btn {
      width: 45%;
      height: 32px;
      margin: 25px auto 25px auto;
    }
  }
}
