.main-container div.zero-to-hero-page {
  height: max-content;
  overflow: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-template-areas: 'productSlider productSlider' 'marketingBlock marketingBlock';

  &.creating-campaign-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'productSlider productSlider' 'allProducts selectedProducts' 'productSettings productSettings';
    grid-column-gap: 20px;
  }

  & > h2 {
    font-size: 2.2857142857142856rem;
    color: #343C5A;
    margin-bottom: 0;
    grid-area: title;
  }

  .product-slider {
    grid-area: productSlider;
  }

  .selected-products {
    grid-area: selectedProducts;
  }

  .all-products {
    grid-area: allProducts;
  }
  .product-settings {
    grid-area: productSettings;
  }

  .marketing-block {
    grid-area: marketingBlock;
  }

  .route-loader {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100000;
  }
}