.main-container .page > div.zero-to-hero-page {
  min-height: 100%;
  padding: 0;
  background: #F3F3F3;
  display: flex;
  flex-direction: column;

   * {
    font-family: Montserrat;
  }

  & > h2 {
    font-size: 2.2857142857142856rem;
    color: #343C5A;
    margin-bottom: 0;
    grid-area: title;
  }

  .product-slider {
    grid-area: productSlider;
  }

  .selected-products {
    grid-area: selectedProducts;
  }

  .all-products {
    grid-area: allProducts;

    @media (max-width: 900px) {
      margin-bottom: 20px;
    }
  }

  .product-settings {
    grid-area: productSettings;
  }

  .marketing-block {
    grid-area: marketingBlock;
  }

  .route-loader {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100000;
  }
}
