.scanner-page .scanning-failed {
  width: 100%;
  max-width: 42.857142857142854rem;
  min-height: 74vh;
  height: max-content;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 7.142857142857143rem 1.4285714285714286rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;


  img {
    width: 18.285714285714285rem;
    height: 15.285714285714286rem;
    margin: 0 0 2.142857142857143rem;
  }

  h2 {
    font-weight: 600;
    font-size: 2.2857142857142856rem;
    line-height: 2.7142857142857144rem;
    text-align: center;
    color: #353A3E;
    margin-bottom: 1.4285714285714286rem;
  }

  p {
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286rem;
    text-align: center;
    color: #46435C;
    margin-bottom: 1.4285714285714286rem;
  }

  .actions {
    display: flex;

    .btn {
      height: 3.4285714285714284rem;
      font-size: 1.1428571428571428rem;
      margin: 0 0.7142857142857143rem;
    }
  }
}