@import '../../../../style/variables.less';
@import '../../../../style/mixins.less';

.net-margin-window {
  .ant-modal-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.net-margin {
  .net-margin-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .net-margin-header {
      text-align: center;

      h2 {
        color: @second-default-dark;
      }
    }
    .product-net-margin {
      background: @body-background;
      display: flex;
      padding: 0.57143em 1.07143em;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.57143em;
      margin: 1.42857em 0;
      width: 80%;

      & > span {
        margin-right: 0.85714em;
      }

      .InputCurrency {
        flex: 1;
        height: 2.2857142857142856rem;

        .ant-input-number {
          width: 100%;
          background: initial;

          input {
            background: #fff;
          }
        }
      }
    }

    button.start {
      margin-bottom: 1.42857em;
      min-width: 8.57143em;
    }
  }

  .net-margin-footer {
    font-size: 0.85714rem; // 12px
    text-align: center;
  }
}
