.main-pages .main-container .page > div.optimization-rules-page.rule-statuses {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  & > .container {
    flex: 1;
    padding: 10px 0 10px 10px;
    display: flex;
    overflow: hidden;
  }

  .work-container {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;

    & > div {
      height: 100%;
      overflow: hidden;

      .logs {
        overflow: hidden;

        .table-block {
          overflow: hidden;
        }
      }
    }
  }

  .cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .no-found-data-block {
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      font-weight: 600;
      font-size: 20px;
      color: #353A3E;

    }
  }

  .filters {
    padding: 12px 0 0 0;
    display: flex;
    flex-direction: column;

    .list-filters-block {
      margin-bottom: 12px;
    }

    .current-filters {
      display: flex;
      flex-wrap: wrap;
      grid-row-gap: 10px;
      border-top: 0.5px solid #C9CBD4;
      padding: 12px 20px;

      .reset-filters {
        height: 2.28571429rem;
        font-weight: 600;
        font-size: 1rem;
        color: #46435C;

        &:hover {
          color: #777391;
        }
      }
    }
  }

  .table-body__row {
    .table-body__field:first-child {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}