.optimization-for-admin-page {
  padding-bottom: 0 !important;
  min-height: 100%;
  max-height: 100vh;
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    min-width: 800px;
  }
}

.save-changes-section {
  min-height: 5.142857142857143rem;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
  padding: 0 1.4285714285714286rem;
  position: sticky;
  bottom: 0;
  z-index: 100;
  transition: .2s;
  box-sizing: border-box;
  margin-top: auto;
  display: none;

  &.visible {
    display: flex;
  }

  p {
    font-size: 1.4285714285714286rem;
    color: #353A3E;
    margin: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .btn {
    font-size: 1.1428571428571428rem;
    font-weight: 600;
    height: 3.4285714285714284rem;

    .ant-spin {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }
  }

  .transparent {
    padding: 0;
    color: #46435C;
    margin: 0 25px 0 0;

    &:hover {
      color: #777391;
    }
  }
}

.disabled .save-changes-section {
  //bottom: -80px;
  //transition: .2s;
}

.page-loader, .save-loader {
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(201, 203, 212, 0.5);
  z-index: 100;
}

.page-loader {
  z-index: 10000;
}
