@import "../../../../style/mixins.less";
@import "../../../../style/variables.less";

// .main-pages,
.reports-page {
  display: flex;

  .capitalize-field {
    text-transform: capitalize;
  }

  .custom-table {
    .table-overflow {
      &::-webkit-scrollbar {
        height: 7px;
      }
    }
  }
}


div.ReportTable {
  flex: 1;
  //display: flex;
  //flex-direction: column;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  .new-report {
    background: rgba(143, 211, 157, 0.1);

    .table-body__field:first-child {
      position: relative;

      div {
        width: 3px;
        height: 100%;
        background: #8fd39d;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }


  @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 679px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 679px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 679px), only screen and (min-device-pixel-ratio: 2) and (max-width: 679px) {
    height: fit-content;
  }

  .action-field {
    display: flex;

    .previous {
      margin: 0 5px 0 0;
    }

    .current {
      margin: 0 0 0 5px;
      font-weight: bolder;
    }

    i {
      &.up {
        svg {
          transform: rotate(-90deg);
        }
      }

      &.down {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .report-item-table-btn {
    font-size: 1rem; // 14px
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.4285714em;
    padding-right: 1.4285714em;


    .TableButton {
      margin-bottom: 1.4285714em;
    }

    .TableButton:not(:last-child) {
      margin-right: 1.4285714em;
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 1.4285714em;

    .custom-table {
      flex: 1;
      height: -webkit-fill-available;

      .table-overflow {
        flex: 1;
      }
    }
  }

  .pw-pagination {
    margin: 15px 0 15px 20px;
  }
}
