@import "../../../../style/mixins.less";
@import "../../../../style/variables.less";

// .main-pages,
.reports-page {
  display: flex;

  .capitalize-field {
    text-transform: capitalize;
  }

  .custom-table {
    .table-overflow {
      &::-webkit-scrollbar {
        height: 7px;
      }
    }
  }

  @media (max-width: 850px) {
    height: 95vh !important;
  }
}


div.ReportTable {
  flex: 1;
  //display: flex;
  //flex-direction: column;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);


  @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 679px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 679px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 679px), only screen and (min-device-pixel-ratio: 2) and (max-width: 679px) {
    height: fit-content;
  }

  .action-field {
    display: flex;
    align-items: center;

    .previous {
      margin: 0 5px 0 0;
    }

    .current {
      margin: 0 0 0 5px;
      font-weight: bolder;
    }

    i {
      &.up {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .report-item-table-btn {
    font-size: 1rem; // 14px
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.4285714em;
    padding-right: 1.4285714em;


    .TableButton {
      margin-bottom: 1.4285714em;
    }

    .TableButton:not(:last-child) {
      margin-right: 1.4285714em;
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: #fff;

    .custom-table {
      flex: 1;
      height: -webkit-fill-available;

      .table-overflow {
        flex: 1;

        font-size: 1rem;
        color: #343C5A;

        .table-head {
          height: 3.5714285714285716rem;
          align-items: initial;

          & > div {
            padding-left: 0.8571428571428571rem;
            padding-right: 0.8571428571428571rem;
            border-left: 0.5px solid #C9CBD4;

            &:nth-last-child(-n+2) {
              border: 0;
            }

            &:first-child {
              padding-left: 1.4285714285714286rem;
              border: 0;
            }


            .title {
              font-weight: 600;
              font-size: 1rem;
              color: #312C51;
            }
          }
        }

        .table-body {
          color: #5B586F;

          .table-body__row {
            position: relative;
            min-height: 3.5714285714285716rem;
            align-items: initial;

            .table-body__field {
              padding: 8px 0.8571428571428571rem;
              border-left: 0.5px solid #C9CBD4;

              &:nth-last-child(-n+2) {
                border: 0;
              }

              &:first-child {
                padding-left: 1.4285714285714286rem;
                border: 0;
              }
            }

            &.new-report {
              background: #F2FBF6;

              .table-body__field:first-child {
                position: relative;

                &::before {
                  content: '';
                  width: 3px;
                  height: 100%;
                  background: #8fd39d;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
              }

              & > div:last-child {
                background: #F2FBF6;
              }
            }

            &:hover {
              background: #FAFAFF;

              & > div:last-child {
                background: #FAFAFF;
              }
            }
          }

          .table-body__row > div {
            padding-left: 15px;

            &:last-child {
              padding: 0;
              justify-content: center;
              position: sticky;
              right: 0;
              background: #fff;
            }

            .filter-btn {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              width: 20px;
              height: 20px;

              div {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #C9CBD4;
              }

              &:hover {
                div {
                  background: #656A84;
                }
              }

              &[disabled] {
                cursor: not-allowed;

                div {
                  opacity: .4;
                }

                &:hover {
                  div {
                    background: #C9CBD4;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  .pw-pagination {
    border-top: 1px solid #C9CBD4;
    padding: 0 0 0 20px;
  }
}

.ant-dropdown-menu li {
  &:hover {
    background: #F5F5FF;
  }
}
