@import '../../../../style/mixins.less';
@import '../../../../style/variables.less';

.ReportTable {
    .report-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @second-default-dark;
        margin: 0 0 12px 0;

        h3 {
            color: inherit;
            margin: 0;
        }

        & > div {
            display: inherit;
            align-items: inherit;
        }

        .total-count {
            margin: 0 8px;
            padding: 2px 4px;
            width: 32px;
            height: 20px;
            border-radius: 12px;
            text-align: center;
            font-size: 12px;
            background: @success-color;
            color: #fff;
        }

        .ant-calendar-range-picker-input:first-of-type {
            text-align: right;
        }

        .ant-calendar-range-picker-input:last-of-type {
            text-align: left;
        }

        button {
            display: flex;
            align-items: center;
            margin-left: 8px;
            font-size: 12px;
            line-height: 16px;
            font-weight: bold;
            background: @action-color;
            color: #fff;
            border-radius: 8px;

            i {
                background: url('../../../../assets/img/icons/download.svg');
                width: 24px;
                height: 24px;
                margin-left: 15px;
                margin-top: -3px;
            }
        }
    }

    .ReportItemTable {
        background: #fff;
        border-radius: 8px;
        padding-top: 12px;

        .ReportItemTable__Buttons {
            display: flex;
        }

        .Table {
            margin-top: 12px;
        }
    }

    overflow-x: hidden;

    .ant-tabs-bar {
        margin-bottom: 0;
    }

    .ant-tabs-nav-wrap .ant-tabs-tab[role='tab'] {
        color: @action-color-dark;
        border: none;
        background: transparent;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
        color: @action-color;
    }

    .ant-tabs-nav-wrap .ant-tabs-tab-active[role='tab'] {
        color: @action-color;
        border-bottom: 2px solid @action-color;
    }

    .ant-tabs-ink-bar {
        background: @action-color;
    }

    .ant-tabs-bar {
        border: none;
    }
}

.TabName {
    display: flex;
    align-items: center;

    .tab-name-count {
        margin-left: 15px;
        min-width: 28px;
        padding: 0 4px;
        height: 18px;
        border-radius: 12px;
        border: 1px solid #c9cbd4;
        text-align: center;
        font-size: 12px;
    }
}

.ant-calendar-range {
    width: 100%;
    overflow: hidden;

    .ant-calendar-body {
        border-left: 1px solid #e8e8e8;
    }
}

.info-icon {
    &:hover {
        color: @action-color;
        cursor: pointer;
    }
}
