.landing-demo-call {
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;

  background: #D5EEDC url(../../../assets/img/landing-demo-call/demo-bg.svg);

  section {
    flex: 1;
    display: flex;

    .container {
      flex: 1;
      max-width: 1360px;
      margin: 0 auto;
      padding: 0 10px 50px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;


      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image {
          width: 85%;
        }

        .col {
          h1 {
            font-family: e2sb;
            font-size: 60px;
            line-height: 70px;
            letter-spacing: 0.4px;
            color: #fff;

            span {
              color: #272A57;
            }
          }

          p {
            font-family: er;
            font-size: 30px;
            line-height: 48px;
            letter-spacing: 0.4px;
            color: #06033E;
          }
        }
      }

      h2 {
        font-family: esb;
        font-size: 40px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #06033E;
        margin: 45px 0 35px 0;
      }

      .btn {
        height: 40px;
        margin: 0 auto;
        padding-top: 2px;

        font-family: eb;
        font-size: 12px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
      }

      @media (max-width: 1100px) {
        & {
          .row .col {
            h1 {
              font-size: 45px;
            }

            p {
              font-size: 25px;
            }
          }
        }
      }

      @media (max-width: 900px) {
        & {
          .row .col {
            width: 100%;

            h1 {
              line-height: 50px;
            }

            p {
              line-height: 30px;

              br {
                display: none;
              }
            }
          }

          form .input-group {
            width: 30%;

            input {
              width: 100%;
            }
          }
        }
      }

      @media (max-width: 600px) {
        & {
          .row {
            flex-direction: column-reverse;

            .image {
              width: 70%;
            }

            .col {
              margin: 20px 0 0 0;

              h1 {
                text-align: center;
                font-size: 40px;
                line-height: 40px;
              }

              p {
                font-size: 20px;
                line-height: 25px;
                text-align: center;
              }
            }
          }

          h2 {
            font-size: 30px;
            margin-top: 0;
          }

          form {
            flex-direction: column;

            .input-group {
              width: 100%;
              margin: 0 0 30px 0;

              input {
                width: 100%;
              }
            }

            .btn {
              width: 100%;
            }
          }
        }
      }

      @media (max-width: 485px) {
        & {
          .row .col h1 {
            width: 80%;
            margin: 0 auto;
          }
        }
      }
      @media (max-width: 450px) {
        & {
          .row .col h1 {
            width: 90%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}