.negative-keywords {
  .row.header {
    align-items: center;


    label {
      margin: 0;
    }

    .row {
      align-items: center;
    }

    .ant-radio-group {
      display: flex;
    }

    label.ant-radio-wrapper {

      &:last-of-type {
        margin: 0 0 0 10px;
      }


      span {
        padding-right: 0;
        font-weight: 500;
        color: #353A3E;
        font-size: 1rem;
      }
    }
  }


  .new-keyword {
    .row {
      width: 100%;
      min-height: 20px;

      & > label {
        font-size: 1rem;
        font-weight: 600;
        margin: 0 20px 0 0;
      }

      span {
        font-size: 1rem;
      }
    }
  }

  .keywords-list {
    .header {
      div:first-child {
        width: 60%;
      }
    }

    ul {
      li {
        .text {
          width: 60%;
        }

        .type {
          width: 35%;
        }
      }
    }
  }
}