@import '../../style/variables.less';

.product-list {
  font-size: 10px;
  width: 35.6em;
  display: flex;
  flex-direction: column;

  .products {
    overflow: auto;
  }

  .ant-input-search {
    .ant-input {
      border: none;
      border-radius: 0.5714em;
    }

    .ant-input::placeholder {
      color: @action-color-dark;
    }

    .anticon {
      font-size: 1.4285714285714286rem;
      color: @third-default-dark;
    }
  }

  .ant-btn-primary {
    text-shadow: none;
    box-shadow: none;
  }

  .select-all-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;

    label {
      margin: 0 1em 0 0;
      font-weight: 500;
    }

    .ant-btn {
      width: 135px;
      display: flex;
      justify-content: center;
      border: none;
      border-radius: 0.5714em;

      span {
        font-size: 1rem;
      }
    }
  }

  .product-item {
    height: 9.2em;
    background: #fff;
    opacity: 0.5;
    transition: 0.3s;
    border-radius: 0.4em;
    display: flex;
    padding: 0.4em;
    margin: 0.4em;
    justify-content: space-between;
    position: relative;

    .ant-checkbox-checked::after {
      border: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background: #fff;
      opacity: 1;
    }

    // ====1913
    .image {
      padding: 4px 6px 4px 4px;

      img {
        max-width: 72px;
        max-height: 72px;
      }
    }

    & > div.product-item-content {
      font-size: 1rem;
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .caption {
        font-weight: 900;
        margin: 0 0 auto 0;
      }

      .detail {
        span:first-child {
          font-weight: 900;
        }
      }
    }

    .on-optimization {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25%;
    }
  }

  //-------------------------------------
  /*Retina CSS */
  //-------------------------------------
  @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    & {
      width: 267px;

      .ant-input-search {
        .ant-input {
          height: 24px;
          font-size: 1rem;
        }
      }

      .select-all-products {
        .ant-btn {
          width: 105px;
          height: 24px;
        }
      }

      .product-item {
        height: 69px;
      }
    }
  }
}
