@import '../../../../style/variables.less';
@import '../../../../style/mixins.less';

.terminal {
    .card();

    .terminal-caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;

        .caption {
            text-transform: capitalize;
            color: #363694;
            font-size: 18px;
            font-weight: 600;
            display: inherit;
            align-items: inherit;

            i {
                margin-left: 8px;
                cursor: pointer;
            }
        }

        .link-redirect {
            display: block;
            width: 8.5715em;
            height: 2.2858em;
            line-height: 2.2858em;
            text-align: center;
            border-radius: 8px;
            border: 0;
            color: @white;

            &.active {
                background: @action-color;
                cursor: pointer;
            }

            &.disabled {
                background-color: #b5b2f9;
                pointer-events: none;
            }
        }
    }

    .terminal-item {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 10px;
        min-height: 60px;

        .index {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f9f9fa;
        }

        .content {
            background: inherit;

            .html-render {
                position: relative;
                padding: 5px 0;

                &:after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: calc(100% + 25px);
                    background: #f5f5ff;
                    bottom: 0;
                    left: -25px;
                    border-radius: 50px;
                    z-index: 10;
                }
            }
        }
    }

    .terminal-content {
        &.less {
            max-height: calc(
                100vh - 40px - 418px - 40px - 77px - 40px - 42px - 30px
            );
        }

        &.more {
            max-height: calc(
                100vh - 40px - 69px - 40px - 77px - 40px - 42px - 30px
            );
        }

        &.auto {
            overflow: auto;
        }

        &.hidden {
            overflow: hidden;
        }

        // &.less {
        //     max-height: 35.836vh;
        // }

        // &.more {
        //     max-height: 65.835vh;
        // }

        @media (max-width: @desktop) {
            &.less {
                max-height: calc(
                    100vh - 40px - 629px - 40px - 77px - 40px - 42px - 30px
                );
            }
        }

        .terminal-item-dummy {
            position: relative;

            .dummy-box {
                width: 208px;
                height: 64px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 11;
                transition: all 0.5s ease-in;

                &.auto {
                    top: 50%;
                }

                &.hidden {
                    top: 17.918vh;
                }

                .dummy-render {
                    text-align: center;
                    font-family: 'Infra', sans-serif;
                    color: @action-color-dark;
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }

        & .TerminalItem:first-child .index {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        & .TerminalItem:last-child {
            .index {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    .terminal-content
        > .terminal-item-dummy
        > .terminal-item:nth-child(2)
        > .index {
        border-radius: 8px 8px 0 0;
    }

    .terminal-content
        > .terminal-item-dummy
        > .terminal-item:last-child
        > .index {
        border-radius: 0 0 8px 8px;
    }

    .terminal-content > .terminal-item:first-child > .index {
        border-radius: 8px 8px 0 0;
    }

    .terminal-content > .terminal-item:last-of-type > .index {
        border-radius: 0 0 8px 8px;
    }
}
