@import "../../../../style/variables.less";
@import "../../../../style/mixins.less";

.optimization-page > .product-options > div.terminal {
  height: 100%;
  min-height: 13em;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px),
    only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px),
    only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px),
    only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
    min-height: 17em;
    margin-bottom: 1.71428571em;
  }

  @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px),
    only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
    margin-bottom: 1.71428571em;
  }

  @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 379px),
    only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 379px),
    only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 379px),
    only screen and (max-device-pixel-ratio: 1) and (max-width: 379px) {
    min-height: 25em;
  }

  .card();

  .terminal-caption {
    min-height: 2.2857143em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1.0714286em;

    @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 379px),
      only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 379px),
      only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 379px),
      only screen and (max-device-pixel-ratio: 1) and (max-width: 379px) {
      flex-flow: column;
    }

    .caption {
      font-size: 1.42857rem; // 20px
      text-transform: capitalize;
      color: @second-default-dark;
      font-weight: 600;

      @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 529px),
        only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 529px),
        only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 529px),
        only screen and (max-device-pixel-ratio: 1) and (max-width: 529px) {
        width: 6.4em;
      }

      @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 379px),
        only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 379px),
        only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 379px),
        only screen and (max-device-pixel-ratio: 1) and (max-width: 379px) {
        margin-bottom: 0.4em;
      }

      i {
        cursor: pointer;
        margin-left: 0.5em;
        color: @action-color-dark;
      }
    }

    .link-redirect {
      width: 8.5715em;
      height: 2.2858em;

      &.disabled {
        background-color: #b5b2f9;
        pointer-events: none;
      }
    }
  }

  .terminal-content {
    height: 100%;
    flex: 1;
    display: block;
    margin: 0 0 1.0714286em;

    &.auto {
      overflow: auto;
    }

    &.hidden {
      overflow: hidden;
    }

    .terminal-item {
      display: grid;
      grid-template-columns: 2.85714em 1fr;
      grid-gap: 0.71429em;
      min-height: 4.28571em;

      .index {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f9f9fa;
      }

      .content {
        background: inherit;
        display: flex;
        align-items: center;
        border-top: 1px solid @body-background;
      }

      &:last-of-type > .content {
        border-bottom: 1px solid @body-background;
      }
    }

    .terminal-item-dummy {
      .dummy-box {
        width: 14.85714em;
        height: 4.57143em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        transition: all 0.5s linear;

        .dummy-render {
          font-size: 1.71429rem; // 24px
          text-align: center;
          color: @action-color-dark;
          line-height: 1.33333em;
        }
      }
    }

    & .terminal-item:first-child .index {
      border-top-left-radius: 0.57143em;
      border-top-right-radius: 0.57143em;
    }

    & .terminal-item:last-child {
      .index {
        border-bottom-left-radius: 0.57143em;
        border-bottom-right-radius: 0.57143em;
      }
    }
  }

  .terminal-content
    > .terminal-item-dummy
    > .terminal-item:nth-child(2)
    > .index {
    border-radius: 0.57143em 0.57143em 0 0;
  }

  .terminal-content
    > .terminal-item-dummy
    > .terminal-item:last-child
    > .index {
    border-radius: 0 0 0.57143em 0.57143em;
  }

  .terminal-content > .terminal-item:first-child > .index {
    border-radius: 0.57143em 0.57143em 0 0;
  }

  .terminal-content > .terminal-item:last-of-type > .index {
    border-radius: 0 0 0.57143em 0.57143em;
  }

  .ant-pagination {
    font-size: 1rem; // 14px
    right: 9.64286em;
    bottom: 0.71429em;
    margin-right: 9em;
    margin-top: auto;
    padding: 0;

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2) {
      margin-right: 8em;
    }

    @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 529px),
      only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 529px),
      only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 529px),
      only screen and (max-device-pixel-ratio: 1) and (max-width: 529px) {
      margin-right: unset;
    }

    @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 479px),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 479px),
      only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 479px),
      only screen and (min-device-pixel-ratio: 2) and (max-width: 479px) {
      margin-right: unset;
    }

    @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 449px),
      only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 449px),
      only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 449px),
      only screen and (max-device-pixel-ratio: 1) and (max-width: 449px) {
      font-size: 0.7142857142857143rem; // 10px
    }

    @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 379px),
      only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 379px),
      only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 379px),
      only screen and (max-device-pixel-ratio: 1) and (max-width: 379px) {
      font-size: 0.6428571428571429rem; // 9px
    }
  }
}
