@import "../../../style/variables.less";

.choose-campaign-container {
  display: flex;

  .route-loader {
    display: none;
  }
}

.choose-campaign {
  background: #fff;
  box-shadow: @default-section-shadow;
  border-radius: 4px;

  padding: 50px 100px;

  display: flex;
  flex-direction: column;

  position: relative;

  h2 {
    font-size: 2.2857142857142856rem;
    color: #343C5A;
    margin-bottom: 20px;
  }

  .campaign-types {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;

    & > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;

      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      img {
        width: 100%;
        height: 50vh;
      }


      h3 {
        font-size: 1.4285714285714286rem;
        text-align: center;
        color: #394163;
        margin: 3.2142857142857144rem 0 1.4285714285714286rem 0;
      }

      p {
        font-size: 1rem;
        text-align: center;
        color: #656A84;
        margin: 0 0 2.142857142857143rem 0;
        padding: 0 3.5714285714285716rem;
      }

      .btn {
        width: 45%;
        min-width: 13.214285714285714rem;
        height: 3.4285714285714284rem;
        font-size: 1.1428571428571428rem;
        margin: auto 0 2.857142857142857rem 0;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 1100px) {
    padding: 3.5714285714285716rem 2.142857142857143rem;
  }

  @media (max-width: 800px) {
    overflow: scroll;

    .campaign-types {
      height: max-content;
      display: flex;
      flex-direction: column;

      & > div {
        margin-bottom: 20px;
      }
    }
  }
}