@import "../../../style/variables.less";

.choose-campaign-container {
  height: 100%;
  display: flex;

  .route-loader {
    display: none;
  }
}

.choose-campaign {
  width: 100%;
  min-height: 100%;
  background: #fff;
  box-shadow: @default-section-shadow;
  border-radius: 4px;
  padding: 20px 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  margin: 0 0 10px;

  h2 {
    font-weight: 600;
    font-size: 2.2857142857142856rem;
    line-height: 2.7142857142857144rem;
    color: #353A3E;
    margin-bottom: 1.4285714285714286rem;
  }

  .description {
    max-width: 900px;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286rem;
    color: #353A3E;
    margin-bottom: 2.142857142857143rem;
    text-align: center;
  }

  .campaign-types {
    display: flex;
    position: relative;
    list-style: none;

    li {
      width: 18vw;
      min-height: 100%;
      background: #fff;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 1.4285714285714286rem 1.4285714285714286rem 2.857142857142857rem;
      border: 1px solid #C9CBD4;
      border-radius: 4px;
      margin: 0 10px;

      img {
        width: 100%;
        height: initial;
        margin: 0 0 2.142857142857143rem;
      }


      h3 {
        font-size: 1.4285714285714286rem;
        text-align: center;
        margin: 0 0 12px;
        font-weight: 600;
        color: #353A3E;
      }

      p {
        font-size: 1rem;
        text-align: center;
        color: #686868;
        margin: 0 0 1.4285714285714286rem;
        padding: 0 20px;
      }

      .sds-btn {
        width: 46%;
        min-width: 13.214285714285714rem;
        height: 3.4285714285714284rem;
        font-size: 1.1428571428571428rem;
        font-weight: 600;
        margin: auto auto 0;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}