@import "../../../style/variables.less";

.choose-campaign-container {
  height: 100vh;
  display: flex;
  overflow: auto;

  .route-loader {
    display: none;
  }
}

.choose-campaign {
  width: 100%;
  background: #fff;
  box-shadow: @default-section-shadow;
  border-radius: 4px;
  padding: 50px 113px;
  display: flex;
  flex-direction: column;
  height: max-content;

  h2 {
    font-size: 2.2857142857142856rem;
    color: #353A3E;
    margin-bottom: 1.4285714285714286rem;
    font-weight: 600;
  }

  .campaign-types {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0;
    position: relative;
    list-style: none;

    li {
      height: 100%;
      background: #fff;
      border: 1px solid #F3F3F3;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        max-height: 50vh;
        margin: 0 0 3.4285714285714284rem;
      }


      h3 {
        font-size: 1.4285714285714286rem;
        text-align: center;
        color: #353A3E;
        margin: 0 0 12px;
        font-weight: 600;
      }

      p {
        font-size: 1rem;
        text-align: center;
        color: #46435C;
        margin: 0 0 2rem;
        padding: 0 20px;
      }

      .sds-btn {
        width: 45%;
        min-width: 13.214285714285714rem;
        height: 3.4285714285714284rem;
        font-size: 1.1428571428571428rem;
        font-weight: 600;
        margin: auto auto 3.4285714285714284rem;
      }
    }
  }
}