@import '../../../style/variables.less';

.product-settings-page {
  .page-caption {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 1.4285714285714286rem; // 20px
      color: #363694;
      display: flex;
      align-items: center;
      letter-spacing: -0.08px;
    }
  }

  .reminder {
    max-width: 50%;
    margin: 0 0 2.8571429em 0;

    .reminder-title {
      color: @primary-color;
      font-weight: 600;
      padding: 0 0 0.5714286em 0;
      border-bottom: 1px solid @primary-color;
      margin: 1.4285714em 0 0.9285714em 0;
    }
  }

  .custom-table {
    .ant-pagination {
      margin-right: 5.7142857em;
    }
  }
}
