.reset-password-page {
  .container {
    form {
      .sign-in,
      .sign-up {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        text-align: center;
        color: #5B586F;

        a {
          color: #6959AB;
          padding: 0 3px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .sign-up {
        margin: auto 0 0 0;
      }
    }
  }
}