@import "../../../../style/variables.less";

.product-settings-page {

  .table-block {
    flex: 1;
    display: grid;
    grid-template-areas: 'table description' 'pagination description';
    overflow: hidden;
    grid-template-rows: 1fr max-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }

  .table-block.not-agency {
    .table-overflow .table-head > div:last-child {
      background: inherit;
      color: #343c5a;
      padding: 10px 20px;
    }
  }

  .pw-pagination {
    grid-area: pagination;
  }

  .strategies-description {
    grid-area: description;
  }

  .custom-table {
    grid-area: table;
  }

  .checkbox-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .ant-checkbox-wrapper, .ant-checkbox, .ant-checkbox-inner, .ant-checkbox-input {
      width: 18px;
      height: 18px;
    }
  }

  .custom-table {
    .load-data {
      z-index: 100;
    }

    .table-overflow {
      .table-head {
        background: #fff;
        z-index: 101;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border: 0;

        & > div {
          padding: 10px 20px;

          &:first-child {
            position: sticky;
            left: 0;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;

            .ant-checkbox-wrapper {
              display: flex;
            }
          }

          &:nth-child(2) {
            justify-content: center;
            position: sticky;
            left: 3.5714285714285716rem;
            background: #fff;
          }

          &:last-child {
            background: #6D6DF6;
            border-radius: 4px 0px 0px 4px;
            color: #fff;
            padding: 0;

            .title {
              div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                padding: 10px 20px;

                i {
                  display: flex;
                  align-items: center;

                  &.opened {
                    svg {
                      transform: rotate(180deg);
                    }
                  }

                  svg {
                    stroke: #fff;
                  }
                }
              }
            }
          }

          .title {
            .custom-tooltip {
              margin: 0;
            }
          }

          .title.right {
            text-align: right;
          }
        }
      }

      .table-body {
        span.running {
          color: #7DD4A1;
        }

        span.paused {
          color: #EC7F5C;
        }

        .table-body__row {
          &.checked-row {
            .table-body__field:first-child,
            .table-body__field:nth-child(2) {
              background: #F5F5FF;
            }

            .table-body__field .variation-indicator {
              background: #6D6DF6;
            }
          }

          .table-body__field {
            padding: 10px 20px;


            .InputCurrency {
              height: 2.2857142857142856rem;
              width: 8.571428571428571rem;

              input {
                font-size: 1rem;
              }
            }

            &:first-child {
              position: sticky;
              left: 0;
              background: #fff;
              z-index: 50;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;

              .ant-checkbox-wrapper {
                display: flex;
              }
            }

            &:nth-child(2) {
              border-right: 1px solid #C9CBD4;
              justify-content: center;
              position: sticky;
              left: 3.5714285714285716rem;
              background: #fff;
              z-index: 50;
              padding-right: 10px;

              .product-item {
                width: 100%;

                .image-block {
                  margin: 0 5px 0 0;
                }

                .short-name {
                  font-weight: 500;
                  font-size: 1rem;
                }

                .detail {
                  display: flex;
                  justify-content: space-between;

                  div {
                    display: flex;
                    font-size: 1rem;

                    &:first-child {
                      margin: 0 10px 0 0;
                    }

                    span:first-child {
                      font-weight: 500;
                      margin: 0 3px 0 0;
                    }

                    span:last-child {
                      display: block;
                      width: 7.142857142857143rem;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    }
                  }
                }

                .open-children-list-button {
                  margin: 0 0 0 auto;
                }
              }
            }

            .cogs-field {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              cursor: pointer;
              position: relative;

              input {
                cursor: pointer;
                background: #fff;
                color: initial;
              }
            }

            .edit-btn {
              min-width: 2.857142857142857rem;
              width: 2.857142857142857rem;
              height: 2.857142857142857rem;
              margin: 0 0 0 5px;
              display: none;
              position: absolute;
              right: 0;

              svg {
                width: 50%;
                fill: #C9CBD4;
              }

              &:hover {
                svg {
                  fill: #6d6df6;
                }
              }
            }

            &:last-child {
              justify-content: flex-start;

              .custom-select {
                width: 100%;
                height: 2.28571429rem;
              }

              .ant-select-dropdown {
                width: max-content;

                svg {
                  width: 22px;
                  height: 22px;
                }
              }

              .ant-select-selection__placeholder {
                font-size: 1rem;
                margin-top: 0;
                top: 0;
                height: 100%;
                line-height: 2.0714285714285716rem;
              }

              .ant-select-selection-selected-value {
                i {
                  display: flex;
                  align-items: center;
                  margin: 0 10px 0 5px;

                  svg {
                    width: 22px;
                    height: 22px;
                  }
                }
              }

              .ant-select-dropdown-menu-item {
                display: flex;
                align-items: center;
                font-size: 1rem;

                i {
                  width: 22px;
                  height: 22px;
                  min-width: 22px;
                  margin: 0 10px 0 0;
                  fill: #C9CBD4 !important;
                }


                &:first-child:hover {
                  i {
                    fill: #EC7F5C !important;
                  }
                }

                &:nth-child(2):hover {
                  i {
                    fill: #6D6DF6 !important;
                  }
                }

                &:nth-child(3):hover {
                  i {
                    fill: #83FED0 !important;
                  }
                }

                &:nth-child(4):hover {
                  i {
                    fill: #F0B849 !important;
                  }
                }

                &:nth-child(5):hover {
                  i {
                    fill: #5BEBF3 !important;
                  }
                }

                &:nth-child(6):hover {
                  i {
                    fill: #EC7F5C !important;
                  }
                }

                &:nth-child(7):hover {
                  i {
                    fill: #6D6DF6 !important;
                  }
                }

                &:nth-child(8):hover {
                  i {
                    fill: #83FED0 !important;
                  }
                }
              }
            }
          }


          &:not(.expand-row):hover {
            .table-body__field:first-child,
            .table-body__field:nth-child(2) {
              background: #FAFAFF;
            }

            .edit-btn {
              display: flex;
            }
          }
        }

        .expand-row {
          border-bottom: 1px solid #c9cbd4;
          display: flex;
          flex-direction: column;

          & > div {
            padding: 0;
            border-bottom: 1px solid #c9cbd4;

            &:hover {
              .edit-btn {
                display: flex;
              }
            }

            &:last-child {
              border: 0;
            }
          }

          .table-body__field {
            background: none !important;

            .variation-indicator {
              min-width: 8px;
              min-height: 8px;
              border-radius: 50%;
              background: #C9CBD4;
              margin: 0 3.57142857rem;
            }

            &:first-child {
              padding: 10px 20px;
              border-right: 1px solid #C9CBD4;

              position: sticky;
              left: 0;
              background: #fff;

              .product-item {
                width: 100%;

                .image-block {
                  margin: 0 5px 0 0;
                }

                .short-name {
                  font-weight: 500;
                  font-size: 1rem;
                }

                .detail {
                  display: flex;
                  justify-content: space-between;

                  div {
                    display: flex;
                    font-size: 1rem;

                    &:first-child {
                      margin: 0 10px 0 0;
                    }

                    span:first-child {
                      font-weight: 500;
                      margin: 0 3px 0 0;
                    }

                    span:last-child {
                      display: block;
                      width: 5.714285714285714rem;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    }
                  }
                }

                .open-children-list-button {
                  display: none;
                }
              }

            }

            &:nth-child(2) {
              border: 0;
              z-index: 10;
            }

            .value {
              width: 8.57142857rem;
              height: 2.2857142857142856rem;
              border: 1px solid #C9CBD4;
              border-radius: 4px;
              padding: 0 8px 0 5px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              background-color: #f5f5f5;
              color: rgba(0, 0, 0, 0.25);
              font-size: 1rem;
              cursor: not-allowed;

              svg {
                margin: 0 0 0 auto;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }


    .product-item {
      .product-information {
        display: flex;
        align-items: center;

        .image {
          min-width: 5.142857142857143rem;
          width: 5.142857142857143rem;
          height: 5.142857142857143rem;
          margin: 0 0.3571429em 0 0;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }

        .on-optimization {
          display: none;
        }


        .caption {
          .custom-tooltip {
            margin: 0;
          }

          .ant-popover-inner-content {
            span {
              cursor: auto;
              font-size: 1rem;
            }
          }

          .short-name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            width: fit-content;
          }
        }
      }

      .open-children-list-button {
        font-size: 1rem;
        height: 2.85714286rem;
        width: 2.85714286rem;
        min-width: 2.85714286rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0 auto;
        cursor: pointer;

        &.has-variations {
          &:hover {
            background: rgba(113, 113, 113, 0.15);
            transition: .2s;
          }
        }

        &.opened {
          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          width: 1.28571429rem;
          height: 0.71428571rem;
          stroke: #343C5A;
        }
      }
    }
  }

  .strategies-description {
    width: 0;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: width .3s;

    &.opened {
      width: 280px;
      transition: width .3s;
    }

    .title {
      width: 280px;
      min-height: 62px;
      height: 62px;
      font-size: 1.4285714285714286rem;
      color: #363694;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 0 0 0 1.2857142857142858rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      margin: 0;
    }

    .list {
      width: 280px;
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: max-content;

      & > div {
        min-height: 92px;
        height: 92px;
        border-bottom: 1px solid #c9cbd4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 0 0 10px;
        box-sizing: content-box;

        &:last-child {
          border: 0;
        }

        &:nth-child(1) {
          i {
            fill: #EC7F5C !important;
          }
        }

        &:nth-child(2) {
          i {
            fill: #6D6DF6 !important;
          }
        }

        &:nth-child(3) {
          i {
            fill: #83FED0 !important;
          }
        }

        &:nth-child(4) {
          i {
            fill: #F0B849 !important;
          }
        }

        &:nth-child(5) {
          i {
            fill: #5BEBF3 !important;
          }
        }

        &:nth-child(6) {
          i {
            fill: #EC7F5C !important;
          }
        }

        &:nth-child(7) {
          i {
            fill: #6D6DF6 !important;
          }
        }

        &:nth-child(8) {
          i {
            fill: #83FED0 !important;
          }
        }

        .row {
          display: flex;
          align-items: center;

          i {
            margin: 0 10px 0 0;

            svg {
              width: 45px;
              height: 45px;
            }
          }

          b {
            color: #343C5A;
            font-size: 1rem;
          }

          .sales, .acos {
            font-size: 0.8571428571428571rem;
            font-weight: 500;
            color: #343C5A;
            display: flex;
            align-items: center;

            .starts {
              display: flex;
              align-items: flex-end;
              margin: 0 0 0 10px;

              div {
                background: #C9CBD4;
                border-radius: 1px;
                margin: 0 4px 0 0;

                &:last-child {
                  margin: 0;
                }

                &.active {
                  &:first-child {
                    background: linear-gradient(90deg, #83FED0 0%, #82F3D3 100%);
                  }

                  &:nth-child(2) {
                    background: linear-gradient(90deg, #80E5D7 0%, #7DD7DB 100%);
                  }

                  &:nth-child(3) {
                    background: linear-gradient(90deg, #7BC9DF 0%, #79B7E3 100%);
                  }

                  &:nth-child(4) {
                    background: linear-gradient(90deg, #77A9E7 0%, #7394ED 100%);
                  }

                  &:nth-child(5) {
                    background: linear-gradient(90deg, #7187F0 0%, #6E6EF7 100%);
                  }
                }
              }
            }
          }

          .sales {
            margin: 0 30px 0 10px;
          }
        }
      }
    }


    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      &.opened {
        width: 250px;
      }

      .title {
        width: 250px;
        min-height: 50px;
        height: 50px;
      }

      .list {
        width: 250px;
      }

      .list > div {
        min-height: 74px;
        height: 74px;
      }

    }
  }
}
