@import '../../../../style/variables.less';

.table-settings {
  table thead.ant-table-thead tr th {
    background: @body-background;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: sub;
  }

  .ant-table-thead > tr > th .ant-table-column-sorter {
    display: none;
  }

  table thead.ant-table-thead tr th:first-child {
    padding-left: 2px;
  }

  .optimization-waiting {
    display: none;
  }


  table {
    background: @body-background;
    border-spacing: 0 4px;

    .ant-table-tbody {
      .ant-input-number {
        width: 120px;
        border-radius: 8px;
        border: 1px solid rgba(148, 163, 173, 0.4);

        .ant-input-number-handler-wrap {
          border-radius: 0 8px 8px 0 !important;
        }
      }
    }

    .input-search {
      width: 100%;

      .switch-block {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        .ant-switch {
          margin: 0 0 0 10px;
        }
      }

      input {
        height: 32px;
        border: 0;
        border-radius: 8px;
      }

      i {
        color: #343C5A;
        font-weight: bold;
        font-size: 16px;
      }
    }


    tr {
      //background: #fff;
      position: relative;

      &:hover td {
        background: #fff !important;
      }

      td {
        background: #fff;
        border: 0;
        box-sizing: content-box;

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

      }
    }


    .ant-table-row-expand-icon-cell {

      .open-children-list-button {
        //position: absolute;
      }
    }

    .ant-table-thead > tr > th .ant-table-header-column {
      width: 100%;
    }

    .open-children-list-button {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      font-family: ir;
      font-size: 1rem;
      letter-spacing: -0.4375px;
      color: #6D6DF6 !important;
      padding: 0 5px;
      border: 1px solid #6D6DF6;
      cursor: pointer;

      &:hover {
        background: rgba(109, 109, 246, 0.1);
      }

      i {
        margin: 0 0 0 5px;
        color: #6D6DF6;
      }
    }

    .product-item {
      .product-information {
        display: flex;
        align-items: center;

        .image {
          max-width: 72px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: auto 0;

          img {
            max-width: 72px;
            max-height: 72px;
          }
        }

        .image {
          margin: 0 5px 0 0;
        }

        .on-optimization {
          display: none;
        }
      }

      .open-children-list-button {
        display: none;
      }
    }
  }

  .ProductItem {
    min-width: 300px;
    opacity: 1;
  }

  .settings-status {
    text-transform: capitalize;
    font-weight: 600;
  }

  .active {
    color: @success-color;
  }

  .detail {
    span:first-child {
      font-weight: 900;
    }
  }

  .caption {
    font-weight: 900;
  }

  .ant-table-expanded-row {
    & > td {
      padding: 0;
    }
  }
}

.child-list {
  padding: 0 0 0 65px;

  table {
    background: #fff !important;
  }

  table thead.ant-table-thead {
    display: none;
  }

  .product-item {
    .product-information {
      .image-block {
        .image {
          img {
            max-height: 50px;
            max-width: 50px;
          }
        }
      }

      .product-item-content {
        font-size: .8rem;
      }
    }
  }


  .ant-table-tbody {
    & > tr {
      td {
        border-radius: 0 !important;
        border-bottom: 1px solid #F5F6F7;
        padding-top: 0;
        padding-bottom: 0;
      }

      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    .value {
      display: flex;
      align-items: center;
      width: 118px;
      height: 30px;
      padding: 0 5px;
      border-radius: 8px;
      border: 1px solid rgba(148, 163, 173, 0.4);
      background: rgba(232, 237, 241, 0.58);

      span {
        color: #8fd39d;
        font-size: 1.1428571428571428rem;
        width: 16px;
        text-align: center;
        background: rgba(143, 211, 157, 0.2);
        border-radius: 4px;
        margin: 0 5px 0 0;
      }
    }
  }
}