.user-products-section.zth {
  color: #000;

  h2, h3, h4, span {
    color: #000;

  }

  .version-description {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    margin-bottom: 20px;

    p {
      margin: 0;
      padding: 5px 0;

      &:nth-child(2) {
        padding: 5px 20px;
        border-left: 1px solid #bcbbbf;
        border-right: 1px solid #bcbbbf;
        margin: 0 20px;
      }
    }
  }

  section {
    box-shadow: none;
    padding: 0;
  }

  .api-token {
    width: 49%;
  }

  .ant-select-dropdown {
    li {
      color: #000;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 0;

    label {
      font-weight: 500;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      margin: 0;
      color: #000;
      height: 2.2857142857142856rem;
    }
  }

  .row {
    display: flex;
  }

  & > .tabs {
    box-shadow: none;
    margin: 30px 0 40px 0;

    a {
      padding: 0 10px;
      font-size: 1rem;

      svg {
        width: 15px;
        height: 15px;
        margin: 0 0 0 10px;
        fill: #6D6DF6;
      }
    }
  }
}
