@import "../../../../../style/variables.less";

.analytics-page .navigation {
  width: 216px;
  background: #fff;
  box-shadow: @default-section-shadow;
  border-radius: 4px;
  margin: 0 0 0 20px;

  ul {
    list-style: none;

    li {
      a {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 0 0 28px;

        font-size: 14px;
        color: #656A84;
        font-weight: 500;
        cursor: pointer;

        border-bottom: 0.5px solid #C9CBD4;

        &.active {
          background: rgba(245, 245, 255, 0.7);
          padding: 0 0 0 24px;
          border-left: 4px solid #6D6DF6;
        }

        &:hover {
          background: rgba(245, 245, 255, 0.7);
        }
      }
    }
  }
}