.not-found-page__header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px rgba(44, 48, 58, .08), 0 0 20px rgba(44, 48, 58, .04);
  box-shadow: 0 4px 12px rgba(44, 48, 58, .08), 0 0 20px rgba(44, 48, 58, .04);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;

    div:first-child {
      flex: 1;
      display: flex;
      align-items: center;
    }

    img {
      margin: 0 3% 0 0;
      min-width: 100px;
    }

    .burger-menu-button {
      cursor: pointer;
      display: none;

      & > div {
        width: 1.7142857142857142rem;
        height: 2px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 1px;
        background-color: #363694;
        cursor: pointer;
        margin: 5px 0;
      }
    }

    nav {
      flex: 1;

      ul {
        margin: 0;

        li {
          display: inline-block;
          vertical-align: middle;
          position: relative;

          &.has-child .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            min-width: 150px;
            padding: 10px 0;
            z-index: 100;
          }

          &.has-child:hover .sub-menu {
            display: block;
            background-color: #fff;
            -webkit-box-shadow: 0 7px 7px rgba(44, 48, 58, .08);
            box-shadow: 0 7px 7px rgba(44, 48, 58, .08);

            li {
              width: 100%;
              text-align: left;
            }
          }

          a {
            color: #38454f;
            font-weight: 500;
            display: block;
            text-transform: capitalize;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            opacity: .7;
            padding: 10px 25px;
          }
        }
      }
    }

    .nav-buttons {
      display: flex;
      align-items: center;

      .login-btn {
        display: block;
        color: #363694;
        font-size: 12px;
        font-weight: 700;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;

        &:hover {
          color: #60c375;
        }
      }

      .register-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 40px;
        transition: .2s;
        background: #8fd39d;
        border-radius: 8px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        margin: 0 0 0 30px;

        &:hover {
          background-color: #60c375;
          -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        }
      }
    }
  }

  @media (max-width: 695px) {
    & .container {
      .burger-menu-button {
        display: block;
      }

      .header-menu.open {
        display: block;
      }

      .header-menu {
        display: none;
        position: absolute;
        left: 0;
        top: 96px;
        background: #fff;
        width: 100%;
        z-index: 100;

        ul {
          display: flex;
          flex-direction: column;

          li.has-child {

            & > a {
              color: #363694;
            }

            &:hover {
              box-shadow: none;

              .sub-menu {
                box-shadow: none;
              }
            }
            .sub-menu {
              position: relative;
              display: flex;
              flex-direction: column;
              padding: 0 0 0 20px;
              top: auto;
            }
          }
        }
      }
    }
  }
}