.subscriptions-page {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 2.142857142857143rem 2.857142857142857rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 600;
    font-size: 2.2857142857142856rem;
    line-height: 2.7142857142857144rem;
    text-align: center;
    color: #312C51;
    margin: 0 0 0.7142857142857143rem;
  }

  p.page-description {
    font-weight: 500;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286rem;
    color: #353A3E;
    margin-bottom: 2.857142857142857rem;

    a {
      color: #6959AB;
    }
  }

  .plans {
    width: 100%;
    max-width: 82.14285714285714rem;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    & > li {
      flex: 1;
      border: 1px solid #C9CBD4;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      margin: 0 1.4285714285714286rem 0 0;
      padding: 0 0 2.142857142857143rem;

      .plan-name {
        width: 100%;
        min-height: 4.571428571428571rem;
        background: rgba(243, 243, 243, 0.5);
        padding: 1.4285714285714286rem 0;
        margin: 0 0 2.142857142857143rem;

        font-weight: 600;
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        color: #312C51;
        border-bottom: 1px solid #C9CBD4;
        border-radius: 4px 4px 0 0;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          display: block;
          height: 1.4285714285714286rem;
          font-weight: 500;
          font-size: 0.8571428571428571rem;
          line-height: 1.0714285714285714rem;
          color: #FFFFFF;
          background: #FF5256;
          border-radius: 4px;
          padding: 2px 0.5714285714285714rem;
          margin: 0 0 0 10px;
        }
      }

      ul {
        list-style: none;
        padding: 0 1.4285714285714286rem;
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.2142857142857142rem;
          color: #353A3E;
          margin: 0 0 1.4285714285714286rem;

          svg {
            width: 1.2857142857142858rem;
            height: 1.2857142857142858rem;
            margin: 0 0.7142857142857143rem 0 0;
            fill: #6959AB;
          }
        }
      }

      .price {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #353A3E;
        margin: auto 0 2.142857142857143rem;

        b {
          font-weight: 600;
          font-size: 32px;
          line-height: 38px;
          color: #312C51;

        }
      }

      .ant-spin {
        margin: auto 0 0 0;
      }

      .btn {
        max-width: 11.142857142857142rem;
        width: 90%;
        height: 3.4285714285714284rem;
        margin: 0 auto 0;
        font-weight: 600;
        font-size: 1.1428571428571428rem;
      }

      &:last-child {
        margin: 0;
        border: 1px solid #FF5256;

        .plan-name {
          background: #FFFAFA;
          border-bottom: 1px solid #FF5256;
        }

        ul {
          li {
            svg {
              fill: #FF5256;
            }
          }
        }
      }
    }
  }

  .coupon-block {
    width: 100%;
    max-width: 82.14285714285714rem;
    min-height: 5.142857142857143rem;
    border: 1px solid #C9CBD4;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: 600;
      font-size: 1rem;
      line-height: 17px;
      color: #312C51;
      margin: 0;
    }

    .form-group {
      margin: 0 1.4285714285714286rem 0 0.7142857142857143rem;

      input {
        width: 14.285714285714286rem;
        height: 2.2857142857142856rem;
        font-size: 0.8571428571428571rem;
      }
    }

    .btn {
      font-weight: 600;
      font-size: 0.8571428571428571rem;
      height: 2.2857142857142856rem;
    }
  }
}

.activate-subscription-window {
  width: 90% !important;
  max-width: 43.57142857142857rem;

  .ant-modal-body {
    padding: 2.857142857142857rem 0 0;
  }

  .close-button {
    width: 2.857142857142857rem;
    height: 2.857142857142857rem;

    position: absolute;
    right: 0.7142857142857143rem;
    top: 0.7142857142857143rem;

    svg {
      width: 1.4285714285714286rem;
      height: 1.4285714285714286rem;
    }
  }

  .window-header {
    padding: 0 0 1.4285714285714286rem;
    margin: 0 2.857142857142857rem 1.4285714285714286rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C9CBD4;
    box-sizing: border-box;

    h2 {
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      line-height: 1.7142857142857142rem;
      color: #312C51;
      margin: 0 0 1.4285714285714286rem;
    }

    p {
      font-weight: 500;
      font-size: 1.1428571428571428rem;
      line-height: 1.4285714285714286rem;
      color: #353A3E;
      margin: 0 0 0.7142857142857143rem;
    }

    .rebate {
      width: 100%;
      background: #D2CDE6;
      border-radius: 4px;
      padding: 1.4285714285714286rem;
      display: flex;
      margin: 0.7142857142857143rem 0 0 0;

      svg {
        width: 1.7142857142857142rem;
        height: 1.7142857142857142rem;
        margin: -0.2857142857142857rem 0.8571428571428571rem 0 0;
      }

      .col {
        display: flex;
        flex-direction: column;

        h4 {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.2142857142857142rem;
          color: #6959AB;
          margin: 0 0 6px;
        }

        p {
          font-size: 0.8571428571428571rem;
          line-height: 1.0714285714285714rem;
          color: #6959AB;
          margin: 0;
        }
      }
    }
  }

  .subscription-details {
    display: flex;
    flex-direction: column;
    padding: 0 2.857142857142857rem;

    .row {
      display: flex;
      margin: 0 0 1.4285714285714286rem;

      &.with-field {
        align-items: center;
      }

      .label {
        width: 20%;
        text-align: right;
        font-size: 0.8571428571428571rem;
        color: #353A3E;
        margin: 0 1.4285714285714286rem 0 0;
      }

      .value {
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #312C51;

        b {
          font-size: 1.1428571428571428rem;
          line-height: 1.4285714285714286rem;
        }

        &.form-group {
          display: flex;

          input {
            width: 11.428571428571429rem;
            height: 2.2857142857142856rem;
            margin: 0 1.4285714285714286rem 0 0;
          }

          .btn {
            height: 2.2857142857142856rem;
          }
        }
      }
    }
  }

  .window-actions {
    width: 100%;
    padding: 0.7142857142857143rem 2.857142857142857rem;
    border-top: 0.5px solid #C9CBD4;
    margin: 2.142857142857143rem 0 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
      height: 3.4285714285714284rem;
      font-size: 1.1428571428571428rem;
      font-weight: 600;
      position: relative;

      .ant-spin {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

    p {
      flex: 1;
      margin: 0 20px 0 0;
      font-size: 0.8571428571428571rem;
      line-height: 1.0714285714285714rem;
      color: #353A3E;
      text-align: right;
    }
  }
}