@import "../../style/variables.less";

.Dollar {
  height: 100%;
  border-radius: 4px;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  z-index: 10;
  margin: auto 0;
  display: flex;
  align-items: center;


  svg {
    width: 20px;
    height: 20px;

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      width: 16px;
      height: 16px;
    }
  }
}

.InputCurrency {
  max-width: 250px;
  position: relative;


  input {
    -moz-appearance: textfield;
    padding: 0 25px 0 5px;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .error {
    color: @dangerous-color;
    font-size: 12px;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }

  .ant-input-number {
    width: 100%;
    height: 100%;
    border: 1px solid #C9CBD4;

    &.ant-input-number-disabled {
      &:hover {
        border: 1px solid #C9CBD4;
      }
    }

    &.ant-input-number-focused {
      border-color: #6D6DF6 !important;
      box-shadow: none;
    }

    &:hover {
      border-color: #343C5A
    }

    &:focus {
      box-shadow: none;
    }

    .ant-input-number-input-wrap {
      height: 100%;
      display: flex;

      &:focus {
        outline: none;
      }

      input {
        height: 100%;

      }
    }
  }
}
