.account-page .billing-information {
  .route-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.857142857142858rem, 1fr));
    grid-gap: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;

    li {
      height: 7.142857142857143rem;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 1.4285714285714286rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: .2s ease-in-out;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &.active {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 0.2857142857142857rem;
          background: #6959AB;
        }
      }

      .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:first-child {
          align-items: center;
        }
      }

      i {
        display: flex;

        &.visa svg {
          width: 3.9285714285714284rem;
          height: initial;
        }

        &.master svg {
          width: 2.5714285714285716rem;
          height: initial;
        }
      }

      .information-tooltip {
        margin: 0 8px 0 auto;

        svg {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
        }
      }

      .ant-spin {
        height: 1.4285714285714286rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px 0 auto;
      }

      .ant-dropdown-link {
        width: 1.4285714285714286rem;
        height: 1.4285714285714286rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin: 0 -8px 0 0;

        div {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #C9CBD4;
        }

        &:hover {
          div {
            background: #6959AB;
          }
        }

        &.ant-dropdown-open {
          div {
            background: #6959AB;
          }
        }
      }

      .card-number {
        margin: 0;
        font-weight: 600;
        font-size: 1.2857142857142858rem;
        line-height: 1.5714285714285714rem;
        color: #312C51;
      }

      .expires-date {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #5B586F;
        margin: 0;
      }

      &.add-new {
        background: transparent;
        border: 1px dashed #C9CBD4;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        color: #5B586F;
        box-shadow: none;
        cursor: pointer;

        svg {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          margin: 0 0.8571428571428571rem 0 0;
        }

        &:hover {
          background: #fff;
          border: 1px solid #fff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        }

        &.active {
          background: #FFFFFF;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          border: 0;
          box-sizing: border-box;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0.2857142857142857rem;
            background: #6959AB;
          }
        }
      }
    }
  }

  .dots {
    display: none;
  }

  section {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.142857142857143rem 1.4285714285714286rem;

    .container {
      width: 100%;
      flex: 1;
      max-width: 59.285714285714285rem;
      display: flex;

      &:first-child {
        margin: 0 0 2.857142857142857rem;
      }


      & > img {
        height: 8.571428571428571rem;
        width: 8.571428571428571rem;
        min-width: 8.571428571428571rem;
        margin: 0 2.857142857142857rem 0 0;
      }
    }

    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 0 0 2.857142857142857rem;
      border-left: 1px solid #F3F3F3;

      .description-row {
        img {
          display: none;
        }

        .section-description {
          display: flex;
          flex-direction: column;
        }
      }

      h3 {
        font-weight: 600;
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        color: #312C51;
        margin-bottom: 0.7142857142857143rem;
      }

      p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #5B586F;
        margin: 0;
      }

      .form-group {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 1.4285714285714286rem;
        position: relative;

        .inputs-row {
          flex: 1;
          display: flex;

          input:nth-child(2) {
            margin: 0 0 0 1.4285714285714286rem;
          }
        }

        label {
          width: 13.928571428571429rem;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.2142857142857142rem;
          color: #5B586F;
        }

        .StripeElement {
          flex: 1;
          height: 2.2857142857142856rem;
          min-height: 2.2857142857142856rem;
          max-height: 2.2857142857142856rem;
          border-radius: 4px;
          border: 1px solid #C9CBD4;
          color: #5B586F;
          padding: 8px 0 8px 1.07142857rem;

          @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
            padding: 5px 0 5px 1.07142857rem;
          }

          &:hover {
            border-color: #5B586F;
          }

          &--focus {
            border-color: #6959AB !important;
          }
        }

        &.error-field {
          .StripeElement {
            border-color: #FF5256 !important;
          }
        }

        &.disabled {
          .StripeElement {
            background-color: #f5f5f5;
            pointer-events: none;
          }
        }

        input {
          flex: 1;
          height: 2.2857142857142856rem;
          min-height: 2.2857142857142856rem;
        }

        .custom-select {
          flex: 1;
          height: 2.2857142857142856rem;
          min-height: 2.2857142857142856rem;
        }

        .input-suffix {
          position: absolute;
          right: 1.2142857142857142rem;
          margin: auto 0;
          display: flex;
          align-items: center;
          cursor: pointer;

          svg {
            height: 1rem;
            width: initial;
          }

          &.opened {
            svg {
              height: 0.8571428571428571rem;
            }
          }
        }

        &.card-container__cvc {
          .StripeElement, input {
            max-width: 10rem;
            width: 10rem;
            min-width: 10rem;
          }
        }

        .fake-card-field {
          position: absolute;
          height: 2.2857142857142856rem;
          right: 0;
          top: 0;
          left: 13.92857143rem;
          display: flex;
          align-items: center;
          border-radius: 4px;
          border: 1px solid #C9CBD4;
          font-size: 1rem;
          padding-left: 1.07142857rem;
          background: #FAFAFA;
          pointer-events: none;
          color: rgba(0, 0, 0, .25);
        }
      }

      .row {
        flex: 1;
        display: flex;
        align-items: center;
        margin: 1.42857143rem 0 0 0;

        .form-group {
          width: max-content;
          margin: 0;


        }

        .lock-description {
          display: flex;
          align-items: center;

          font-size: 0.8571428571428571rem;
          line-height: 1.0714285714285714rem;
          color: #5B586F;
          margin: 0 0 0 20px;

          svg {
            width: 1rem;
            min-width: 1rem;
            height: 1rem;
            margin: 0 8px 0 0;

            fill: #5B586F;
          }
        }

      }

      .payment-logo {
        margin: 0.7142857142857143rem 0 0 13.92857143rem;
        display: flex;
        align-items: center;

        img {
          height: 1.4285714285714286rem;
          width: initial;
          margin: 0 10px 0 0;

          &:last-child {
            margin: 0 0 0 auto;
          }
        }
      }

      .ant-checkbox-wrapper {
        margin: 1.4285714285714286rem 0 0 13.92857143rem;
        width: max-content;
        display: flex;
        align-items: center;

        .ant-checkbox {
          width: 1.2857142857142858rem;
          min-width: 1.2857142857142858rem;
          height: 1.2857142857142858rem;
        }

        span:last-child {
          font-size: 0.8571428571428571rem;
          line-height: 1.0714285714285714rem;
          color: #5B586F;
          padding: 0 0 0 8px;
        }
      }

      .btn {
        height: 2.2857142857142856rem;
        font-size: 0.8571428571428571rem;
        margin: 1.4285714285714286rem 0 0 13.92857143rem;
        position: relative;

        .ant-spin {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .delete-card {
        display: none;
      }
    }
  }

  @media (max-width: 1000px) {
    section {
      .col {
        .form-group {
          flex-direction: column;
          align-items: flex-start;

          label {
            margin: 0 0 10px;
          }

          .StripeElement {
            width: 100%;
          }

          .inputs-row, .custom-select {
            width: 100%;
          }
        }

        .payment-logo, .ant-checkbox-wrapper {
          margin-left: 0;
        }

        .btn {
          margin: 1.42857143rem auto 0;
        }
      }
    }
  }

  @media (max-width: 850px) {
    overflow: hidden;

    ul {
      width: 100%;
      display: flex;
      overflow: auto;
      padding: 0 12vw 0 12vw;

      li {
        width: 260px;
        min-width: 260px;
        height: 100px;
      }
    }

    .dots {
      display: flex;
      justify-content: center;
      margin: 12px auto 20px;

      div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          background: #C9CBD4;
          border-radius: 50%;
        }

        &.active {
          background: #6959AB;

          &::before {
            display: none;
          }
        }
      }
    }

    section {
      .container {
        max-width: 100%;

        & > img {
          display: none;
        }
      }

      .col {
        border: 0;
        padding: 0;

        .description-row {
          display: flex;
          padding-bottom: 20px;
          border-bottom: 1px solid #F3F3F3;

          img {
            min-width: 64px;
            width: 64px;
            height: 64px;
            display: block;
            margin: 0 12px 0 0;
          }
        }

        .row {
          align-items: flex-end;

          .form-group.card-container__cvc {
            width: max-content;

            input, .StripeElement {
              width: 110px;
              min-width: 110px;
              max-width: 110px;
            }
          }


        }


        .form-group {
          label {
            width: max-content;
          }

          .StripeElement {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }

        h3 {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 8px;
        }

        p {
          font-size: 12px;
          line-height: 15px;
        }

        .btn {
          height: 42px;
          width: 100%;
        }

        .delete-card {
          display: flex;
          justify-content: center;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #312C51;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}

.ant-dropdown.card-menu {
  padding: 6px 0;

  div {
    font-size: 0.8571428571428571rem;
    line-height: 1.0714285714285714rem;
    color: #5B586F;
    padding: 0.8571428571428571rem 1.4285714285714286rem;
    cursor: pointer;

    &:hover {
      background: rgba(250, 250, 250, 0.7);
    }
  }
}
