.get-audit-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Eina;
  padding: 0 !important;


  .container {
    width: 100%;
    height: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  & > .container {
    flex: 1;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    position: relative;

    & > section {
      height: 100%;
      opacity: 0;
      position: absolute;
      transform: translateX(-150px);
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

      &.active {
        opacity: 1;
        transform: translateX(0) scale(1) !important;
        transition-delay: 0.4s;
        position: initial;
        z-index: 100;
      }
    }
  }

  header {
    display: flex;
    align-items: stretch;
    min-height: 90px;
    border-bottom: 1px solid #C9CBD4;

    .container {
      height: initial;
      display: flex;
      align-content: center;
      justify-content: center;
      position: relative;

      a.back-to-site {
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: 0 auto 0 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        text-transform: uppercase;
        color: #6D6DF6;

        i {
          margin: 0 12px 0 0;
        }
      }

      a.logo-link {
        display: flex;
        align-items: center;
      }
    }
  }

  footer {
    min-height: 90px;
    margin: auto 0 0 0;
    border-top: 1px solid #C9CBD4;
    padding: 22px 0 0 0;

    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .terms {
      p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 8px;
        color: #7C8A95;
      }

      a {
        font-size: 16px;
        line-height: 19px;
        color: #6D6DF6;
        margin: 0 28px 0 0;

        position: relative;
        overflow: hidden;
        width: max-content;

        &::after {
          content: "";
          max-width: 0;
          width: 0;
          height: 1px;
          background-color: #6D6DF6;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: .2s ease-in;
        }

        &:hover {
          color: #5252b8;

          &::after {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .vr {
          height: 12px;
          width: 1px;
          background: #6D6DF6;
          margin: 0 8px;
        }

        a, span {
          font-size: 16px;
          line-height: 19px;
          text-align: right;
          color: #7C8A95;
          margin: 0;
        }

        a:hover {
          color: #6D6DF6;
          cursor: pointer;
        }
      }

      .social-icons {
        list-style: none;
        display: flex;

        li {
          margin: 0 0 0 32px;

          svg {
            width: 18px;
            height: 18px;
            fill: #6D6DF6;
          }
        }
      }
    }
  }

  .lets-start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      text-align: center;
      color: #2D2E55;
      margin-bottom: 28px;

      span {
        color: #6D6DF6;
      }
    }

    p {
      font-size: 21px;
      line-height: 25px;
      font-weight: 100;
      text-align: center;
      color: #7C8A95;
      margin-bottom: 48px;
    }

    .btn {
      height: 56px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;

      svg {
        margin: 0 0 0 12px;
      }
    }
  }

  .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .steps {
      width: 100%;

      ul {
        list-style: none;
        margin: 48px auto;
        display: flex;
        justify-content: center;
        grid-column-gap: 20px;

        li {
          min-height: 40px;
          padding: 5px 20px;
          background: #F3F7FD;
          border-radius: 40px;
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 19px;
          font-weight: 100;
          color: #7C8A95;
          position: relative;

          &:first-of-type {
            &::before {
              display: none;
            }
          }

          &::before {
            content: '';
            height: 3px;
            width: 20px;
            background: #F3F7FD;
            position: absolute;
            left: -20px;
            top: 0;
            bottom: 0;
            margin: auto 0;
          }

          &.finished,
          &.active {
            background: #6D6DF6;
            box-shadow: 0px 4px 17px rgba(193, 211, 237, 0.56);
            color: #fff;

            &::before {
              background: #6D6DF6;
            }
          }

          &.finished {
            cursor: pointer;
            box-shadow: none;
          }
        }
      }
    }

    .form-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      border: 2px solid #F3F7FD;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 128px;
      padding: 48px 20px;
      overflow-y: auto;

      .step {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        opacity: 0;
        position: absolute;
        transform: translateX(-150px);
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

        &.active {
          opacity: 1;
          transform: translateX(0) scale(1) !important;
          transition-delay: 0.4s;
          position: initial;
          z-index: 100;
        }

        h3 {
          font-size: 32px;
          line-height: 38px;
          font-weight: 100;
          text-align: center;
          color: #2D2E55;
          margin-bottom: 48px;
        }

        form {
          flex: 1;
          display: flex;
          flex-direction: column;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          &.radio {
            .ant-radio-wrapper {
              span {
                font-size: 12px;
                color: #7C8A95;
              }
            }
          }

          label {
            font-size: 16px;
            line-height: 19px;
            color: #2D2E55;
            margin-bottom: 9px;
          }

          input {
            height: 40px;
          }
        }

        .navigation {
          display: flex;
          justify-content: center;
          margin: auto 0 0;

          .btn {
            height: 56px;
            padding: 0 35px;

            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;

            svg {
              margin: 0 0 0 12px;
            }

            &.transparent {
              background: none;
              color: #7C8A95;

              svg {
                stroke: #7C8A95;
                margin: 0 12px 0 0;
              }

              &:hover {
                color: #6d6df6;

                svg {
                  stroke: #6d6df6;
                }
              }
            }
          }
        }
      }

      .step-0 {
        form {
          width: 100%;
          max-width: 400px;
        }
      }

      .step-2,
      .step-3 {
        form {
          width: 100%;
          max-width: 840px;
        }

        ul {
          list-style: none;
          margin: 0;
          display: flex;
          grid-column-gap: 18px;

          li {
            flex: 1;
            background: #F3F7FD;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px 18px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &.active,
            &:hover {
              background: #FFFFFF;
              box-shadow: 0px 4px 17px rgba(193, 211, 237, 0.56);
            }

            label {
              margin: 0;
              cursor: pointer;
            }

            label:first-of-type {
              margin: 0 0 24px;
              font-size: 16px;
              line-height: 19px;
              color: #2D2E55;
            }
          }
        }
      }

      .step-3 {
        form {
          max-width: 1014px;
        }
      }
    }
  }

  section.success {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      margin-bottom: 64px;
    }

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 100;
      text-align: center;
      color: #2d2045;
      margin-bottom: 64px;

      span {
        color: #6D6DF6;
      }
    }

    p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      text-align: center;
      color: #7C8A95;
      margin-bottom: 48px;
    }

    .buttons {
      display: flex;
      align-items: center;
      grid-column-gap: 28px;

      .btn {
        height: 56px;
        font-size: 16px;
        text-transform: uppercase;

        &.white {
          color: #7C8A95;
        }

        svg {
          margin: 0 0 0 12px;
        }
      }
    }
  }
}