.scanner-page .scanning-processing-status {
  min-height: 7.857142857142857rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4285714285714286rem;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 1.4285714285714286rem;
    line-height: 1.7142857142857142rem;
    font-weight: 600;
    color: #312C51;
    margin-bottom: 0.7142857142857143rem;

    img {
      width: 1.4285714285714286rem;
      height: 1.4285714285714286rem;
    }
  }

  p {
    font-size: 0.8571428571428571rem;
    line-height: 1.0714285714285714rem;
    color: #5B586F;

    margin: 0;
  }

  .btn {
    height: 3.4285714285714284rem;
    font-size: 1.1428571428571428rem;
  }
}

.scan-again-window {
  width: 95% !important;
  max-width: 42.857142857142854rem;
  height: 70vh;

  .ant-modal-body {
    min-height: 100%;
    padding: 1.4285714285714286rem;
    display: flex;

    .btn.icon {
      position: absolute;
      right: 1.4285714285714286rem;
      top: 1.4285714285714286rem;
      min-width: 2.5714285714285716rem;
      width: 2.5714285714285716rem;
      height: 2.5714285714285716rem;

      svg {
        width: 1.4285714285714286rem;
        height: 1.4285714285714286rem;
        fill: #C9CBD4;
      }
    }

    .start-scanning-section {
      box-shadow: none;
      padding: 0;
      min-height: 100%;

      p.rescan-description {
        display: block;
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        text-align: center;
        color: #5B586F;
        margin: 1.4285714285714286rem 0 0 0;
      }
    }
  }
}