.custom-reports-table {
    display: flex;
    flex-direction: column;
    height: calc(100% - 93px);

    .table-body {
        overflow: auto;
        flex: 1;

        .table-head {
            width: fit-content;
            display: grid;
            grid-template-columns:
                30px 1fr 180px 200px 132px 57px
                120px 180px 30px;
            border-bottom: 1px solid #c9cbd4;

            & > div {
                display: flex;
                align-items: center;
                padding: 0 8px;
                font-weight: 500;
                font-size: 14px;
                color: #343c5a;

                &:first-child {
                    min-width: 20px;
                    text-align: center;
                }
            }
        }

        .table-body__row {
            width: fit-content;
            display: grid;
            grid-template-columns:
                30px 1fr 180px 200px 132px 57px
                120px 180px 30px;
            border-bottom: 1px solid #c9cbd4;

            &:last-child {
                border: 0;
            }

            div {
                padding: 15px 8px;
                display: flex;
                align-items: center;

                &:first-child {
                    min-width: 20px;
                    font-size: 14px;
                    color: #343c5a;
                    font-weight: 500;
                }

                .action-field {
                    padding: 0;
                }
            }
        }

        .ant-spin-spinning {
            width: 100%;
            margin: 50px auto;
        }

        .anticon {
            color: #656a84;
            opacity: 0.5;
        }
    }

    .ant-pagination {
        margin-bottom: 20px !important;
    }
}
