@import "../../../style/variables.less";


.selection-area {
  background: rgba(188, 189, 245, 0.4)
}

.dayparting-page.dark-mode {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  background: #242729;

  & > .row {
    display: flex;
    padding: 0 10px 10px 10px;
    flex: 1;
    overflow: hidden;

    & > .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      section {
        margin-bottom: 10px;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .campaign-list {
    margin: 0 10px 0 0;
  }

  section {
    background: #3F4347;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;

    .disable-page-loading {
      background: rgba(63, 67, 71, 0.8);

      .ant-spin .ant-spin-dot-item {
        background: #FF5256;
      }
    }

    .section-header {
      min-height: 5.142857142857143rem;
      padding: 10px 1.4285714285714286rem;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.27);
      border-radius: 4px 4px 0px 0px;
      display: flex;
      align-items: center;
      margin-bottom: 1.4285714285714286rem;

      h2 {
        font-weight: 600;
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        color: #FFFFFF;
        margin: 0;
      }
    }
  }


  .chart-tooltip {
    justify-content: center;

    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner-content {
      background: #fff;
      padding: 0.8571428571428571rem 1.1428571428571428rem !important;
      width: max-content;
      border: 0;
      box-sizing: border-box;
      box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);
      border-radius: 4px;

      .border-title {
        border-bottom: 1px solid #F5F5FF;
        padding: 0 0 5px 0;
        margin: 0 0 5px 0;
      }

      h3 {
        display: flex;
        align-items: flex-end;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #343C5A;
        margin: 0;


        .time {
          margin: 0 0 0 20px;
          font-size: 0.8571428571428571rem;
          line-height: initial;
        }
      }

      .row-metric {
        display: flex;
        align-items: center;

        .out-budget-item {
          width: 16px !important;
          height: 16px !important;
          margin: 0 10px 0 0;

          .statistic-information {
            margin: 0;
          }

        }

        .statistic-information {
          width: 12px !important;
          height: 12px !important;
          border-radius: 4px;
          margin: 0 10px 0 0;
        }

        .selected-metric {
          font-size: 1rem;
          color: #656A84;
          text-transform: capitalize;
        }

        .value {
          display: flex;
          align-items: center;
          font-size: 1.1428571428571428rem;
          color: #343C5A;
          margin: 0 0 0 20px;
        }
      }


    }

    &.twice-metrics {
      .ant-popover-inner-content {
        width: max-content;

        .row {
          display: flex;
          justify-content: flex-start !important;
          align-items: stretch;

          .col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
        }

        .example-fill {
          width: 12px;
          height: 12px;
          border-radius: 4px;
          margin: 0 10px 0 0;
        }

        .metrics-name {
          width: max-content;
          margin: 0 2.857142857142857rem 0 0;
        }

        .selected-metric {
          width: max-content;
        }

        .value {
          justify-content: flex-start;
          font-size: 1.1428571428571428rem;
        }
      }
    }
  }

  .area-chart-tooltip {
    min-width: 250px;
    padding: 0.8571428571428571rem 1.1428571428571428rem !important;

    background: #fff;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);
    border-radius: 4px;

    h3 {
      font-weight: bold;
      font-size: 1rem;
      padding: 0 0 5px 0;
      border-bottom: 1px solid #F5F5FF;
    }

    .content {
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        align-items: flex-end;
        margin: 0 0 10px 0;

        .name {
          display: flex;
          align-items: center;
          width: 50%;
          font-size: 0.8571428571428571rem;
          color: #656A84;

          div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px 0 0;
          }
        }

        .percent {
          flex: 1;
          font-size: 1rem;
          color: #343C5A;
          margin: 0 0 0 10px;
        }

        .value {
          font-size: 1rem;
          color: #656A84;
          margin: 0 0 0 10px;
        }
      }
    }
  }

  .chart-statistics {
    min-width: initial !important;
    display: flex;
    flex-direction: column;
    position: relative;

    grid-area: chartStatistics;

    &.disabled {
      .section-header,
      .chart-block {
        filter: grayscale(100%);
      }
    }

    .section-header {
      height: 27px;

      .tabs {
        display: flex;
        background: #F5F5FF;
        border-radius: 4px;
        padding: 5px 0;

        & > div {
          font-size: 0.8571428571428571rem;
          color: #656A84;
          margin: 0 5px;
          padding: 2px 10px;
          cursor: pointer;

          &.active {
            background: #FFFFFF;
            box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
            border-radius: 6px;
            color: #6D6DF6;
          }
        }
      }

      .sorter {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #343C5A;
        position: relative;

        .select {
          z-index: 1000;
          position: relative;

          & > svg {
            position: absolute;
            left: 1.0714285714285714rem;
            top: 0;
            bottom: 0;
            margin: auto 0;
            z-index: 11;
          }

          .ant-select-selection {
            padding-left: 1.4285714285714286rem;
          }

          .custom-select {
            width: 11rem;
            height: 2.2857142857142856rem;
            border: 1px solid #C9CBD4;
            padding: 0;
            border-radius: 4px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:hover {
              border-color: #343C5A !important;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            .ant-select-selection {
              border: 0;

              .ant-select-selection-selected-value {
                font-size: 0.8571428571428571rem;
                padding: 1.0714285714285714rem;
              }
            }
          }
        }


        & > div {
          position: relative;
        }

        & > span {
          min-width: 35px;
          text-align: center;
          font-weight: 500;
        }

        .full-width-menu {
          width: 100% !important;
          right: 0 !important;
          left: auto !important;
        }
      }
    }

    .chart-block {
      width: 100%;
      height: 100%;
      flex: 1;

      .recharts-cartesian-axis-line {
        stroke: #C9CBD4;
      }

      .recharts-cartesian-axis-ticks {
        text-anchor: middle;
      }

      &.active {
        display: flex;
      }
    }

    .day-chart,
    .hour-chart {
      width: 100%;

      .recharts-layer.recharts-cartesian-axis-tick {
        .recharts-cartesian-axis-tick-line {
          display: none;
        }

        .recharts-cartesian-axis-tick-value {
          margin: 0 20px 0 0;
        }
      }
    }

    .day-and-hour-chart {
      flex: 1;
      flex-direction: column;

      .statistics {
        margin: 15px 0 0 0;

        .row {
          margin: 0 0 0.35714285714285715rem 0;
          align-items: flex-end;
          flex-wrap: nowrap;

          &:last-child {
            margin: 0;
          }

          .day-name {
            width: 1.0714285714285714rem;
            background: inherit;
            text-align: center;
            padding: 0 0 1px 0;
            margin: 0 2px 0 0;
          }

          .time-name {
            margin: 0 0 5px 0;
          }

          .statistic-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            font-size: 0.8571428571428571rem;
            text-align: center;
            color: #656A84;

            text-transform: lowercase;

            .custom-tooltip {
              width: 100%;
              margin: 0;
            }

            .statistic-information {
              width: 1.4285714285714286rem;
              height: 1.4285714285714286rem;
              background: #B6B6FB;
              border-radius: 4px;
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }


  .keys-keywords {
    position: relative;

    &::before {
      content: 'Soon ...';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 12, 23, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      font-size: 50px;
      color: rgba(246, 247, 255, 0.67);
      border-radius: 4px;
    }

    .section-header {
      display: flex;
      justify-content: space-between;

      .tabs {
        width: 60%;
        display: flex;
        justify-content: space-between;

        & > div {
          font-size: 1rem;
          color: #343C5A;
          flex: 1;
          text-align: center;
          cursor: pointer;
          border-right: 1px solid #C9CBD4;

          &:last-child {
            border: 0;
          }
        }
      }
    }

    .words {
      display: flex;
      flex-wrap: wrap;
      margin: 2.142857142857143rem 0 0 0;

      span {
        display: block;
        border: 1px solid rgba(148, 163, 173, 0.4);
        border-radius: 4px;
        padding: 3px 5px;
        margin: 5px 5px 0 0;
      }
    }
  }
}

.ant-select-dropdown.full-width-menu {
  li {
    font-size: 0.8571428571428571rem;
  }
}


