@import '../../../../../style/variables.less';
@import '../../../../../style/mixins.less';

.net-margin {
  .net-margin-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .net-margin-header {
      text-align: center;

      h2 {
        color: @second-default-dark;
      }
    }

    .ant-btn {
      margin-bottom: 1.42857em;
      min-width: 8.57143em;
      background: @primary-color;
      color: #fff;
    }
  }

  .net-margin-footer {
    font-size: 0.85714rem; // 12px
    text-align: center;
  }
}
