@import "../../../style/variables.less";


.selection-area {
  background: rgba(188, 189, 245, 0.4)
}

.dayparting-page {
  width: 100%;
  min-width: fit-content;
  overflow: auto;
  //
  //display: grid;
  //grid-template-areas: 'campaignList lastSynced lastSynced' 'campaignList spendStatistics chartStatistics' 'campaignList daySwitches daySwitches' 'campaignList placementsStatistics placementsStatistics';
  //
  //.campaign-list {
  //  grid-area: campaignList !important;
  //}
  //
  //.last-synced {
  //  grid-area: lastSynced;
  //}
  //
  //.spend-statistics {
  //  grid-area: spendStatistics;
  //}
  //
  //.chart-statistics {
  //  grid-area: chartStatistics;
  //}
  //
  //.day-switches {
  //  grid-area: daySwitches;
  //}
  //
  //.placements-statistics {
  //  grid-area: placementsStatistics;
  //}

  .last-synced {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //padding: 0 30px 0 0;
    margin: 0 0 1.4285714285714286rem 0;
    grid-area: lastSynced;

    font-weight: bold;
    font-size: 0.8571428571428571rem;
    color: #343C5A;

    .date-stamp {
      margin: 0 auto 0 0;
      font-size: 1rem;
    }

    .reload-btn {
      margin: 0 30px 0 0;

      img {
        width: 1rem;
        height: 20px;
      }
    }

    .week-select {
      display: flex;
      align-items: center;
      font-size: 1rem;

      .custom-select {
        width: 12.142857142857142rem;
        height: 2.2857142857142856rem;
        margin: 0 0 0 20px;
        border: 1px solid #C9CBD4;
        background: #FFFFFF;
        border-radius: 4px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
          border-color: #343C5A;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        .ant-select-selection {
          background-color: initial;
          border: 0;
          border-radius: 0;

          .ant-select-selection-selected-value {
            font-size: 0.8571428571428571rem;
            color: #656A84;
            font-weight: 400;
            padding: 0 0 0 15px;
          }
        }
      }
    }

    .color-gradation {
      display: flex;
      margin: 0 0 0 30px;
      align-items: center;
      font-size: 1rem;

      .custom-tooltip {
        margin: 0;

        div {
          width: 32px;
          height: 0.8571428571428571rem;
          margin: 0;
        }

        &:first-child {
          margin: 0 0 0 10px;

          div {
            border-radius: 2px 0 0 2px;
          }
        }

        &:last-child {
          margin: 0 10px 0 0;

          div {
            border-radius: 0 2px 2px 0;
          }
        }
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;

    & > section {
      width: calc(50% - 0.7142857142857143rem);
      min-width: max-content;
    }
  }

  section {
    background: #fff;
    box-shadow: @default-section-shadow;
    border-radius: 4px;
    padding: 1.4285714285714286rem 1.0714285714285714rem 1.0714285714285714rem;

    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h2 {
        font-size: 1.4285714285714286rem;
        color: #363694;
        margin: 0;
        font-weight: 500;
      }
    }

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
      padding: 10px 5px 1.0714285714285714rem;
    }
  }


  .chart-tooltip {
    justify-content: center;

    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner-content {
      background: #fff;
      padding: 0.8571428571428571rem 1.1428571428571428rem !important;
      width: max-content;
      border: 0;
      box-sizing: border-box;
      box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);
      border-radius: 4px;

      .border-title {
        border-bottom: 1px solid #F5F5FF;
        padding: 0 0 5px 0;
        margin: 0 0 5px 0;
      }

      h3 {
        display: flex;
        align-items: flex-end;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #343C5A;
        margin: 0;


        .time {
          margin: 0 0 0 20px;
          font-size: 0.8571428571428571rem;
          line-height: initial;
        }
      }

      .row-metric {
        display: flex;
        align-items: center;

        .out-budget-item {
          width: 16px !important;
          height: 16px !important;
          margin: 0 10px 0 0;

          .statistic-information {
            margin: 0;
          }

        }

        .statistic-information {
          width: 12px !important;
          height: 12px !important;
          border-radius: 4px;
          margin: 0 10px 0 0;
        }

        .selected-metric {
          font-size: 1rem;
          color: #656A84;
          text-transform: capitalize;
        }

        .value {
          display: flex;
          align-items: center;
          font-size: 1.1428571428571428rem;
          color: #343C5A;
          margin: 0 0 0 20px;
        }
      }


    }

    &.twice-metrics {
      .ant-popover-inner-content {
        width: max-content;

        .row {
          display: flex;
          justify-content: flex-start !important;
          align-items: stretch;

          .col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
        }

        .example-fill {
          width: 12px;
          height: 12px;
          border-radius: 4px;
          margin: 0 10px 0 0;
        }

        .metrics-name {
          width: max-content;
          margin: 0 2.857142857142857rem 0 0;
        }

        .selected-metric {
          width: max-content;
        }

        .value {
          justify-content: flex-start;
          font-size: 1.1428571428571428rem;
        }
      }
    }
  }

  .area-chart-tooltip {
    min-width: 250px;
    padding: 0.8571428571428571rem 1.1428571428571428rem !important;

    background: #fff;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);
    border-radius: 4px;

    h3 {
      font-weight: bold;
      font-size: 1rem;
      padding: 0 0 5px 0;
      border-bottom: 1px solid #F5F5FF;
    }

    .content {
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        align-items: flex-end;
        margin: 0 0 10px 0;

        .name {
          display: flex;
          align-items: center;
          width: 50%;
          font-size: 0.8571428571428571rem;
          color: #656A84;

          div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px 0 0;
          }
        }

        .percent {
          flex: 1;
          font-size: 1rem;
          color: #343C5A;
          margin: 0 0 0 10px;
        }

        .value {
          font-size: 1rem;
          color: #656A84;
          margin: 0 0 0 10px;
        }
      }
    }
  }

  .chart-statistics {
    min-width: initial !important;
    display: flex;
    flex-direction: column;
    position: relative;

    grid-area: chartStatistics;

    &.disabled {
      .section-header,
      .chart-block {
        filter: grayscale(100%);
      }
    }

    .section-header {
      height: 27px;

      .tabs {
        display: flex;
        background: #F5F5FF;
        border-radius: 4px;
        padding: 5px 0;

        & > div {
          font-size: 0.8571428571428571rem;
          color: #656A84;
          margin: 0 5px;
          padding: 2px 10px;
          cursor: pointer;

          &.active {
            background: #FFFFFF;
            box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
            border-radius: 6px;
            color: #6D6DF6;
          }
        }
      }

      .sorter {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #343C5A;
        position: relative;

        .select {
          z-index: 1000;

          .custom-select {
            width: 10rem;
            height: 2.2857142857142856rem;
            border: 1px solid #C9CBD4;
            padding: 0;
            border-radius: 4px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:hover {
              border-color: #343C5A !important;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            .ant-select-selection {
              border: 0;

              .ant-select-selection-selected-value {
                font-size: 0.8571428571428571rem;
                padding: 1.0714285714285714rem;
              }
            }
          }
        }

        .select.first {
          .custom-select {
            border-color: #7DD4A1;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);


            .ant-select-selection-selected-value {
              color: #7DD4A1;
            }

            .ant-select-arrow {
              svg {
                use {
                  stroke: #7DD4A1;
                }
              }
            }
          }
        }

        .select.second {
          .custom-select {
            border-color: #6D6DF6;

            .ant-select-selection-selected-value {
              color: #6D6DF6;
            }

            .ant-select-arrow {
              svg {
                use {
                  stroke: #6D6DF6;
                }
              }
            }
          }
        }

        .select.first,
        .select.second {
          .default-border {
            border-color: #C9CBD4;

            .ant-select-selection-selected-value {
              color: #C9CBD4;
            }

            .ant-select-arrow {
              svg {
                use {
                  stroke: #C9CBD4;
                }
              }
            }
          }
        }

        & > div {
          position: relative;
        }

        & > span {
          min-width: 35px;
          text-align: center;
          font-weight: 500;
        }

        .full-width-menu {
          width: 100% !important;
          right: 0 !important;
          left: auto !important;
        }
      }
    }

    .chart-block {
      width: 100%;
      height: 100%;
      flex: 1;

      .recharts-cartesian-axis-line {
        stroke: #C9CBD4;
      }

      .recharts-cartesian-axis-ticks {
        text-anchor: middle;
      }

      &.active {
        display: flex;
      }
    }

    .day-chart,
    .hour-chart {
      width: 100%;

      .recharts-layer.recharts-cartesian-axis-tick {
        .recharts-cartesian-axis-tick-line {
          display: none;
        }

        .recharts-cartesian-axis-tick-value {
          margin: 0 20px 0 0;
        }
      }
    }

    .day-and-hour-chart {
      flex: 1;
      flex-direction: column;

      .statistics {
        margin: 15px 0 0 0;

        .row {
          margin: 0 0 0.35714285714285715rem 0;
          align-items: flex-end;
          flex-wrap: nowrap;

          &:last-child {
            margin: 0;
          }

          .day-name {
            width: 1.0714285714285714rem;
            background: inherit;
            text-align: center;
            padding: 0 0 1px 0;
            margin: 0 2px 0 0;
          }

          .time-name {
            margin: 0 0 5px 0;
          }

          .statistic-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            font-size: 0.8571428571428571rem;
            text-align: center;
            color: #656A84;

            text-transform: lowercase;

            .custom-tooltip {
              width: 100%;
              margin: 0;
            }

            .statistic-information {
              width: 1.4285714285714286rem;
              height: 1.4285714285714286rem;
              background: #B6B6FB;
              border-radius: 4px;
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }


  .keys-keywords {
    position: relative;

    &::before {
      content: 'Soon ...';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 12, 23, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      font-size: 50px;
      color: rgba(246, 247, 255, 0.67);
      border-radius: 4px;
    }

    .section-header {
      display: flex;
      justify-content: space-between;

      .tabs {
        width: 60%;
        display: flex;
        justify-content: space-between;

        & > div {
          font-size: 1rem;
          color: #343C5A;
          flex: 1;
          text-align: center;
          cursor: pointer;
          border-right: 1px solid #C9CBD4;

          &:last-child {
            border: 0;
          }
        }
      }
    }

    .words {
      display: flex;
      flex-wrap: wrap;
      margin: 2.142857142857143rem 0 0 0;

      span {
        display: block;
        border: 1px solid rgba(148, 163, 173, 0.4);
        border-radius: 4px;
        padding: 3px 5px;
        margin: 5px 5px 0 0;
      }
    }
  }

  .placements-statistics {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    position: relative;

    &.disabled {
      .section-header,
      .row {
        filter: grayscale(100%);
      }
    }


    .section-header {
      width: 70%;
      align-items: center;
      margin: 0 0 10px 0;

      .chart-legend {
        flex: 1;
        display: flex;
        justify-content: space-around;

        & > div {
          display: flex;
          margin: 0 0 0 10px;

          .col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 10px 0 0;

            &:first-child {
              align-items: center;
            }

            .example {
              width: 0.8571428571428571rem;
              height: 0.8571428571428571rem;
              border-radius: 50%;
            }

            img {
              width: 0.7142857142857143rem;
            }
          }

          .chart-name {
            display: flex;
            align-items: center;
            font-size: 1rem;
          }

          .changes-value {
            display: flex;
            align-items: center;

            img {
              width: 0.5714285714285714rem;
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }

    .chart {
      width: 49%;
      padding: 0;
      margin: 0;
      box-shadow: none;

      .recharts-active-dot {
        z-index: 10000000 !important;
      }

      .recharts-responsive-container.responsive-bar-container {
        margin: 0;
      }

      .yAxis {
        .recharts-cartesian-axis-tick-line {
          display: none;
        }

        .recharts-cartesian-axis-line {
          display: none;
        }
      }

      .xAxis {
        .recharts-cartesian-axis-tick-line {
          stroke: rgba(101, 106, 132, 0.2);
        }

        .recharts-cartesian-axis-line {
          display: none;
        }
      }
    }

    .metrics-statistics {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 8px;

      .metrics-name {
        border: 0 !important;
        border-radius: 10px;
        padding: 0 !important;

        div {
          display: flex;
          justify-content: center;
          padding: 3px 0;
          background: #F4F4F4;


          &:first-child {
            width: 25%;
            background: #fff;
          }

          &:nth-child(2) {
            border-radius: 10px 0 0 10px;
          }

          &:last-child {
            border-radius: 0 10px 10px 0;
          }
        }
      }

      .row {
        border-bottom: 1px solid #E0E1E6;
        padding: 20px 0;

        &:last-child {
          border: 0;
        }

        .parameter-name {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 25%;
          font-size: 1rem;
          font-weight: 600;
          color: #656A84;

          div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: 0 5px 0 0;
          }
        }

        & > div {
          width: 19%;
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            width: 6px;
            height: 2px;
            background: #000c17;
            margin: 0 2px 0 0;
          }

          svg {
            margin: 0 2px 0 0;
            width: 0.5714285714285714rem;
            height: 0.8571428571428571rem;
          }
        }
      }
    }
  }
}


