.dayparting-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: ir;
  grid-column-gap: 1.64286em;
  grid-row-gap: 1.64286em;
  grid-template-areas: "lastSynced lastSynced" "spendStatistics chartStatistics" "daySwitches daySwitches";


  .last-synced {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px 0;

    grid-area: lastSynced;

    font-weight: bold;
    font-size: 0.8571428571428571rem;
    color: #343C5A;

    .reload-btn {
      margin: 0 30px 0 0;

      img {
        width: 1rem;
        height: 20px;
      }
    }

    .color-gradation {
      display: flex;
      margin: 0 0 0 30px;
      align-items: center;

      div {
        width: 32px;
        height: 0.8571428571428571rem;

        &:first-child {
          margin: 0 0 0 10px;
          border-radius: 2px 0 0 2px;
        }

        &:last-child {
          margin: 0 10px 0 0;
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    background: #fff;
    box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
    border-radius: 4px;
    padding: 1.4285714285714286rem 1.0714285714285714rem 1.0714285714285714rem;

    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h2 {
        font-size: 1.4285714285714286rem;
        letter-spacing: -0.06px;
        color: #343C5A;
        margin: 0;
      }
    }
  }

  .spend-statistics {
    flex: 1;
    grid-area: spendStatistics;

    .section-header {
      .out-of-budget {
        display: flex;
        align-items: center;
        font-size: 0.8571428571428571rem;
        color: #343C5A;

        div {
          width: 12px;
          height: 12px;
          background: #EC7F5C;
          border-radius: 2px;
          margin: 0 10px 0 0;
        }
      }

      .btn {
        padding: 0 20px;
      }
    }

    .statistics {
      margin: 15px 0 0 0;

      .row {
        margin: 0 0 5px 0;
        align-items: flex-end;
        flex-wrap: nowrap;

        .day-name {
          width: 20px;
          background: inherit;
          text-align: center;
          padding: 0 0 1px 0;
        }

        .statistic-item {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 5px 0 0;

          font-size: 0.8571428571428571rem;
          text-align: center;
          letter-spacing: -0.4375px;
          color: #656A84;

          text-transform: lowercase;

          .custom-tooltip {
            width: 100%;
            margin: 0;
          }

          .statistic-information {
            width: 100%;
            height: 1.4285714285714286rem;
            background: #B6B6FB;
            border-radius: 4px;

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .chart-statistics {
    flex: 1;
    display: flex;
    flex-direction: column;

    grid-area: chartStatistics;

    .section-header {
      .tabs {
        display: flex;
        background: #F5F5FF;
        border-radius: 8px;
        padding: 5px 0;

        & > div {
          font-size: 0.8571428571428571rem;
          color: #656A84;
          margin: 0 5px;
          padding: 2px 10px;
          cursor: pointer;

          &.active {
            background: #FFFFFF;
            box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
            border-radius: 6px;
            color: #6D6DF6;
          }
        }
      }

      .sorter {
        .ant-select {
          margin: 0 0 0 25px;
          width: 100px;
        }
      }
    }

    .chart-block {
      flex: 1;
    }

    .day-chart {
      width: 100%;

      .recharts-layer.recharts-cartesian-axis-tick {
        .recharts-cartesian-axis-tick-line {
          display: none;
        }

        .recharts-cartesian-axis-tick-value {
          margin: 0 20px 0 0;
        }
      }
    }

    .day-and-hour-chart {
      padding: 25px 0 0 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .row {
        display: flex;
        align-items: center;

        &:last-child {
          margin: 0;
        }

        .day-name {
          width: 20px;
        }

        .statistic-item {
          flex: 1 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 5px 0 0;
          font-size: 0.85714286rem;
          text-align: center;
          letter-spacing: -0.4375px;
          color: #656A84;
          text-transform: lowercase;

          .custom-tooltip {
            width: 100%;
            margin: 0;

            .statistic-information {
              width: 12px;
              height: 12px;
              background: #B6B6FB;
              border-radius: 2px;
            }
          }


        }
      }
    }
  }

  .day-switches {
    display: flex;
    flex-direction: column;
    grid-area: daySwitches;

    .section-header {
      margin: 0 0 2.142857142857143rem 0;

      .actions {
        display: flex;

        .disabled-example,
        .active-example {
          display: flex;
          align-items: center;
          font-size: 0.8571428571428571rem;
          color: #343C5A;
          margin: 0 20px 0 0;

          div {
            width: 0.8571428571428571rem;
            height: 0.8571428571428571rem;
            border-radius: 2px;
            margin: 0 10px 0 0;
          }
        }

        .disabled-example div {
          background: #C9CBD4;
        }

        .active-example div {
          background: #6D6DF6;
        }

        button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.8571428571428571rem;
          height: 2.2857142857142856rem;
          width: 7.142857142857143rem;
          border: 1px solid #C9CBD4;
          box-sizing: border-box;
          border-radius: 64px;
          padding: 0 10px;

          img {
            width: 1.1428571428571428rem;
          }
        }
      }
    }


    .switches {
      width: 100%;

      .row {
        margin: 0 0 5px 0;
        align-items: flex-end;

        .day-name {
          display: flex;
          width: 7%;

          button {
            margin: 0 5px 0 0;
          }
        }

        .statistic-item {
          flex: 1;
          margin: 0 5px 0 0;

          &:last-child {
            margin: 0;
          }

          .statistic-information {
            height: 1.7142857142857142rem;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .keys-keywords {
    position: relative;

    &::before {
      content: 'Soon ...';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 12, 23, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      font-size: 50px;
      color: rgba(246, 247, 255, 0.67);
    }

    .section-header {
      display: flex;
      justify-content: space-between;

      .tabs {
        width: 60%;
        display: flex;
        justify-content: space-between;

        & > div {
          font-size: 1rem;
          letter-spacing: -0.05px;
          color: #343C5A;
          flex: 1;
          text-align: center;
          cursor: pointer;
          border-right: 1px solid #C9CBD4;

          &:last-child {
            border: 0;
          }
        }
      }
    }

    .words {
      display: flex;
      flex-wrap: wrap;
      margin: 2.142857142857143rem 0 0 0;

      span {
        display: block;
        border: 1px solid rgba(148, 163, 173, 0.4);
        border-radius: 4px;
        padding: 3px 5px;
        margin: 5px 5px 0 0;
      }
    }
  }

  .placements-statistics {
    display: flex;
    flex-direction: column;

    .chart {
      width: 100%;
      padding: 0;

      .recharts-responsive-container.responsive-bar-container {
        margin: 0;
      }
    }
  }
}
