.create-product-ads-window {
  max-width: 1000px;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &.w-50 {
      width: 50%;
    }

    label {
      font-size: 1rem;
      font-weight: 500;
      color: #343C5A;
      margin-bottom: 5px;
    }

    .custom-select {
      height: 2.2857142857142856rem;
      font-size: 1rem;
      transition: 0s !important;

      & * {
        transition: 0s !important;
      }
    }
  }


  .product-ads-details-step {
    h3 {
      margin-top: 0;
    }
  }
}
