.monthly-report-page .metric-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 140px;
  height: 100px;
  padding: 8px 12px 8px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 0.5%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  .active-metric {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;

    &.position-0 {
      background: #FF5256;
    }

    &.position-1 {
      background: #9464B9;
    }

    &.position-2 {
      background: #FFAF52;
    }

    &.position-3 {
      background: #7FD3A1;
    }
  }
}