.create-targetings-window {
  h3 {
    margin: 0 !important;
  }

 .targetings-details-step .negative-keywords > .row .added-keywords > .row button {
   &:disabled {
     color: #C9CBD4;

     &:hover {
       cursor: not-allowed;
       text-decoration: none;
     }
   }
 }
}

.infinity-select-popup {
  .ant-spin {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
