.create-targetings-window {
  h3 {
    margin: 0 !important;
  }

  .targetings-details-step .negative-keywords > .row .added-keywords > .row button {
    &:disabled {
      color: #C9CBD4;

      &:hover {
        cursor: not-allowed;
        text-decoration: none;
      }
    }
  }

  .targeting-type-loading {
    display: flex;
    justify-content: center;
    font-size: 1.1428571428571428rem;
    margin: 20px 0 0 0;

    .ant-spin {
      margin: 0 0 0 20px;
    }
  }

  .block-description {
    font-size: 0.85714286rem;
    line-height: 1rem;
    color: #656A84;
    margin-bottom: 20px;
  }

  .ant-radio-group {
    label.ant-radio-wrapper {
      margin-bottom: 0 !important;

      font-size: 1rem;
      color: #343C5A;

    }

    .radio-description {
      margin: 0 0 0 32px;
      font-size: 0.8571428571428571rem;
      line-height: 1rem;

      color: #656A84;

    }
  }

  .bid-block {
    margin-bottom: 18px;

    h3 {
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      color: #343C5A;
    }

    .form-group {
      margin: 15px 0 0 0 !important;

      .InputCurrency {
        height: 2.2857142857142856rem;
      }
    }
  }

  .negative-keywords {
    .ant-radio-group {
      flex-direction: row;

      .ant-radio-wrapper {
        span:last-of-type {
          padding: 0;
        }
      }
    }

    .actions {
      align-items: center;

      p {
        margin: 0 auto 0 0;
        font-size: 1rem;
        color: #343C5A;

        button {
          color: #6d6df6;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btn {
        height: max-content;
        min-height: 2.28571429rem;
        position: relative;
        margin: 0 0 0 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        .ant-spin {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .keywords-list {
      .header {
        width: 100%;
        grid-template-columns: 45% 27% 27% !important;
      }

      ul {
        li {
          display: flex;
          position: relative;

          .text {
            width: 45% !important;
          }

          .type, .value {
            width: 27% !important;
          }

          .btn {
            position: absolute;
            right: 5px;
          }
        }
      }

      .InputCurrency {
        width: 80px;
        height: 1.7142857142857142rem;

        .Dollar {
          height: 75%;
          right: 5px;

          svg {
            width: auto;
            height: 100%;
          }
        }

        input {
          padding-left: 5px;
        }
      }
    }
  }
}

.infinity-select-popup {
  .ant-spin {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
