.ProductItem {
    background: #fff;
    border-radius: 4px;
    display: flex;
    padding: 4px;
    margin: 4px;
    justify-content: space-between;
    align-items: flex-start;

    .image {
        padding: 4px;

        img {
            max-width: 72px;
            max-height: 72px;
        }

    }

    .content {
        flex: 1;

        .caption {
            font-weight: 900;
        }

        .detail {
            span:first-child {
                font-weight: 900;
            }
        }
    }
}