.ProductItem {
    background: #fff;
    opacity: 0.4;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
    }

    &.active {
        background: #fff;
        opacity: 1;
    }

    border-radius: 4px;
    display: flex;
    padding: 4px;
    margin: 4px;
    justify-content: space-between;
    align-items: flex-start;

    .image {
        padding: 4px;

        img {
            max-width: 72px;
            max-height: 72px;
        }

    }

    & > div.product-item-content {
        flex: 1 1;

        .caption {
            font-weight: 900;
            //white-space: nowrap; /* Запрещаем перенос строк */

        }

        .detail {
            span:first-child {
                font-weight: 900;
            }
        }
    }
}