.zth .word-sorter {
  height: 82vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 20px;

    .form-group {
      width: 100%;
      display: flex;
      margin: 0 20px 0 0;

      label {
        font-size: 1rem;
        margin: 0 10px 5px 0;
      }

      .custom-select {
        width: 100%;
        height: 2.2857142857142856rem;
      }
    }

    .reset {
      margin: auto 0 0 auto;
      height: 3rem;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .work-area {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;

    ul {
      list-style: none;
      margin: 0;

      li {
        min-height: 2.857142857142857rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding: 5px 15px 5px;

        a {
          margin: 0 10px 0 0;
          display: flex;
          align-items: center;

          svg {
            width: 1.4285714285714286rem;
            min-width: 1.4285714285714286rem;
            height: 1.4285714285714286rem;
          }
        }
      }

      .remove-item {
        padding: 0;
        width: 2.2857142857142856rem;
        min-width: 2.2857142857142856rem;
        height: 2.2857142857142856rem;
        margin: 0 0 0 auto;
      }
    }

    .card {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 4px;
      display: flex;
      flex-direction: column;

      .block-header {
        min-height: 4.142857142857143rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding: 5px 15px;
        display: flex;
        align-items: center;

        h3 {
          margin: 0;
          font-size: 1.1428571428571428rem;
        }

        .count {
          font-size: 1.1428571428571428rem;
          font-weight: bold;
          margin: 0 0 0 10px;
        }

        .btn {
          height: 2.5714285714285716rem;
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0 0 0 auto;
        }
      }
    }

    .input {
      display: flex;
      flex-direction: column;

      .card {
        flex: 1;
        border: 0;

        .block-header {
          border: 1px solid rgba(0, 0, 0, 0.125);
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
        }

        .form-group {
          padding: 0;

          textarea {
            border-radius: 0 0 4px 4px;
          }
        }

        &:first-child {
          margin-bottom: 20px;
        }
      }

      .form-group {
        width: 100%;
        padding: 13px 15px;
        flex: 1;
        display: flex;
        flex-direction: column;

        textarea {
          flex: 1;
          resize: none;
          padding: 10px;
          font-size: 1rem;

          &:disabled {
            pointer-events: none;
            color: #2d2045;
          }
        }

      }
    }

    .output {
      ul {
        li {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
          padding: 5px 15px 2px;

          &.hidden {
            display: none;
          }

          .phrase {
            display: flex;
            flex-wrap: wrap;

            div {
              padding: 1px 3px 2px;
              cursor: pointer;
              border: 1px dotted #fff;
              font-size: 1rem;
              line-height: 1.7142857142857142rem;

              &:hover {
                color: #6D6DF6;
                border: 1px dotted #6D6DF6;
                border-radius: 5px;
              }
            }
          }


          .btn {
            padding: 0;
            margin: 0 10px 0 auto;
            width: 2.142857142857143rem;
            min-width: 2.142857142857143rem;
            height: 2.142857142857143rem;
          }

          .ant-checkbox-wrapper {
            width: 1.1428571428571428rem;
            min-width: 1.1428571428571428rem;
            height: 1.1428571428571428rem;
            display: flex;
            margin: 2px 0 0 0;

            .ant-checkbox {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .phrases {
      ul {
        li {
          .btn.remove-all {
            width: 2.2857142857142856rem;
            min-width: 2.2857142857142856rem;
            height: 2.2857142857142856rem;
            padding: 0;
            margin: 0 0 0 10px;

            svg {
              width: 60%;
              height: 60%;
              fill: #fff;
              stroke: #656A84;
            }

            &:hover {
              svg {
                stroke: #6D6DF6;
              }
            }
          }
        }
      }
    }
  }
}

.ant-select-dropdown-menu-item-group-title {
  font-size: 1rem;
  color: #000;
}