.account-drawer {
  .ant-drawer-content-wrapper {
    width: max-content !important;
  }

  .ant-drawer-body {
    width: 520px;
    height: 100%;
    padding: 3em;
    position: relative;

    .close-btn {
      font-size: 2.2857rem; // 32px
      line-height: 0.5938em;
      position: absolute;
      top: 0.71875em;
      right: 0.71875em;
      transform: scale(1);
      transition: all 0.1s ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }

    h3 {
      font-family: ir;
      font-size: 1.4285714285714286rem;
      line-height: 2.142857142857143rem;
      letter-spacing: 0.4px;
      color: #38454F;
      text-align: center;
      padding: 1em 0 3.5em 0;
      margin: 0;
    }

    .form-group {
      border: 0;

      label {
        display: block;
        margin: 0 0 6px 0;
        font-family: ir;
        font-size: 0.9285714285714286rem;
        letter-spacing: -0.4375px;
        color: #38454F;
      }

      input,
      .ant-select-selection--single,
      .ant-input-number {
        height: 40px;
        width: 100%;
        border-radius: 8px;
      }

      .ant-select-selection--single {
        .ant-select-selection__rendered,
        .ant-select-selection-selected-value {
          height: 100%;
          line-height: 40px;
        }
      }

    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .button-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: auto 0 0 0;

      button {
        width: 48%;
      }
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;

      .ant-input {
        border-radius: 8px;
      }
    }

    .update-company-information {
      height: 100%;
      display: flex;
      flex-direction: column;

      form {
        .row {
          margin: 0 0 10px 0;

          .form-group {
            width: 48%;
          }

          .company-name {
            width: 100%;
          }
        }

      }
    }

    .add-card-window {
      height: 100%;
      display: flex;
      flex-direction: column;

      h4 {
        font-family: isb;
        font-size: 1.1428571428571428rem;
        letter-spacing: 0.4px;
        color: #8FD39D;
      }

      .card-container {
        .card-container__card,
        .card-container__expiry,
        .card-container__cvc {
          label {
            display: block;
            margin: 0 0 6px 0;
            font-family: ir;
            font-size: 0.9285714285714286rem;
            letter-spacing: -0.4375px;
            color: #38454F;
          }

          & > div {
            border: 1px solid rgba(148, 163, 173, 0.4);
            border-radius: 8px;
            height: 40px;
            line-height: 40px;
            padding: 10px 0 10px 1em;
            box-sizing: border-box;
          }
        }

        .fake-card-field {
          display: flex;
          align-items: center;
          background: rgba(232, 237, 241, 0.58);
        }

        .row {
          align-items: flex-end;
          margin: 24px 0 30px 0;

          .card-container__expiry,
          .card-container__cvc {
            width: 80px;
          }

          img {
            margin: 0 0 13px 0;
          }

          p {
            margin: 0 0 5px 0;
          }
        }
      }

      .logo-block {
        display: flex;

        img {
          margin: 0 25px 0 0;

          &:last-child {
            margin: 0 0 0 auto;
          }
        }
      }
    }

    .update-card-info {
      .billing-address-block {
        border-top: 1px solid rgba(201, 203, 212, 0.5);
        padding: 50px 0 0 0;
        margin: 45px 0 0 0;

        .row {
          .form-group {
            width: 48%;


            &.w-100 {
              width: 100%;
            }
          }

          &:nth-child(3) {
            .form-group {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

