.optimization-includes {


  ul, .ant-checkbox-group {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;

    li {
      width: 100%;
      font-size: 1rem;
      color: #343C5A;
      display: flex;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        min-width: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        margin: 0 10px 0 0;
        border: 1.5px solid #6D6DF6;
      }

      &.soon {
        img {
          position: absolute;
          left: 10.714285714285714rem;
          top: -8px;
          height: 1.1428571428571428rem;
        }
      }
    }

    span {
      font-size: 1.1428571428571428rem;
      line-height: 1.3571428571428572rem;
      color: #343C5A;
      font-weight: 500;
    }

    .ant-checkbox-group-item {
      width: 100%;
      display: flex;
      align-items: center;

      span:last-child {
        flex: 1;
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        color: #343c5a;
      }
    }

    .ant-checkbox {
      width: 1.2857142857142858rem;
      height: 1.2857142857142858rem;
      margin: 1px 0 -1px 0;

      input, span {
        width: 100%;
        height: 100%;
      }
    }
  }

  .ant-checkbox-group {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1400px) {
    & {
      flex: 1;
      min-width: 100%;

      ul, .ant-checkbox-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

        li {
          &.soon::after {
            position: initial;
            margin: -12px 0 0 5px;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    & {
      ul {
        li {
          width: auto;
          overflow-wrap: break-word;
        }
      }
    }
  }
}