.landing-about-us {
  .block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;

    h2 {
      font-family: e3sb;
      color: #2c303a;
      font-weight: 600;
      font-size: 33px;
      line-height: 48px;
    }

    p {
      color: #7c8a95;
      line-height: 28px;
      font-size: 16px;
      max-width: 650px;
      margin: 0 auto;
      padding-top: 10px;
      text-align: left;
      font-family: e2r;
    }

    &.ta-left {
      text-align: left;
      align-items: flex-start;
    }

    .ttl {
      font-family: e2sb;
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 22px;
      text-transform: uppercase;
      color: #50e3c2
    }
  }

  .box {
    width: 1360px;
    margin: 0 auto;
  }

  .hero-section {
    background: url(../../../assets/img/landing-about/new_about_bg.jpg) top center no-repeat;
    background-size: 1920px;
    padding-bottom: 70px;
    position: relative;
    text-align: center;
    min-height: 800px;
    z-index: 9999;

    header {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .title h1 {
      font-family: eb;
      margin-bottom: 45px;
      margin-top: 30px;
      font-size: 100px;
      color: #363694;
    }

    .title p {
      font-family: e2r;
      font-size: 20px;
      line-height: 30px;
      max-width: 550px;
      margin: 0 auto;

      color: #363694;
    }

    .title .scroll-down {
      width: 40px;
      height: 40px;
      display: inline-block;
      background: #fff;
      -webkit-box-shadow: 0 0 20px rgba(109, 109, 246, .08), 0 16px 24px rgba(109, 109, 246, .12);
      box-shadow: 0 0 20px rgba(109, 109, 246, .08), 0 16px 24px rgba(109, 109, 246, .12);
      border-radius: 4px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      cursor: pointer;
    }

    .title .scroll-down:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url(../../../assets/img/landing-automation/scroll.svg) center no-repeat;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .image {
      width: 720px;
      margin-top: 125px;
      position: relative
    }

    .image img {
      right: -90px;
      position: relative
    }
  }


  .our-story {
    overflow: hidden;
    padding-top: 50px;


    .inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1240px;
      padding-right: 150px;
      margin: 0 auto
    }

    .text {
      width: 400px;

      .block-title {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .images {
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 505px;
      height: 715px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center
    }

    .images .img {
      border-radius: 4px;
      overflow: hidden
    }

    .images .img img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover
    }

    .images .img:nth-child(1) {
      width: 240px;
      height: 320px;
      margin-bottom: 25px;
      margin-right: 25px
    }

    .images .img:nth-child(2) {
      width: 200px;
      height: 240px;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-right: 25px
    }

    .images .img:nth-child(3) {
      width: 240px;
      height: 360px;
      margin-bottom: 25px
    }

    .images .img:nth-child(4) {
      width: 120px;
      height: 155px
    }

    .images:before {
      content: "";
      position: absolute;
      top: 0;
      right: -150px;
      background: url(../../../assets/img/landing-about/about_our_story.svg) center no-repeat;
      width: 696px;
      height: 718px;
      z-index: -1
    }

  }

  .features {
    padding: 25px 0;


    .list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      max-width: 1100px;
      margin: 0 auto;
      margin-top: 20px
    }

    .list .item {
      width: calc(100% / 3);
      text-align: center;
      padding-left: 15px;
      padding-right: 15px
    }

    .list .item:nth-child(1) .img .icon {
      background: rgba(227, 119, 94, .4)
    }

    .list .item:nth-child(1) .title {
      color: #e3775e
    }

    .list .item:nth-child(2) .img .icon {
      background: rgba(93, 48, 214, .4)
    }

    .list .item:nth-child(2) .title {
      color: #5d30d6
    }

    .list .item:nth-child(3) .img .icon {
      background: rgba(111, 207, 151, .3)
    }

    .list .item:nth-child(3) .title {
      color: #27ae60
    }

    .list .item .img .icon {
      width: 56px;
      height: 56px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 4px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: auto
    }

    .list .item .title {
      padding-top: 30px;
      font-weight: 600;
      font-size: 16px
    }

    .list .item p {
      color: #7c8a95;
      font-size: 13px;
      padding-top: 15px;
      line-height: 21px
    }

  }


  .our-mission {

    .inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1240px;
      margin: 0 auto;
      padding-left: 65px
    }

    .text {
      width: 640px
    }

    .images {
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 425px;
      height: 715px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 100px 0;
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1
    }

    .images .img {
      border-radius: 4px;
      overflow: hidden
    }

    .images .img img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover
    }

    .images .img:nth-child(1) {
      width: 200px;
      height: 240px;
      margin-bottom: 25px;
      margin-right: 25px
    }

    .images .img:nth-child(2) {
      width: 100px;
      height: 120px;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-right: 25px
    }

    .images .img:nth-child(3) {
      width: 160px;
      height: 145px;
      margin-bottom: 25px
    }

    .images .img:nth-child(4) {
      width: 200px;
      height: 240px
    }

    .images:before {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      background: url(../../../assets/img/landing-about/about_our_story.svg) center no-repeat;
      width: 696px;
      height: 718px;
      z-index: -1;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg)
    }

  }

  .crew {

    .box {
      position: relative;
      z-index: 1;
      padding-bottom: 200px
    }

    .box:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../../../assets/img/landing-about/circle_img.svg) center no-repeat;
      width: 958px;
      height: 958px;
      margin: auto;
      background-size: contain;
      z-index: -1
    }

    .block-title {
      max-width: 480px;
      margin: 0 auto;
      padding: 0;

      p {
        text-align: center;
      }
    }

    .team {
      min-height: 580px;
      position: relative
    }

    .team .plus {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 9;
      display: block;
      color: #6d6df6;
      font-weight: 600;
      font-size: 16px
    }

    .team .plus:hover span {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(-24.87%, #060472), color-stop(141.49%, #ea9cff));
      background: -o-linear-gradient(bottom, #060472 -24.87%, #ea9cff 141.49%);
      background: linear-gradient(0deg, #060472 -24.87%, #ea9cff 141.49%)
    }

    .team .plus span {
      display: block;
      background: -o-linear-gradient(20.3deg, #060472 -24.87%, #ea9cff 141.49%);
      background: linear-gradient(69.7deg, #060472 -24.87%, #ea9cff 141.49%);
      -webkit-box-shadow: 0 16px 16px rgba(99, 114, 150, .08), 0 6px 40px rgba(99, 114, 150, .03), 0 0 16px rgba(99, 114, 150, .03);
      box-shadow: 0 16px 16px rgba(99, 114, 150, .08), 0 6px 40px rgba(99, 114, 150, .03), 0 0 16px rgba(99, 114, 150, .03);
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 80px;
      height: 80px;
      position: relative
    }

    .team .plus span:after, .team .plus span:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #fff;
      border-radius: 5px
    }

    .team .plus span:before {
      width: 22px;
      height: 3px
    }

    .team .plus span:after {
      height: 22px;
      width: 3px
    }

    .team .emp {
      position: absolute;
      text-align: center
    }

    .team .emp:nth-of-type(1) {
      left: 12%;
      top: 50px
    }

    .team .emp:nth-of-type(2) {
      left: 33%;
      top: 75px
    }

    .team .emp:nth-of-type(3) {
      right: 15%;
      top: 0
    }

    .team .emp:nth-of-type(4) {
      left: 10%;
      top: 50%
    }

    .team .emp:nth-of-type(5) {
      left: 30%;
      top: 45%
    }

    .team .emp:nth-of-type(6) {
      right: 30%;
      top: 30%
    }

    .team .emp:nth-of-type(7) {
      right: 35%;
      bottom: 5%
    }

    .team .emp:nth-of-type(8) {
      right: 12%;
      bottom: 15%
    }

    .team .emp:nth-of-type(9) {
      left: 33%;
      bottom: -13%
    }

    .team .emp .img {
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 80px;
      height: 80px
    }

    .team .emp .img img {
      vertical-align: top
    }

    .team .emp .name {
      color: #38454f;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0;
    }

    .team .emp .position {
      color: #7c8a95;
      font-size: 14px
    }

  }


  .office {
    padding-top: 20px;
    padding-bottom: 160px;
    position: relative;
    z-index: 1;


    .box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1200px
    }

    .text {
      width: 450px;
      text-align: center;

      .block-title {
        p {
          text-align: center;
        }
      }
    }

    .text address {
      border-top: 1px solid rgba(189, 198, 207, .5);
      padding-top: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-style: normal;
      color: #38454f;
      font-size: 16px
    }

    .text address img {
      margin-right: 30px
    }

    .image {
      width: 640px;
      border-radius: 4px;
      overflow: hidden
    }

    .image img {
      width: 100%;
      height: auto;
      vertical-align: top
    }

  }

  .subscribe {
    overflow: hidden;
    margin: 100px 0 0 0;


    .box {
      position: relative;
      padding-top: 60px;
      padding-bottom: 170px;
      z-index: 1
    }

    .box:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: url(../../../assets/img/landing-about/tail_img.svg) center no-repeat;
      z-index: -1;
      width: 1394px;
      height: 392px
    }

    .title {
      margin-bottom: 70px;
      text-align: center
    }

    .title h2 {
      font-weight: 600;
      font-size: 60px;
      color: #fff;
      margin-bottom: 25px;
      line-height: 1.3
    }

    .title p {
      font-size: 11px;
      color: #fff
    }

    form {
      position: relative;
      margin: 0 auto;
      width: 440px
    }

    form input {
      width: 100%;
      height: 56px;
      background: #fff url(../../../assets/img/landing-about/input_email_bg.svg) center left 16px no-repeat;
      border-radius: 8px;
      padding-left: 50px;
      font-size: 14px;
      color: #000;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border: 2px solid #fff
    }

    form input:focus {
      border-color: #6d6df6;
      outline: none;
    }

    form input::-webkit-input-placeholder {
      color: #7c8a95
    }

    form input::-moz-placeholder {
      color: #7c8a95
    }

    form input:-ms-input-placeholder {
      color: #7c8a95
    }

    form input::-ms-input-placeholder {
      color: #7c8a95
    }

    form input::placeholder {
      color: #7c8a95
    }

    form button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #6d6df6;
      border-radius: 4px;
      height: 100%;
      width: 160px;
      color: #fff;
      font-size: 14px;
      text-transform: capitalize
    }

  }

  @media screen and (max-width: 1440px) {
    .hero-section {
      background-size: 1440px;
      min-height: 600px
    }

    .box {
      width: 100%;
    }

    .fix-menu {
      left: 10px
    }

    .hero-section .title h1 {
      font-size: 60px;
      margin-bottom: 25px
    }

    .hero-section .title p {
      font-size: 18px
    }

    .our-story .inner {
      padding-right: 0;
      max-width: 980px
    }

    .our-mission .inner {
      padding-left: 0
    }

    .our-story {
      padding: 0
    }

    .subscribe .box {
      padding-top: 40px;
      padding-bottom: 125px
    }

    .office {
      padding-bottom: 100px
    }

    .crew .box {
      padding-bottom: 100px
    }

    .crew .box:before {
      top: 100px
    }

    .hero-section .inner .box {
      padding-left: 0
    }

    .our-mission .text {
      width: calc(100% - 450px)
    }

    .office .image {
      width: calc(100% - 475px)
    }

    .subscribe .box:before {
      width: 1170px;
      height: 330px;
      background-position: center;
      background-size: contain
    }

    .subscribe .title {
      margin-bottom: 35px
    }
  }

  @media screen and (max-width: 1020px) {
    .hero-section {
      background-size: 1090px;
      min-height: 450px
    }

    .hero-section .title h1 {
      font-size: 50px
    }

    .hero-section header {
      margin-bottom: 35px
    }

    .hero-section .inner .box {
      display: block;
      text-align: center
    }

    .hero-section .title {
      width: 100%
    }

    .hero-section .image {
      width: 100%;
      margin: 0
    }

    .hero-section .image img {
      max-width: 700px
    }

    .crew .box:before {
      display: none
    }

    .crew .team {
      min-height: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 50px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center
    }

    .crew .team .emp {
      position: static;
      width: 31%;
      margin-bottom: 25px;
      margin-left: 1%;
      margin-right: 1%
    }

    .crew .team .plus {
      width: 32%;
      position: static;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
      text-align: center
    }

    .fix-menu {
      display: none
    }

    .our-mission, .our-story {
      padding-top: 50px
    }

    .our-mission .inner, .our-story .inner {
      display: block
    }

    .our-mission .text, .our-story .text {
      width: 100%;
      max-width: 700px;
      margin: 0 auto
    }

    .our-mission .text .block-title, .our-story .text .block-title {
      padding: 0
    }

    .our-mission .text .block-title.ta-left, .our-story .text .block-title.ta-left {
      text-align: center
    }

    .our-mission .images, .our-story .images {
      margin: 0 auto
    }

    .our-mission .images {
      padding: 50px 0;
      height: 515px
    }

    .our-mission .images:before {
      background-size: contain;
      width: 500px;
      height: 615px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
    }

    .office .box {
      display: block
    }

    .office .text {
      width: 100%;
      margin-bottom: 20px
    }

    .office .text .block-title {
      padding-bottom: 15px
    }

    .office .text .block-title h2 {
      padding-bottom: 5px
    }

    .office .text .block-title p {
      padding-top: 5px
    }

    .office .text address {
      padding-top: 15px
    }

    .crew .box {
      padding-bottom: 25px
    }

    .office {
      padding-bottom: 50px
    }

    .office .image {
      width: 100%
    }

    .subscribe .box {
      padding-bottom: 100px
    }
  }

  @media screen and (max-width: 760px) {
    .hero-section .image img {
      max-width: 100%
    }

    .box {
      padding: 0 30px;

      .block-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
          text-align: center;
        }
      }
    }

    .our-story .images {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 25px
    }

    .our-story .images .img {
      width: 49% !important;
      height: 250px !important;
      margin: 0 !important;
      margin-bottom: 10px !important
    }

    .features .list {
      display: block;
      margin: 0
    }

    .features .list .item {
      width: 100%;
      margin-bottom: 25px
    }

    .features .list .item:last-child {
      margin-bottom: 0
    }

    .crew .team .emp {
      width: 48%
    }

    .crew .team .plus {
      width: 48%
    }

    .subscribe .title p {
      font-size: 14px;
      line-height: 1.2
    }

    .subscribe .title h2 {
      font-size: 40px;
      margin-bottom: 15px
    }

    .subscribe .box {
      padding-top: 55px
    }

    .our-mission {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 480px) {
    .box {
      padding-left: 10px !important;
      padding-right: 10px !important
    }

    .block-title h2 {
      font-size: 24px;
      line-height: 1.3
    }

    .block-title .ttl {
      margin-bottom: 10px
    }

    .hero-section .title h1 {
      font-size: 40px
    }

    .hero-section .title p {
      font-size: 14px;
      margin-bottom: 20px
    }

    .our-story .images .img {
      height: 200px !important
    }

    .our-mission .images {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 25px;
      padding: 0;
      padding-bottom: 50px
    }

    .our-mission .images:before {
      display: none
    }

    .our-mission .images .img {
      width: 49% !important;
      height: 200px !important;
      margin: 0 !important;
      margin-bottom: 10px !important
    }

    .office .text address {
      text-align: left
    }

    .office .text address img {
      margin-right: 10px
    }

    .subscribe form {
      display: block;
      width: 100%
    }

    .subscribe form label {
      width: 100%;
      margin-bottom: 20px
    }

    .subscribe form input {
      height: 45px
    }

    .subscribe .title {
      margin-bottom: 15px
    }

    .subscribe form button {
      width: 100%;
      position: static;
      height: 45px;
      margin-top: 10px
    }

    .our-mission {
      padding-top: 35px
    }

    .our-story {
      padding-top: 50px;
    }

    .features .list .item .title {
      padding-top: 15px
    }

    .features .list .item p {
      padding-top: 10px
    }

    .block-title {
      padding-bottom: 30px
    }

    .hero-section {
      background-size: 1400px;
      min-height: inherit
    }
  }
}
