.multi-text-area {
  border: 1px solid #C9CBD4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 15px 5px 5px;
  height: 150px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;

  .list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
  }

  .item-text {
    .custom-tooltip {
      margin: 0 0 0 10px;

      svg {
        width: 1.2142857142857142rem;
        height: 1.2142857142857142rem;
        margin: 0;
      }
    }
  }

  .ant-popover-inner-content {
    font-size: 1rem;
  }

  .item-text {
    height: 2.2857142857142856rem;
    padding: 0 10px;
    color: #6959AB;
    font-size: 0.8571428571428571rem;
    line-height: 0.8571428571428571rem;
    margin: 0 0 10px 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    border: 1px solid #6959AB;

    i {
      cursor: pointer;

      &:last-child {
        svg {
          stroke: #6959AB;
        }
      }
    }

    svg {
      width: 0.7142857142857143rem;
      height: 0.7142857142857143rem;
      margin: 0 0 0 10px;
    }

    &.not-valid {
      border: 1px solid #C9CBD4;
      background: #f5f5f5;
    }
  }

  input {
    flex: 1;
    min-width: 50px;
    border: 0;
    background: inherit;
    height: 2.2857142857142856rem;
    padding: 0;
    margin: 0 0 0 10px;

    &::placeholder {
      color: #C9CBD4;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.mistake-with-keyword {
  width: 450px;

  .ant-popover-inner-content {
    width: 100%;
    max-width: 100%;
    padding: 15px 20px;
  }

  p {
    font-size: 1rem;
    color: #343C5A;
    margin-bottom: 18px;
  }

  ol {
    margin: 0 0 0 15px;

    li {
      margin-bottom: 18px;
      text-align: justify;
      font-size: 1rem;
      color: #343C5A;

      &:last-child {
        margin: 0;
      }
    }
  }
}