@import "../../../../style/variables.less";
@import "../../../../style/mixins.less";

.LoginFormContainer {
    //display: flex;
    //width: 100vw;
    //height: 100vh;
    //align-items: center;
    //justify-content: center;
    //text-align: center;

    .LoginForm {
        display: inline-block;
        width: 300px;

        h3 {
            color: @action-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: @margin;
        }

        .form-button {
            width: 100%;
            background: @action-color;
            color: #fff;
            border: 0;
        }
    }
}

.LoginFormContainer {
    background: url('../../../../assets/img/sign-background.png') center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    letter-spacing: .4px
}

.email-input {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR…XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}

.input-container {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.input-container input {
    border: 0;
    outline: 0;
    border-bottom: solid 2px #38454f;
    height: 48px;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #38454f;
    font-family: ir;
    font-size: 16px;
    background: 0 0;
    width: 100%;
    outline: 0
}

.input-container input::-webkit-input-placeholder {
    color: transparent
}

.input-container input::-moz-placeholder {
    color: transparent
}

.input-container input:-ms-input-placeholder {
    color: transparent
}

.input-container input.has-content ~ label, .input-container input:-webkit-autofill ~ label, .input-container input:focus ~ label {
    top: -16px;
    left: 0;
    font-size: 12px
}

.input-container input.has-content::-webkit-input-placeholder, .input-container input:-webkit-autofill::-webkit-input-placeholder, .input-container input:focus::-webkit-input-placeholder {
    color: #aaa
}

.input-container input.has-content::-moz-placeholder, .input-container input:-webkit-autofill::-moz-placeholder, .input-container input:focus::-moz-placeholder {
    color: #aaa
}

.input-container input.has-content:-ms-input-placeholder, .input-container input:-webkit-autofill:-ms-input-placeholder, .input-container input:focus:-ms-input-placeholder {
    color: #7c8a95
}

.input-container select {
    border: 0;
    padding: 0;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
    background-color: transparent;
    display: table;
    letter-spacing: .16px;
    color: #38454f;
    width: 100%;
    outline: 0;
    font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    height: 48px;
    border-bottom: solid 2px #38454f;
    color: #38454f;
    font-family: ir;
    font-size: 16px
}

.input-container select ~ label {
    top: -16px;
    left: 0;
    font-size: 12px
}

.input-container label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1;
    color: #38454f;
    color: #aaa;
    font-family: im;
    font-size: 16px;
    letter-spacing: 0;
    transition: .3s;
    color: rgba(0, 0, 0, .38)
}

.input-container .image {
    position: absolute;
    right: 0;
    bottom: 4px
}

.input-container svg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0
}

.form-group {
    border: 1px solid #bdc6cf
}

.form-group .input-form-group {
    border-bottom: 1px solid #bdc6cf;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative
}

.form-group .input-form-group:last-child {
    border-bottom: 0
}

.form-group .input-form-group label {
    display: block;
    color: #7c8a95;
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 3px
}

.form-group .input-form-group input {
    color: #38454f;
    font-size: 16px;
    line-height: 28px;
    border: 0;
    width: 80%;
    outline: 0;
    padding: 0;

    &:focus {
        box-shadow: none;
    }
}

.form-group .input-form-group .pass-toggle {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 24px;
    margin: auto 0;
    height: 24px
}

.checkbox-label {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.checkbox-label input {
    display: none
}

.checkbox-label input:checked + i {
    background: #38454f
}

.checkbox-label i {
    content: "";
    display: inline-block;
    border: 2px solid #38454f;
    width: 16px;
    height: 16px;
    background: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 12px
}

.checkbox-label span {
    color: #7c8a95;
    font-size: 11px;
    line-height: 16px;
    order: 1;
}

.sign-page {
    padding-top: 40px;
    padding-bottom: 120px;

    .container {
        max-width: 1200px;
        background: #f3f7fd;
        border-radius: 2px;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        overflow: visible;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media (min-width: 768px) {
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .logo-auth {
        text-align: center;
        padding-bottom: 55px
    }

    .form-col {
        background: #fff
    }

    .form-col, .info-col {
        padding-top: 100px;
        padding-left: 74px;
        padding-right: 74px;
        padding-bottom: 90px
    }

    .title {
        color: #2c303a;
        font-size: 33px;
        font-family: im;
        padding-bottom: 30px
    }

    .sub-title {
        color: #38454f;
        font-size: 16px;
        line-height: 28px;
        padding-right: 70px;
        padding-bottom: 55px
    }
}

.sign-page .form-title {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 35px
}

.sign-page .billing {
    padding-top: 30px
}

.sign-page button.submit {
    width: 100%;
    height: 40px;
    background: #6d6df6;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    color: #fff;
    font-size: 12px;
    font-family: im;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    letter-spacing: .4px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.sign-page button.submit:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .1))), #6d6df6;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), #6d6df6;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), #6d6df6;
    background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), #6d6df6
}

.sign-page button.submit:active {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .2))), #6d6df6;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), #6d6df6;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), #6d6df6;
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), #6d6df6
}

.sign-page .form-details {
    font-size: 12px;
    line-height: 20px;
    color: #000;
    padding-top: 24px;
    padding-bottom: 20px
}

.sign-page .form-details a {
    font-size: 12px;
    color: #000;
    font-family: im
}

.sign-page .payments-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px
}

.sign-page .payments-row p {
    color: #7c8a95;
    font-size: 12px;
    line-height: 20px
}

.sign-page .info-list {
    padding-top: 80px;
    padding-bottom: 80px;
    list-style: none;
}

.sign-page .info-list li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    margin-bottom: 36px
}

.sign-page .info-list li::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 9px;
    border: solid 2px #2f7da4;
    -webkit-border-radius: 100%;
    border-radius: 100%
}

.sign-page .info-list li strong {
    font-family: im
}

.sign-page .info-list li:last-child {
    margin-bottom: 0
}

.sign-page .btn-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 40px;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    border: 1px solid #bdc6cf;
    color: #6d6df6;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px
}

.sign-page .btn-container a {
    font-family: im;
    margin-left: 3px;
    font-size: 16px
}

.sign-page .form-bottom {
    padding-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.sign-page .form-bottom a.forget {
    color: #38454f;
    font-size: 11px;
    line-height: 16px;
    font-family: im
}

.sign-page .form-btns {
    padding-top: 25px
}

.sign-page .form-btns a.sign-up-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    color: #2c303a;
    font-size: 12px;
    font-family: im;
    text-transform: uppercase;
    outline: 0;
    letter-spacing: .4px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.sign-page .form-btns a.sign-up-link:hover {
    background: #c4c4c4;
    text-decoration: none;
    color: #fff
}

.sign-page .form-btns a.sign-up-link:active {
    background: #000;
    border: 1px solid #000
}

.amazon-login-wrap p {
    padding-bottom: 10px
}

.amazon-login-wrap a {
    display: inline-block;
    max-width: 200px
}

.amazon-login-wrap a img {
    width: 100%
}

@media (max-width: 992px) {
    .sign-page .form-col, .sign-page .info-col {
        padding-left: 20px;
        padding-right: 20px
    }
}
