.optimize-strategy {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;

  .strategies {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10%;

    .all-strategies {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px 0;
      padding: 0 10px;

      .strategy-name {
        width: 180px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: e4sb;
        font-size: 1rem;
        letter-spacing: 0.4px;
        color: #7C8A95;
        transition: .1s;
        text-align: center;
        border-right: 1px solid rgba(208, 208, 208, 0.4);

        &:nth-child(3) {
          width: 230px;
        }

        &.active-strategy {
          border-bottom: 1px solid #6D6DF6;
        }

        &:hover {
          color: rgba(109, 109, 246, 0.76);
          cursor: pointer;
        }

        &.selected-strategy {
          font-size: 18px;
          letter-spacing: 0;
          color: #6D6DF6;
          cursor: auto;
          transition: .1s;
        }

        &:first-child {
          justify-content: flex-start;
        }

        &:last-child {
          justify-content: flex-end;
          border: 0;
        }
      }
    }

    .slick-slider {
      flex: 1;
      display: flex;

      .slick-list {
        width: 100%;
        margin: 0 auto;

        .slick-track {
          height: 100%;

          .slick-slide {
            padding: 0 10px;
            & > div {
              height: 100%;
            }
          }
        }
      }

      .prev, .next {
        display: none;
      }


      .strategy-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .description-block {
          flex: 1;
          display: flex;
          justify-content: space-between;
          position: relative;
          margin: 30px 0;

          .col {
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 {
              font-weight: bold;
              font-size: 1.1428571428571428rem;
            }

            p {
              font-size: 1rem;
              line-height: 1.1428571428571428rem;
              letter-spacing: 0.2px;
              color: #343C5A;
            }

            .value-list {
              margin: 25px 0 0 0;

              div {
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid rgba(208, 208, 208, 0.4);
                display: flex;
                justify-content: space-between;

                &:last-child {
                  border: 0;
                }

                .metric-name {
                  font-size: 1rem;
                  color: #343C5A;
                }

                .metric-value {
                  width: 35px;
                  font-size: 1rem;
                  color: #656A84;
                  text-align: left;

                  &.Mid {
                    color: #47B881;
                  }

                  &.High {
                    color: #6D6DF6;
                  }
                }
              }
            }
          }

          .image {
            display: flex;
            flex-direction: column;

            .target-acos {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin: 0 0 auto 0;

              font-weight: 600;
              font-size: 0.8571428571428571rem;
              letter-spacing: 0.2px;

              color: #283E70;

              .InputCurrency {
                margin: 0 30px;
              }

              .btn {
                text-transform: capitalize;
                padding: 0 20px;
              }
            }

            img {
              width: 85%;
              margin: 0 0 0 auto;
            }
          }
        }


        & > .col {
          margin: auto 0 0 0;

          .remark {
            font-weight: 600;
            font-size: 2.142857142857143rem;
            line-height: 2.142857142857143rem;
            text-align: center;
            letter-spacing: 0.2px;
            color: #17175A;
            margin: 0 0 30px 0;

            span {
              color: #6D6DF6;
            }
          }

          .btn {
            width: 20%;
            min-width: 150px;
            max-width: 300px;
            height: 3.4285714285714284rem;
            font-size: 1.1428571428571428rem;
            margin: 0 auto 20px auto;
            position: relative;
            text-transform: uppercase;

            svg {
              position: absolute;
              left: 20px;
            }

            &.stop-btn {
              background: #343c5a;
            }
          }
        }
      }
    }

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      & {
        padding: 0;

        .slick-slider .strategy-item .description-block {
          flex: 1;
          margin: 0;
        }

        .slick-slider .strategy-item .description-block .image img {
          width: 70%;
          margin: 0 0 0 auto;
        }

        .slick-slider .strategy-item .description-block .col .value-list {
          margin: 0;
        }

        .slick-slider .strategy-item > .col {
          margin: auto 0 0 0;

          .remark {
            margin: 0 0 15px 0;
          }

          .btn {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}