.optimize-strategy {
  flex: 1;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: space-between;
  }

  .strategy-list {
    width: 35%;
    display: flex;
    flex-direction: column;

    .strategy-item {
      height: 91px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.4285714285714286rem;
      border: 2px solid;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 20px;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }

      .row {
        justify-content: flex-start;
        align-items: center;

      }


      .title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.4285714285714286rem;
        color: #343C5A;

        i {
          margin: 0 6px 0 0;
          display: flex;
          align-items: center;

          svg {
            width: 2.857142857142857rem;
            height: 2.857142857142857rem;
          }
        }
      }

      .sales, .acos {
        font-size: 1.1428571428571428rem;
        font-weight: 500;
        color: #343C5A;
        display: flex;
        align-items: center;

        .starts {
          display: flex;
          align-items: flex-end;
          margin: 3px 0 0 10px;

          div {
            background: #C9CBD4;
            border-radius: 1px;
            margin: 0 4px 0 0;

            &:last-child {
              margin: 0;
            }

            &.active {
              &:first-child {
                background: linear-gradient(90deg, #83FED0 0%, #82F3D3 100%);
              }

              &:nth-child(2) {
                background: linear-gradient(90deg, #80E5D7 0%, #7DD7DB 100%);
              }

              &:nth-child(3) {
                background: linear-gradient(90deg, #7BC9DF 0%, #79B7E3 100%);
              }

              &:nth-child(4) {
                background: linear-gradient(90deg, #77A9E7 0%, #7394ED 100%);
              }

              &:nth-child(5) {
                background: linear-gradient(90deg, #7187F0 0%, #6E6EF7 100%);
              }
            }
          }
        }
      }

      .sales {
        margin: 0 30px 0 0;
      }

      .is-activated {
        margin: 0 0 0 auto;
      }

      .description {
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #656A84;
        display: none;
        margin: 20px 0 0 0;
      }

      &.selected {
        .description {
          display: block;
        }
      }
    }
  }

  &.slide-1 {
    .selected {
      height: 196px;
    }

    .optimization-action {
      i {
        margin-top: -5px;
      }
    }
  }

  &.slide-2 {
    .selected {

      height: 179px;
    }
  }

  &.slide-3 {
    .selected {

      height: 196px;
    }
  }

  &.slide-4 {
    .selected {

      height: 179px;
    }
  }

  &.slide-5 {
    .selected {

      height: 179px;
    }
  }

  .description {
    display: block;
  }


  .optimization-action {
    flex: 1;
    margin-left: -8px;
    display: flex;
    padding: 45px 0 0 0;
    position: relative;

    svg {
      width: 100%;
    }

    .btn {
      height: 67px;
      width: 295px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      line-height: 1.7857142857142858rem;
      font-weight: 500;
      position: absolute;
      left: 0;
      right: 0;
      top: 280px;
      margin: 0 auto;

      &.stop {
        background: #343C5A !important;

        &:hover {
          background: #24293F !important;
        }
      }

      svg {
        width: 15px;
        height: 18px;
        margin: 3px 0 0 10px;
      }
    }

    .target-acos-form {
      width: 340px;
      position: absolute;
      left: 0;
      right: 0;
      top: 3px;
      margin: 0 auto;
      border: 2px solid #EC7F5C;
      box-sizing: border-box;
      border-radius: 4px 4px 4px 0px;
      padding: 10px 15px 10px 10px;

      .row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        &:last-child {
          margin: 0 0 0 35px;
          justify-content: space-between;
        }
      }

      svg {
        width: 25px;
        height: 25px;
      }

      .question {
        height: 48px;
        width: max-content;
        color: #343C5A;
        display: flex;
        align-items: center;
        background: #F5F5FF;
        border: 2px solid #C9CBD4;
        box-sizing: border-box;
        border-radius: 4px 4px 4px 0px;
        margin: 0 0 0 10px;
        padding: 0 5px;

        font-size: 1.1428571428571428rem;
        line-height: 1.3571428571428572rem;
        font-weight: 500;
      }

      .field-block {
        height: 48px;
        display: flex;
        align-items: center;
        font-size: 1.1428571428571428rem;
        line-height: 1.3571428571428572rem;
        font-weight: 500;
        color: #EC7F5C;
        padding: 0 5px;

        background: rgba(236, 127, 92, 0.2);
        border: 2px solid #EC7F5C;
        box-sizing: border-box;
        border-radius: 4px 4px 4px 0px;

        .InputCurrency {
          width: 108px;
          height: 32px;
          margin: 0 0 0 10px;
        }
      }
    }
  }

  .strategy-statistic {
    display: flex;
    flex-direction: column;
    padding: 75px 0 0 0;

    .statistic-item {
      display: flex;
      align-items: center;
      margin-bottom: 75px;

      &:last-child {
        margin: 0;
      }

      i {
        margin: 0 15px 0 0;
      }

      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .name {
        font-size: 1.2857142857142858rem;
        line-height: 1.5714285714285714rem;
        color: #343C5A;
      }

      h4 {
        font-size: 2.142857142857143rem;
        line-height: 1.7142857142857142rem;
        color: #343C5A;
        margin: 0;
      }
    }
  }
}