@import '../../../style/variables.less';

.main-pages > .main-container > .user-cabinet {
  font-size: 0.714286rem; // 10px
  padding: 1.2em 1.6em;

  .personal-box {
    width: 100%;
    min-height: 20em;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 0.8em 0.8em;
    background-color: @white;
    padding: 3em 4em 3em 6.4em;
    margin-bottom: 0.4em;

    .avatar-box {
      display: flex;
      align-items: center;
      position: relative;

      .avatar {
        vertical-align: middle;
        width: 11.9em;
        height: 11.9em;
        border-radius: 50%;
      }

      .anticon {
        width: 11.9em;
        height: 11.9em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 90%;
          height: 90%;
        }
      }

      &:hover .change-photo-block {
        opacity: 1;
      }

      .change-photo-block {
        position: absolute;
        width: 11.9em;
        height: 11.9em;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s ease-in;

        background: linear-gradient(
          0deg,
          rgba(44, 48, 58, 0.4),
          rgba(44, 48, 58, 0.4)
        );

        label {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          i {
            font-size: 0.2rem;
          }
        }

        input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }
    }

    .personal-information {
      width: 77%;
      height: 13.4em;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-content: space-between;

      .description {
        h3 {
          font-size: 1.4286rem; // 20px
          color: @second-account-color;
          font-weight: 600;
          margin: 0;
        }

        p {
          font-size: 1rem; // 14px
          color: @third-account-color;
          margin: 0;
        }
      }

      .active-only {
        height: fit-content;
        display: flex;
        align-items: center;

        span {
          font-size: 0.9286rem; // 13px
          color: @second-account-color;
          margin-right: 0.8462em;
        }

        .ant-switch {
          font-size: inherit;
          width: 5.6em;
          height: 2.2em;

          .ant-switch-inner {
            color: @second-account-color;
            font-weight: 600;
            font-size: .7rem;
            margin-right: 20px;
          }
        }
      }

      .form-person-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .form-group {
          font-size: 0.9286rem; // 13px
          width: 18.4615em;
          height: 5.0769em;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          margin: 0;
          border: none;
          color: @second-account-color;

          .form-control {
            width: 100%;
            height: 3.0769em;
            border-radius: 0.615em;
            border: 0.0769em solid @border-solid;
          }

          .form-control::placeholder {
            color: @third-account-color;
          }
        }

        .btn-save {
          font-size: 0.8571rem; //12px
          width: 11.3334em;
          height: 3.3334em;
          border-radius: 0.6666em;
          color: @white !important;
          background-color: @btn-color;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  .passwords-box {
    width: 100%;
    min-height: 20em;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em 3em 6.4em;
    margin-bottom: 0.4em;

    .icon-block {
      width: 20%;

      .lock {
        width: 11.9em;
        height: 11.9em;
      }
    }

    .change-password {
      width: 77%;
      height: 10.5em;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      h3 {
        font-size: 1.4286rem; // 20px
        color: @second-account-color;
        font-weight: 600;
        margin: 0;
      }

      .input-password {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .form-group {
          font-size: 0.9286rem; // 13px
          width: 18.4615em;
          height: 5.0769em;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          margin: 0;
          border: none;
          color: @second-account-color;
          position: relative;

          .input-wrap {
            input {
              height: 3.0769em;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: 0.077em solid @border-solid;
              border-radius: 0.6154em;
              padding-right: 0.8462em;
            }

            .form-control {
              font-size: inherit; // 13px
              border: none;

              &.error {
                input {
                  border: 1px solid red;
                }
              }
            }

            .form-control::placeholder {
              color: @third-account-color;
            }

            .ant-input-suffix {
              cursor: pointer;
            }

          }

          .input-error {
            color: red;
            position: absolute;
            bottom: -20px;
          }
        }

        .btn-change {
          font-size: 0.8571rem; // 12px
          width: 11.3334em;
          height: 3.3334em;
          border-radius: 0.6666em;
          color: @white !important;
          background-color: @btn-color;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  .seller-box {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em 3em 3em;
    margin-bottom: 0.4em;

    .seller-wrap {
      width: 55%;
      height: fit-content;

      .seller-title {
        font-size: 1.4286rem; // 20px
        color: @second-account-color;
        font-weight: 600;
        margin: 0 0 0.85em;
      }

      .seller-text {
        font-size: 1.1429rem; // 16px
        color: @third-account-color;
        margin: 0;
      }
    }

    .seller-btn {
      font-size: 1.1429rem; // 16px
      width: 16em;
      height: 2.5em;
      position: relative;
      border-radius: 0.5em;
      background-color: @success-color;
      color: @white;
      margin: 0 0 0 auto;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.9375em;
      }
    }
  }

  .amazon-box {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .central-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3em;

      .central-title {
        width: 59%;
        display: flex;
        align-items: center;

        .ant-checkbox-wrapper {
          font-size: inherit; // 10px
          margin-right: 3.2em;

          .ant-checkbox-checked {
            .ant-checkbox-inner {
              background-color: @action-color-dark !important;
            }
          }
        }

        .title-wrap {
          h2 {
            font-size: 1.4286rem; // 20px
            color: @second-default-dark;
            font-weight: 600;
            margin: 0;
          }

          .central-link {
            font-size: 1rem; // 14px
            color: @action-color;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }

      .btn-wrap {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .refresh-btn {
          width: 4em;
          height: 4em;
          border-radius: 0.8em;
          background-color: @body-background;
        }

        .check-btn {
          img {
            width: 2.4em;
            height: 2.4em;
          }
        }
      }
    }

    .approved-wrapper {
      padding: 1.7em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-wrap {
        width: 30%;
        h3 {
          font-size: 1.1429rem; // 16px
          color: @action-color;
          font-weight: 600;
          margin: 0 0 0.25em;
        }

        p {
          font-size: 1rem; // 14px
          color: @third-account-color;
          margin: 0;
        }
      }

      .mws-wrap,
      .login-wrap {
        width: 25%;

        h3 {
          font-size: 1.1429rem; // 16px
          width: 11.625em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: @third-default-dark;
          margin: 0 0 0.25em;

          img {
            width: 1em;
            height: 1em;
          }
        }

        button {
          font-size: 1rem; //14px
          color: @third-account-color;
          padding-left: 0.2143em;

          span {
            text-decoration: underline;
            margin-left: 0.7143em;
          }
        }
      }

      .approved-text {
        width: 5%;
        font-size: 1.1429rem; // 16px
        color: @success-color;
        font-weight: 600;
      }
    }

    .add-wrapper {
      padding: 2.4em 0 0;

      .add-amazon-wrap {
        margin-bottom: 1.7em;

        .add-amazon-title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
          margin: 0;
        }

        .choice-wrap {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 1.6em;

          .connect-group {
            width: 39%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ant-cascader-picker {
              font-size: 1rem; // 14px

              .ant-cascader-picker-label {
                font-size: 1rem; // 14px
                color: @third-default-dark;
                font-weight: 600;
              }

              .ant-input {
                width: 17.1429em;
                height: 2.8571em;
                outline: none;
                border-radius: 0.5714em;
              }

              .anticon {
                color: @third-default-dark;
              }
            }

            .connect-btn {
              font-size: 1.1429rem; // 16px
              width: 12.1875em;
              height: 2.5em;
              border-radius: 0.5em;
              color: @white !important;
              background-color: @btn-color;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .line {
            width: 0.1em;
            height: 4em;
            display: inline-block;
            background-color: #c4c4c4;
          }

          .confirm-group {
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .form-group {
              border: none;
              margin: 0;

              span {
                font-size: 0.9286rem; // 13px
                display: block;
                color: @second-account-color;
                margin-bottom: 0.4615em;
              }

              .form-control {
                font-size: 0.8571rem; // 12px
                width: 20em;
                height: 3.3333em;
                border-radius: 0.6667em;
                border: 1px solid @border-solid;
                background: rgba(201, 203, 212, 0.3);
                color: @third-account-color;

                &::placeholder {
                  font-size: 0.8571rem; // 12px
                  color: @third-account-color;
                }
              }
            }

            .confirm-btn {
              font-size: 0.8571rem; // 12px
              width: 11.3334em;
              height: 3.3334em;
              border-radius: 0.6666em;
              color: @white !important;
              background-color: @btn-color;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
        }

        .add-amazon-text {
          font-size: 1rem; // 14px
          color: @third-account-color;
          margin: 0;
        }
      }

      .login-amazon-wrap {
        .login-amazon-title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
          margin: 0 0 0.35em;
        }

        .connect-amazon {
          display: flex;
          align-items: center;

          .connect-amazon-text {
            font-size: 1rem; // 14px
            width: 16.4286em;
            display: inline-block;
            color: @third-account-color;
            letter-spacing: -0.05px;
            line-height: 20px;
            margin: 0 1.2143em 0 0;
          }

          .login-amazon-btn {
            .login-amazon-img {
              width: 19.5em;
              height: 4em;
            }
          }

          .connect-another-btn {
            font-size: 1rem; // 14px
            color: @third-default-dark;
            text-decoration: underline;
            margin-left: auto;
          }
        }
      }
    }
  }

  .connectors-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .short-connect-information {
      width: 100%;
      display: flex;
      align-items: center;

      .opened-block {
        transform: rotate(180deg);
      }

      .token-btn {
        font-size: 0.8571rem; // 12px
        width: 11.3334em;
        height: 3.3334em;
        border-radius: 0.6666em;
        color: @white !important;
        background-color: @btn-color;
        font-weight: 600;
      }
    }

    .column {
      margin: 0 0 0 30px;

      .title {
        font-family: ir;
        font-size: 1.4285714285714286rem;
        letter-spacing: 0.4px;
        color: #363694;
      }

      a {
        font-family: ir;
        font-size: 1rem;
        letter-spacing: -0.05px;
        text-decoration-line: underline;
        color: #6d6df6;
      }
    }

    .connectors-buttons {
      margin: 0 0 0 auto;

      button {
       margin: 0 50px 0 0;
      }
    }
  }

  .soon-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .soon-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-title {
        .title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
        }

        .show-link {
          font-size: 1rem; // 14px
          color: @action-color;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .btn-soon {
        font-size: 0.8571rem; // 12px
        width: 11.3334em;
        height: 3.3334em;
        border-radius: 0.6666em;
        color: @white !important;
        background-color: @btn-color;
        font-weight: 600;
      }
    }
  }

  .info-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .info-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-title {
        .title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
        }

        .show-link {
          font-size: 1rem; // 14px
          color: @action-color;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .actions-wrap {
        width: 13.6em;
        height: 2.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions-btn {
          width: 2.4em;
          height: 2.4em;
        }
      }
    }
  }
}
