@import '../../../style/variables.less';

.main-container .user-cabinet {
  font-size: 0.714286rem; // 10px

  .form-group {
    max-width: 240px;
    min-width: 150px;
    width: 20%;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 4% 0 0;

    label {
      font-size: 1rem;
      margin: 0 0 3px 0;
    }

    input {
      height: 2.857142857142857rem;
      width: 100%;
      font-size: 1rem;
    }
  }

  .personal-box {
    width: 100%;
    min-height: 16.428571428571427rem;
    height: max-content;
    display: flex;
    align-items: center;
    border-radius: 0 0 0.8em 0.8em;
    background-color: @white;
    padding: 2.857142857142857rem 4em 2.857142857142857rem 2.5rem;
    margin-bottom: 1.4285714285714286rem;
    flex-wrap: wrap;
    box-shadow: @default-section-shadow;
    box-sizing: border-box;
    position: relative;
    z-index: 5;

    .avatar-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 3.2142857142857144rem 0 0;

      img {
        width: 10.714285714285714rem;
        height: 10.714285714285714rem;
      }

      .avatar {
        vertical-align: middle;
        width: 11.214285714285714rem;
        height: 11.214285714285714rem;
        border-radius: 50%;
      }

      .anticon {
        width: 11.214285714285714rem;
        height: 11.214285714285714rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 30%;
          height: 30%;
        }
      }

      &:hover .change-photo-block {
        opacity: 1;
      }

      .change-photo-block {
        position: absolute;
        width: 11.214285714285714rem;
        height: 11.214285714285714rem;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s ease-in;

        background: linear-gradient(0deg,
        rgba(44, 48, 58, 0.4),
        rgba(44, 48, 58, 0.4));

        label {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          i {
            font-size: 0.2rem;
          }
        }

        input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }
    }


    .personal-information {
      flex: 1;
      min-height: 13.4em;
      height: max-content;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-content: space-between;

      .description {
        margin: 0 0 2em 0;

        h3 {
          font-size: 1.7142857142857142rem; // 24px
          color: #343C5A;
          margin: 0;
        }

        p {
          font-size: 1.1428571428571428rem; // 16px
          color: @third-account-color;
          margin: 0;
        }
      }

      .active-only {
        height: fit-content;
        display: flex;
        align-items: center;

        span {
          font-size: 1rem; // 13px
          color: @second-account-color;
          margin-right: 0.8462em;
        }

        .ant-switch {
          font-size: inherit;
          width: 5.6em;

          .ant-switch-inner {
            height: 100%;
            display: flex;
            align-items: center;
            color: @second-account-color;
            font-weight: 600;
            font-size: .7rem;
            margin-left: 3em;
          }

          &.ant-switch-checked {
            .ant-switch-inner {
              margin-left: 1em;
            }
          }
        }
      }

      .form-person-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;


        .btn-save {
          font-size: 1rem; //12px
          width: 11.3334em;
          height: 2.858em;
          font-weight: 600;
          text-transform: uppercase;
          margin: 15px 0 0 auto;
          padding: 0;
        }
      }
    }
  }

  .passwords-box {
    width: 100%;
    min-height: 16.428571428571427rem;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 2.857142857142857rem 4em 2.857142857142857rem 2.5rem;
    margin-bottom: 0.4em;
    box-shadow: @default-section-shadow;

    .icon-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3.2142857142857144rem 0 0;

      .lock {
        width: 10.714285714285714rem;
        height: 10.714285714285714rem;
      }
    }

    .change-password {
      flex: 1;
      min-height: 10.5em;
      height: max-content;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .description {
        margin: 0 0 2em 0;

        h3 {
          font-size: 1.7142857142857142rem; // 24px
          color: #343C5A;
          margin: 0;
        }

        p {
          font-size: 1.1428571428571428rem; // 16px
          color: @third-account-color;
          margin: 0;
        }
      }


      .input-password {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        .form-group {
          border: none;
          color: @second-account-color;
          position: relative;

          .password-input {
            position: relative;

            i {
              cursor: pointer;
              position: absolute;
              right: 1.0714285714285714rem;
              top: 0;
              bottom: 0;

              display: flex;
              align-items: center;

              svg {
                width: 20px;
              }
            }

            input {
              padding-right: 35px;
            }
          }

          .input-wrap {
            input {
              display: flex;
              justify-content: space-between;
              align-items: center;

              font-size: 1rem;
            }

            .form-control {
              border: none;

              &.error {
                input {
                  border: 1px solid red;
                }
              }

            }

            .ant-input-suffix {
              cursor: pointer;
            }
          }

          .input-error {
            font-size: 0.8571428571428571rem;
            color: red;
            position: absolute;
            top: 4.642857142857143rem;
          }
        }

        .btn-change {
          font-size: 1rem; // 12px
          width: 11.3334em;
          height: 2.858em;
          font-weight: 600;
          text-transform: uppercase;
          margin: 15px 0 0 auto;
        }
      }
    }
  }

  .seller-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em 3em 2.5rem;
    margin-bottom: 0.4em;
    box-shadow: @default-section-shadow;

    .whales-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3.2142857142857144rem 0 0;

      img {
        width: 11.214285714285714rem;
        height: 11.214285714285714rem;
      }
    }

    .seller-wrap {
      flex: 1;
      height: fit-content;

      .seller-title {
        font-size: 1.7142857142857142rem; // 24px
        color: #343C5A;
        margin: 0 0 0.85em;
      }

      .seller-text {
        font-size: 1.1428571428571428rem; // 16px
        color: @third-account-color;
        margin: 0;
      }
    }

    .seller-btn {
      font-size: 1.1429rem; // 16px
      width: 20%;
      max-width: 16em;
      min-width: 13em;
      height: 2.5em;
      position: relative;
      border-radius: 0.5em;
      background-color: @success-color;
      color: @white;
      margin: 0 0 0 auto;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.9375em;
      }
    }
  }

  .amazon-box {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .central-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3em;

      .central-title {
        width: 59%;
        display: flex;
        align-items: center;

        .ant-checkbox-wrapper {
          font-size: inherit; // 10px
          margin-right: 3.2em;

          .ant-checkbox-checked {
            .ant-checkbox-inner {
              background-color: @action-color-dark !important;
            }
          }
        }

        .title-wrap {
          h2 {
            font-size: 1.4286rem; // 20px
            color: @second-default-dark;
            margin: 0;
          }

          .central-link {
            font-size: 1rem; // 14px
            color: @action-color;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }

      .btn-wrap {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .refresh-btn {
          width: 4em;
          height: 4em;
          border-radius: 0.8em;
          background-color: @body-background;
        }

        .check-btn {
          svg {
            width: 2.4em;
            height: 2.4em;
          }
        }
      }
    }

    .approved-wrapper {
      padding: 1.7em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .title-wrap {
        width: 30%;

        h3 {
          font-size: 1.1429rem; // 16px
          color: @action-color;
          margin: 0 0 0.25em;
        }

        p {
          font-size: 1rem; // 14px
          color: @third-account-color;
          margin: 0;
        }
      }

      .tokens {
        flex: 1;
        display: flex;
        justify-content: space-around;
      }

      .mws-wrap,
      .login-wrap {
        width: 25%;
        min-width: 180px;
        margin-right: 20px;

        h3 {
          font-size: 1.1429rem; // 16px
          max-width: 11.625em;
          display: flex;
          align-items: center;
          color: @third-default-dark;
          margin: 0 0 0.25em;

          svg {
            width: 1em;
            height: 1em;
            margin: 0 0 0 10px;
          }
        }

        button {
          font-size: 1rem; //14px
          color: @third-account-color;
          padding-left: 0.2143em;
          display: flex;
          align-items: center;

          span {
            text-decoration: underline;
            margin-left: 0.7143em;
          }
        }
      }

      .approved-text {
        width: 5%;
        min-width: 100px;
        font-size: 1.1429rem; // 16px
        color: @success-color;
        font-weight: 600;
      }
    }

    .add-wrapper {
      padding: 2.4em 0 0;

      .add-amazon-wrap {
        margin-bottom: 1.7em;

        .add-amazon-title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
          margin: 0;
        }

        .choice-wrap {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.6em;
          align-items: flex-end;

          .connect-group {
            width: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .ant-cascader-picker {
              width: 17.857142857142858rem;
              font-size: 1rem; // 14px
              height: 2.857142857142857rem;
              margin: 0 20px 0 0;

              .ant-cascader-picker-label {
                font-size: 1rem; // 14px
                color: @third-default-dark;
                font-weight: 600;
              }

              .ant-input {
                width: 100%;
                height: 100%;
                outline: none;
              }

              .anticon {
                color: @third-default-dark;
              }
            }

            .connect-btn {
              font-size: 1.1429rem; // 16px
              width: 11em;
              height: 2.5em;
              border-radius: 0.5em;
              color: @white !important;
              background-color: @btn-color;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .line {
            width: 1px;
            min-width: 1px;
            height: 5em;
            display: inline-block;
            background-color: rgba(196, 196, 196, 0.5);
            margin: 0 7%;
          }

          .confirm-group {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .form-group {
              border: none;
              max-width: initial;
              width: 35%;
              margin: 0 15px 0 0;

              span {
                font-size: 1.1428571428571428rem; // 13px
                display: block;
                color: @second-account-color;
                margin-bottom: 0.4615em;
              }

              input {
                background: #fff !important;
              }

              .form-control {
                font-size: 0.8571rem; // 12px
                width: 100%;
                border-radius: 0.6667em;
                border: 1px solid @border-solid;
                background: rgba(201, 203, 212, 0.3);
                color: @third-account-color;
              }
            }

            .confirm-btn {
              font-size: 0.8571rem; // 12px
              width: 11.3334em;
              height: 2.857142857142857rem;
              border-radius: 0.6666em;
              font-weight: 600;
              text-transform: uppercase;
              padding: 0;

              margin: 10px 0 0 auto;
            }
          }
        }

        .add-amazon-text {
          font-size: 1rem; // 14px
          color: @third-account-color;
          margin: 0;
        }
      }

      .login-amazon-wrap {
        .login-amazon-title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
          margin: 0 0 0.35em;
        }

        .connect-amazon {
          display: flex;
          align-items: center;

          .connect-amazon-text {
            font-size: 1rem; // 14px
            width: 16.4286em;
            display: inline-block;
            color: @third-account-color;
            line-height: 20px;
            margin: 0 1.2143em 0 0;
          }

          .login-amazon-btn {
            .login-amazon-img {
              width: 19.5em;
              height: 4em;
            }
          }

          .connect-another-btn {
            font-size: 1rem; // 14px
            color: @third-default-dark;
            text-decoration: underline;
            margin-left: auto;
          }
        }
      }
    }
  }

  .connectors-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 2.5rem;
    margin-bottom: 0.4em;
    box-shadow: @default-section-shadow;

    .short-connect-information {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 4em 0 0;

      .opened-block {

        svg {
          transform: rotate(180deg);
        }
      }

      .token-btn {
        font-size: 0.8571rem; // 12px
        width: 11.3334em;
        height: 2.858em;
        border-radius: 0.6666em;
        color: @white !important;
        background-color: @btn-color;
        font-weight: 600;
      }
    }

    .column {
      margin: 0 30px 0 0;

      img {
        min-width: 1.7142857142857142rem;
      }

      .title {
        font-size: 1.4285714285714286rem;
        color: #363694;
      }

      a {
        font-size: 1.1428571428571428rem;
        text-decoration-line: underline;
        color: #6d6df6;
      }
    }

    .connectors-buttons {
      margin: 0 0 0 auto;

      button {
        span {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    @media (max-width: 1507px) {
      .amazon-box {
        .add-wrapper {
          .add-amazon-wrap {
            .choice-wrap {
              .confirm-group {
                .form-group {
                  flex: 1;
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1507px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1507px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1507px) {
      .amazon-box {
        .add-wrapper {
          .add-amazon-wrap {
            .choice-wrap {
              .confirm-group {
                .form-group {
                  flex: initial;
                  width: 35%;
                }
              }
            }
          }
        }
      }
    }


    @media (max-width: 1400px) {
      & {
        .amazon-box {
          .add-wrapper {
            .add-amazon-wrap {
              .choice-wrap {
                margin: 20px 0 10px 0;
                align-items: initial;

                .connect-group {
                  flex-direction: column;

                  .ant-cascader-picker {
                    margin: 0 0 10px 0;
                  }

                  a {
                    width: 100%;
                  }
                }

                .line {
                  height: initial;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1100px) {
      & {
        .amazon-box {
          .add-wrapper {
            .add-amazon-wrap {
              .choice-wrap {
                .confirm-group {
                  flex-wrap: wrap;

                  .form-group {
                    width: 45%;

                    &:nth-child(2) {
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1015px) {
      & {
        .amazon-box {
          .add-wrapper {
            .add-amazon-wrap {
              .choice-wrap {
                flex-direction: column;

                .connect-group {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;


                  a {
                    width: 40%;
                    margin: 0 0 10px 0;
                  }
                }

                .line {
                  width: 100%;
                  height: 1px;
                  margin: 20px 0;
                }

                .confirm-group {
                  flex-wrap: wrap;

                  .form-group {
                    flex: initial;
                    width: 35%;
                  }
                }
              }
            }
          }
        }
      }
    }


    @media (max-width: 1000px) {
      & {
        .amazon-box {
          padding-right: 0;

          .approved-wrapper {
            .tokens {
              flex: initial;
              width: 80%;
              justify-content: flex-start;
              margin: 20px 0;
            }
          }
        }
      }
    }

    @media (max-width: 860px) {
      & {
        .amazon-box {
          .add-wrapper {
            .add-amazon-wrap {
              .choice-wrap {
                .confirm-group {
                  .form-group {
                    width: 45%;
                  }
                }
              }
            }
          }
        }
      }
    }


    @media (max-width: 640px) {
      & {
        .short-connect-information {
          flex-direction: column;
          align-items: center;
          padding: 0;

          .column {
            margin: 0;
            text-align: center;
          }

          .connectors-buttons {
            margin: 10px auto 0 auto;
          }
        }

        .amazon-box {
          padding-left: 0;

          .tokens {
            flex-direction: column;

            & > div {
              width: 100%;
              margin: 0 0 10px 0;
            }
          }

          .add-wrapper {
            .add-amazon-wrap {
              .choice-wrap {
                .connect-group {
                  flex-direction: column;

                  .ant-cascader-picker, a {
                    width: 100%;
                    margin: 0 0 20px 0;
                  }
                }

                .confirm-group {
                  flex-direction: column;


                  .form-group {
                    width: 100%;
                    margin: 0 0 10px 0 !important;

                    &:first-child {
                      margin: 0;
                    }
                  }

                  .confirm-btn {
                    width: 100%;
                    margin: 10px 0 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .soon-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .soon-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-title {
        .title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
        }

        .show-link {
          font-size: 1rem; // 14px
          color: @action-color;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .btn-soon {
        font-size: 1rem; // 12px
        width: 11.3334em;
        height: 2.858em;
        border-radius: 0.6666em;
        color: @white !important;
        background-color: @btn-color;
        font-weight: 600;
      }
    }
  }

  .info-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @white;
    border-radius: 0.8em;
    padding: 3em 4em;
    margin-bottom: 0.4em;

    .info-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-title {
        .title {
          font-size: 1.4286rem; // 20px
          color: @second-default-dark;
          font-weight: 600;
        }

        .show-link {
          font-size: 1rem; // 14px
          color: @action-color;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .actions-wrap {
        width: 13.6em;
        height: 2.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions-btn {
          width: 2.4em;
          height: 2.4em;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    & {
      .form-group {
        width: 30%;
      }

      .personal-box,
      .change-password {
        .form-group:nth-child(3) {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    & {
      .form-group {
        width: 45%;
        margin: 0 0 15px 0;
      }

      .personal-box,
      .passwords-box {
        .form-group:nth-child(2) {
          margin-right: 0;
        }

        .change-password,
        .personal-information {
          .input-password,
          .form-person-info {
            .btn-change,
            .btn-save {
              width: 45%;
              max-width: 240px;
              min-width: 150px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 850px) {
    & {
      .personal-box,
      .passwords-box,
      .seller-box {
        flex-direction: column;
        align-items: center;

        .avatar-box,
        .icon-block,
        .whales-image {
          margin: 0 0 15px 0;
        }

        .description,
        .seller-wrap {
          width: 100%;
          text-align: center;
        }

        .seller-btn {
          margin: 10px auto 0 auto;
        }
      }

      .connectors-box {
        .column {
          margin: 0 30px 0 0;
        }
      }
    }
  }

  @media (max-width: 550px) {
    & {
      .form-group {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 20px auto;

        label {
          margin: 0 auto 3px;
        }

      }

      .personal-box,
      .passwords-box {
        flex-direction: column;
        align-items: center;

        .form-group {
          &:nth-child(2),
          &:nth-child(3) {
            margin: 0 auto 20px auto;
          }
        }

        .description {
          width: 100%;
          text-align: center;
        }

        .change-password,
        .personal-information {
          .input-password,
          .form-person-info {
            .btn-change,
            .btn-save {
              width: 100%;
              max-width: 100%;
              min-width: 150px;

              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    & {
      .personal-box {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

//-------------------------------------
/*Retina */
//-------------------------------------

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}

