.analytics-page .main-metrics {
  grid-template-columns: repeat(6, minmax(190px, 1fr));
}

.metrics-modal {
  .ant-modal-body .hidden-list .metric-item {
    .value {
      background: initial;
    }

    &.disabled {
      background: rgba(228, 228, 228, 0.45);

      .add-item {
        display: none;
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        cursor: auto;
      }
    }
  }
}