.negative-keywords {
  .new-keyword {
    .row {
      width: 100%;
      min-height: 20px;

      & > label {
        font-size: 1rem;
        color: #46435C;
        font-weight: 600;
        margin: 0 20px 0 0;
      }

      span {
        font-size: 1rem;
        color: #312C51;
      }
    }

    .form-group {
      margin-top: 10px;
    }
  }

  .added-keywords {
    .keywords-list {
      .header {
        display: flex;

        div:first-child {
          width: 70%;
          margin: 0 auto 0 0;
        }

        div:last-child {
          width: 25%;
          margin: 0 1.42857143rem 0 0;
        }
      }

      ul {
        li {
          display: flex;

          .text {
            width: 70%;
            margin: 0 auto 0 0;
          }

          .type {
            width: 25%;
          }
        }
      }
    }
  }
}