@import '../../../style/variables.less';

.user-cabinet.billing-page {
  height: 100%;

  section {
    width: 100%;
    min-height: 20em;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.8em;
    background-color: @white;
    padding: 3em 8em 3em 6.4em;
    margin-bottom: 0.4em;

    .block-description {
      font-family: er;

      h3 {
        font-size: 1.4285714285714286rem;
        line-height: 2.142857142857143rem;
        letter-spacing: 0.4px;
        color: #38454F;
      }

      span {
        font-size: 1rem;
        line-height: 1.7142857142857142rem;
        letter-spacing: 0.4px;
        color: #656A84;
      }
    }

    .btn {
      height: 40px;
      min-width: 190px;
      padding: 0 1em;
      font-family: ir;
    }
  }

  .account-billing-block {
    border-radius: 0 0 0.8em 0.8em;
  }

  .company-details-block {
    .company-information {
      width: 50%;
      display: flex;
      justify-content: space-around;

      .column {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
          margin: 0 0 20px 0;

          label {
            font-size: 1rem;
            line-height: 20px;
            color: #343C5A;
            font-family: ir;
            margin: 0 0 12px 0;
          }

          span {
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #656A84;
            font-family: er;
          }
        }
      }
    }
  }
}