@import '../../../style/variables.less';

.user-cabinet.billing-page {
  height: 100%;
  display: grid;
  grid-template-areas: 'cardBlock companyDetails' 'billingHistory billingHistory';
  grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
  grid-column-gap: 1.4285714285714286rem;
  grid-row-gap: 1.4285714285714286rem;

  section {
    width: 100%;
    min-height: 27em;
    border-radius: 4px;
    background-color: @white;
    padding: 2.857142857142857rem 2.142857142857143rem;
    box-shadow: @default-section-shadow;

    .block-description {
      display: flex;
      flex-direction: column;
      min-width: 200px;
      grid-area: billingDescription;

      h3 {
        font-size: 1.4285714285714286rem;
        color: #38454F;
      }

      span {
        font-size: 1rem;
        color: #656A84;
      }
    }

    .buttons-block {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      grid-area: billingButtons;
      margin: 0 0 0 auto;
      padding: 0 0 0 20px;

      .btn {
        height: 40px;
        width: 14.857142857142858rem;
        padding: 0 1em;
        font-size: 1.1428571428571428rem;
      }
    }


  }

  .account-billing-block {
    justify-content: space-between;
    grid-area: cardBlock;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    .block-description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .col {
        display: flex;
        flex-direction: column;
      }

      .add-card {
        font-size: 1rem;
        color: #6D6DF6;
        display: flex;
        align-items: center;
        margin: 5px 2.5rem 0 0;

        svg {
          margin: 0 0.8571428571428571rem 0 0;

          use {
            stroke: #6D6DF6;
          }
        }
      }
    }

    .user-cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      grid-area: userCards;
      width: max-content;
      margin: 10px 0 0 auto;


      .cards-carousel {
        width: max-content;

        .carousel-body {
          width: max-content;
          display: flex;
          align-items: center;
          position: relative;
          margin: 0 0 0 auto;

          .card-shadow {
            position: absolute;
            background: #6D6DF6;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 295px;
            height: 180px;
            border-radius: 4px;
            z-index: 0;
            opacity: .2;
          }

          i {
            cursor: pointer;
            display: flex;
            align-items: center;

            &:first-child {
              margin: 0 30px 0 0;
            }

            &:last-child {
              margin: 0 0 0 30px;
            }

            svg {
              width: 0.8571428571428571rem;
              height: 1.5rem;
            }
          }
        }

        .card-block {
          width: 295px;
          height: 180px;
          border-radius: 4px;
          background-image: url(../../../assets/img/card-background.svg);
          background-repeat: no-repeat;
          position: relative;
          padding: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

          .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card-actions {
              cursor: pointer;
              height: max-content;

              .ant-dropdown-link {
                width: 10px;
                font-size: 1.5rem;
                color: #fff;
                letter-spacing: 1px;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                align-items: center;

                & > div {
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                  background: #fff;
                  margin: 0 0 2px 0;
                }
              }

              &:hover {
                .ant-dropdown-link {
                  & > div {
                    background: #cbcbcb;
                  }
                }
              }
            }
          }

          .card-number {
            margin: 0 auto;
            font-size: 1.7142857142857142rem;
            line-height: 24px;
            /* or 100% */

            letter-spacing: 1px;

            color: #FFFFFF;
          }

          .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .expires-block {
              display: flex;
              flex-direction: column;
              color: #FFFFFF;

              label {
                font-size: 0.7857142857142857rem;
              }

              span {
                font-size: 1.1428571428571428rem;
              }
            }

            .default-card-block {
              display: flex;
              align-items: center;
              font-size: 0.7857142857142857rem;
              color: #FFFFFF;

              div {
                width: 4em;
                height: 1.4285714285714286rem;


                svg {
                  width: 1.4285714285714286rem;
                  height: 1.4285714285714286rem;
                  margin: 0 0 0 10px;
                }
              }
            }
          }
        }

        .carousel-pagination {
          display: flex;
          justify-content: center;
          margin: 30px auto 0;

          & > div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #6D6DF6;
            border: 1px solid #6D6DF6;
            margin: 0 10px 0 0;
            cursor: pointer;
          }
        }
      }

      .billing-address {
        width: 35%;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1rem;
          color: #343C5A;
          margin: 0 0 15px 0;
        }

        span {
          font-size: 1rem;
          letter-spacing: 0.4px;
          color: #656A84;
          margin: 3px 0 0 0;
        }
      }
    }
  }

  .company-details-block {
    grid-area: companyDetails;
    height: 100%;
    display: flex;
    flex-direction: column;

    .block-description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .col {
        display: flex;
        flex-direction: column;
      }

      i {
        height: max-content;
        cursor: pointer;
      }
    }


    .company-information {
      display: flex;
      margin: 25px 0 0 0;

      .column {
        width: 48%;
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
          margin: 0 0 15px 0;

          &:last-child {
            margin: 0;
          }

          label {
            font-size: 1rem;
            color: #343C5A;
            font-weight: 500;
            margin-bottom: 8px;
          }

          span {
            font-size: 1rem;
            color: #656A84;
          }
        }
      }
    }
  }

  .billing-history-block {
    grid-area: billingHistory;

    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 1.4285714285714286rem;

    .block-description {
      width: 100%;
      margin: 0 0 10px 0;
    }

    .history-list {
      width: 100%;
      overflow: auto;

      &.full-list {
        .custom-table {
          min-height: 51em;
        }
      }

      h3 {
        font-size: 1.4285714285714286rem;
        letter-spacing: 0.4px;
        color: #38454F;
        margin: 38px 0;
      }

      .custom-table {
        min-width: 840px;

        .table-pagination {
          margin-right: 20px;
        }

        .table-head {
          border: 0;
          padding: 0 0 10px 0;

          .title {
            font-weight: 500;
            font-size: 1rem;
          }
        }

        .table-body {
          .table-body__row {
            border: 0;

            .table-body__field {
              font-size: 1rem;
              padding: 5px 6px;

              &:last-child {
                justify-content: flex-start;
              }

              .card-number {
                display: flex;
                align-items: center;

                img {
                  width: 30px;
                  margin: 0 5px 0 0;
                }
              }
            }
          }
        }
      }

      .custom-table .table-body .table-body__row {
        margin: 0 0 5px 0;
        border-left: 5px solid;

        &.success-invoice {
          border-color: @success-color;
        }

        &.waiting-invoice {
          border-color: @waiting-color
        }

        &.error-invoice {
          border-color: @dangerous-color
        }
      }

      .payment-status {
        text-transform: capitalize;
        font-weight: bold;

        &.success {
          color: @success-color
        }

        &.waiting {
          color: @waiting-color
        }

        &.error {
          color: @dangerous-color
        }
      }

      .invoice-actions {
        a {
          margin: 0 20px 0 0;

          i {
            font-size: 1.5rem;

            &:hover {
              color: @action-color;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    & {
      grid-template-areas: 'cardBlock' 'companyDetails' 'billingHistory';
      grid-template-columns: 100%;
    }
  }

  @media (max-width: 600px) {
    & {
      .account-billing-block .user-cards {
        margin: 15px auto 0;
      }
      .account-billing-block .user-cards .cards-carousel .card-block {
        width: 200px;
        height: 122px;
      }

      .account-billing-block .user-cards .cards-carousel .carousel-body .card-shadow {
        display: none;
      }

      .account-billing-block .user-cards .cards-carousel .carousel-body i:first-child {
        margin: 0 10px 0 0;
      }

      .account-billing-block .user-cards .cards-carousel .carousel-body i:last-child {
        margin: 0 0 0 10px;
      }
    }
  }

}

.ant-drawer {
  z-index: 100000;
}