@import '../../../style/variables.less';

.user-cabinet.billing-page {
  height: 100%;

  section {
    width: 100%;
    min-height: 27em;
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0.8em;
    background-color: @white;
    padding: 3em 2.5em 3em 2.5em;
    margin-bottom: 0.4em;

    .block-description {
      display: flex;
      flex-direction: column;
      width: 20%;
      min-width: 200px;
      font-family: ir;
      grid-area: billingDescription;

      h3 {
        font-size: 1.7142857142857142rem;
        //font-size: 20px;
        line-height: 2.142857142857143rem;
        letter-spacing: 0.4px;
        color: #38454F;
      }

      span {
        font-size: 1.1428571428571428rem;
        line-height: 1.7142857142857142rem;
        letter-spacing: 0.4px;
        color: #656A84;
      }
    }

    .buttons-block {
      display: flex;
      flex-direction: column;
      grid-area: billingButtons;

      .btn {
        height: 40px;
        width: 14.857142857142858rem;
        padding: 0 1em;
        font-family: ir;
        font-size: 1.1428571428571428rem;
      }
    }


  }

  .account-billing-block {
    border-radius: 0 0 0.8em 0.8em;

    .user-cards {
      width: 55%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      grid-area: userCards;

      .cards-carousel {
        width: 45%;
        min-width: 300px;
        margin: 0 20px 0 0;

        .carousel-body {
          width: 300px;
          height: 180px;
          max-height: 180px;
          min-width: 150px;
          display: flex;
          align-items: center;
          position: relative;

          .card-shadow {
            position: absolute;
            background: #343C5A;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 295px;
            height: 100%;
            max-width: 100%;
            max-height: 180px;
            border-radius: 8px;
          }

          i {
            font-size: 1.3rem;
            cursor: pointer;
            position: absolute;

            &:first-child {
              left: -20px;
            }

            &:last-child {
              right: -20px;
            }
          }
        }

        .card-block {
          max-width: 295px;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background-image: url(../../../assets/img/card-background.svg);
          background-repeat: no-repeat;
          position: relative;
          padding: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-family: ir;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

          .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card-actions {
              cursor: pointer;
              height: max-content;

              .ant-dropdown-link {
                width: 10px;
                font-size: 1.5rem;
                color: #fff;
                letter-spacing: 1px;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                align-items: center;

                & > div {
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                  background: #fff;
                  margin: 0 0 2px 0;
                }
              }

              &:hover {
                .ant-dropdown-link {
                  & > div {
                    background: #cbcbcb;
                  }
                }
              }
            }
          }

          .card-number {
            margin: 0 auto;
            font-size: 1.7142857142857142rem;
            line-height: 24px;
            /* or 100% */

            letter-spacing: 1px;

            color: #FFFFFF;
          }

          .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .expires-block {
              display: flex;
              flex-direction: column;
              color: #FFFFFF;

              label {
                font-size: 0.7857142857142857rem;
              }

              span {
                font-size: 1.1428571428571428rem;
              }
            }

            .default-card-block {
              display: flex;
              align-items: center;
              font-size: 0.7857142857142857rem;
              color: #FFFFFF;

              div {
                width: 4em;
              }
            }
          }
        }

        .carousel-pagination {
          display: flex;
          margin: 10px auto;

          & > div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #3E4A62;
            margin: 0 10px 0 0;
            cursor: pointer;
          }
        }
      }

      .billing-address {
        width: 35%;
        display: flex;
        flex-direction: column;

        h3 {
          font-family: ir;
          font-size: 1rem;
          color: #343C5A;
          margin: 0 0 15px 0;
        }

        span {
          font-family: ir;
          font-size: 1rem;
          letter-spacing: 0.4px;
          color: #656A84;
          margin: 3px 0 0 0;
        }
      }
    }
  }

  .company-details-block {
    .block-description {
      grid-area: companyDescription;
    }

    .buttons-block {
      grid-area: companyButtons;
    }

    .company-information {
      width: 55%;
      display: flex;
      justify-content: space-between;
      margin: 0 10px;
      grid-area: companyInformation;

      .column {
        width: 45%;
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
          margin: 0 0 15px 0;

          &:last-child {
            margin: 0;
          }

          label {
            font-size: 1rem;
            line-height: 20px;
            color: #343C5A;
            font-family: ir;
            margin: 0 0 12px 0;
          }

          span {
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #656A84;
            font-family: ir;
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  .billing-history-block {
    flex-direction: column;
    align-items: flex-start;

    .block-description {
      width: 100%;
    }

    .history-list {
      width: 100%;
      overflow: auto;

      &.full-list {
        .custom-table {
          min-height: 51em;
        }
      }

      h3 {
        font-family: ir;
        font-size: 1.4285714285714286rem;
        letter-spacing: 0.4px;
        color: #38454F;
        margin: 38px 0;
      }

      .custom-table {
        min-width: 550px;

        .table-head {
          border: 0;
          padding: 0 0 10px 0;
        }

        .table-body {
          .table-body__row {
            border: 0;

            .table-body__field {
              font-size: 1rem;
              padding: 5px 6px;

              &:last-child {
                justify-content: flex-start;
              }

              .card-number {
                display: flex;
                align-items: center;

                img {
                  width: 30px;
                  margin: 0 5px 0 0;
                }
              }
            }
          }
        }
      }

      .custom-table .table-body .table-body__row {
        margin: 0 0 5px 0;
        border-left: 5px solid;

        &.success-invoice {
          border-color: @success-color;
        }

        &.waiting-invoice {
          border-color: @waiting-color
        }

        &.error-invoice {
          border-color: @dangerous-color
        }
      }

      .payment-status {
        text-transform: capitalize;
        font-weight: bold;

        &.success {
          color: @success-color
        }

        &.waiting {
          color: @waiting-color
        }

        &.error {
          color: @dangerous-color
        }
      }

      .invoice-actions {
        a {
          margin: 0 20px 0 0;

          i {
            font-size: 1.5rem;

            &:hover {
              color: @action-color;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1193px) {
    & {
      .account-billing-block {
        display: grid;
        grid-template-areas: "billingDescription billingButtons" "userCards userCards";

        .user-cards {
          width: 100%;
          margin: 30px 0 0 0;

          .billing-address {
            width: 45%;
          }
        }
      }

      .company-details-block {
        display: grid;
        grid-template-areas: "companyDescription companyButtons" "companyInformation companyInformation";

        .company-information {
          width: 100%;
          margin: 20px 0 0 0;
        }
      }
    }
  }

  @media (max-width: 700px) {
    section {
      flex-direction: column;
      align-items: center;

      .block-description {
        width: 100%;
        text-align: center;
        height: 150px;
      }
    }

    & {
      .account-billing-block {
        grid-template-areas: "billingDescription" "billingButtons" "userCards";
        grid-template-columns: 1fr;

        .user-cards {
          width: 100%;
          flex-direction: column;
          margin: 30px auto 0 auto;

          .cards-carousel {
            width: 100%;

            .carousel-body {
              height: 180px;
              margin: 0 auto;
            }

            .carousel-pagination {
              justify-content: center;
            }
          }

          .billing-address {
            width: 100%;
            text-align: center;
          }
        }
      }

      section .buttons-block {
        height: max-content;
        margin: 20px auto 0 auto;
      }

      section .block-description {
        height: max-content;
      }
    }

    .company-details-block {
      grid-template-areas: "companyDescription " "companyButtons" "companyInformation";
      grid-template-columns: 1fr;

      .company-information {
        width: 100%;
        justify-content: space-around;

        .column {
          width: 30%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    & {
      .company-details-block {
        .company-information {
          flex-direction: column;

          .column {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 450px) {
    & {
      .account-billing-block {
        .user-cards {
          .cards-carousel {
            min-width: 150px;

            .carousel-body {
              width: 100%;
              min-width: 150px;
            }
          }
        }
      }
    }
  }
}

.ant-drawer {
  z-index: 100000;
}