@import '../Metrics';

.added-metrics-window {
  width: 100% !important;
  margin-left: 200px;
}

.add-metric {
  width: 12%;
  min-width: 150px;

  .add-metric__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 2px solid #6D6DF6;
    margin: 0 0 25px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.4285714285714286rem;
    letter-spacing: 0.2px;
    color: #6D6DF6;

    &:hover {
      background: #6D6DF6;
      color: #fff;

      img {
        &.blue {
          display: none;
        }

        &.white {
          display: block;
        }
      }
    }

    img {
      margin: 0 19px 0 0;

      &.white {
        display: none;
      }
    }


    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      & {
        height: 75px;
      }
    }
  }

}


@media (max-width: 1000px) {
  .metrics-modal .ant-modal-body .visible-list .metric-item {
    margin-right: 15px !important;
  }
}


.metrics-modal {
  .modal-title {
    border: 0;
    text-align: center;
    padding: 20px 0 40px 0;

    font-size: 1.4285714285714286rem;
    letter-spacing: -0.06px;
    color: #363694;
  }

  .ant-modal-body {
    .visible-list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;

      .default-visible-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        background: #FFFFFF;
        border: 1px dashed #77777e;
        border-radius: 8px;
        padding: 8px 12px 14px;
        margin: 0 0 25px 0;
      }

      .metric-item {
        .metric-item-default-style();
        width: 100%;
        position: relative;
        box-shadow: 0px 0px 20px rgba(142, 147, 192, 0.08);
        cursor: pointer;
        margin: 0;

        .remove-item {
          .action-button();
          background: rgba(235, 87, 87, 0.2);
        }
      }

    }

    .hidden-list__title {
      font-size: 0.8571428571428571rem;
      color: #656A84;
      margin: 40px 0 32px 0;

    }

    .hidden-list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;

      .metric-item {
        .metric-item-default-style();
        width: 100%;
        position: relative;
        box-shadow: 0px 0px 20px rgba(142, 147, 192, 0.08);
        cursor: pointer;

        &:last-child,
        &:nth-child(5n + 5) {
          margin-right: 0;
        }

        .add-item {
          .action-button();
          background: rgba(143, 211, 157, 0.2);
        }
      }
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      .modal-title {
        padding: 45px 0;
      }

      .ant-modal-body {
        .hidden-list,
        .visible-list {
          grid-row-gap: 10px;
        }
      }

      .ant-modal-body .hidden-list .metric-item:nth-child(5n + 5) {
        margin-right: 2%;
      }
    }
  }
}

.action-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
}
