.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 600;
    font-size: 2.2857142857142856rem;
    line-height: 2.7142857142857144rem;
    color: #312C51;
    margin: 5rem 0 2.857142857142857rem;

    display: flex;
    align-items: center;

    svg {
      height: 4rem;
      width: initial;
      margin: 0 0 0 0.8571428571428571rem;

      .cls-1, .cls-2 {
        fill: #ff5256;
      }

      .cls-2 {
        fill-rule: evenodd;
      }
    }
  }

  ul {
    width: 100%;
    max-width: 92.14285714285714rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28.571428571428573rem, 1fr));
    grid-gap: 0.7142857142857143rem;

    li {
      display: flex;
      flex-direction: column;
      flex: 1;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 2.857142857142857rem 2.142857142857143rem;

      h3 {
        font-weight: 600;
        font-size: 1.7142857142857142rem;
        line-height: 2.0714285714285716rem;
        color: #312C51;
        display: flex;
        align-items: center;
        margin-bottom: 0.7857142857142857rem;

        svg {
          min-width: 1.5714285714285714rem;
          width: 1.5714285714285714rem;
          height: 1.5714285714285714rem;
          margin: 0 0.8571428571428571rem 0 0;
        }
      }

      p {
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #5B586F;
        margin-bottom: 1.4285714285714286rem;
      }

      .btn {
        height: 2.2857142857142856rem;
        font-size: 0.8571428571428571rem;
        margin: auto 0 0 0;
      }
    }
  }
}