.custom-select.ant-select {
  position: relative;
  padding: 0;

  .ant-select-selection:focus {
    box-shadow: none;
  }

  &.ant-select-open {
    .ant-select-selection {
      box-shadow: none;
    }


    .ant-select-arrow {
      transform: rotate(180deg);
      transition: .2s;
    }
  }

  .ant-select-selection {
    height: 100%;

    .ant-select-selection__rendered {
      align-items: center;
      margin-left: 0;
      line-height: initial;

      .ant-select-selection-selected-value {
        align-items: center;
      }
    }
  }


  .ant-select-arrow {
    height: 100%;
    right: 1.0714285714285714rem;
    top: 0;
    display: flex;
    align-items: center;
    transition: .2s;
    margin: 1px 0 0 0;

    svg {
      width: 0.7142857142857143rem;
      height: 0.42857142857142855rem;

      use {
        stroke: #656A84;
      }
    }
  }
}

.ant-select-dropdown-menu {
  z-index: 1000;

  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #F5F5FF;
  }

  .ant-select-dropdown-menu-item-selected {
    font-weight: 400;
    background: #F5F5FF;
  }
}
