@import '../../../../style/variables.less';

.optimize-options {
  width: 25.71429em;

  @media (max-width: 1814px) {
    width: 23.57143em;
  }

  .options-content > div {
    margin: 0 0 0.35714em 0;
  }
}

.check-box-item {
  padding: 0.57143em;
  border: 1px solid #f5f5ff;
  border-radius: 0.57143em;

  .ant-checkbox-wrapper,
  .ant-checkbox-wrapper-checked {
    font-size: 1rem; // 14px

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: @action-color;
      border-color: @action-color;
    }

    .ant-checkbox,
    .ant-checkbox-checked,
    .ant-checkbox-inner,
    .ant-checkbox-input {
      font-size: inherit; // 14px
      width: 1.7142857em;
      height: 1.7142857em;
    }

    .ant-checkbox-inner::after {
      width: 0.677551em;
      height: 1.0840816em;
    }

    span {
      font-size: inherit; // 14px
    }
  }
}
