@import '../../../../style/variables';

.main-pages .main-container .page > div.amazon-connect {
  height: 100%;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;

  & > .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & > .navigations {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    list-style: none;
    margin: 0;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0 20px;

      .bar {
        display: none;
      }
    }

    li {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1.2857142857142858rem;
      line-height: 2.0714285714285716rem;
      color: #C9CBD4;

      div {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        background: #C9CBD4;
        border-radius: 50%;
        margin: 0 10px 0 0;
        font-weight: 600;
        font-size: 1.1428571428571428rem;
        line-height: 2.0714285714285716rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
      }


      &.active {
        color: #353A3E;

        div {
          background: #6959AB;
        }
      }
    }

    hr {
      flex: 1;
      min-width: 30px;
      height: 1px;
      background: #C9CBD4;
      border: 0;
      margin: 0 13px;
    }
  }


  section {
    width: 80%;
    max-width: 71.42857142857143rem;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 4.285714285714286rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;

    @media (max-width: 900px) {
      width: 90%;
      padding: 4.285714285714286rem 5.714285714285714rem;
      margin-top: 4.285714285714286rem;
    }
    @media (max-width: 700px) {
      width: 100%;
      padding: 2.857142857142857rem;
      margin-top: 2.857142857142857rem;
    }

    & > h2 {
      width: 100%;
      font-weight: 600;
      font-size: 2.2857142857142856rem;
      line-height: 2.7142857142857144rem;
      text-align: center;
      color: #353A3E;
      margin: 0;
    }

    .actions {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2.857142857142857rem;
      margin-left: auto;

      .row {
        display: flex;
      }

      .btn {
        height: 3.4285714285714284rem;
        font-size: 1.1428571428571428rem;
        font-weight: 600;
        display: flex;
        align-items: center;

        &.next {
          svg {
            margin: 0 0 0 1.0714285714285714rem;
          }
        }

        &.back {
          margin: 0 1.4285714285714286rem 0 0;

          svg {
            margin: 0 1.0714285714285714rem 0 0;
          }
        }

        &.cancel {
          height: auto;
          padding: 0;
          background: none;
          color: #46435C;
          margin: 1.4285714285714286rem 0 0 0;

          &:hover {
            color: #FF5256;
          }
        }
      }
    }
  }

  .section-description {
    font-weight: 500;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286rem;
    text-align: center;
    color: #46435C;

    a {
      color: #FF5256;
      text-decoration: underline;
    }
  }

  .progress,
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #46435C;
      margin: 1.4285714285714286rem 0 0;
    }

    img {
      width: 2.857142857142857rem;
    }
  }

  .error {
    align-items: flex-start;
  }

  @media (max-width: 850px) {
    & {
      padding: 5px !important;
    }

    & > .navigations {
      width: 100%;
      margin: 0;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid #F3F3F3;
      position: relative;

      &.active-5 {
        display: none;
      }

      ul {
        width: 100%;
        padding: 0 15px;

        .bar {
          max-width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #6959AB;
          border-radius: 4px;
          display: block;
        }
      }

      li {
        span {
          display: none;
        }

        &.active {
          margin: 0 auto 0 0;

          span {
            display: block;
            font-size: 12px;
            line-height: 15px;
          }
        }

        &.finished {
          div {
            background: #6959AB;
          }
        }
      }

      hr {
        display: none;
      }
    }

    & > .container {
      z-index: 11;
    }

    section {
      width: 100%;
      margin: 0;
      border-radius: 0 0 4px 4px;
      padding: 40px 15px 60px;

      .section-description {
        font-size: 14px;
        line-height: 17px;
      }

      & > h2 {
        font-size: 20px;
        line-height: 24px;
      }

      .actions {
        margin: 60px 0 0 0;

        .btn {
          height: 42px;
          font-size: 14px;
        }
      }
    }
  }
}