.main-pages .main-container .page > div.account-page {
  display: flex;
  height: 100%;
  padding: 0;

  .page-title {
    display: none;
  }

  .account-navigation {
    width: 15.714285714285714rem;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 10px 0 10px 10px;
    padding: 2px 0;
    overflow: auto;

    a {
      min-height: 3.5714285714285716rem;
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid #C9CBD4;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.2142857142857142rem;
      color: #353A3E;
      padding-left: 1.4285714285714286rem;
      position: relative;

      i {
        margin: 0 0.5714285714285714rem 0 0;
        display: flex;
        align-items: center;

        svg {
          min-width: 1.1428571428571428rem;
          width: 1.1428571428571428rem;
          height: 1.1428571428571428rem;
          //fill: #353A3E;
        }
      }

      &:hover {
        background: #FFFAFA;
      }

      &.active {
        background: #FFFAFA;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 0.2857142857142857rem;
          background: #FF5256;
        }
      }
    }
  }

  .account-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    padding: 10px;
  }

  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    flex: 1;

    .page-title {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #353A3E;
      margin: 0 0 12px;

      a {
        width: max-content;
        color: #353A3E;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          min-width: 12px;
          height: 12px;

          border-left: 2px solid #353A3E;
          border-top: 2px solid #353A3E;
          transform: rotate(-45deg);
          margin: 0 12px 0 10px;
          border-radius: 2px 0 0 0;
        }
      }
    }

    .account-navigation {
      width: 100%;
      flex: 1;
      margin: 0;
      display: none;

      &.visible {
        display: flex;
      }

      a {
        height: 54px;
        font-size: 18px;
        line-height: 22px;

        &::after {
          content: '';
          width: 12px;
          height: 12px;

          border-right: 2px solid #353A3E;
          border-top: 2px solid #353A3E;
          transform: rotate(45deg);
          margin: 0 20px 0 auto;
          border-radius: 0 2px 0 0;

        }

        i {
          margin: 0 12px 0 0;

          svg {
            width: 20px;
            min-width: 20px;
            height: 20px;
          }
        }

      }
    }

    .account-content {
      padding: 0;
      flex: initial;
    }
  }
}