.optimization-rules-page .rule-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 0;

  .settings {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    border-radius: 4px;

    .rule-info {
      padding: 1.4285714285714286rem;
    }

    h2 {
      height: 2.28571429rem;
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      line-height: 1.7142857142857142rem;
      color: #353A3E;
      margin-bottom: 0.8571428571428571rem;
      display: flex;
      align-items: center;

      .edit-btn {
        width: 10px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 10px;
        cursor: pointer;

        div {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #C9CBD4;
          margin: 3px 0;
          transition: .2s;
        }

        &::before,
        &::after {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #C9CBD4;
          transition: .2s;
        }

        &:hover {
          div,
          &::before,
          &::after {
            background: #FF5256;
          }
        }
      }
    }

    p {
      font-size: 1rem;
      color: #353A3E;
      margin-bottom: 1.4285714285714286rem;
    }

    .details-row {
      display: flex;
      align-items: center;
      font-size: 0.8571428571428571rem;
      line-height: 1rem;
      color: #353A3E;

      .type {
        margin: 0 auto 0 14px;

        span {
          text-transform: capitalize;
        }
      }
    }
  }
}

.optimization-rules-page .rule-details .save-actions,
.optimization-rules-page .campaign-details .save-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.4285714285714286rem;
  max-height: 0;
  overflow: hidden;
  transition: .2s;
  border-top: 2px solid #fff;

  .btn {
    height: 2.2857142857142856rem;
    padding: 0 15px;
    margin: 0 0 0 10px;
  }

  &.visible {
    max-height: 60px;
    padding: 1rem 1.4285714285714286rem;
    border-color: #C9CBD4;
  }
}


.optimization-rules-page .rule-details .attach-block,
.optimization-rules-page .campaign-details .attach-block {
  flex: 1;
  min-height: 500px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    justify-content: center;
    height: 4.285714285714286rem;
    min-height: 4.285714285714286rem;
    margin-bottom: 1.4285714285714286rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .container {
      width: 100%;
      max-width: 740px;
      display: flex;
    }

    .tab {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1.1428571428571428rem;
      text-align: center;
      text-transform: uppercase;
      color: #353A3E;
      cursor: pointer;
      position: relative;

      &:hover {
        color: #6959AB;
      }

      &.active {
        color: #6959AB;

        &::before {
          height: 4px;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: #6959AB;
        }
      }

      .count {
        background: #7DD4A1;
        border-radius: 16px;
        font-weight: 600;
        font-size: 0.7142857142857143rem;
        line-height: 1rem;
        color: #FFFFFF;
        padding: 2px 10px;
        margin: 0 0 0 10px;
        position: absolute;
        left: 73%;
      }
    }

  }


}
