
.user-products-section.zth .convert-semantic-core {
  flex-wrap: nowrap;

  h3 {
    font-size: 1.2857142857142858rem;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.65);
  }

  .btn {
    height: 2.2857142857142856rem;
    font-size: 1rem;
  }

  .ant-checkbox-wrapper {
    span {
      font-size: 1rem;
    }
  }

  .custom-table {
    border: 1px solid #c9cbd4;
    margin-bottom: 20px;

    .table-head {
      background: #f0f0f0;

      .th {
        padding: 0;
        border-right: 1px solid #c9cbd4;
        color: #000;

        &:last-child {
          border: 0;
        }
      }

      .title {
        justify-content: center;
        font-size: 1rem !important;
      }
    }

    .table-body {
      .table-body__row {
        .table-body__field {
          padding: 5px;
          border-right: 1px solid #c9cbd4;
          font-size: 1rem !important;

          &:last-child {
            border: 0;
            justify-content: center;
          }
        }
      }
    }
  }


  .ant-checkbox {
    width: 16px;
    height: 16px;
  }

  .bids-fields-list {
    width: 100%;
    display: grid;
    //grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    grid-column-gap: 30px;
    margin-bottom: 20px;
  }

  .actions {
    .btn {
      margin: 0 20px 20px 0;
    }
  }


  .form-group {
    width: 100%;
    margin-bottom: 20px;

    .custom-select {
      width: 100%;
      height: 2.2857142857142856rem;

      .ant-select-selection-selected-value {
        color: #000;
      }
    }

    &.w-25 {
      width: 25%;
    }

    &.w-50 {
      width: 50%;
    }

    input {
      min-width: 100px;
      color: #000;

      &:disabled {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }

  .cols-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
  }


  .product-name, .campaign-strategy, .semantic-url {
    width: 49%;
  }

  .htCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .core-information, .step-1, .variations {
    max-width: 100%;
  }

  .bids-budgets-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .ant-checkbox-wrapper {
      margin-bottom: 20px;
      width: max-content;
    }
  }

  .variations {
    margin-bottom: 40px;

    .actions {
      padding: 0 0 0 15px;
    }

    .custom-table {
      max-height: 300px;

      .table-body {
        .table-body__row {
          .table-body__field {
            padding: 0;

            &:first-child {
              justify-content: center;
              font-weight: 500;
              background: #fff;
            }

            input {
              border: 0;
              width: 100%;
              min-height: 30px;
              height: 30px;
              resize: none;
              border-radius: 0;
              color: #000;
              font-size: 1rem;

              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .table-body__field {
      overflow: hidden;
    }

    .list-tabs {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      grid-column-gap: 5px;
      grid-row-gap: 10px;
      border-bottom: 1px solid #f0f0f0;

      li {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 1px solid #f0f0f0;
        border-bottom-color: transparent;
        border-radius: 4px 4px 0 0;
        background: #fafafa;
        font-size: 1rem;
        cursor: pointer;

        &.active {
          background: #fff;
          color: #6D6DF6;
          cursor: default;
        }

        &:hover {
          color: #6D6DF6;
        }

        button {
          display: flex;
          align-items: center;
          margin: 0 0 0 10px;
        }
      }
    }

    .themes {
      padding-left: 20px;

      .row {
        display: flex;

        .form-group {
          width: 250px;

          &:first-child {
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }

  .conversion-options {
    .ant-radio-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      span {
        font-size: 1rem;
      }

      .ant-radio-wrapper:first-child {
        margin-bottom: 20px;
      }
    }

    .custom-table {
      width: max-content;
    }

    .users {
      .custom-select {
        .ant-select-selection-selected-value {
          br, span {
            display: none;
          }
        }

        .ant-select-search__field {
          padding-left: 11px;
        }
      }
    }

    .submit {
      height: 3rem;
      font-size: 1.2857142857142858rem;
      font-weight: 500;
      padding: 0 40px;

      .ant-spin {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


.confirm-upload-window {
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 20px;
      margin: 0;
    }

    b {
      font-size: 20px;
    }

    .actions {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 40px 0 20px 0;

      .btn {
        height: 32px;
        font-size: 1rem;

        .ant-spin {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
