@import "../../../../../style/variables.less";

.campaigns-list {
  height: 600px;
  margin: 20px 0 20px 0;
  background: #fff;
  box-shadow: @default-section-shadow;

  .custom-table {
    flex: 1;
    height: inherit;

    .table-overflow {
      height: 100%;
    }
  }
}