.list-filters-block {
  display: flex;
  position: relative;
  margin-bottom: 20px;

  .row {
    display: flex;
    align-items: center;
  }

  & > button {
    display: flex;
    align-items: center;
    color: #656A84;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 0 15px;
    padding: 0 10px 0 5px;
    border-radius: 20px;
    text-transform: uppercase;

    i {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.2857142857142856rem;
      height: 2.2857142857142856rem;
      border-radius: 50%;
      padding-bottom: 2px;

      svg {
        width: 1.1428571428571428rem;
        height: 1rem;
        fill: #656A84;
      }
    }

    span {
      padding-bottom: 2px;
    }


    &:hover {
      color: #6D6DF6;
      background: rgba(109, 109, 246, 0.05);

      svg {
        fill: #6D6DF6;
      }
    }
  }
}

.analytics-page .current-filters {
  display: flex;
  flex-wrap: wrap;

  .filter-item {
    width: max-content;
    margin-bottom: 10px;
  }

  .reset-filters {
    height: 2.28571429rem;
    color: #6D6DF6;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.analytics-filter-popover {
  z-index: 100000;
  padding-left: 15px;

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    max-width: max-content;
  }

  .ant-select-selection__placeholder {
    padding-left: 11px !important;
  }

  .filter-variables {
    display: flex;
    flex-direction: column;

    .row, .buttons {
      display: flex;
    }

    .form-group {
      height: 2.28571429rem;
      width: 200px;
      margin: 0 15px 0 0;

      &:last-child {
        margin: 0;
      }

      .pw-tree-select {
        height: 100%;

        li {
          font-size: 1rem;
        }
      }
    }
  }

  .buttons {
    margin: 15px 0 0 0;
    justify-content: flex-end;

    .btn {
      width: max-content;
      border-radius: 4px !important;
      margin: 0 0 0 15px;
    }
  }
}
