.dashboard-page {
  width: 100%;
  height: max-content;
  min-width: 650px;

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    min-width: 550px;
  }

  .products-statistic {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 10;

    .btn {
      height: 2.2857142857142856rem;
      text-transform: uppercase;
      font-size: 1.1428571428571428rem;
      font-weight: 500;
    }
  }
}