.section-name {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 1.42857143rem;

  h2 {
    font-weight: bold;
    font-size: 1.5714285714285714rem;
    margin: 0 0 5px;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }
}