section.optimization-changes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.4285714285714286rem;

  h3 {
    font-size: 1.1428571428571428rem;
    line-height: 1.3571428571428572rem;
    text-align: center;
    color: #343C5A;
    margin: 0;
    padding: 0;
  }

  .value {
    font-size: 2.642857142857143rem;
    text-align: center;
    color: #6D6DF6;
    font-weight: 500;
  }

  .btn {
    max-width: 100%;
    min-height: 2.2857142857142856rem;
    height: max-content;
    font-size: 0.8571428571428571rem;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
}