.spend-statistics {
  //grid-area: spendStatistics;
  margin: 0 10px 0 0;
  position: relative;
  overflow: hidden;

  &.disabled {
    .section-header,
    .statistics-block {
      filter: grayscale(100%);
    }
  }

  .section-header {
    h2 {
      display: flex;
      align-items: center;
    }

    .out-of-budget {
      display: flex;
      flex-direction: column;
      font-size: 0.8571428571428571rem;
      color: #343C5A;
      margin: 0 30px 0 auto;

      & > div {
        display: flex;
        align-items: center;

        div {
          width: 1.1428571428571428rem;
          height: 1.1428571428571428rem;
          margin: 0 10px 1px 0;
          border-radius: 4px;
        }

        &.campaign {
          font-size: 1rem;

          div {
            background: #FFA8AA;
          }
        }

        &.account {
          div {
            background: #FBB13C;
          }
        }
      }
    }

    .btn {
      height: 2.2857142857142856rem;
      padding: 0 0.8571428571428571rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      position: relative;

      svg {
        width: 1.1428571428571428rem;
        height: 1.1428571428571428rem;
        margin: 0 0.7142857142857143rem 0 0;
      }

      img.soon {
        position: absolute;
        right: 5px;
        top: -7px;
        width: 2.5rem;
      }
    }
  }

  .statistics-block {
    margin: 15px 0 0 0;

    .day-axis {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .day-name {
        width: 1.0714285714285714rem;
        height: 1.42857143rem;
        background: inherit;
        padding: 0 0 1px 0;
        margin: 0 2px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


    .time-axis {
      display: flex;
      justify-content: space-between;
      margin: 0 0 0 1.0714285714285714rem;

      .time-name {
        flex: 1;
        display: flex;
        justify-content: center;
        width: 1.42857143rem;
        margin: 0 0 5px 0;
        text-transform: lowercase;
      }
    }

    & > .row {
      display: flex;

      &:last-child {
        margin: 0;
      }

      .statistic {
        flex: 1;

        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(24, minmax(1.42857143rem, 1fr));
        grid-auto-flow: dense;
        position: relative;
      }

      .statistic-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        font-size: 0.8571428571428571rem;
        text-align: center;
        letter-spacing: -0.4375px;
        color: #656A84;

        text-transform: lowercase;

        .custom-tooltip {
          width: 100%;
          margin: 0;
        }


        .statistic-information {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          border-radius: 4px;
          background: #F3F3F3;
        }

        .chart-tooltip {
          .ant-popover-inner-content {
            display: flex;
            flex-direction: column;
            border: 0;
            box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);


            .date {
              //justify-content: center;
              text-transform: capitalize;
              font-weight: bold;
            }

            .col {
              display: flex;
              flex-direction: column;

              &:first-child {
                h3 {
                  padding-right: 30px;
                }
              }

              h3 {
                margin: 0 0 5px 0;
                padding: 0 0 5px 0;
                border-bottom: 1px solid #F5F5FF;
              }

              .selected-metric {
                height: 20px;
                display: flex;
                align-items: center;
                text-transform: capitalize;
              }
            }

            .value {
              height: 20px;
              margin: auto 0 0 0;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              color: #82ca9d;

              .no-value {
                width: 10px;
                height: 2px;
                background: #919191;
              }
            }

            .out-of {
              text-transform: initial;
              color: #FFA8AA;

            }
          }
        }

        .account-out-budget-item {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          background: #FBB13C;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .statistic-information {
            width: 14px;
            height: 14px;
            opacity: 0;

            @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
              width: 11px;
              height: 11px;
            }
          }
        }


        .out-budget-item {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          background: #FFA8AA;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .statistic-information {
            width: 14px;
            height: 14px;
            opacity: 0;

            @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
              width: 11px;
              height: 11px;
            }
          }
        }
      }
    }
  }
}

.budget-window {
  max-width: 42.857142857142854rem;
  width: 100% !important;

  .ant-modal-content {
    padding: 2.857142857142857rem !important;
    width: 100%;
  }

  .ant-modal-body {
    padding: 0;
  }

  h2 {
    font-size: 1.1428571428571428rem;
  }

  .ant-radio-group {
    width: 100%;
  }

  .current-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    letter-spacing: -0.05px;
    color: #343C5A;

    .value {
      padding: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #FFA8AA;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .recommend-budget {
    margin: 1.4285714285714286rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .value {
      padding: 0 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #8fd39d;
      font-weight: 500;
      font-size: 1rem;
    }

    .ant-spin-spinning {
      margin: 0.35714285714285715rem 0 0 0;
      position: absolute;
      right: 0;
    }
  }

  .custom-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-input-number, input {
      border-radius: 8px;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }

    .InputCurrency {
      width: 7.142857142857143rem;
      height: 2.2857142857142856rem;

      .Dollar {
        font-size: 1.1428571428571428rem;
        top: 3px;
        bottom: 3px;
      }

      .ant-input-number, .ant-input-number-input-wrap, input {
        width: 100%;
        height: 100%;
        font-size: 1rem;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 2.5rem 0 0 0;
    height: 32px;


    .btn {
      height: 32px;
      border-radius: 4px;
      font-weight: 500;

      &:first-child {
        margin-right: 1.0714285714285714rem;
      }
    }

    .ant-spin {
      margin: 0 auto;
    }
  }

  .success {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 0 0 20px 0;
    }

    .btn {
      width: 45%;
      height: 32px;
      margin: 25px auto 25px auto;
    }
  }
}
