.custom-modal-window.cogs-window {
  width: 60vw !important;
  max-width: 670px;
  height: 70vh;
  display: flex;

  .ant-modal-content {
    display: flex;
    flex: 1;
  }

  .ant-modal-body {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;

    .window-header {
      padding: 1.4285714285714286rem 2.857142857142857rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.5px solid #C9CBD4;

      h2 {
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        font-weight: 500;
        color: #343C5A;
        margin: 0;
      }

      .btn {
        min-width: 1.7142857142857142rem;
        width: 1.7142857142857142rem;
        height: 1.7142857142857142rem;
      }

      svg {
        fill: #C9CBD4;
      }
    }

    ul {
      list-style: none;
      overflow-y: auto;
      padding: 1.4285714285714286rem 0 2.357142857142857rem;
      margin: 0;


      li {
        display: flex;
        align-items: center;
        margin-bottom: 2.857142857142857rem;
        min-height: 2.857142857142857rem;
        position: relative;
        z-index: 10;
        padding: 0 2.857142857142857rem;

        .current-value {
          height: 400%;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -50%;
          display: none;
          justify-content: flex-end;
          align-items: center;
          padding: 0 2.857142857142857rem 0 0;
          font-size: 1rem;
          font-weight: 500;
          color: #6D6DF6;
          z-index: 1;
        }

        .add-new-item {
          width: 1.42857143rem;
          height: calc(200% - 8px);
          position: absolute;
          bottom: calc(50% + 4px);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;

          .line {
            height: 100%;
            width: 2px;
            background: #C9CBD4;

          }

          i {
            display: none;
          }

          &:hover {
            cursor: pointer;

            i {
              position: absolute;
              top: 0;
              bottom: 0;
              display: flex;
              align-items: center;

              svg {
                min-width: 1.4285714285714286rem;
                width: 1.4285714285714286rem;
                height: 1.4285714285714286rem;
              }
            }

            .line {
              background: #6d6df6;
            }

            &::before,
            &::after {
              content: '';
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #6d6df6;
              position: absolute;
              left: 0;
              right: 0;
              margin: 0 auto;
              z-index: 20;
            }

            &::before {
              top: -8px;
            }

            &::after {
              bottom: -8px;
            }

            & ~ .current-value {
              display: flex;
            }

            & ~ li {
              z-index: 1111111111;
            }
          }
        }

        &:last-child,
        &:nth-child(2) {
          .add-new-item {
            pointer-events: none;
          }
        }


        & > i {
          min-width: 1.4285714285714286rem;
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 7px 0 0;
          z-index: 1;

          svg {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #C9CBD4;

            & > * {
              display: none;
            }
          }
        }

        .time {
          font-size: 1rem;
          color: #343C5A;
        }

        .value {
          font-size: 1rem;
          color: #6d6df6;
          margin: 0 0 0 5px;
        }

        .InputCurrency {
          max-width: 120px;
          height: 2.2857142857142856rem;
          margin: 0 0 0 12px;

          input {
            font-size: 0.8571428571428571rem;
          }
        }

        .pw-date-picker {
          max-width: 135px;
          height: 2.2857142857142856rem;

          .ant-calendar-picker-clear {
            display: none;
          }
        }

        .btn {
          width: 2.857142857142857rem;
          min-width: 2.857142857142857rem;
          height: 2.857142857142857rem;
          margin: 0 0 0 5px;

          svg {
            fill: #C9CBD4;
          }

          &.edit-btn {
            svg {
              width: 35%;
              height: 35%;
            }
          }

          &.remove-btn {
            svg {
              width: 55%;
              height: 55%;
            }
          }

          &.default,
          &.white {
            height: 2.2857142857142856rem;
            font-weight: 500;
            font-size: 0.8571428571428571rem;
            margin: 0 0 0 12px;

            .ant-spin {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        &.active {
          z-index: 222;

          i {
            z-index: 11;

            svg {
              min-width: 1.4285714285714286rem;
              width: 1.4285714285714286rem;
              height: 1.4285714285714286rem;
              display: block;
              fill: #6d6df6;
              transform: rotate(45deg);

              & > * {
                display: block;
              }
            }
          }
        }

        &:last-of-type {
          margin: 0;
        }
      }

      .new-item {
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        font-weight: 500;
        color: #6D6DF6;
        cursor: pointer;
        z-index: 333;

        &:last-child {
          z-index: 100;
        }

        i {
          z-index: 11;

          svg {
            min-width: 1.4285714285714286rem;
            width: 1.4285714285714286rem;
            height: 1.4285714285714286rem;
            display: block;
            fill: #6d6df6;

            & > * {
              display: block;
            }
          }
        }
      }
    }
  }

  .pw-date-picker-dropdown {
    .ant-calendar-footer-show-ok {
      width: 100%;
      background: #fff;
      padding: 0;

      .ant-calendar-footer-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ant-calendar-time-picker-btn {
          width: 100%;
          text-align: center;
          padding: 0 17px;
          text-transform: capitalize;
          margin: 0;
          color: #6d6df6;

          &:hover {
            color: #5F5FBE;
          }
        }

        .ant-calendar-ok-btn {
          background: #6D6DF6;
          border: 0;
          margin: 0 0 10px 0;
          color: #fff;
          font-weight: 500;
          padding: 0 20px;
          border-radius: 4px;
          font-family: Eina;

          &:hover {
            background: #5F5FBE;
          }

          &.ant-calendar-ok-btn-disabled {
            cursor: not-allowed;
            pointer-events: none;
            background: #C9CBD4;
            color: #fff;
          }
        }
      }
    }

    .ant-calendar-time-picker-panel {
      ul {
        max-height: 100%;
        padding: 0;
        margin: 0;


        li {
          padding: 10px 20px;
          margin: 0;
          color: #343C5A;
          font-weight: 400;

          &:hover {
            background: rgba(245, 245, 255, 0.45);
          }

          &.ant-calendar-time-picker-select-option-selected {
            font-weight: 400;
            background: rgba(245, 245, 255, 0.45);
            color: #6D6DF6;
          }
        }
      }
    }
  }
}

