.main-page.landing-page {
  overflow: auto;
  padding-top: 0;
  font-family: Eina;

  .container {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .header-block {
    position: fixed;
    top: 0;
    transition: all 0.5s ease;

    &.transparent {
      background: transparent;

      .logo-link {
        svg {
          path {
            fill: #fff;

            &:nth-child(3) {
              fill: #6d6df6;
            }
          }
        }
      }

      .login-link {
        svg {
          fill: #83FED0;
        }
      }


      header {
        border: 0;
      }

      .header-menu {
        a {
          color: #fff;
        }
      }
    }
  }

  .pre-header {
    height: 56.1vw;
    position: relative;

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
      height: 70.05vw;
    }

    .block-video-container {
      width: 100%;
      height: 100%;

      &.mob {
        display: none;
      }
    }

    .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      font-size: 60px;
      line-height: 72px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 18px;

      span {
        color: #83FED0;
      }
    }

    p {
      font-size: 32px;
      line-height: 38px;
      font-weight: 100;
      color: #FFFFFF;
      margin-bottom: 64px;
    }

    .btn {
      height: 56px;
      background: #83FED0;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: #6D6DF6;

      &:hover {
        background: #77e7bd;
      }
    }
  }

  .services {
    background: #F3F7FD;
    padding: 128px 0;

    .container {
      display: flex;
      align-items: flex-start;
    }

    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-size: 60px;
      line-height: 72px;
      font-weight: 400;
      color: #2D2E55;
      margin-bottom: 28px;
    }

    p {
      font-size: 21px;
      line-height: 25px;
      font-weight: 100;
      color: #7C8A95;
      margin: 0;
    }

    .services-list {
      list-style: none;
      margin: 0;
      background: transparent;

      .ant-collapse-item {
        border: 0;
        margin-bottom: 47px;

        &:last-of-type {
          margin: 0;
        }

        .ant-collapse-header {
          font-size: 32px;
          line-height: 38px;
          font-weight: 400;
          color: #2D2E55;
          padding: 0 0 17px 0;
          margin: 0;
          cursor: pointer;
          display: flex;
          align-items: center;

          &::before {
            content: '';
            margin: 10px 17px 0 0;
            border: 8px solid transparent;
            border-top: 8px solid #6d6df6;
          }

          i {
            display: none;
          }
        }

        .ant-collapse-content-box {
          padding: 0 0 17px 33px;

          ul {
            list-style: none;
            margin: 18px 0 0 0;

            li {
              a {
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: #6D6DF6;
                position: relative;
                overflow: hidden;
                width: max-content;

                &::after {
                  content: "";
                  max-width: 0;
                  width: 0;
                  height: 1px;
                  background-color: #6D6DF6;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  transition: .2s ease-in;
                }

                &:hover {
                  color: #5252b8;

                  &::after {
                    max-width: 100%;
                    width: 100%;
                  }
                }
              }

              margin-bottom: 12px;
              display: flex;
              align-items: center;

              &::before {
                content: '';
                width: 6px;
                min-width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #6d6df6;
                margin: 0 12px 0 0;
              }

              &:last-of-type {
                margin: 0;
              }
            }
          }

          .btn {
            height: 40px;
            margin: 28px 0 0 0;
            padding: 0 35px;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
          }
        }

        &.ant-collapse-item-active {
          .ant-collapse-header {
            &::before {
              margin: -4px 17px 0 0;
              border: 8px solid transparent;
              border-bottom: 8px solid #6d6df6;
            }
          }
        }
      }

    }
  }

  .statistic {
    padding: 128px 0;
    background: #fff;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #2d2045;
      margin-bottom: 48px;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        flex: 1;
        display: flex;
        flex-direction: column;

        .value {
          font-size: 48px;
          line-height: 58px;
          color: #6D6DF6;
          margin-bottom: 18px;
        }

        p {
          font-size: 21px;
          line-height: 25px;
          font-weight: 100;
          text-transform: capitalize;
          color: #7C8A95;
          margin: 0;
        }
      }
    }
  }

  .clients {
    padding: 0 0 128px;
    background: #fff;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #2d2045;
      margin-bottom: 24px;

      span {
        color: #6D6DF6;
      }
    }

    p {
      font-size: 21px;
      line-height: 25px;
      font-weight: 100;
      color: #7C8A95;
      margin-bottom: 48px;
    }

    .map {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        max-width: 1180px;
      }

      .btn {
        display: none;
      }

      .row {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
      }

      .col {
        display: flex;
        flex-direction: column;

        &:last-of-type {
          margin: 0 0 0 70px;

          ul {
            margin-bottom: 40px;
          }
        }
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: auto;

        li {
          font-size: 16px;
          line-height: 19px;
          font-weight: 100;
          color: #7C8A95;
          margin-bottom: 12px;

          &.title {
            color: #6d6df6;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .insights {
    padding: 128px 0;
    background: url(../../../assets/img/landing-mainPage/insights-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .col {
      display: flex;
      flex-direction: column;

      &:last-of-type {
        width: 52%;

        p {
          font-size: 24px;
          line-height: 29px;
        }
      }
    }

    h2 {
      font-size: 60px;
      line-height: 72px;
      font-weight: 400;
      color: #83FED0;
      margin-bottom: 28px;
    }

    p {
      font-size: 32px;
      line-height: 38px;
      font-weight: 100;
      color: #FFFFFF;
      margin: 0;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 24px 0 0 0;

      li {
        height: 40px;
        border: 1px solid #83FED0;
        box-sizing: border-box;
        border-radius: 50px;
        color: #83FED0;
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin: 0 24px 0 0;
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
        text-transform: uppercase;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .comments {
    min-height: 728px;
    padding: 128px 0;
    background: url(../../../assets/img/landing-mainPage/comments-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;

    h2 {
      width: 52%;
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #2D2E55;
      margin-bottom: 32px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .slider {
      height: 100%;
      width: 52%;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      .navigation {
        margin: auto 0 0 0;
        display: flex;

        .btn {
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          border: 1px solid rgba(109, 109, 246, 0.3);
          margin: 0 36px 0 0;

          &:hover {
            background: rgba(109, 109, 246, 0.05);
          }

          &:active {
            background: rgba(109, 109, 246, 0.15);
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        display: flex;

        li {
          opacity: 0;
          position: absolute;
          top: 0;
          transform: translateX(-150px);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

          &.active {
            opacity: 1;
            transform: translateX(0) scale(1) !important;
            transition-delay: 0.4s;
            position: initial;
            z-index: 100;
          }

          h4 {
            font-size: 32px;
            line-height: 38px;
            font-weight: 100;
            color: #6D6DF6;
            margin-bottom: 24px;
          }

          p {
            font-size: 24px;
            line-height: 29px;
            font-weight: 100;
            color: #7C8A95;
            margin: 0;
          }
        }
      }
    }
  }

  .blog-posts {
    padding: 128px 0;
    background: #fff;

    h2 {
      font-size: 60px;
      line-height: 72px;
      font-weight: 400;
      color: #2D2E55;
      margin-bottom: 28px;

      span {
        color: #6d6df6;
      }
    }

    p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      color: #7C8A95;
      margin-bottom: 48px;
    }

    .last-posts {
      margin-bottom: 64px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        width: max-content;
        font-size: 21px;
        line-height: 25px;
        font-weight: 100;
        color: #6D6DF6;
        margin: 18px 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .mob {
          display: none;
        }

        &:hover {
          svg {
            margin: 0 -10px 0 22px;
          }
        }

        svg {
          transition: .2s;
          margin: 0 0 0 12px;
          stroke: #6D6DF6;
        }
      }

      .row {
        display: flex;

        .post {
          flex: 1;
          background: #F3F7FD;
          display: flex;

          img {
            width: 340px;
          }

          .col {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 28px 20px 20px 24px;

            label {
              font-size: 12px;
              line-height: 17px;
              font-weight: 500;
              text-transform: uppercase;
              color: #7C8A95;
              margin-bottom: 8px;
              cursor: pointer;
              transition: .3s;

              &:hover {
                color: #6d6df6;
              }
            }

            h4 {
              font-size: 24px;
              line-height: 29px;
              font-weight: 500;
              margin-bottom: 18px;
              color: #2D2E55;
              cursor: pointer;
              transition: .3s;

              &:hover {
                color: #6d6df6;
              }
            }

            p {
              font-size: 16px;
              line-height: 19px;
              font-weight: 100;
              color: #7C8A95;
              margin: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .services {
      .container {
        flex-direction: column;
      }

      .services-list {
        margin: 28px 0 0 0;
      }
    }

    .clients {
      padding: 0 0 220px;
    }

    .insights {
      .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .col {
        width: 100%;

        &:last-of-type {
          width: 100%;

          margin-top: 28px;
        }
      }
    }

    .blog-posts {
      .row {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 600px) {
    .pre-header {
      height: 160vw;

      .block-video-container {
        &.desk {
          display: none;
        }

        &.mob {
          display: block;
        }
      }

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
        margin-top: auto;
      }

      p {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 28px;
      }

      .btn {
        margin-bottom: 95px;
      }
    }

    .services {
      padding: 64px 0;

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 18px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }

      .services-list {
        width: 100%;

        .ant-collapse-item {
          .ant-collapse-header {
            font-size: 24px;
            line-height: 29px;
          }

          .ant-collapse-content-box ul li {
            align-items: flex-start;

            &::before {
              margin-top: 6px;
            }
          }
        }
      }
    }

    .statistic {
      padding: 64px 0;

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 24px;
      }

      ul {
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          flex: initial;
          width: 43%;

          .value {
            font-size: 42px;
            line-height: 58px;
          }

          p {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }

    .clients {
      padding: 0 0 64px;

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 24px;
      }

      .map {
        .btn {
          display: flex;
          height: 40px;
          padding: 0 20px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
        }

        .col:last-of-type {
          ul:last-of-type {
            margin: 0;
          }
        }

        .row {
          margin: 28px 0 0 0;
          position: initial;
          overflow: hidden;
          max-height: 0;
          transition: .3s;

          &.visible {
            border-top: 1px solid #EEEEEE;
            max-height: 1000px;
            padding: 28px 0 32px 0;
          }
        }
      }
    }

    .insights {
      padding: 64px 0;
      background-position: 100%;

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
      }

      p {
        font-size: 21px;
        line-height: 25px;
      }

      .col:last-of-type {
        p {
          font-size: 16px;
          line-height: 19px;
        }

        ul {
          justify-content: space-between;

          li {
            margin: 0;
          }
        }
      }
    }

    .comments {
      min-height: 570px;
      padding: 64px 0;
      background-position: 20%;

      h2 {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 28px;
      }

      .slider {
        width: 100%;

        ul {
          li {
            h4 {
              font-size: 24px;
              line-height: 29px;
              margin-bottom: 12px;
            }

            p {
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }
    }

    .blog-posts {
      padding: 64px 0;

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 48px;
      }

      .last-posts {
        a {
          margin: -32px auto 0 0;
          height: 56px;
          background: #6d6df6;
          display: flex;
          align-items: center;
          padding: 0 35px;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          border-radius: 4px;

          .mob {
            display: block;
          }

          .desk {
            display: none;
          }


          svg {
            stroke: #fff;
          }
        }

        .row {
          .post {
            flex-direction: column;
            background: #fff;
            margin-bottom: 64px;

            img {
              width: 100%;
              height: 57.6vw;
            }

            .col {
              padding: 18px 0 0 0;
            }
          }
        }
      }
    }
  }
}

