.not-found-page {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;


  .container {
    width: 100%;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
}


.not-found-page .box {
  background: #6D6DF6;
  position: relative;
  padding: 0 0 280px 0;

  .container {
    position: relative;
  }

  .modal-window {
    width: 60%;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    margin-left: 100px;
    position: absolute;
    top: 168px;

    -webkit-box-shadow: 45px 45px 8px 0px rgba(86, 86, 235, 0.5);
    -moz-box-shadow: 45px 45px 8px 0px rgba(86, 86, 235, 0.5);
    box-shadow: 45px 45px 8px 0px rgba(86, 86, 235, 0.5);


    .window-header {
      width: 100%;
      height: 42px;
      background: #83FED0;
      display: flex;
      align-items: center;
      padding: 0 12px;
      grid-column-gap: 8px;
      border-radius: 4px 4px 0 0;

      div {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #71F0C1;
      }
    }

    svg {
      margin: 80px 0 46px;
    }

    h2 {
      font-size: 60px;
      font-weight: 500;
      line-height: 72px;
      text-align: center;
      color: #6D6DF6;
      margin-bottom: 12px;
    }

    p {
      font-size: 21px;
              line-height: 28px;
      text-align: center;
      color: #6D6DF6;
      margin-bottom: 32px;
    }

    .btn {
      height: 56px;
      margin-bottom: 64px;
      font-size: 21px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .background-text {
    display: flex;
    flex-direction: column;
    grid-row-gap: 33px;
    margin-top: -8px;

    p {
      font-size: 18px;
      line-height: 25px;
      color: #83FED0;
      margin: 0;
    }
  }

  @media (max-width: 800px) {
    padding: 50px 20px;

    .modal-window {
      width: 100%;
      position: initial;
      left: 0;
      right: 0;
      margin: 0;
      box-shadow: none;

      svg {
        width: 85%;
        max-width: 430px;
      }
    }

    .background-text {
      display: none;
    }
  }
}

