@import '../../../../style/variables';

.product-settings {
  margin-bottom: 3.5714285714285716rem;

  section {
    border-radius: 4px;
    background: #fff;
    box-shadow: @default-section-shadow;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .container {
      width: 100%;
      max-width: 77.14285714285714rem;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: content-box;
      margin: 0 auto;
    }

    & > .container {
      height: max-content;
    }

    &.collapsed {
      .section-header {
        border-color: #fff;
        border-radius: 4px;


        button {
          svg {
            transform: rotate(0deg);
          }
        }
      }

      & > .container {
        height: 0;
        overflow: hidden;
        transition: height .3s;
      }
    }

    .section-header {
      border-bottom: 1px solid #C9CBD4;
      min-height: 5.714285714285714rem;
      display: flex;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        background: rgba(245, 245, 255, 0.5);
        transition: 0.2s;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
      }

      h2 {
        font-size: 1.4285714285714286rem;
        color: #343C5A;
        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto 0 0;

        .optional {
          background: #F5F5FF;
          border-radius: 4px;

          font-size: 0.8571428571428571rem;
          color: #343C5A;

          display: flex;
          align-items: center;
          padding: 0 5px;
          font-weight: 400;

          position: absolute;
          right: -4.285714285714286rem;
          top: 1.4285714285714286rem;
        }
      }

      button {
        width: 2.857142857142857rem;
        height: 2.857142857142857rem;
        border-radius: 50%;

        svg {
          width: 16px;
          height: 9px;
          stroke: #343C5A;
          transform: rotate(180deg);
        }

        //&:hover {
        //  background: rgba(113, 113, 113, 0.15);
        //  transition: 0.2s;
        //}
      }
    }

    input, textarea {
      font-size: 1rem;

      &::placeholder {
        font-size: 1rem;
      }
    }

    .custom-select {
      .ant-select-selection {
        font-size: 1rem;
      }

      .ant-select-selection-selected-value {
        padding-left: 11px;
      }
    }
  }

  .next-step {
    min-height: 4.285714285714286rem;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    z-index: 10;

    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);

    .total {
      margin: 0 2.857142857142857rem 0 auto;
      font-size: 1.1428571428571428rem;
      color: #343C5A;
    }

    p {
      margin: 0;
      font-size: 1.4285714285714286rem;
      color: #343C5A;
    }

    .btn {
      height: 3.4285714285714284rem;
      font-size: 1.1428571428571428rem;
      font-weight: 500;
      margin-right: 80px;
      position: relative;

      .ant-spin {
        height: 3.4285714285714284rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
