.route-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(105, 89, 171, 0.1);

  .ant-spin {
    .ant-spin-dot-item {
      background-color: #6959AB;
    }
  }
}