.jungle-scout-report-page {
  flex: 1;
  grid-gap: 10px;

  .work-section {
    display: flex;
    flex-direction: column;
    position: relative;

    .route-loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    section {
      background: none;
      padding: 0;
    }
  }
}