.dayparting-page.dark-mode .placements {

  .section-header {
    h2 {
      margin: 0 auto 0 0;
    }

    .custom-select {
      width: 180px;
      height: 2.2857142857142856rem;

      .ant-select-selection {
        display: flex;
        align-items: center;
        padding: 0 0 0 1.0714285714285714rem;

        &::before {
          content: 'Metric:';
          height: 100%;
          font-size: 0.8571428571428571rem;
          display: flex;
          align-items: center;
          color: #898989;
        }

        .ant-select-selection__rendered {
          margin-right: 40px;

          .ant-select-selection-selected-value {
            padding: 0 0 0 5px;
            font-size: 0.8571428571428571rem;
          }
        }
      }
    }

    .chart-switch {
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 1rem;

      padding: 0 0 0 1.42857143rem;
      border-left: 1px solid #5E5E5F;
      margin: 0 0 0 1.42857143rem;

      button {
        margin: 0 10px;
        background: #A292E2;
      }

      span {
        color: #898989;

        &.active {
          color: #fff;
        }
      }
    }
  }

  .chart {
    height: 230px;
    padding: 0 10px 0;
    margin: 30px 0 0 0;

    .recharts-cartesian-axis-tick-line {
      display: none;
    }

    .recharts-cartesian-grid {
      .recharts-cartesian-grid-horizontal {
        line {
          stroke-dasharray: none !important;
        }
      }
    }
  }

  .metrics-statistics {
    width: 100%;
    margin: 20px 0 0 0;
    color: #fff;


    .custom-table .table-overflow .table-head {
      background: transparent;
      z-index: 11;
      border-top: 1px solid #898989;
      border-bottom: 2px solid #898989;
    }

    .custom-table .table-overflow .table-body .table-body__row {
      border-bottom: 2px solid #898989;

      &:last-of-type {
        border: 0;
      }
    }

    .custom-table .table-overflow .table-head > div .title {
      font-weight: 600;
    }

    .custom-table .table-overflow .table-body .table-body__row > div:last-child {
      justify-content: flex-start;
    }

    .custom-table .table-overflow .table-head > div,
    .custom-table .table-overflow .table-body .table-body__row > div {
      color: #fff;
      font-size: 1rem;
      border-right: 1px solid #898989;
      padding: 1.07142857rem;

      &:last-of-type {
        border: 0;
      }

      .parameter-name {
        svg {
          margin: 0 5px 0 0;
        }
      }
    }

    .custom-table .table-overflow .table-head > div.fixed,
    .custom-table .table-overflow .table-body .table-body__row .table-body__field.fixed {
      background: #3F4347;
      padding-left: 1.42857143rem;
    }

    .custom-table .fixed.with-shadow:after {
      box-shadow: inset 5px 0 10px -10px #000;
    }

    .custom-table.scrolling .fixed.with-shadow {
      border-color: #7d7d7d !important;
    }

    .custom-table .table-overflow .table-body .table-body__row:not(.expand-row):hover {
      background: none;
    }
  }

}