.payment-section {
  margin: 25px 0 0 0;
  padding: 40px 55px 50px;
  background: #fff;
  border-radius: 8px;

  .header-block {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;

    .lock-icon {
      width: 32px;
      height: 32px;
      background: linear-gradient(180deg, #6D6DF6 0%, #6161EC 100%);
      box-shadow: 0px 1px 0px #5151D5;
      border-radius: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;
      font-size: 15px;

      margin: 0 15px 0 0;
    }

    .col {
      h3 {
        font-weight: 600;
        font-size: 1.1428571428571428rem;
        letter-spacing: -0.05px;
        color: #343C5A;
        margin: 0;
      }

      span {
        font-size: 0.9285714285714286rem;
        letter-spacing: -0.4375px;
        color: #7C8A95;
      }
    }

    .payments-logo {
      margin: 0 0 0 auto;

      img {
        margin: 0 12px;
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .ant-radio-wrapper {
    margin: 0 0 20px 0;
  }

  .input-field {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      letter-spacing: -0.4375px;
      color: #38454F;
      margin: 0 0 5px 0;
    }

    .custom-select.ant-select {
      width: 200px;
      height: 30px;
      margin: 0 0 20px 0;

      .ant-select-selection-selected-value {
        align-items: center;
        padding: 0 0 0 10px;
      }

      .ant-select-arrow {
        right: 10px;
      }
    }

    input, .StripeElement {
      width: 100%;
      display: flex;
      align-items: center;
      height: 40px;
      background: #FFFFFF;
      box-shadow: inset 0px 2px 4px rgba(202, 202, 228, 0.32);
      border-radius: 8px;
      border: 0;
      padding: 0 20px;
      font-size: 14px;
      color: #7C8A95;

      &:focus {
        outline: none;
      }

      & > div {
        width: 100%;
      }
    }
  }

  .card-fields {
    position: relative;
    margin: 15px 0 0 0;

    .front-side-card {
      width: 420px;
      height: 270px;
      background: #F5F5FF;
      border-radius: 8px;
      z-index: 10;
      padding: 0 30px 35px;

      position: absolute;
      left: 0;
      top: -15px;

      display: flex;
      flex-direction: column;


      .user-name-field {
        display: flex;
        flex-direction: column;
        margin: auto 0 20px 0;
      }

      .row {
        display: flex;
        justify-content: space-between;

        .input-field {
          width: 47%;
        }
      }
    }

    .back-side-card {
      width: 420px;
      height: 270px;
      background: #E0E0F3;
      border-radius: 8px;
      z-index: 5;
      display: flex;
      flex-direction: column;
      margin-left: 140px;

      .black-line {
        width: 100%;
        height: 36px;
        background: rgba(101, 106, 132, 0.2);
        margin: 20px 0 0 0;
      }

      .input-field {
        width: 80px;
        margin: 15px 25px 0 auto;
      }
    }
  }

  .payment-description {
    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;

        &::before {
          content: '';
          width: 12px;
          height: 12px;
          background: #fff;
          border: 4px solid #6D6DF6;
          border-radius: 50%;
          margin: 0 20px 0 0;
        }
      }
    }

    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #E0E0F3;
      margin: 30px 0 0 0;
      padding: 15px 0 0 0;

      .budget {
        font-size: 1.1428571428571428rem;
        letter-spacing: -0.05px;
        color: #656A84;

        .value {
          background: #F5F5FF;
          border-radius: 8px;

          font-weight: 600;
          color: #343C5A;

          padding: 5px 25px;
          margin: 0 0 0 20px;
        }
      }

      .btn {
        padding: 0 30px;
        font-size: 1rem;
      }
    }
  }
}