@import '../../../style/mixins.less';
@import '../../../style/variables.less';

.optimization-page {
    display: grid;
    grid-template-columns: minmax(320px, 400px) 1fr;
    grid-gap: 20px;

    .product-info {
        color: #363694;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;

        span {
            margin-right: 10px;
        }

        i {
            cursor: pointer;
            color: @action-color-dark;
        }
    }

    .product-options {
        display: grid;
        row-gap: 20px;
        background: inherit !important;

        & > div {
            background: #fff;
            padding: 15px;
            border-radius: 8px;

            &:first-child {
                padding-bottom: 0;
            }
        }

        .options {
            display: grid;
            grid-template-columns: minmax(300px, 400px) minmax(min-content, 1fr);
            grid-template-areas: 'options strategy' '. descriptions' 'control control';
            column-gap: 15px;

            .options-content {
                transition-timing-function: ease-out;
                overflow: hidden;
                padding: 0 5px;
                transition: all 0.5s ease-in;
            }

            .optimize-options {
                grid-area: options;
            }

            .optimize-strategy {
                grid-area: strategy;
            }

            .descriptions {
                grid-area: descriptions;
            }

            &.less {
                .options-content {
                    max-height: 0 !important;
                }
            }

            &.more {
                .options-content {
                    max-height: 282px;
                }
            }

            @media (max-width: @desktop) {
                & {
                    grid-template-areas: 'options strategy' 'descriptions strategy';
                    grid-template-rows: minmax(1fr, max-content) minmax(
                            1fr,
                            max-content
                        );

                    .options-content {
                        transition: 0.6s;
                    }

                    &.more {
                        .options-content {
                            max-height: 550px;
                        }
                    }
                }
            }
        }

        .less-more-control {
            height: 25px;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            position: relative;
            grid-area: control;

            .icon {
                width: 36px;
                height: 25px;
                border: 1px solid #bdc6cf;
                text-align: center;
                background: #fff;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: @action-color;
                    font-size: 18px;
                    transition: all 0.5s ease-in;
                }

                &.less {
                    border-top-right-radius: 14px;
                    border-top-left-radius: 14px;
                    border-bottom: 0;
                }

                &.more {
                    border-bottom-right-radius: 14px;
                    border-bottom-left-radius: 14px;
                    border-top: 0;
                    position: absolute;

                    i {
                        transform: rotateZ(180deg);
                    }
                }
            }
        }

        @media (max-width: @laptop) {
            .options {
                display: flex;
                flex-direction: column;

                &.more {
                    max-height: 500px;
                }
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .additional {
                width: 100%;

                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: center;

                div {
                    justify-self: center;
                }

                @media (max-width: @desktop) {
                    & {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }

            .free-trial {
                width: 25px;
                height: 20px;
                border-radius: 8px;
                background: #ec7f5c;
                color: #fff;
                display: inline-flex;
                justify-content: center;
                font-weight: 700;
                margin: 0 5px;
            }

            button {
                color: #8fd39d;
                border: 0;
                box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08),
                    0px 0px 20px rgba(142, 147, 192, 0.08);
                border-radius: 8px;

                &:hover {
                    box-shadow: 5px 12px 16px rgba(142, 147, 192, 0.2),
                        0px 0px 20px rgba(142, 147, 192, 0.2);
                }
            }
        }
    }
}
