.optimization-page {
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;

  section {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 15px 20px 10px 20px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08), 0px 10px 10px rgba(0, 0, 0, 0.05);

    h3 {
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      color: #363694;
      padding: 0 0 1.4285714285714286rem 0;
      margin: 0;

      i {
        font-size: 1.2857142857142858rem;
        color: #656A84;
        margin: 0 0 0 20px;
      }
    }
  }

  .product-optimization-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}