@import "../../../style/variables.less";

#root > .main-pages {
  .main-container {
    .optimization-page {
      height: 100vh;
      display: flex;

      @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
        padding-bottom: 0;
      }

      @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
        padding-bottom: 0;
      }

      .product-options {
        flex: 1;
        position: relative;
        display: flex;
        flex-flow: column;

        .additional {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1.6em 1.07143em;
          padding-bottom: 0;

          @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 469px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 469px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 469px), only screen and (max-device-pixel-ratio: 1) and (max-width: 469px) {
            width: 100%;
            flex-flow: column;
          }
        }

        & > div {
          background: #fff;
          padding: 1.07143em;
          border-radius: 0.57143em;

          &.options {
            padding: 1.71429em 1.14286em 0 1.14286em;

            @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
              padding-top: 4em;
            }

            @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 469px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 469px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 469px), only screen and (max-device-pixel-ratio: 1) and (max-width: 469px) {
              padding-top: 7em;
            }

            @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
              padding-top: 4em;
            }
          }
        }

        .options {
          display: grid;
          grid-template-columns: 28.57143em minmax(min-content, 100%);
          grid-template-rows: repeat(2, minmax(min-content, max-content));
          grid-template-areas: "optionsStrategy optionsStrategy" "control control";
          column-gap: 1.42857em;
          margin-bottom: 1.64286em;

          @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1814px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1814px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1814px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1814px) {
            grid-template-columns: 23.57143em 1fr;
          }

          @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
            grid-template-columns: 1fr;
            grid-template-areas: "optionsStrategy" "control";
          }

          @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1299px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1299px) {
            grid-template-columns: 1fr;
            grid-template-areas: "optionsStrategy" "control";
          }

          .product-info {
            font-size: 1.42857rem; // 20px
            grid-area: info;
            display: grid;
            grid-template-columns: 20em minmax(min-content, 100%);
            column-gap: 3em;
            margin-bottom: 1.5em;
            color: @second-default-dark;
            font-weight: 600;
            transition: all 0.5s ease-in;
          }

          .options-strategy {
            grid-area: optionsStrategy;
            display: grid;
            grid-template-columns: 28.57143em minmax(min-content, 100%);
            grid-template-rows: repeat(3, minmax(min-content, max-content));
            grid-template-areas: "automate infoStrategy" "options strategy" ". descriptions";
            column-gap: 1.42857em;
            overflow: hidden;
            transition: all 0.5s ease-in;

            @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1814px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1814px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1814px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1814px) {
              grid-template-columns: 23.57143em 1fr;
              column-gap: 1.42857em;
            }

            @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1669px) {
              grid-template-areas: "automate infoStrategy" "options strategy" "descriptions strategy";
            }

            @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1299px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1299px) {
              grid-template-areas: "automate infoStrategy" "options strategy" "descriptions strategy";
            }

            @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
              grid-template-columns: 1fr;
              grid-template-rows: repeat(5, minmax(min-content, max-content));
              grid-template-areas: "automate" "options" "infoStrategy" "strategy" "descriptions";
            }

            @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
              grid-template-columns: 1fr;
              grid-template-rows: repeat(5, minmax(min-content, max-content));
              grid-template-areas: "automate" "options" "infoStrategy" "strategy" "descriptions";
            }

            .product-info-automate {
              grid-area: automate;
              font-size: 1.42857rem; // 20px
              margin-bottom: 2em;
              color: @second-default-dark;
              font-weight: 600;
              transition: all 0.5s ease-in;

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
                width: fit-content;
                margin: 0 auto 1em auto;
                text-align: center;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
                width: fit-content;
                margin: 0 auto 1em auto;
                text-align: center;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 529px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 529px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 529px), only screen and (max-device-pixel-ratio: 1) and (max-width: 529px) {
                width: 12em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 399px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 399px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 399px), only screen and (min-device-pixel-ratio: 2) and (max-width: 399px) {
                width: 12em;
              }

              i {
                cursor: pointer;
                margin-left: 0.5em;
                color: @action-color-dark;
              }
            }

            .optimize-options {
              grid-area: options;

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
              }
            }

            .product-info-strategy {
              grid-area: infoStrategy;
              font-size: 1.42857rem; // 20px
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              margin-bottom: 2em;
              color: @second-default-dark;
              font-weight: 600;
              transition: all 0.5s ease-in;

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1669px) {
                margin-top: 1.6em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1299px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1299px) {
                margin-top: 1.6em;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
                width: fit-content;
                margin: 0 auto 2em auto;
                text-align: center;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
                width: fit-content;
                margin: 0 auto 2em auto;
                text-align: center;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 439px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 439px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 439px), only screen and (max-device-pixel-ratio: 1) and (max-width: 439px) {
                width: 9em;
                margin: 0 auto 2.8em auto;
              }

              i {
                cursor: pointer;
                margin-left: 0.5em;
                color: @action-color-dark;
              }

              .description-all {
                font-size: 1.07143rem; // 15px
                position: absolute;
                color: @dangerous-color;
                line-height: 1em;
                top: 2em;

                @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 439px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 439px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 439px), only screen and (max-device-pixel-ratio: 1) and (max-width: 439px) {
                  top: 4em;
                }
              }
            }

            .optimize-strategy {
              grid-area: strategy;

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
                margin-bottom: 2em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
                margin-bottom: 2em;
              }
            }

            .descriptions {
              grid-area: descriptions;
            }

            &.less {
              max-height: 35em;

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1669px) {
                max-height: 45em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1299px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1299px) {
                max-height: 45em;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
                max-height: 80em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
                max-height: 80em;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 479px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 479px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 479px), only screen and (max-device-pixel-ratio: 1) and (max-width: 479px) {
                max-height: 115em;
              }
            }

            &.more {
              max-height: 4em;

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1669px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1669px) {
                max-height: 6em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1299px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1299px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1299px) {
                max-height: 6em;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 1249px), only screen and (max-device-pixel-ratio: 1) and (max-width: 1249px) {
                max-height: 3.6em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 999px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 999px), only screen and (min-device-pixel-ratio: 2) and (max-width: 999px) {
                max-height: 3.6em;
              }

              @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 529px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 529px), only screen and (-o-max-device-pixel-ratio: 1) and (max-width: 529px), only screen and (max-device-pixel-ratio: 1) and (max-width: 529px) {
                max-height: 5.6em;
              }

              @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 399px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 399px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 399px), only screen and (min-device-pixel-ratio: 2) and (max-width: 399px) {
                max-height: 5.6em;
              }
            }
          }

          .less-more-control {
            grid-area: control;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            transition: all 0.5s ease-in;

            &.less {
              height: 1.78571em;
              top: 0;
              margin-top: 0.35714em;
            }

            &.more {
              height: 0;
              top: 0.71429em;
              margin: 0;
            }

            .icon {
              width: 2.28571em;
              height: 1.78571em;
              border: 1px solid #bdc6cf;
              text-align: center;
              background: #fff;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.5s ease-in;

              i {
                font-size: 1.28571rem; // 18px
                color: @action-color;
                transition: all 0.5s ease-in;
              }

              &.less {
                border-radius: 1.14286em 1.14286em 0 0;
                border-bottom: 0;
              }

              &.more {
                border: none;
                border-radius: 0 0 1.14286em 1.14286em;
                border-top: 0;
                position: absolute;

                i {
                  transform: rotateZ(180deg);
                }
              }
            }
          }
        }
      }

      @media (max-width: 500px) {
        height: max-content;
      }
    }
  }
}
