.user-comments {
  background: #fff;
  padding: 95px 0;

  .carousel {
    .slick-slider {
      & > .prev,
      & > .next {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: flex;
        align-items: center;
        color: #6D6DF6;

        svg {
          width: 25px;
          height: 25px;
          cursor: pointer;
        }
      }

      & > .prev {
        left: -45px;

        svg {
          transform: rotate(180deg);
        }
      }

      & > .next {
        right: -45px;
      }

      .slick-dots {
        li {

          button {
            width: 12px;
            height: 12px;
            background: #DCDFF2;
            border-radius: 50%;
            margin: 0;

            &::before {
              display: none;
            }
          }

          &:hover {
            button {
              background: #babdcd;
            }
          }

          &.slick-active {
            button {
              background: #6D6DF6;
            }
          }
        }
      }

      .slick-slide {
        padding: 20px 10px;
      }

      .slide-item {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border: 1px solid #DCDFF2;

        border-radius: 4px;
        display: flex;
        flex-direction: column;

        .comment {
          padding: 20px 20px 10px 20px;
          font-size: 16px;
          line-height: 19px;
          color: #7C8A95;
        }

        & > img {
          margin: 0 20px 40px auto;
        }

        .user-description {
          height: 130px;
          background: #6D6DF6;
          border-radius: 4px;
          position: relative;
          padding: 50px 10px 0;
          text-align: center;

          img {
            width: 76px;
            height: 76px;
            border: 3px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            top: -38px;
            margin: 0 auto;
          }

          h3 {
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
          }

          span {
            font-size: 13px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .carousel {
      .slick-slider {
        & > .prev,
        & > .next {
          display: none;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .container {
      width: 100vw !important;

      h2 {
        padding: 0 5vw;
      }
    }
  }
}