.amazon-connect .select-region-section {
  .regions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div {
      .image {
        display: flex;
        align-items: center;
        height: 200px;
      }

      h4 {
        font-size: 1.4285714285714286rem;
        text-align: center;
        color: #6D6DF6;
        margin: 0;
      }

      &.soon {
        h4 {
          width: max-content;
          margin: 0 auto;
          color: #C9CBD4;
          position: relative;

          span {
            display: block;
            position: absolute;
            right: -2.5714285714285716rem;
            top: -0.7142857142857143rem;
            background: #B6B6FB;
            border-radius: 4px;
            width: 2.5714285714285716rem;
            height: 1.1428571428571428rem;
            line-height: 1.1428571428571428rem;
            font-size: 0.8571428571428571rem;
            font-weight: 400;
            color: #343C5A;
            padding: 0 3px;
          }
        }
      }
    }
  }
}