.amazon-connect .select-region-section {
  .section-description {
    margin: 1.4285714285714286rem 0 0 0;
  }

  .regions {
    width: 100%;
    max-width: 48.57142857142857rem;
    display: flex;
    list-style: none;
    margin: 2.857142857142857rem 0 0 0;


    li {
      flex: 1;
      margin: 0 2.857142857142857rem 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.1428571428571428rem 0.7142857142857143rem 1.4285714285714286rem;
      border: 2px solid #C9CBD4;

      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;

      &:not(.disabled):hover {
        border: 2px solid #6959AB;
        background: rgba(105, 89, 171, 0.05);

        h4 {
          color: #353A3E;
        }

        svg {
          path {
            fill: #6959AB;
          }
        }

        .ant-radio-wrapper {
          .ant-radio-inner {
            border-color: #6959AB;
          }
        }
      }

      &:last-child {
        margin: 0;
      }

      h4 {
        font-size: 1.2857142857142858rem;
        line-height: 1.5714285714285714rem;
        font-weight: 600;
        text-align: center;
        color: #C9CBD4;

        margin-bottom: 12px;
      }

      svg {
        margin-bottom: 15px;

        path {
          fill: #C9CBD4;
        }
      }

      .radio {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid #C9CBD4;
        position: relative;
        transition: .2s ease-in-out;

        &::before {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: .2s ease-in-out;
        }
      }

      .ant-radio-wrapper {
        .ant-radio-inner {
          border-color: #C9CBD4;
        }
      }

      &.active {
        background: rgba(105, 89, 171, 0.05);
        border: 2px solid #6959AB;

        h4 {
          color: #353A3E;
        }

        svg {
          path {
            fill: #6959AB;
          }
        }

        .radio {
          border-color: #6959AB;

          &::before {
            background: #6959AB;
          }
        }
      }

      &.disabled {
        cursor: not-allowed;
        border: 2px solid #F3F3F3;

        h4 {
          color: #C9CBD4;
        }


        svg {
          margin-bottom: 15px;

          path {
            fill: #C9CBD4;
          }
        }
      }
    }
  }

  @media (max-width: 850px) {
    .regions {
      flex-direction: column;

      li {
        padding: 10px 15px !important;
        margin: 0 0 10px;
        flex-direction: row;
        align-items: center;

        img {
          width: 48px;
          height: 48px;
          order: 4;
          margin: 0 0 0 auto;
        }

        .ant-radio-wrapper {
          order: 1;
          margin: 0 10px 0 0;
        }

        h4 {
          order: 2;
          margin: 0 10px 0 0;
        }

        .soon {
          order: 3;
        }
      }
    }
  }
}