.chart {
  width: calc(30% - 25px);
  background: #fff;
  border-radius: 8px;
  padding: 32px 24px 0;
  font-family: ir;

  .bloc-title {
    display: flex;
    align-items: center;
    height: 5%;

    .title {
      width: max-content;
      font-size: 1.4285714285714286rem;
      line-height: 28px;
      letter-spacing: -0.06px;
      color: #363694;
      border: 0;
      padding: 0;
    }


    .chart-selector {
      display: flex;
      margin: 0 0 0 auto;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0 0 0 20px;
      }
    }
  }

  .bar-chart-legend {
    display: flex;
    align-items: center;
    margin: 40px 0 30px 0;

    .first-bar,
    .second-bar {
      display: flex;
      align-items: center;
      margin: 0 15px 0 0;
      font-size: 1rem;
      letter-spacing: -0.05px;
      color: #343C5A;

      .example-fill {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        margin: 0 12px 0 0;
      }
    }

    .first-bar .example-fill {
      background: #6D6DF6;
    }
    .second-bar .example-fill {
      background: #95D6FF;
    }

    .bar-chart-description {
      text-align: right;
      font-size: 1rem;
      line-height: 16px;
      color: #343C5A;
      margin: 0 0 0 auto;
    }
  }

  .recharts-responsive-container.responsive-bar-container {
    margin: 0 0 48px -20px;
  }


  .pie-chart-container {

    .recharts-responsive-container {
      margin-top: 70px;
    }

    .chart-legend {
      margin: 40px 0 0 0;
      & > div {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px 0;

        &:first-child {
          border-bottom: 1px solid rgba(201, 203, 212, 0.5);
        }

        font-size: 1.1428571428571428rem;
        letter-spacing: -0.05px;
        color: #656A84;

        .example-fill {
          width: 16px;
          height: 16px;
          border-radius: 4px;
          margin: 0 12px 0 0;
        }

        .value {
          font-size: 1.1428571428571428rem;
          letter-spacing: -0.05px;
          color: #343C5A;
          margin: 0 0 0 auto;
        }
      }
    }
  }


  @media (max-width: 1200px) {
    & {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }

}
