.chart {
  width: calc(30% - 25px);
  background: #fff;
  border-radius: 8px;
  padding: 15px 24px 0;
  position: relative;


  .bloc-title {
    display: flex;
    align-items: center;
    height: 5%;

    .title {
      width: max-content;
      font-size: 1.4285714285714286rem;
      line-height: 28px;
      color: #363694;
      border: 0;
      padding: 0;
    }


    .chart-selector {
      display: flex;
      margin: 0 0 0 auto;

      span {
        cursor: pointer;
      }

      svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin: 0 0 0 20px;
      }
    }
  }

  .bar-chart-legend {
    display: flex;
    align-items: center;
    margin: 40px 0 30px 0;

    .first-bar,
    .second-bar {
      display: flex;
      align-items: center;
      margin: 0 15px 0 0;
      font-size: 1rem;
      color: #343C5A;

      .example-fill {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        margin: 0 12px 0 0;
      }
    }

    .first-bar .example-fill {
      background: #6D6DF6;
    }

    .second-bar .example-fill {
      background: #95D6FF;
    }

    .bar-chart-description {
      text-align: right;
      font-size: 1rem;
      line-height: 16px;
      color: #343C5A;
      margin: 0 0 0 auto;
    }
  }

  .recharts-responsive-container.responsive-bar-container {
    margin: 0 0 48px -20px;
  }


  .pie-chart-container {

    .recharts-responsive-container {
      margin-top: 70px;
    }

    .chart-legend {
      margin: 40px 0 0 0;

      & > div {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px 50px 20px 0;
        font-weight: 500;

        &:first-child {
          border-bottom: 1px solid rgba(201, 203, 212, 0.5);
        }

        font-size: 1.1428571428571428rem;
        color: #656A84;

        .example-fill {
          width: 16px;
          height: 16px;
          border-radius: 4px;
          margin: 0 12px 0 0;
        }

        .value {
          font-size: 1.1428571428571428rem;
          color: #343C5A;
          margin: 0 0 0 auto;
          font-weight: 400;
        }
      }
    }
  }


  @media (max-width: 1200px) {
    & {
      width: 100%;
      margin: 20px 0 0 0;

      .pie-chart-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .recharts-responsive-container {
          width: 50% !important;
        }

        .chart-legend {
          width: 40%;
          min-width: 200px;
          max-width: 350px;

          & > div {
            padding-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    & {
      .pie-chart-container {
        justify-content: space-between;

        .chart-legend {
          width: 50%;
        }
      }
    }
  }


  @media (max-width: 700px) {
    & {
      padding-bottom: 30px;

      .pie-chart-container .chart-legend > div {
        padding-right: 0;
      }
    }
  }

}
