.create-portfolio-window {
  max-width: 1000px;

  .ant-modal-body {
    grid-template-areas: 'window-header' 'create-steps' 'window-footer';
    grid-template-columns: 100%;


    .create-steps > .row {
      display: grid;
      grid-template-columns: 1fr 52%;
      margin-bottom: 20px;

      .col {
        display: flex;
        flex-direction: column;

        &:first-child {
          padding-right: 22%;
        }

        &.description {
          height: max-content;
          padding-left: 10px;
          border-left: 0.5px solid #C9CBD4;

          font-size: 0.8571428571428571rem;
          line-height: 1rem;
          color: #656A84;
        }
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;

      &.w-50 {
        width: 50%;
      }

      label {
        font-size: 1rem;
        font-weight: 500;
        color: #343C5A;
        margin-bottom: 8px;
      }

      input, .InputCurrency, .custom-select {
        height: 2.2857142857142856rem;
        font-size: 1rem;
        transition: 0s !important;

        & * {
          transition: 0s !important;
        }
      }

      .InputCurrency {
        width: 120px;
      }

      .pw-date-picker {
        width: 180px;
      }
    }
  }

  .ant-radio-group {
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;

    h4 {
      margin: 0;
    }

    .ant-radio-wrapper {
      display: flex;
      align-items: center;

      .ant-radio {
        width: 18px;
        height: 18px;

        .ant-radio-inner {
          max-width: 18px;
        }
      }

     & > span:last-child {
        display: flex;
        align-items: center;
        padding-left: 15px;
      }

      .pw-date-picker {
        margin: 0 0 0 15px;
      }
    }
  }


}
