.admin-panel section.agency-dashboard {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  flex-wrap: nowrap;

  .tabs {
    border-top: 1px solid #c9cbd4;
    margin: 0 0 20px;
    overflow: hidden;
  }

  .metrics-section, .settings-section {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .filters-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 20px;

    .custom-tooltip {
      margin: 0 5px 0 0;
    }

    .form-group {
      height: 2.2857142857142856rem;
      margin: 0;
      position: relative;

      &.attribution-window-block {
        margin: 0 20px 0 0;
      }

      .ant-select {
        width: max-content;
        height: 100%;

        .ant-select-selection {
          width: max-content;
          padding: 0 0 0 10.5rem;
          background: transparent;

          .ant-select-selection__rendered {
            width: max-content;
          }

          .ant-select-selection-selected-value {
            width: max-content;
          }
        }
      }

      .DatePicker {
        width: max-content;
        max-width: max-content;
        margin: 0;

        .pw-range-date-picker {
          width: max-content;
        }

        .ant-calendar-range-picker-separator {
          padding: 4px 0 0 0;
        }

        .ant-calendar-picker-input {
          width: max-content;
          padding: 0 30px 0 6rem;
          background: transparent;

          input {
            width: 60px;
            padding: 0;
            height: 100%;
            margin: 0;
          }
        }
      }

      .label {
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        font-size: 0.85714286rem;
        color: #686868;
      }

      &.date-range {
        border-right: 0.5px solid #C9CBD4;
        padding: 0 20px 0 0;
        margin: 0 20px 0 0;


      }

      &.compare {
        .icon-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #46435C;
          font-size: 0.71428571rem;
          text-transform: uppercase;

          i {
            width: 1.42857143rem;
            height: 1.42857143rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:hover {
            color: #FF5256;

            svg {
              fill: #FF5256;
              stroke: #FF5256;
            }
          }
        }

        .table-options-popover {
          .ant-popover-arrow {
            right: 20px !important;
          }

          .ant-popover-inner-content {
            width: max-content;

            .switch-block {
              display: flex;
              align-items: center;

              span {
                margin: 0 0 0 10px;
              }
            }
          }
        }
      }
    }
  }

  .table-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .custom-table {
      flex: 1;

      .table-head {
        border-top: 1px solid #c9cbd4;
        background: #f0f0f0;
        z-index: 111;

        .th {
          border-right: 1px solid #c9cbd4;
          padding: 0 8px;

          &:last-of-type {
            border: 0;
            padding-right: 20px;
          }

          &:first-of-type {
            padding-left: 20px;
          }
        }

        .title {
          font-weight: bold;
        }
      }

      .ant-select-dropdown {
        z-index: 100;
      }

      .table-body .table-body__row > div {
        border-right: 1px solid #c9cbd4;
        padding: 5px 8px;

        &:last-of-type {
          border: 0;
          padding-right: 20px;
          justify-content: flex-start;
        }

        &:first-of-type {
          padding-left: 20px;
          font-weight: 600;
        }

        .metric-value {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          & > .custom-tooltip {
            margin: 0 !important;
          }

          .metric-item__changes {
            & > div {
              display: flex;
              align-items: center;
              font-size: 0.8571428571428571rem;

              i {
                display: flex;
                align-items: center;
                margin: 0 3px 0 0;
              }
            }
          }

          .down-changes {
            .horizontal-line-icon {
              display: inline-block;
              background: #000;
              width: 5px;
              height: 1px;
              margin: 0 3px 0 0;
            }
          }

          .downward-changes {
            color: #EC7F5C;

            svg {
              fill: #EC7F5C;
            }
          }

          .upward-changes {
            color: #7DD4A1;

            svg {
              fill: #7DD4A1;
            }
          }
        }
      }
    }

    .pw-pagination {
      padding: 0 20px;
      border-top: 1px solid #c9cbd4;
    }
  }

  .settings-section {
    .custom-select {
      width: 100%;
    }

    .switch-block {
      display: flex;

      button {
        margin: 0 10px;
      }
    }

    .actions {
      max-height: 0;
      border-top: 1px solid #c9cbd4;
      display: flex;
      justify-content: flex-end;
      padding: 0 20px;
      overflow: hidden;

      &.visible {
        max-height: max-content;
      }

      .btn {
        margin: 10px 0;
      }
    }
  }
}