.step.overview {
  .container {
    padding: 0 20px;
  }

  h2 {
    font-weight: 600;
    font-size: 1.4285714285714286rem;
    color: #353A3E;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    border: 1px solid #C9CBD4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      border-bottom: 1px solid #C9CBD4;

      &:last-child {
        border: 0;
      }

      div {
        flex: 1;
      }

      .title {
        border-right: 1px solid #C9CBD4;
        font-weight: 600;
        font-size: 1rem;
        color: #353A3E;
        padding: 10px 10px 10px 20px;
      }

      .value {
        font-weight: 500;
        font-size: 1rem;
        color: #353A3E;
        padding: 10px 10px 10px 20px;

        a {
          color: #6959AB;
          text-decoration: underline;

          &:hover {
            color: #564992;
          }
        }

        .keywords {
          display: flex;
          flex-direction: column;

          p {
            display: flex;
            align-items: center;
            margin: 0;

            div {
              font-weight: 500;
              text-decoration-line: underline;
              color: #6959AB;
              cursor: pointer;
              margin: 0 0 0 3px;

              &:hover {
                color: #4D3C94;
              }
            }
          }

          .list {
            font-weight: 500;
            font-size: 0.8571428571428571rem;
            line-height: 1.0714285714285714rem;
            color: #353A3E;
            margin: 12px 0 0 0;
          }
        }
      }
    }
  }
}