.pricing-guide {
  .mob {
    display: none;
  }

  .container {
    flex-direction: column;

    h2 {
      text-align: center;
    }
  }

  .pricing-plans {
    &.desc {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
    }

    .plan {
      background: #fff;
      padding: 50px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
      position: relative;

      .counts {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 30px;

        div {
          background: #6D6DF6;
          margin-right: 8px;

          &:last-child {
            margin: 0;
          }
        }
      }

      label {
        min-height: 20px;
      }

      h4 {
        font-size: 24px;
        text-align: center;
        color: #17175A;
        margin-bottom: 15px;
      }

      label {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #6D6DF6;
      }

      h3 {
        font-size: 44px;
        line-height: 40px;
        text-align: center;
        color: #6D6DF6;
        display: flex;
        align-items: flex-end;
        margin: 35px 0 40px 0;

        .dollar,
        .percent {
          font-size: 24px;
          color: #6D6DF6;
          margin: 0 5px 5px 5px;
        }

        label {
          font-size: 12px;
          line-height: 14px;
        }
      }

      .btn {
        height: 56px;
        width: 100%;
        margin: auto 0 0 0;
        border-radius: 0 0 4px 4px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;

        svg {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto 0;
        }
      }
    }
  }

  .contact-block {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    img {
      width: 50px;
      min-width: 50px;
      height: 50px;
      margin-right: 35px;
    }

    h4 {
      font-size: 21px;
      color: #17175A;
      font-weight: 400;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 13px;
      color: #4B5271;
    }

    .btn {
      min-width: max-content;
      height: 40px !important;
      font-size: 14px !important;
      font-weight: 500;
      margin: 0 0 0 auto;
      text-transform: capitalize !important;
    }
  }


  @media (max-width: 1200px) {
    .pricing-plans.desc {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .plan {
        h3 {
          font-size: 7vw;

          .dollar,
          .percent {
            font-size: 3vw;
          }
        }
      }
    }

    .contact-block {
      .best-seller-label {
        display: none !important;
      }
    }

    .row {
      flex-direction: column;


      .contact-block:first-child {
        margin-right: 0 !important;
      }
    }
  }

  @media (max-width: 600px) {
    .pricing-plans {
      &.desc {
        display: none;
      }

      &.mob {
        display: block;
        margin-bottom: 20px;

        .slick-slide {
          height: 410px;
          padding: 10px;

          & > div {
            height: 100%;

            .plan {
              height: 100%;
              display: flex !important;
              flex-direction: column;
              align-items: center;

              background: #FFFFFF;
              box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
              border-radius: 4px;
              padding: 50px 0 0;
              position: relative;

             & >  label {
               min-height: 35px;
                margin-bottom: 20px;
              }

              h3 {
                font-size: 13vw;
                margin: auto 0 50px 0;
              }

              &.first {
                padding: 0;
              }

              .btn {
                min-height: 56px !important;

                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 500;
                  font-size: 16px;

                  svg {
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .contact-block {
      flex-direction: column;
      align-items: center;
      padding: 32px 10px 48px 10px;

      h4 {
        text-align: center;
        font-size: 21px;
      }

      p {
        text-align: center;
      }

      img {
        width: 96px;
        height: 96px;
        margin: 0 0 20px 0;
      }

      .btn {
        margin: 20px auto 0 auto;
      }
    }
  }
}

.ppc-pricing-guide {
  .plan {
    p {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #7C8A95;
      padding: 0 17px;
      margin-bottom: 48px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    .contact-block {
      flex: 1;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: 600px) {
    .pricing-plans.mob {
      .slick-slide {
        height: 500px;

        & > div {
          .plan {
            h3 {
              font-size: 8vw;
            }
          }
        }
      }
    }
  }
}