.step.step-4 {
  display: none;

  &.visible {
    display: flex;
  }

  .progress-bar div {
    width: calc(100% / 6 * 5);
  }

  .col > label {
    font-weight: 600;
    font-size: 1.1428571428571428rem;
    color: #353A3E;
    margin-bottom: 5px;
  }
}