.amazon-connect .connect-ppc-section {
  position: relative;

  p {
    font-weight: 500;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286rem;
    text-align: center;
    color: #5B586F;
    margin: 1.4285714285714286rem 0 1.7857142857142858rem;

    a {
      color: #FF5256;
      text-decoration: underline;
    }
  }

  .ant-checkbox-wrapper {
    margin: 0 0 -1.0714285714285714rem;

    .ant-checkbox {
      width: 1.2857142857142858rem;
      height: 1.2857142857142858rem;
    }

    span:last-child {
      padding: 0 0 0 12px;
    }
  }

  .connect-ppc-links {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    margin: 0 auto;

    p {
      margin: 0 0 6px !important;
      font-weight: 500;
      font-size: 0.8571428571428571rem;
      line-height: 1.0714285714285714rem;
      text-align: center;
      color: #5B586F;

      a {
        color: #FF5256;
        text-decoration: underline;
      }
    }
  }

  &.error {
    .actions {
      .default {
        margin-bottom: 10px;
      }

      .white {
        border: 0;
        color: #5B586F;
        margin: 1.4285714285714286rem 0 0 0;
        height: auto !important;


        &:hover {
          background: none;
          color: #FF5256;
        }
      }
    }
  }
}

.ppc-redirect-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    position: relative;
    width: max-content;

    img:last-child {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 28px;
      top: 26px;
    }
  }
}