.amazon-connect .connect-mws-section {

  .section-description {
    margin: 1.4285714285714286rem 0 2.5714285714285716rem;
  }

  .select-marketplace {
    width: 100%;
    max-width: 35.714285714285715rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.142857142857143rem;

    label {
      font-weight: 600;
      font-size: 1.1428571428571428rem;
      line-height: 1.2142857142857142rem;
      color: #353A3E;
      margin-bottom: 1.4285714285714286rem;
      text-align: center;
    }

    .custom-select {
      height: 2.2857142857142856rem;
      margin-bottom: 1.4285714285714286rem;
    }

    .btn {
      margin: 0 auto;
      height: 3.42857143rem;
      font-size: 1.14285714rem;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286rem;
    text-align: center;
    color: #46435C;
    margin-bottom: 1.7857142857142858rem;
  }

  .mws-credentials {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 35.714285714285715rem;

    .form-group {
      display: flex;
      flex-direction: column;
      width: 50%;
      max-width: 17.142857142857142rem;

      &:first-child {
        margin-right: 1.4285714285714286rem;
      }

      label {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #353A3E;
        margin-bottom: 8px;

        i {
          color: #FF5256;
          font-style: inherit;
        }
      }

      input {
        height: 2.2857142857142856rem;
      }
    }

    @media (max-width: 800px) {
      & {
        flex-direction: column;

        .form-group {
          margin: 0 0 10px 0 !important;
        }
      }
    }
  }

  &.progress {
    h2 {
      font-weight: 600;
      font-size: 2.2857142857142856rem;
      line-height: 2.7142857142857144rem;
      text-align: center;
      color: #353A3E;
      margin-bottom: 1.6428571428571428rem;
    }

    p {
      font-weight: 500;
      font-size: 1.1428571428571428rem;
      line-height: 1.4285714285714286rem;
      text-align: center;
      color: #46435C;
      margin-bottom: 2.5rem !important;
    }
  }

  &.error {
    position: relative;

    .actions {
      display: flex;
      flex-direction: column;

      .home {
        height: auto !important;
        border: 0;
        color: #46435C;
        margin: 1.4285714285714286rem 0 0 0;

        &:hover {
          color: #FF5256;
        }
      }
    }

    .mws-error-links {
      position: absolute;
      top: 105%;
      left: 0;
      right: 0;
      margin: 0 auto;

      p {
        margin: 0 0 6px !important;
        font-weight: 500;
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        text-align: center;
        color: #46435C;

        a {
          color: #FF5256;
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 850px) {
    .select-marketplace {
      label {
        font-size: 14px;
        line-height: 17px;
      }

      .custom-select {
        height: 32px;
      }

      .btn {
        height: 32px;
      }
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
    }

    .mws-credentials {
      .form-group {
        max-width: 100%;
        width: 100%;
        margin: 0 0 20px !important;

        label {
          font-size: 14px;
          line-height: 17px;
        }

        input {
          height: 32px;
        }

        &:last-child {
          margin: 0 !important;
        }
      }
    }
  }
}