@import '../../../style/variables.less';

.DateIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    background-size: cover;
    width: 1.7142857em;
    height: 1.7142857em;
  }

}
