.bg-announcements_icon {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -144px -10px;
}


.bg-bar_chart_active {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -144px -62px;
}


.bg-bar_chart_default {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -10px -137px;
}


.bg-calendar {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -248px -10px;
}


.bg-check {
  width: 20px; height: 14px;
  background: url('../assets/img/icons/css_sprites.png') -70px -189px;
}


.bg-checked {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -333px -128px;
}


.bg-child {
  width: 21px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -292px -10px;
}


.bg-close {
  width: 18px; height: 18px;
  background: url('../assets/img/icons/css_sprites.png') -10px -269px;
}


.bg-close_icon {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -333px -164px;
}


.bg-coupon_icon {
  width: 21px; height: 12px;
  background: url('../assets/img/icons/css_sprites.png') -150px -189px;
}


.bg-daily_line {
  width: 22px; height: 8px;
  background: url('../assets/img/icons/css_sprites.png') -196px -161px;
}


.bg-Down {
  width: 16px; height: 9px;
  background: url('../assets/img/icons/css_sprites.png') -141px -307px;
}


.bg-down_black_arrow {
  width: 6px; height: 10px;
  background: url('../assets/img/icons/css_sprites.png') -369px -104px;
}


.bg-download {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -248px -54px;
}


.bg-down_red_arrow {
  width: 6px; height: 10px;
  background: url('../assets/img/icons/css_sprites.png') -369px -134px;
}


.bg-down_row {
  width: 12px; height: 18px;
  background: url('../assets/img/icons/css_sprites.png') -41px -307px;
}


.bg-down_white_arrow {
  width: 6px; height: 10px;
  background: url('../assets/img/icons/css_sprites.png') -369px -164px;
}


.bg-email_ico {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -333px -200px;
}


.bg-email_icon_grey {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -62px -137px;
}


.bg-eye_closed {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -248px -98px;
}


.bg-eye_opened {
  width: 20px; height: 17px;
  background: url('../assets/img/icons/css_sprites.png') -248px -186px;
}


.bg-facebook_icon_grey {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -114px -137px;
}


.bg-facebook_icon_white {
  width: 11px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -10px -307px;
}


.bg-filter_icon {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -248px -142px;
}


.bg-filter_icon_black {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -10px -225px;
}


.bg-filter_icon_blue {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -54px -225px;
}


.bg-footer_subs_arrow {
  width: 27px; height: 27px;
  background: url('../assets/img/icons/css_sprites.png') -196px -114px;
}


.bg-green_daily {
  width: 22px; height: 8px;
  background: url('../assets/img/icons/css_sprites.png') -191px -189px;
}


.bg-green_line {
  width: 16px; height: 3px;
  background: url('../assets/img/icons/css_sprites.png') -144px -114px;
}


.bg-green_square {
  width: 15px; height: 15px;
  background: url('../assets/img/icons/css_sprites.png') -333px -272px;
}


.bg-info {
  width: 20px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -292px -50px;
}


.bg-information {
  width: 12px; height: 12px;
  background: url('../assets/img/icons/css_sprites.png') -369px -10px;
}


.bg-left_icon {
  width: 20px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -292px -90px;
}


.bg-lock {
  width: 20px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -292px -130px;
}


.bg-mark {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -333px -236px;
}


.bg-minus {
  width: 10px; height: 2px;
  background: url('../assets/img/icons/css_sprites.png') -369px -254px;
}


.bg-pause {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -98px -225px;
}


.bg-pie_chart_active {
  width: 33px; height: 33px;
  background: url('../assets/img/icons/css_sprites.png') -10px -84px;
}


.bg-pie_chart_default {
  width: 33px; height: 33px;
  background: url('../assets/img/icons/css_sprites.png') -63px -84px;
}


.bg-plus_blue {
  width: 18px; height: 18px;
  background: url('../assets/img/icons/css_sprites.png') -48px -269px;
}


.bg-plus_green {
  width: 10px; height: 10px;
  background: url('../assets/img/icons/css_sprites.png') -369px -74px;
}


.bg-plus_white {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -86px -269px;
}


.bg-ppc_automate_icon {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -196px -10px;
}


.bg-products_filter_icon {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -142px -225px;
}


.bg-refer_icon {
  width: 20px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -292px -170px;
}


.bg-refresh {
  width: 16px; height: 19px;
  background: url('../assets/img/icons/css_sprites.png') -333px -10px;
}


.bg-reload {
  width: 16px; height: 19px;
  background: url('../assets/img/icons/css_sprites.png') -333px -49px;
}


.bg-reload_icon {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -122px -269px;
}


.bg-remove {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -186px -225px;
}


.bg-right_icon {
  width: 20px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -292px -210px;
}


.bg-right_row {
  width: 15px; height: 11px;
  background: url('../assets/img/icons/css_sprites.png') -106px -307px;
}


.bg-selected {
  width: 40px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -84px -10px;
}


.bg-selected_icon {
  width: 24px; height: 24px;
  background: url('../assets/img/icons/css_sprites.png') -230px -225px;
}


.bg-select_icon {
  width: 14px; height: 8px;
  background: url('../assets/img/icons/css_sprites.png') -236px -269px;
}


.bg-software_updates_icon {
  width: 32px; height: 32px;
  background: url('../assets/img/icons/css_sprites.png') -196px -62px;
}


.bg-soon {
  width: 40px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -10px -189px;
}


.bg-start {
  width: 13px; height: 14px;
  background: url('../assets/img/icons/css_sprites.png') -73px -307px;
}


.bg-stop {
  width: 12px; height: 12px;
  background: url('../assets/img/icons/css_sprites.png') -369px -42px;
}


.bg-success {
  width: 20px; height: 14px;
  background: url('../assets/img/icons/css_sprites.png') -110px -189px;
}


.bg-up_green_arrow {
  width: 6px; height: 10px;
  background: url('../assets/img/icons/css_sprites.png') -369px -194px;
}


.bg-up_row {
  width: 14px; height: 20px;
  background: url('../assets/img/icons/css_sprites.png') -333px -88px;
}


.bg-up_white_arrow {
  width: 6px; height: 10px;
  background: url('../assets/img/icons/css_sprites.png') -369px -224px;
}


.bg-violet_daily {
  width: 22px; height: 8px;
  background: url('../assets/img/icons/css_sprites.png') -194px -269px;
}


.bg-violet_line {
  width: 16px; height: 3px;
  background: url('../assets/img/icons/css_sprites.png') -270px -269px;
}


.bg-warning {
  width: 54px; height: 54px;
  background: url('../assets/img/icons/css_sprites.png') -10px -10px;
}


.bg-warningSmall {
  width: 16px; height: 16px;
  background: url('../assets/img/icons/css_sprites.png') -158px -269px;
}