.card {
  background: #fff;
  border-radius: 8px;
}

.main-margin {
  margin: 20px;
}

.btn-light {
  background-color: #fff;
  color: #656a84;
}

.btn-dark {
  background-color: #6d6df6;
  color: #fff;
}

.btn-action {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #6d6df6;
  box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08),
    0px 0px 20px rgba(142, 147, 192, 0.08);
  color: #fff;
}
