@primary-default: #0d47a1;
@second-default: #2196f3;
@action-color: #6d6df6;
@action-color-dark: #656a84;
@white: #fff;
@black: #000;
@second-default-dark: #363694;
@dangerous-color: #eb5757;
@margin: 20px;
@success-color: #8fd39d;
@success-color-opacity: rgba(143, 211, 157, 0.2);
@desktop: 1448px;
@laptop: 800px;
@mobile: 425px;
@body-background: #f5f5ff;
@primary-color: @action-color;
@font-face {
    font-family: ir;
    src: url(./fonts/Infra-Regular.otf);
    font-style: normal;
}
@font-face {
    font-family: isb;
    src: url(./fonts/Infra-SemiBold.otf);
    font-style: normal;
}
@font-face {
    font-family: im;
    src: url(./fonts/Infra-Medium.otf);
    font-style: normal;
}
@font-face {
    font-family: it;
    src: url(./fonts/Infra-Thin.otf);
}
