@font-family: 'Infra', sans-serif;

@primary-default: #0d47a1;
@second-default: #2196f3;
@action-color: #6d6df6;
@action-color-dark: #656a84;
@sidebar-text-color: #b6b6fb;
@second-default-dark: #363694;
@third-default-dark: #343c5a;
@dangerous-color: #eb5757;
@success-color: #8fd39d;
@success-color-opacity: rgba(143, 211, 157, 0.2);
@body-background: #f5f5ff;
@primary-color: @action-color;
@border-solid: #c9cbd4;
@btn-color: @action-color;
@white: #fff;
@black: #000;
// account
@account-color: #394163;
@account-color-action: @action-color;
@second-account-color: #38454f;
@third-account-color: @action-color-dark;

@big-desktop: 1669px;
@desktop: 1448px;
@retina-desktop: 1249px;
@laptop: 800px;
@mobile: 425px;

@margin: 20px;

@tooltip-shadow: 0px 16px 16px rgba(44, 48, 58, 0.08),
  0px 6px 40px rgba(44, 48, 58, 0.09), 0px 0px 16px rgba(44, 48, 58, 0.09);

@transition: all 0.3s ease-in;

@font-face {
  font-family: ir;
  src: url(./fonts/Infra-Regular.otf);
  font-style: normal;
}
@font-face {
  font-family: isb;
  src: url(./fonts/Infra-SemiBold.otf);
  font-style: normal;
}
@font-face {
  font-family: im;
  src: url(./fonts/Infra-Medium.otf);
  font-style: normal;
}
@font-face {
  font-family: it;
  src: url(./fonts/Infra-Thin.otf);
}
@font-face {
  font-family: er;
  src: url(./fonts/Eina01-Regular.otf);
}
