@primary-default: #0d47a1;
@second-default: #2196f3;
@action-color: #6D6DF6;
@action-color-dark: #656A84;
@second-default-dark: #363694;
@margin: 20px;
@success-color: #8FD39D;
@desktop: 1448px;
@laptop: 800px;
@mobile: 425px;


@primary-color: @action-color;