.account-page .api-connection {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: auto;

  .tabs,
  & > div {
    min-width: 600px;
  }


  .tabs {
    height: 4.285714285714286rem;
    border-bottom: 1px solid #C9CBD4;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;

    li {
      width: 13%;
      min-width: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #686868;
      margin: 0 1.4285714285714286rem;

      &.active {
        color: #6959AB;
      }
    }

    .bar {
      width: 13%;
      min-width: 130px;
      height: 4px;
      position: absolute;
      left: 1.4285714285714286rem;
      bottom: -1px;
      background: #6959AB;
      border-radius: 4px;

    }
  }

  .filters {
    display: flex;
    align-items: center;
    padding: 0.8571428571428571rem 1.4285714285714286rem;
    border-bottom: 1px solid #C9CBD4;

    .search {
      width: 25%;
      min-width: 300px;
      margin: 0 1.7857142857142858rem 0 0;

      .ant-input-suffix {
        width: max-content;
        right: auto !important;
        left: 1.0714285714285714rem;
      }

      input {
        padding-left: 3rem;
      }
    }

    .sort {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 1.4285714285714286rem;
        height: 1.4285714285714286rem;
        stroke: #353A3E;
        transition: .2s ease-in-out;
      }

      p {
        margin: 2px 0 0 0;
        font-size: 0.7142857142857143rem;
        line-height: 1rem;
        text-transform: uppercase;
        color: #353A3E;

      }

      &:hover {
        svg {
          stroke: #6959AB;
        }
      }

      &.active {
        svg {
          stroke: #6959AB;
        }
      }
    }

    .btn {
      height: 3.4285714285714284rem;
      margin: 0 0 0 auto;
      padding: 0 1.4285714285714286rem;

      svg {
        stroke: #fff;
        margin: 0 1.0714285714285714rem 0 0;
      }
    }
  }

  .row {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  .accounts-list {
    width: 30%;
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #C9CBD4;
    overflow: auto;

    & > li {
      display: flex;
      flex-direction: column;

      .account-name {
        height: 3.5714285714285716rem;
        display: flex;
        align-items: center;
        padding: 0 1.4285714285714286rem;
        border-bottom: 1px solid #C9CBD4;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 4px;
          background: transparent;

          transition: .1s;
        }

        h3 {
          flex: 1;
          overflow: hidden;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.2142857142857142rem;
          color: #353A3E;
          margin: 0 5px 0 0;
          display: flex;
          align-items: center;

          .text {
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          span {
            margin: 0 0 0 5px;
          }
        }

        .custom-tooltip {
          margin: 0 5px 0 auto;
        }

        .error {
          display: flex;
          align-items: center;

          svg {
            width: 1.4285714285714286rem;
            height: 1.4285714285714286rem;
          }
        }

        .arrow {
          width: 2.2857142857142856rem;
          min-width: 2.2857142857142856rem;
          height: 2.2857142857142856rem;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 0.6428571428571429rem;
            height: 1.1428571428571428rem;
            stroke: #353A3E;
            transform: rotate(-90deg);
            transition: .1s;
          }

          &:hover,
          &:focus {
            background: rgba(255, 82, 86, 0.05);
          }

          &.opened {
            svg {
              transform: rotate(90deg);
            }
          }
        }

        &:hover {
          background: #FFFAFA;
        }
      }

      .marketplace-list {
        max-height: 0;
        overflow: hidden;
        transition: .2s ease-in-out;
        display: flex;
        flex-direction: column;

        li {
          height: 3.5714285714285716rem;
          display: flex;
          align-items: center;
          padding: 0 1.4285714285714286rem;

          &:hover {
            background: #FFFAFA;
          }

          .flag {
            width: 1.9285714285714286rem;
            min-width: 1.9285714285714286rem;
            height: 1.1428571428571428rem;
            margin: 0 8px 0 0;
            display: flex;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }

          h4 {
            font-size: 1rem;
            line-height: 1.2142857142857142rem;
            color: #353A3E;
            margin: 0;
          }

          .switch {
            margin: 0 0 0 auto;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.2142857142857142rem;
            color: #686868;
            cursor: pointer;

            &:hover {
              color: #6959AB;
            }
          }

          .active-marketplace {
            margin: 0 0 0 auto;
            font-weight: 600;
            font-size: 1rem;
            line-height: 17px;
            color: #C9CBD4;
          }

          .custom-tooltip {
            margin: 0 0 0 10px;
          }
        }

        &.opened {
          max-height: max-content;
          border-bottom: 1px solid #C9CBD4;
        }
      }

      &.active {
        .account-name {
          background: #FFFAFA;

          &:before {
            background: #FF5256;
          }
        }
      }
    }

  }

  .account-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2.142857142857143rem 1.4285714285714286rem;

    .alias {
      font-size: 1.4285714285714286rem;
      line-height: 1.7142857142857142rem;
      color: #353A3E;
      margin-bottom: 0.7142857142857143rem;
      display: flex;
      align-items: center;

      b {
        margin: 0 5px 0 0;
      }

      .btn.icon {
        width: 2.857142857142857rem;
        height: 2.857142857142857rem;
        margin: 0 0 0 7px;

        svg {
          width: 1rem;
          height: 1rem;
          fill: #353A3E;
        }

        &:hover,
        &:focus {
          background: rgba(255, 82, 86, 0.05);

          svg {
            fill: #FF5256;
          }
        }
      }

      .alias-edit-popover {
        padding: 0;

        .ant-popover-inner-content {
          padding: 1.4285714285714286rem 1.4285714285714286rem 1.2142857142857142rem;

          .form-group {
            width: 17.142857142857142rem;
            margin-bottom: 1.2142857142857142rem;

            input {
              width: 100%;
              height: 2.2857142857142856rem;
            }
          }

          .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .btn {
              height: 2.2857142857142856rem;

              &.default {
                padding: 0 2.142857142857143rem;
                margin: 0 0 0 1.0714285714285714rem;
              }
            }
          }
        }
      }
    }

    .seller-id {
      font-size: 1.1428571428571428rem;
      line-height: 1.4285714285714286rem;
      color: #353A3E;
      margin-bottom: 2.142857142857143rem;
    }

    & > .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: max-content;
      grid-gap: 1.4285714285714286rem;

      .access {
        height: max-content;
        border: 1px solid #C9CBD4;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        .title {
          height: 4.428571428571429rem;
          border-bottom: 1px solid #C9CBD4;
          display: flex;
          align-items: center;
          padding: 0 1.4285714285714286rem;

          font-weight: 600;
          font-size: 1.2857142857142858rem;
          line-height: 1.5714285714285714rem;
          color: #353A3E;
        }

        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.7857142857142858rem 1.4285714285714286rem;

          .status {
            font-size: 1.1428571428571428rem;
            line-height: 1.4285714285714286rem;
            color: #686868;
          }

          .btn {
            height: 2.2857142857142856rem;
            font-size: 0.8571428571428571rem;
            padding: 0 1.4285714285714286rem;
          }
        }
      }
    }
  }

  .empty-data-block, .no-found-data-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      font-weight: 600;
      font-size: 1.2857142857142858rem;
      color: #353A3E;
      margin: 2.142857142857143rem 0 0.5714285714285714rem;
    }

    p {
      font-size: 1rem;
      color: #686868;
      margin: 0;
    }
  }
}


.disconnect-api-window {
  max-width: 42.857142857142854rem;
  width: 100% !important;

  .ant-modal-body {
    padding: 2.857142857142857rem;

    h2 {
      font-size: 1.4285714285714286rem;
      color: #353A3E;
      margin-bottom: 1.4285714285714286rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      line-height: 1.1428571428571428rem;
      color: #6E6A83;
      margin: 0;
    }

    form {
      margin: 2.142857142857143rem 0 0 0;
      display: flex;
      flex-direction: column;

      label {
        display: block;
        font-size: 1rem;
        color: #6E6A83;
        font-weight: 600;
        margin-bottom: 5px;
      }

      input {
        height: 2.2857142857142856rem;
        font-size: 1rem;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        margin: 2.857142857142857rem 0 0 0;

        .btn {
          font-weight: 600;
        }

        .default {
          margin: 0 0 0 15px;
        }
      }
    }
  }
}