@import "../../../style/variables.less";


.user-cabinet .api-connection-block {
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column;
  justify-content: space-between;


  & > .row {
    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 4px 4px;
    padding: 2.857142857142857rem 2.5em;
    background-color: @white;
    margin-bottom: 1.4285714285714286rem;
    box-shadow: @default-section-shadow;
    position: relative;
    z-index: 5;
    overflow: hidden;

    .ant-input-affix-wrapper {
      width: 300px;

      i {
        display: none;
      }
    }

    .btn {
      font-weight: 500;
      position: relative;
      overflow: initial;

      svg {
        use {
          stroke: #fff;
        }
      }

      span {
        background: #8FD39D;
        height: 1.14285714rem;
        position: absolute;
        padding: 0 5px 2px 5px;
        top: -0.7143em;
        right: -15px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        font-size: 0.8571428571428571rem;
        font-weight: 400;
        color: #fff;

        @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
          padding: 0 5px 1px 5px;
        }
      }
    }
  }

  .connections-list {
    .seller-account {
      min-height: 5.714285714285714rem;
      margin-bottom: 3px;
      box-shadow: @default-section-shadow;
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 4px;

      .seller-name {
        width: 100%;
        height: 5.714285714285714rem;
        margin: 0;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 2.5em;
        cursor: pointer;
        border-left: 4px solid #fff;
        font-weight: 500;
        font-size: 1.4285714285714286rem;

        &:hover {
          background: rgba(245, 245, 255, 0.5);
          border-color: rgba(245, 245, 255, 0.5);
        }

        img {
          width: 2.5rem;
          height: 1.5714285714285714rem;
          margin: 0 auto 0 15px;
        }

        button {
          width: 40px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 0 10px;

          svg {
            height: 0.8571428571428571rem;
            width: 1.5rem;
          }
        }
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 2.142857142857143rem 0;
        padding: 0 2.5em;

        h3 {
          width: 30%;
          font-weight: 400;
          font-size: 1.4285714285714286rem;
          color: #343C5A;
          margin: 0;
        }

        .account-status {
          width: 150px;
          font-weight: 500;
          font-size: 1.2857142857142858rem;

          &.active {
            color: #7DD4A1;
          }

          &.expired {
            color: #EC7F5C;
          }
        }

        .api-token,
        .api-email{
          font-weight: 500;
          font-size: 1rem;
          margin: 0 0 0 10%;
          padding: 0 20px;
        }

        .account-action {
          margin: 0 0 0 auto;

          button {
            width: 10.142857142857142rem;
            font-weight: 500;

            .ant-spin {
              height: 2.2857142857142856rem;
              display: flex;
              align-items: center;
            }
          }
        }
      }


      &.opened {
        border-left: 4px solid #6D6DF6;

        .seller-name {
          border: 0;
        }

        button {
          svg:last-child {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    & {
      .connections-list .seller-account .row {
        flex-direction: column;

        &:first-child {
          border-bottom: 1px solid #C9CBD4;
          padding-bottom: 2.14285714rem;
        }

        h3 {
          width: 100%;
          text-align: center;
        }

        .account-action {
          margin: 0 auto;
        }
      }
    }
  }
}

.disconnect-api-window {
  .ant-modal-body {
    padding: 40px;

    h2 {
      font-size: 1.4285714285714286rem;
      color: #343C5A;
      margin-bottom: 1.4285714285714286rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.1428571428571428rem;
      color: #343C5A;
      margin: 0;
    }

    form {
      margin: 2.142857142857143rem 0 0 0;
      display: flex;
      flex-direction: column;

      label {
        display: block;
        font-size: 1rem;
        color: #343C5A;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        margin: 2.857142857142857rem 0 0 0;

        .btn {
          font-weight: 500;
        }

        .default {
          margin: 0 0 0 15px;
        }
      }
    }
  }
}


