.amazon-connect .account-name-section {
  .form-group {
    display: flex;
    flex-direction: column;


    label {
      font-size: 1rem;
      color: #343C5A;
      font-weight: 500;
      margin-bottom: 0.7142857142857143rem;
    }

    input {
      max-width: 23.571428571428573rem;
      height: 2.2857142857142856rem;
      background: #FFFFFF;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0 10px;
    }
  }
}