.landing-affiliates {
  background: #F3F7FD;
  font-family: er;
  //overflow: hidden;

  section .container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;

    button {
      width: 21.714285714285715rem;
      height: 4rem;
      text-transform: uppercase;
      font-family: eb;
      letter-spacing: 0.4px;
      font-size: 1.4285714285714286rem;
    }

    h3 {
      font-family: eb;
      font-size: 2.857142857142857rem;
      line-height: 3rem;
      letter-spacing: 0.4px;
      color: #363694;
      text-align: center;
    }
  }

  .program-block .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 200px;
    position: relative;

    .description {
      position: absolute;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 4.285714285714286rem;
        line-height: 5.714285714285714rem;
        letter-spacing: 0.4px;
        color: #363694;
        font-family: eb;
      }

      span {
        font-size: 1.7142857142857142rem;
        line-height: 3.142857142857143rem;
        letter-spacing: 0.4px;
        color: #17175A;
        margin: 30px 0;
      }
    }

    .image-block {
      margin: 0 0 0 auto;
    }
  }

  .affiliate-program {
    background: #fff;

    .container {
      padding-top: 130px;
      padding-bottom: 50px;
      max-width: 1686px;

      & > h3 {
        margin: 0 0 50px 0;
        display: flex;
        flex-direction: column;

        img {
          margin: 20px 0 0 0;
        }
      }

      .affiliate-steps {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & > div {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .image {
            margin: 0 0 30px 0;
          }

          h3 {
            font-family: eb;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #363694;
            margin: 0 0 20px 0;
          }

          p {
            margin: 0;
            font-family: er;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #343C5A;
          }
        }
      }

      .steps {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0;
        padding: 0 0 100px 0;

        .row {
          display: flex;
          justify-content: center;

          div {
            position: relative;
          }

          div:nth-child(3) {
            width: 18%;
            display: flex;
            justify-content: center;
          }

          div:first-child {
            padding: 0 70px;
          }

          div:last-child {
            padding: 0 70px;

            p {
              bottom: -49px;
            }
          }

          p {
            width: max-content;
            text-align: center;
            font-family: er;
            font-size: 16px;
            line-height: 21px;
            color: #272A53;

            position: absolute;
            left: 0;
            right: 0;
            bottom: -70px;
            margin: 0 auto;
          }
        }

        .arrow-img {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .profit {
        display: flex;
        justify-content: center;
        padding: 50px 0;

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 35px 0 0;

          h3.value {
            font-family: eb;
            font-size: 70px;
            text-align: center;
            color: #272A53;
          }

          p {
            font-family: er;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: #272A53;
          }
        }
      }
    }
  }

  .amazon-influencer {
    background: #fff url(../../../assets/img/contact-section-background.svg) center no-repeat;
    background-size: cover;
    height: 505px;
    padding: 50px 0 0 0;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font-size: 4.285714285714286rem;
        line-height: 5.714285714285714rem;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        font-family: esb;
      }

      span {
        font-size: 1.4285714285714286rem;
        line-height: 2.142857142857143rem;
        letter-spacing: 0.4px;
        color: #FFFFFF;
      }

      button {
        margin: 30px 0;
      }
    }
  }

  .profitwhales-programs {
    background: #fff url(../../../assets/img/programs-background.svg) no-repeat 0 -130px;
    padding-top: 200px;
    padding-bottom: 150px;


    .container {
      display: flex;
      flex-direction: column;
      background: #fff;

      h3 {
        margin-bottom: 25px;
      }

      span {
        font-size: 1.4285714285714286rem;
        line-height: 2.2857142857142856rem;
        text-align: center;
        letter-spacing: 0.4px;
        color: #38454F;
      }

      .programs {
        display: flex;
        justify-content: center;
        margin-top: 100px;

        & > div {
          width: 27%;
          text-align: left;
          padding: 30px 25px;

          img {
            width: 80px;
            height: 80px;
          }

          h4 {
            font-family: eb;
            font-size: 1.4285714285714286rem;
            line-height: 2.142857142857143rem;
            letter-spacing: 0.4px;
            color: #363694;
            margin: 15px 0 40px 20px;
          }

          .custom-list {
            margin-left: 20px;

            & > div {
              display: flex;
              align-items: center;
              margin: 15px 0;
              font-size: 1.1428571428571428rem;

              img {
                width: 15px;
                height: 15px;
                margin: 0 3px 0 0;
              }
            }
          }

          &:nth-child(2) {
            height: 490px;
            background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
            box-shadow: 0px 15px 50px rgba(140, 151, 182, 0.15);
            border-radius: 19.0851px;
          }
        }
      }
    }
  }

  .contact-us {
    background: #6D6DF6 url(../../../assets/img/landing-affiliate/contact-us-bg.png) no-repeat 0 30px;

    .container {
      height: 100%;
      max-width: 1686px;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .image {
        z-index: 10;
        margin: 0 150px 0 -150px;
      }

      .have-question {
        width: max-content;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 130px 0 0 0;

        h2 {
          width: max-content;
          position: absolute;
          font-family: eb;
          font-size: 150px;
          line-height: 130px;
          letter-spacing: 0.4px;
          color: rgba(255, 255, 255, 0.4);;
          top: -85px;
          left: -80px;
          margin: 0;
        }

        .green-line {
          margin: 0 auto 0 0;
        }

        h3 {
          text-align: left;
          z-index: 10;
        }

        span {
          z-index: 10;
          padding: 45px 0 5px 0;
          font-size: 1.1428571428571428rem;
          letter-spacing: 0.4px;
          color: #363694;
        }

        a {
          z-index: 10;
          font-family: eb;
          font-size: 1.4285714285714286rem;
          letter-spacing: 0.4px;
          text-decoration-line: underline;
          color: #6D6DF6;
        }

        form {
          color: #fff;
          display: flex;
          flex-direction: column;
          margin: 0 0 80px 0;

          .row {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
          }

          h4 {
            font-family: e2r;
            font-size: 21px;
            letter-spacing: 0.4px;
            color: #FFFFFF;
            margin: 45px 0 25px 0;
          }

          .input-group {
            display: flex;
            flex-direction: column;
            margin: 0 25px 0 0;

            &:last-child {
              margin: 0;
            }

            label {
              font-family: e3r;
              font-size: 13px;
              letter-spacing: -0.4375px;
              margin: 0 0 10px 0;
            }

            input {
              width: 240px;
              border: 1px solid #FFFFFF;
              box-sizing: border-box;
              border-radius: 4px;
              color: #fff;
              height: 40px;
              background: inherit;
              padding: 0 15px;
            }

            textarea {
              border: 1px solid #FFFFFF;
              box-sizing: border-box;
              border-radius: 4px;
              color: #fff;
              background: inherit;
              padding: 0 15px;
              resize: none;
              height: 105px;
            }

            span {
              padding: 0;
              font-family: e2r;
              font-size: 10px;
              letter-spacing: 0.4px;
              color: #FFFFFF;
              margin: 5px 0 0 0;
            }
          }

          .question-block {
            width: 100%;
          }

          .green-btn {
            width: 120px;
            height: 40px;
            font-family: eb;
            font-size: 12px;
          }
        }
      }
    }
  }

  .commission-details {
    padding: 100px 0 150px 0;
    background-color: #fff;
    background-image: url(../../../assets/img/commission-bg.svg), linear-gradient(180deg, #FFFFFF 0%, #F3F7FD 100%);
    background-repeat: no-repeat;
    background-position: 0 20px;

    .container {
      .green-line {
        display: block;
        margin: 0 auto;
      }

      .commissions {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 50px 0 0 0;

        & > div {
          width: 40%;
          min-width: 450px;
          height: 10.714285714285714rem;
          display: flex;
          align-items: center;
          background: #FFFFFF;
          box-shadow: 0px 15.2681px 15.2681px rgba(140, 151, 182, 0.08), 0px 5.72553px 38.1702px rgba(140, 151, 182, 0.03), 0px 0px 15.2681px rgba(140, 151, 182, 0.03);
          border-radius: 20px;
          position: relative;

          img {
            margin: 0 10% -20px -10px;
          }

          .description {
            width: 40%;

            h4 {
              font-family: eb;
              font-size: 1.4285714285714286rem;
              letter-spacing: 0.4px;
            }

            span {
              font-size: 1.4285714285714286rem;
              letter-spacing: 0.4px;
              color: #17175A;
            }

            @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
              & {
                width: auto;
              }
            }
          }

          .commission-value {
            font-family: esb;
            font-size: 2.357142857142857rem;
            letter-spacing: 0.4px;
            color: #17175A;
            margin: 0 5% 0 auto;
          }

        }
      }

      .how-it-work {
        display: flex;
        justify-content: space-around;
        margin: 250px 0 0 0;

        .image {
          width: 40%;
        }

        .description {
          width: 40%;
          padding: 0 0 0 40px;
          border-left: 2px dashed #fff;

          h4 {
            font-family: esb;
            font-size: 33px;
            line-height: 48px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.4px;

            /* Light Purple */

            color: #6D6DF6;
          }

          .custom-list {
            .list-item {
              margin: 0 0 60px 0;
              position: relative;

              .list-point {
                position: absolute;
                left: -49px;
                top: 12px
              }

              h5 {
                font-family: eb;
                font-size: 1.7142857142857142rem;
                letter-spacing: 0.4px;
                color: #17175A;
              }

              span {
                font-size: 1.1428571428571428rem;
                letter-spacing: 0.4px;
                //display: flex;

                .green-underline {
                  width: max-content;
                  color: #8FD39D;
                  overflow: hidden;
                  //position: relative;

                  img {
                    position: absolute;
                    left: -3px;
                    top: 5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1500px) {
    .contact-us .container {
      .image {
        margin: 0 100px 0 -40px;
      }

      .have-question {
        h2 {
          right: 0;
          font-size: 125px;
        }
      }
    }
    .affiliate-program .container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }


  @media (max-width: 1420px) {
    .contact-us .container {
      .image {
        opacity: .8;
      }

      .have-question {
        z-index: 10;

        h2 {
          right: 0;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    .profitwhales-programs {
      padding-top: 150px;
    }

    .contact-us {
      background-image: none;

      .container {
        .image {
          margin-left: 0;
        }

        .have-question {
          z-index: 10;

          h2 {
            left: 0;
            font-size: 95px;
          }
        }
      }
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .contact-us .container {
      .have-question {
        z-index: 0;
      }
    }
  }


  @media (max-width: 925px) {
    .commission-details .container {
      .commissions {
        flex-direction: column;
        align-items: center;

        & > div {
          margin: 0 0 20px 0;
        }
      }
    }

    .contact-us .container {
      .image {
        display: none;
      }

      .have-question {
        margin: 0;

        h2 {
          position: relative;
          top: 0;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .contact-us .container {
      .image {
        position: absolute;
        opacity: .3;
      }

      .have-question {
        width: 100%;
        z-index: 10;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          text-align: center;
        }

        img.green-line {
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 770px) {
    .commission-details .container {
      .how-it-work {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        align-items: center;

        .image {
          width: 50%;
        }

        .description {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-sizing: content-box;
          margin: 0 40px 0 0;
        }
      }
    }
  }

  @media (max-width: 695px) {
    section .container {
      button.green-btn {
        height: 40px;
        font-size: 1.1428571428571428rem;
      }
    }
  }

  @media (max-width: 695px) {
    .program-block .container {
      margin-bottom: 100px;

      img {
        opacity: .4;
      }

      .description {
        z-index: 100;
        text-align: center;
        align-items: center;
      }
    }
  }

  @media (max-width: 640px) {
    .program-block .container {
      justify-content: center;

      .description {
        h2 {
          font-size: 3rem;
          line-height: 4rem;
        }

        span {
          font-size: 1.5rem;
        }
      }
    }

    .amazon-influencer {
      height: 390px;

      .container {
        h2 {
          font-size: 3rem;
          line-height: 4rem;
        }
      }
    }

    .profitwhales-programs {
      padding-top: 100px;
      padding-bottom: 100px;

      .container {
        .programs {
          flex-direction: column;

          & > div {
            width: 100%;
            background: none;
            text-align: center;

            &:nth-child(2) {
              background: none;
              box-shadow: none;
              height: max-content;
            }

            h4 {
              margin-left: 0;
            }

            .custom-list {
              width: max-content;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .affiliate-program .container {
      .affiliate-steps {
        flex-direction: column;

        & > div {
          width: 85%;
          margin: 0 auto 30px auto;

          .image {
            width: 50%;
          }
        }
      }

      .steps {
        padding: 0;

        .images {
          margin: 50px 0 0 0;
          flex-direction: column;

          .image {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            margin: 0 0 30px 0;

            p {
              position: initial;
              margin-top: 20px;
            }
          }

          .arrow-img {
            display: none;
          }
        }
      }

      .profit {
        justify-content: space-around;
      }
    }

    .contact-us .container {
      .have-question {
        h2 {
          font-size: 70px;
        }

        form {
          width: 100%;
          .row {
            flex-direction: column;
            margin: 0;

            .input-group {
              width: 100%;
              margin: 0 0 20px 0;

              input {
                width: 100%;
              }
            }
          }

          .btn {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 550px) {
    .commission-details {
      padding-bottom: 150px;

      .container {
        .commissions {
          & > div {
            width: 90%;
            min-width: 300px;

            img {
              width: 100px;
              margin: 0 10% -60px -10px;
            }

            .description {
              h4,
              span {
                font-size: 1.1428571428571428rem;
              }
            }

            .commission-value {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 450px) {
    .program-block .container {
      .description {
        h2 {
          font-size: 2.5rem;
          line-height: 3rem;
          margin: 0;
        }

        span {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }

    .amazon-influencer .container {
      h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0;
      }

      span {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

    .profitwhales-programs .container {

    }

    .commission-details .container {
      .commissions {
        & > div {
          height: max-content;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            margin: 10px 0;
          }

          .commission-value {
            margin: 0 auto;
          }
        }
      }
    }
  }

  @media (max-width: 380px) {
    section {
      .container {
        h2 {
          font-size: 2rem !important;
          line-height: initial !important;
        }
      }
    }
  }
}