@import "../../style/variables.less";

.DatePicker {
    position: relative;
    max-width: 220px;

    .ant-calendar-picker-input {
        padding-left: 35px;
    }

    .DateIcon {
        position: absolute;
        left: 4px;
        top: 4px;
    }
}
