@import '../../style/variables.less';

.ant-calendar-picker-container {
  z-index: 10000;
}

.DatePicker {
  font-size: 1rem; // 14px
  position: relative;
  max-width: 15.7142857em;
  height: 2.2857143em;

  input {
    border: 0;
    background: transparent;
    height: initial;
  }

  .DateIcon {
    font-size: 1rem; // 14px
    position: absolute;
    left: 0.2857143em;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: @retina-desktop), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: @retina-desktop), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: @retina-desktop), only screen and (min-device-pixel-ratio: 2) and (max-width: @retina-desktop) {
      left: 0.5714286em;
    }
  }

  .ant-calendar-picker {
    .ant-input {
      border-color: #C9CBD4;
      //transition: 0s;
    }

    &:hover {
      .ant-input {
        border-color: #343C5A;
        //transition: 0s;
      }
    }

    &:focus {
      .ant-input {
        border: 1px solid #6959AB !important;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .ant-input {
    text-align: right;
    padding-right: 0;
  }
}

td.ant-calendar-cell {
  cursor: pointer;

  &:hover {
    .ant-calendar-date {
      background-color: rgba(143, 211, 157, 0.2);
    }
  }
}

td.ant-calendar-cell.ant-calendar-selected-start-date.ant-calendar-selected-end-date {
  &:before {
    display: none !important;
  }
}

.date-picker {
  position: relative;

  .DateRangePickerInput {
    width: 220px;
    height: 32px;
    margin: 0;
    padding: 0;
    // padding-right: 30px;
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // place-content: center space-evenly;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #94a3ad66;

    .DateRangePickerInput_calendarIcon {
      width: 24px;
      height: 24px;
      margin: 0;
      padding: 0;
    }

    .DateInput {
      width: fit-content;
      // width: 72px;
      // height: 16px;

      .DateInput_input {
        width: 72px;
        // height: 16px;
        padding: 0;
        font-size: 14px;
        font-family: 'Infra', sans-serif;
        color: @third-default-dark;
        border-bottom: none;

        .DateRangePickerInput_calendarIcon {
          margin: 0;
          padding: 0;
        }
      }

      .DateInput_input::placeholder {
        font-size: 1rem;
        color: @third-default-dark;
        text-align: center;
      }
    }

    .DateRangePickerInput_clearDates {
      all: unset;
      cursor: pointer;
    }

    .DateRangePicker_picker {
      width: 640px;
      height: 302px;
      border-radius: 8px;
      background-color: @white;
      left: -240px !important;
      z-index: 365;

      .DayPicker {
        width: 640px !important;
        height: 302px;
        border-radius: 8px;

        div {
          display: flex;
          flex-direction: row-reverse;

          .Presets {
            width: 143px;
            height: 298px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 8px;
            background-color: @body-background;
            z-index: 366;

            .PresetsBtn {
              margin: 0;
              padding: 0;
              border: none;
              outline: none;
              background-color: transparent;
            }
          }
        }
      }

      .DayPicker > div > div:first-child {
        all: unset;
        width: 640px !important;
        height: 302px;
        margin: 0;
        padding: 0;
        border-radius: 8px;
        background-color: @white;
        box-shadow: @tooltip-shadow;
        // background-color: green;

        .DayPicker_weekHeaders.DayPicker_weekHeaders_1.DayPicker_weekHeaders__horizontal.DayPicker_weekHeaders__horizontal_2 {
          .DayPicker_weekHeader.DayPicker_weekHeader_1 {
            padding: 0 !important;

            ul.DayPicker_weekHeader_ul.DayPicker_weekHeader_ul_1 {
              width: 180px !important;

              li.DayPicker_weekHeader_li.DayPicker_weekHeader_li_1 {
                width: 25px !important;

                small {
                  font-size: 12px;
                  font-family: 'Infra', sans-serif;
                  color: @action-color-dark;
                }
              }
            }
          }

          .DayPicker_weekHeader.DayPicker_weekHeader_1:first-child {
            left: 243px !important;
          }

          .DayPicker_weekHeader.DayPicker_weekHeader_1:last-child {
            left: 443px !important;
          }
        }

        .DayPicker_focusRegion.DayPicker_focusRegion_1 {
          all: unset;
          width: 640px;
          height: 302px;
          border-radius: 8px;

          .DayPickerNavigation.DayPickerNavigation_1.DayPickerNavigation__horizontal.DayPickerNavigation__horizontal_2 {
            .DayPickerNavigation_button__default {
              border: none;
              padding: 0;
              top: 25px;

              .DayPickerNavigation_svg__horizontal.DayPickerNavigation_svg__horizontal_1 {
                fill: @action-color;
              }
            }

            .DayPickerNavigation_button__default:first-child {
              left: 260px;
            }

            .DayPickerNavigation_button__default:nth-child(2) {
              // left: 260px;
            }
          }

          .DayPicker_transitionContainer.DayPicker_transitionContainer_1.DayPicker_transitionContainer__horizontal.DayPicker_transitionContainer__horizontal_2 {
            all: unset;

            .CalendarMonthGrid.CalendarMonthGrid_1.CalendarMonthGrid__horizontal.CalendarMonthGrid__horizontal_2 {
              all: unset;
              width: 640px !important;
              height: 302px !important;
              border-radius: 8px;
              display: flex;
              justify-content: flex-end;

              .CalendarMonth_caption.CalendarMonth_caption_1 {
                flex-direction: unset;
                justify-content: center;
                padding: 25px 0 45px;
                font-size: 14px;
                font-family: 'Infra', sans-serif;
                color: @third-default-dark;
              }

              td.CalendarDay__default {
                border: none !important;
                font-size: 12px;
                font-family: 'Infra', sans-serif;
                color: @third-default-dark;
                // font-weight: 600;
              }

              td.CalendarDay__blocked_out_of_range {
                color: @action-color-dark;
                // font-weight: 400;
              }

              .CalendarMonthGrid_month__horizontal.CalendarMonthGrid_month__horizontal_1 {
                // all: unset;
                width: 200px;

                .CalendarMonth {
                  all: unset;
                  width: 200px;
                }
              }

              .CalendarMonthGrid_month__horizontal.CalendarMonthGrid_month__horizontal_1.CalendarMonthGrid_month__hidden.CalendarMonthGrid_month__hidden_2 {
                width: 0;
              }
            }
          }

          .DayPickerKeyboardShortcuts_buttonReset.DayPickerKeyboardShortcuts_buttonReset_1.DayPickerKeyboardShortcuts_show.DayPickerKeyboardShortcuts_show_2.DayPickerKeyboardShortcuts_show__bottomRight.DayPickerKeyboardShortcuts_show__bottomRight_3 {
            display: none;
          }
        }
      }
    }
  }
}


.ant-calendar {
  .ant-calendar-date {
    border-radius: 50%;
    line-height: 24px;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    &::before {
      display: none;
    }

    &:hover {
      border-radius: 50%;
      background-color: rgba(143, 211, 157, 0.2);
    }
  }
}

.pw-date-picker div .ant-calendar-picker-input.ant-input-disabled:hover {
  border-color: #C9CBD4 !important;
}

.pw-date-picker {
  width: 100%;
  height: 2.2857142857142856rem;
  display: flex;

  &:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #343C5A;
  }

  div {
    width: 100%;
    display: flex;

    .ant-calendar-picker-input.ant-input {
      width: 100%;
      border-color: #C9CBD4;

      &:hover {
        border-color: #343C5A;
      }
    }

    & > svg {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 0.71428571rem;
      height: 0.42857143rem;

      stroke: #656A84;
    }
  }


  .ant-calendar-picker-clear {
    top: 0;
    bottom: 0;
    right: 13px;
    margin: auto 0;
  }
}

.pw-date-picker-dropdown {
  .ant-calendar-header {
    .ant-calendar-my-select {
      a {
        font-size: 1rem;
        font-weight: 600;
        color: #312C51;

        &:hover {
          color: #6959AB;
        }
      }
    }
  }

  .ant-calendar {
    width: max-content;
    border: 0;
  }


  &.dropdown-with-timezone {
    .ant-calendar-footer {
      width: 100%;
    }

    .ant-calendar-footer-extra {
      width: 100%;
      background: #fff;
      padding: 12px 20px;
      display: flex;
      align-items: flex-start;

      p {
        font-size: 0.8571428571428571rem;
        line-height: 0.8571428571428571rem;
        color: #C9CBD4;
        margin: 0;
      }
    }
  }
}

//-------------
.pw-range-date-picker {
  .ant-input {
    padding-left: 0;
    padding-right: 25px;

    & > svg {
      position: absolute;
      top: 0;
      bottom: 0;

      right: 15px;
      margin: auto 0;
      width: 0.71428571rem;
      height: 0.42857143rem;

      stroke: #656A84;
    }
  }
}


/*
* ant datapicker start (can be delete)
*/

.ant-calendar-picker,
.ant-calendar-picker-input.ant-input {
  font-size: 1rem !important; // 14px
  width: 15.7142857em;
  height: 2.2857143em;
}

.ant-calendar-picker-container .ant-calendar {
  border-radius: 8px;
}

.ant-calendar-range {
  .ant-calendar-month-panel, .ant-calendar-year-panel {
    top: 0;
  }
}

.ant-calendar-panel {
  display: flex;
  flex-direction: row-reverse;

  // input hidde
  .ant-calendar-input-wrap,
  .ant-calendar-range-middle {
    display: none;
  }

  .ant-calendar-range-middle {
    left: 34%;
  }

  .ant-calendar-range-right .ant-calendar-date-input-wrap {
    margin-left: -183px;
  }
}

.dropdown-with-timezone {
  .ant-calendar-footer {
    border: 0;
    border-top: 1px solid #C9CBD4;
  }
}

.dropdown-with-time {
  .ant-calendar-footer {
    border: 0;
    border-top: 1px solid #C9CBD4;
  }
}

.ant-calendar-footer {
  width: 8.857142857142858rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #fff;
  border: 0;
  border-right: 1px solid #C9CBD4;
  padding: 0;
  z-index: 11;

  .ant-calendar-footer-btn {
    width: 100%;
    height: 100%;

    .ant-calendar-footer-extra {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
    }

    .ant-tag {
      width: 100%;
      height: 2.2142857142857144rem;
      font-weight: 600;
      font-size: 0.8571428571428571rem;
      line-height: 1.0714285714285714rem;
      color: #312C51;
      background: #fff;
      border: 0;
      margin: 0;
      display: flex;
      align-items: center;
      padding: 0 0 0 1rem;
      border-left: 0.35714285714285715rem solid #fff;
      cursor: pointer;
      border-radius: 0;
      outline: none !important;
      box-shadow: none !important;

      &::after {
        display: none;
      }

      &:hover {
        border-color: #FF5256;
        background: #FFFAFA;
        color: #312C51;
      }
    }
  }
}

.ant-calendar-body {
  position: relative;
  z-index: 10;

  thead {
    th {
      span.ant-calendar-column-header-inner {
        font-weight: 600;
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #5B586F;
      }
    }
  }

  .ant-calendar-tbody {
    tr {
      td {
        & {
          .ant-calendar-date {
            font-size: 0.8571428571428571rem;
            color: #5B586F;
            z-index: 10000;
            position: relative;
          }

          &:hover {
            .ant-calendar-date {
              background: #FFFAFA;
              border: 0;
            }
          }
        }

        &.ant-calendar-selected-day {
          .ant-calendar-date {
            color: #fff;
            background-color: #FF5256;
            border: 0;
          }
        }


        &.ant-calendar-selected-start-date::before {
          position: absolute !important;
          top: 4px !important;
          right: 0 !important;
          bottom: 4px !important;
          left: 50% !important;
          display: block !important;
          background: #FFFAFA !important;
          background: radial-gradient(circle at -30px);
          border: 0 !important;
          content: "" !important;
          z-index: 0;
        }

        &.ant-calendar-selected-end-date::before {
          position: absolute !important;
          top: 4px !important;
          right: 50% !important;
          bottom: 4px !important;
          left: 0 !important;
          display: block !important;
          background: #FFFAFA !important;
          background: radial-gradient(circle at 30px);
          border: 0 !important;
          content: "" !important;
          z-index: 0;
        }

        &.ant-calendar-in-range-cell::before {
          background: #FFFAFA;
        }

        &.ant-calendar-disabled-cell {
          .ant-calendar-date {
            color: #C9CBD4;
          }

          cursor: not-allowed;
          pointer-events: none;
        }


        &.ant-calendar-today {
          .ant-calendar-date {
            border: 1px solid #FF5256 !important;
          }
        }
      }
    }
  }
}

.ant-calendar-month-panel {
  z-index: 111;

  .ant-calendar-month-panel-header {
    .ant-calendar-month-panel-year-select {
      font-weight: 600;
      font-size: 1rem;
      color: #312C51;

      &:hover {
        color: #6959AB;
      }
    }
  }

  .ant-calendar-month-panel-body {
    .ant-calendar-month-panel-cell {
      .ant-calendar-month-panel-month {
        font-weight: 600;
        font-size: 1rem;
        color: #5B586F;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: #FFFAFA;
        }
      }

      &.ant-calendar-month-panel-selected-cell {
        .ant-calendar-month-panel-month {
          background: #FF5256;
          color: #fff;
        }
      }

      &.ant-calendar-month-panel-current-cell {
        .ant-calendar-month-panel-month {
          background: none;
          border: 1px solid #FF5256;
          color: #5B586F;

          &:hover {
            background: #FFFAFA;
          }
        }
      }

      &.ant-calendar-month-panel-cell-disabled {
        .ant-calendar-month-panel-month {
          pointer-events: none;
        }
      }
    }
  }
}

.ant-calendar-year-panel {
  z-index: 111;

  .ant-calendar-year-panel-header {
    .ant-calendar-year-panel-decade-select {
      pointer-events: none;

      span {
        font-weight: 600;
        font-size: 1rem;
        color: #312C51;

        &:hover {
          color: #6959AB;
        }
      }
    }
  }

  .ant-calendar-year-panel-tbody {
    .ant-calendar-year-panel-cell {
      .ant-calendar-year-panel-year {
        font-weight: 600;
        font-size: 1rem;
        color: #5B586F;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: #FFFAFA;
        }
      }

      &.ant-calendar-year-panel-selected-cell {
        .ant-calendar-year-panel-year {
          background: none;
          border: 1px solid #FF5256;

          &:hover {
            background: #FFFAFA;
          }
        }
      }

      &.ant-calendar-year-panel-last-decade-cell,
      &.ant-calendar-year-panel-next-decade-cell {
        .ant-calendar-year-panel-year {
          color: #C9CBD4;

          &:hover {
            color: #5B586F;
          }
        }
      }

      &.ant-calendar-year-panel-cell-disabled {
        .ant-calendar-year-panel-year {
          pointer-events: none;
        }
      }
    }
  }
}

.ant-calendar-cell .ant-calendar-date {
  background-color: transparent;
}

.ant-calendar-time-picker-panel {
  z-index: 11;
}

td {
  position: relative;
}

/*
* ant datapicker end (can be delete)
*/

.pw-date-picker input.ant-input.ant-input-disabled::placeholder {
  color: rgba(0, 0, 0, 0.25) !important;
}
