@import '../../style/variables.less';

.DatePicker {
    position: relative;
    max-width: 220px;

    .DateIcon {
        position: absolute;
        left: 4px;
        top: 4px;
    }

    .ant-input {
        text-align: right;
        padding-right: 0;
    }
}
