.account-page .profile {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 2.142857142857143rem 1.4285714285714286rem;
  margin: 0 0 10px 0;

  .container {
    flex: 1;
    max-width: 59.285714285714285rem;
    display: flex;


    & > img {
      height: 8.571428571428571rem;
      width: 8.571428571428571rem;
      min-width: 8.571428571428571rem;
      margin: 0 2.857142857142857rem 0 0;
    }
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2.857142857142857rem;
    border-left: 1px solid #F3F3F3;

    .row {
      img {
        display: none;
      }

      .section-description {
        display: flex;
        flex-direction: column;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      line-height: 1.7142857142857142rem;
      color: #353A3E;
      margin-bottom: 0.7142857142857143rem;
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.2142857142857142rem;
      color: #46435C;
      margin: 0;
    }

    .form-group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.4285714285714286rem;
      position: relative;

      label {
        width: 13.928571428571429rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #46435C;
      }

      input {
        flex: 1;
        height: 2.2857142857142856rem;
        min-height: 2.2857142857142856rem;
      }

      .input-suffix {
        position: absolute;
        right: 1.2142857142857142rem;
        margin: auto 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          height: 1rem;
          width: initial;
        }

        &.opened {
          svg {
            height: 0.8571428571428571rem;
          }
        }
      }
    }

    .btn {
      height: 2.2857142857142856rem;
      font-size: 0.8571428571428571rem;
      margin: 1.4285714285714286rem 0 0 13.92857143rem;
      position: relative;
    }
  }

  @media (max-width: 1000px) {
    .col {
      .form-group {
        flex-direction: column;
        align-items: flex-start;

        label {
          width: max-content;
          margin: 0 0 10px;
        }

        input {
          width: 100%;
        }

        .input-suffix {
          bottom: 7px;
        }
      }

      .btn {
        margin: 1.42857143rem auto 0;
      }
    }
  }

  @media (max-width: 850px) {
    padding: 20px 20px 30px;

    .container {
      max-width: 100%;

      & > img {
        display: none;
      }
    }

    .col {
      border: 0;
      padding: 0;

      .row {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid #F3F3F3;

        img {
          min-width: 64px;
          width: 64px;
          height: 64px;
          display: block;
          margin: 0 12px 0 0;
        }
      }

      h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
      }

      p {
        font-size: 12px;
        line-height: 15px;
      }

      .form-group {
        label {
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 10px;
        }

        input {
          height: 32px;
          min-height: 32px;
          font-size: 14px;
        }

        .input-suffix {
          bottom: 9px;

          svg {
            height: 14px;
          }
        }
      }

      .btn {
        width: 100%;
        height: 42px;
        font-size: 14px;
      }
    }
  }
}