.product-status {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  position: relative;

  .section-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    .btn {
      font-weight: 400;
      font-size: 1.1428571428571428rem;
      padding: 0 15px;
      height: 2.142857142857143rem;
    }
  }


  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .status-info {
      flex: 1;
      min-width: 8.214285714285714rem;

      &:nth-child(1),
      &:nth-child(2) {
        min-width: 6rem;
      }

      .caption {
        font-weight: 600;
        font-size: 1rem;
        color: #343C5A;
        margin: 0 0 20px 0;
      }

      .inactive {
        color: #eb5757;
      }

      .active {
        color: #8fd39d;
      }
    }
  }

  @media (max-width: 1663px) {
    & {
      margin-left: 0;
    }
  }

  @media (max-width: 1160px){
    & {
      .row {
        flex-wrap: wrap;

        .status-info {
          min-width: max-content;
          margin-bottom: 20px;

          .caption {
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }


  @media (max-width: 910px) {
    & {
      .section-header {
        margin-bottom: 20px;
      }
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1350px),
  only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 1350px),
  only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 1350px),
  only screen and (        min-device-pixel-ratio: 2) and (min-width: 1350px),
  only screen and (                min-resolution: 192dpi) and (min-width: 1350px),
  only screen and (                min-resolution: 2dppx) and (min-width: 1350px) {
    & {
      flex: 1;
      margin-left: 20px;
    }
  }
}