@import '../../../../style/variables.less';
@import '../../../../style/mixins.less';

.product-status {
  display: grid;
  grid-template-columns: 0.7fr repeat(3, 1fr) 0.7fr;
  column-gap: 0.35714em;
  padding: 0.71429em;
  margin: 0;
  min-height: 50px;
  // margin-bottom: 24px;

  .status-info {
    .caption {
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 0.35714em;
    }
    .active {
      color: @success-color;
    }
    .inactive {
      color: @dangerous-color;
    }
  }

  .control {
    align-self: center;

    button {
      font-size: inherit; // 14px
      width: 100%;
      min-width: 14.28571em;
      min-height: 2.85714em;
      border: 0;
      border-radius: 0.57143em;
      color: #fff;
    }

    .start {
      background: @action-color;
    }

    .stop {
      background: @third-default-dark;

      .icon-stop {
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 2px;
      }
    }

    .play {
      transform: rotateZ(90deg);
    }

    .control-btn-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn-icon {
        font-size: 1.28571rem; // 18px
      }

      .btn-text {
        flex: 1;
      }
    }
  }

  @media (max-width: @laptop) {
    & {
      .control {
        margin-top: 1.42857em;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
