@import '../../../../style/variables.less';
@import '../../../../style/mixins.less';

.product-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;

    .status-info {
        .caption {
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .active {
            color: @success-color;
        }
        .inactive {
            color: @dangerous-color;
        }
    }

    .control {
        button {
            width: 100%;
            min-width: 200px;
            min-height: 40px;
            border: 0;
            border-radius: 8px;
            color: #fff;
        }

        .start {
            background: @action-color;
        }

        .stop {
            background: @third-default-dark;

            .icon-stop {
                width: 15px;
                height: 15px;
                background: #fff;
                border-radius: 2px;
            }
        }

        .play {
            transform: rotateZ(90deg);
        }

        .control-btn-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-icon {
                font-size: 18px;
            }

            .btn-text {
                flex: 1;
            }
        }
    }

    @media (max-width: @laptop) {
        & {
            .control {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
}
