@import "../../../../style/variables.less";

.main-chart {
  width: 100%;
  margin: 10px 0 0 0;
  background: #fff;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: @default-section-shadow;


  .recharts-cartesian-axis-tick-line {
    display: none;
  }

  .main-chart-container {
    height: 500px;

    .recharts-cartesian-grid-vertical {
      line {
        stroke-dasharray: 5;
      }
    }

    .recharts-cartesian-grid {
      line {
        stroke-width: 2
      }
    }

    //.recharts-line {
    //  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    //  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    //}

    .started-optimization,
    .paused-optimization {
      font-size: 0.8571428571428571rem;
      font-weight: 500;
    }

    .started-optimization {
      fill: #7DD4A1;
      text-anchor: end;
    }

    .paused-optimization {
      fill: #C9CBD4;
    }

    .start-rect {
      path {
        fill: rgba(205, 255, 226, 0.2);
      }
    }

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      & {
        height: 420px;
      }
    }
  }

  .chart-header {
    display: grid;
    grid-template-areas: 'datePiker datePiker' 'switches chartLegend';
    grid-row-gap: 20px;
    margin: 0;
    padding: 1.42857143rem 1.42857143rem 0;

    .row {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 0 0;

      .switches {
        display: flex;
      }
    }

    .pair-name {
      font-size: 1.4285714285714286rem;
      line-height: 28px;
      color: #363694;
      margin: 0 auto;
      grid-area: pairName;

    }

    .switches {
      grid-area: switches;

      display: flex;
    }

    .chart-legend {
      grid-area: chartLegend;

    }

    .switch-block {
      width: max-content;
      font-size: 1rem;
      color: #38454F;

      display: flex;
      align-items: center;

      button {
        margin: 0 13px 0 0;
      }
    }

    .week-switch {
      margin-right: 25px;
      grid-area: weekSwitchBlock;

    }

    .daily-switch {
      margin: 0 25px 0 0;
      grid-area: dailySwitchBlock;

      .daily-icon {
        margin: 0 0 0 20px;
        grid-area: dailyIcon;
      }
    }

    .optimization-switch {
      svg {
        margin: 0 0 -2px 20px;
      }
    }


    .line-fill {
      display: flex;
      grid-area: lineFill;
      margin: 0 0 0 20px;

      span {
        display: flex;
        align-items: center;
        margin: 0 5px 0 0;
      }

      & > div {
        margin: 0 3px;
      }
    }

    .chart-legend {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
      grid-area: chartLegend;

      & > div {
        display: flex;
        align-items: center;
        margin: 0 30px 0 0;

        span {
          display: flex;
          align-items: center;
        }

        svg {
          min-height: 4px;
          margin: 0 10px -2px 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .DatePicker {
      grid-area: datePiker;
      margin: 0 0 0 auto;
    }
  }

  .main-legend {
    display: flex;
    justify-content: center;
    margin: 0 0 1.42857143rem 0;

    .green-line,
    .violet-line {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 5px 0 0;
    }

    .green-line {
      background: #7DD4A1;
    }

    .violet-line {
      background: #6D6DF6;
    }

    .first-line {
      color: #7DD4A1;
      margin: 0 10px;
      display: flex;
      align-items: center;
      font-size: 1.1428571428571428rem;
    }

    br {
      display: none;
    }

    .second-line {
      color: #6D6DF6;
      margin: 0 10px;
      display: flex;
      align-items: center;
      font-size: 1.1428571428571428rem;
    }
  }

  @media (max-width: 1200px) {
    & {
      .chart-header {
        grid-template-areas: 'switches datePiker ' 'chartLegend chartLegend';
      }
    }
  }

  @media (max-width: 910px) {
    & {
      .chart-header {
        grid-template-areas: 'datePiker' 'switches' 'chartLegend';

        .DatePicker {
          margin: 0 auto;
        }

        .switches {
          justify-content: center;
        }

        .chart-legend {
          margin: 0 auto;
        }
      }
    }
  }

  //@media (max-width: 550px) {
  //  & {
  //    padding-left: 10px;
  //    padding-right: 10px;
  //
  //    .chart-header {
  //      .week-switch .line-fill,
  //      .daily-switch img {
  //        display: none;
  //      }
  //
  //    }
  //  }
  //}


  //@media (max-width: 450px) {
  //  & {
  //    .chart-header {
  //      justify-content: center;
  //      grid-template-areas: "weekSwitchBlock " "dailySwitchBlock" "chartLegend" "datePiker";
  //
  //      .switch-block {
  //        width: 100%;
  //        flex-direction: row-reverse;
  //        justify-content: space-between;
  //        margin: 0;
  //
  //        button {
  //          margin: 0;
  //        }
  //      }
  //
  //      .chart-legend {
  //        justify-content: space-around;
  //        div {
  //          flex-direction: column-reverse;
  //
  //          img {
  //            width: 100%;
  //            height: 3px;
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
}

.custom-line-chart-tooltip {
  display: flex;
  width: max-content;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);

  & > div {
    flex: 1;
    min-width: max-content;

    //& > div:nth-child(2) {
    //  color: #8FD39D;
    //}
    //
    //& > div:nth-child(3) {
    //  color: #6D6DF6;
    //}

    &:first-child {
      div {
        color: inherit;
      }
    }

    img {
      margin: 0 10px 0 0;
    }
  }

  .title {
    border-bottom: 1px solid #F5F5FF;
    padding: 10px 0;
    margin: 0 0 20px 0;


    &.date {
      font-weight: bold;
      width: max-content;
    }
  }

  & > .week-value,
  & > .daily-value {
    margin: 0 !important;
  }

  .name,
  .week-value,
  .daily-value {
    margin: 0 0 10px 0;

    br {
      display: none;
    }
  }

  .week-value {
    text-align: left;

    div {
      display: flex;
      align-items: center;
      padding-left: 20px;

      i {
        display: flex;
        align-items: center;
      }

      svg {
        margin: 0 10px 0 0;
      }
    }
  }

  .daily-value {
    text-align: left;

    div {
      display: flex;
      align-items: center;
      padding-left: 20px;


      svg {
        margin: 0 10px 0 0;
      }
    }
  }

  //retina
  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      font-size: 1.1428571428571428rem;
    }
  }
}
