.main-chart {
  width: 100%;
  padding: 20px 25px 35px;
  background: #fff;
  border-radius: 8px;

  .chart-header {
    margin: 0 0 10px 0;
    .pair-name {
      font-family: ir;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.06px;
      color: #363694;
    }

  }
}