.products-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 1.7857142857142858rem 1.4285714285714286rem;

  .prev,
  .next {
    svg {
      stroke: #343C5A;
    }

    &:hover {
      svg {
        stroke: #6D6DF6;
      }
    }
  }

  .next {
    transform: rotate(180deg);
  }

  .product-item {
    display: flex;
    font-size: 1.1428571428571428rem;

    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      overflow: hidden;
    }

    .row {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .photo {
      display: flex;
      align-items: center;

      min-width: 7.142857142857143rem;
      min-height: 7.142857142857143rem;
      margin: 0 3.2142857142857144rem 0 0;

      img {
        width: 100%;
      }
    }

    .product-name {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #343C5A;
      font-weight: 500;
      font-size: 1.2857142857142858rem;
    }

    .variations-button {
      display: none;
    }

    .price {
      color: #6D6DF6;
      font-size: 1.2857142857142858rem;
    }

    .stock {
      font-weight: bold;
      margin: 0 0 0 15px;
      font-size: 1.1428571428571428rem;

      .in {
        color: #7DD4A1;
      }

      .out {
        color: #EC7F5C;
      }
    }

    .sku {
      margin: 0 0 0 30px;
    }

    .variations-count {
      font-size: 1.1428571428571428rem;
      color: #656A84;
      margin: 0 0 0 auto;
    }
  }
}
