.products-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.7857142857142858rem 1.4285714285714286rem;

  .prev,
  .next {
    svg {
      stroke: #6D6DF6;
    }
  }

  .next {
    transform: rotate(180deg);
  }
}