.campaign-list {
  //padding: 1.7142857em 0 1.7142857em 1.42857143rem;
  box-sizing: border-box;

  .products-filters .row {
    &:first-child {
      margin: 0;
    }

    .form-group {
      flex: 1;
    }

    button.filters {
      margin: 0 0 0 1.4285714285714286rem;
      display: flex;
      justify-content: center;

      svg {
        use {
          fill: #656A84;
        }
      }

      &:hover {
        svg {
          use {
            fill: #4a4d61;
          }
        }
      }

      &.ant-dropdown-open {
        svg {
          use {
            fill: #6D6DF6;
          }
        }
      }
    }

    .active-only {
      button {
        margin: 0 8px 0 0;
      }
    }
  }

  .filter-dropdown-window {
    background: #fff;
    padding: 1.4285714285714286rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    .form-group {
      display: flex;
      flex-direction: column;
      width: 10.714285714285714rem;

      &:first-child {
        margin: 0 15px 0 0;
      }

      label {
        font-size: 0.8571428571428571rem;
        color: #343C5A;
        display: block;
        margin: 0 0 5px 0;
        font-weight: 500;
      }

      .custom-select {
        height: 2.2857142857142856rem;

        .ant-select-selection-selected-value {
          padding: 0 0 0 1.0714285714285714rem;
          font-size: 0.8571428571428571rem;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.4285714285714286rem;

      button {
        margin: 0 0 0 15px;
        height: 2.2857142857142856rem;
        font-size: 0.8571428571428571rem;
      }
    }
  }

  .products-filters,
  .campaigns,
  .pw-pagination {
    min-width: 395px;

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      width: 305px;
      min-width: 305px;

    }
  }

  .campaigns {
    flex: 1 1;
    background: #fff;
    z-index: 1;
    overflow: auto;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .campaign-item {
      min-height: 4.285714285714286rem;
      padding: 0.7142857142857143rem 1.4285714285714286rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #C9CBD4;
      position: relative;
      font-size: 1rem;
      color: #343C5A;
      font-weight: 500;

      .short-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: -moz-fit-content;
        width: fit-content;
      }


      &:last-child {
        border-bottom: 0;
      }

      &.enabled-dayparting {
        position: relative;

        .custom-tooltip {
          z-index: 10;
          position: absolute;
          right: 0.7142857142857143rem;
          top: 0.7142857142857143rem;

          .on-dayparting {
            width: 10px;
            height: 10px;
            background: #409600;
            border-radius: 50%;
          }
        }
      }

      &:hover {
        background: rgba(245, 245, 255, 0.45);
        cursor: pointer;
      }

      &.active {
        background: rgba(245, 245, 255, 0.7);

        &::before {
          content: '';
          width: 4px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: #6D6DF6;
        }
      }

    }
  }

  .pw-pagination {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
}