.landing-zth {
  display: flex;
  flex-direction: column;
  font-family: Eina;
  font-size: 14px;

  & > section {
    .container {
      display: flex;
      width: 90vw;
      height: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 10px;

      h2 {
        font-size: 4.285714285714286em;
        line-height: 1.2em;
      }

      .row {
        display: flex;
      }

      .col {
        display: flex;
        flex-direction: column;
      }

      .btn {
        font-size: 1.1428571428571428em;
        height: 3.5em;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }


  .zth-king-section {
    background: url("../../../assets/img/landing-zth/zth-king-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 50px 0 300px 0;

    .container {
      justify-content: space-between;
    }

    img.king {
      min-width: 580px;
      margin-right: 20px;
    }

    h2 {
      color: #fff;
      margin-bottom: 48px;
      margin-top: 40px;

      span {
        color: #17175a;
      }
    }

    p {
      font-size: 1.5em;
      line-height: 1.1904761904761905em;
      color: #FFFFFF;
      margin-bottom: 48px;
    }

    .action {
      display: flex;

      .btn {
        font-weight: 500;
        margin-right: 35px;
      }
    }
  }

  .dragon-section {
    height: 100em;
    background: url("../../../assets/img/landing-zth/dragon-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    z-index: 1000;

    .container {
      position: relative;

    }

    .col {
      z-index: 100;
    }

    h2 {
      color: #17175A;
      margin-bottom: 48px;
    }

    p {
      font-size: 1.5em;
      line-height: 1.1904761904761905em;
      color: #4B5271;
      margin-bottom: 48px;
    }

    img {
      width: 70%;
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: 0 0 0 20%;
    }
  }

  .static-section {
    background: linear-gradient(180.25deg, #5858A9 7.01%, #6B6BBA 98.2%);

    .container {
      padding-bottom: 50px;

      & > div {
        flex: 1;
        color: #fff;

        .value {
          font-size: 5.714285714285714em;
          line-height: 1em;
          font-weight: 500;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          font-size: 1.5em;
          font-weight: 500;
          text-transform: uppercase;
        }

        &:nth-child(2) {
          border-left: 1px dashed #fff;
          border-right: 1px dashed #fff;
          display: flex;
          flex-direction: column;
          align-items: center;

          .value {
            width: 220px;
          }
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .value {
            width: 230px;
          }
        }
      }
    }
  }

  .structure-section {
    padding: 50px 0 90px 0;
    position: relative;
    background: linear-gradient(180deg, #F3F7FD 0%, #FFFFFF 100%);

    .container {
      display: flex;
      flex-direction: column;
    }

    .ppc-structure {
      h2 {
        margin-top: 15px;
      }

      .col {
        width: 50%;
      }

      img {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50px;
      }

      .metrics {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0 45px 0;

        div {
          width: 50%;
          display: flex;
          align-items: center;

          font-size: 2.2857142857142856em;
          text-transform: uppercase;
          color: #6D6DF6;
          font-weight: 500;
          margin: 0 0 20px 0;

          i {
            min-width: 20px;
            margin: 0 20px 0 0;
            display: flex;
            align-items: center;
          }

          svg {
            fill: #FF8685;
          }

          & > svg {
            margin: 0 0 0 10px;
          }

          &:nth-child(3),
          &:nth-child(4) {
            & > svg {
              transform: rotate(180deg);
            }
          }
        }
      }

      p {
        width: 90%;
        font-size: 1.5em;
        line-height: 1.1904761904761905em;
        color: #4B5271;
        margin: 0;
      }
    }

    .zth-structure {
      margin: 170px 0 0 0;

      .metrics {
        display: flex;

        div {
          font-size: 2.2857142857142856em;
          text-transform: uppercase;
          color: #6D6DF6;
          font-weight: 500;
          margin: 0 60px 0 0;
          display: flex;
          align-items: center;

          i {
            margin: 0 20px 0 0;
          }

          & > svg {
            fill: #7DD4A1;
            margin: 0 0 0 10px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            & > svg {
              transform: rotate(180deg);

            }
          }
        }
      }

      p {
        width: 700px;
        font-size: 1.1428571428571428em;
        line-height: 1.5em;
        letter-spacing: 0.4px;
        color: #4B5271;
        margin: 65px 0 50px 0;
      }

      .btn {
        background: #FFFFFF;
        border: 1px solid #6D6DF6;
        color: #6D6DF6;

        &:hover {
          background: rgba(96, 93, 249, 0.1);
        }
      }
    }

    .zth-structure-image {
      width: 90%;
      margin: 50px 0 0 0;
    }
  }

  .updated-version {
    position: relative;
    padding: 20px 0 0 0;

    h2 {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .setup-description {
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 3.4285714285714284em;
        line-height: 1.2083333333333333em;
        color: #4B5271;
        text-align: right;
        flex: 1;
        margin-bottom: 25px;

        &:last-child {
          color: #363694;
          text-align: left;
        }
      }

      .row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        i {
          width: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h5 {
          font-size: 1.5em;
          line-height: 1.1904761904761905em;
          text-align: right;
          color: #4B5271;
          flex: 1;
          margin: 0;

          &:last-child {
            text-align: left;
            color: #6D6DF6;
          }
        }
      }


    }

    .setup-price {
      width: 100%;
      max-width: 1062px;
      display: flex;
      justify-content: center;
      border-top: 1px dashed #6D6DF6;
      border-bottom: 1px dashed #6D6DF6;
      margin-top: 20px;

      div {
        flex: 1;
        font-size: 2.2857142857142856em;
        line-height: 1.75em;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .ppc {
        text-align: right;
        color: #4B5271;
        padding-right: 50px;
        border-right: 1px dashed #6D6DF6;

        span {
          color: #ef3f1e;
        }
      }

      .zth {
        color: #363694;
        padding-left: 50px;
        text-align: left;

        span {
          color: #7dd4a1;
        }
      }
    }
  }

  .secret-sauce {
    position: relative;
    margin-top: 50px;

    .description {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;

      .col {
        width: 700px;
      }
    }

    p {
      font-size: 1.5em;
      line-height: 1.1904761904761905em;
      color: #4B5271;
      margin: 48px 0;
    }

    img {
      width: 100%;
    }

    .our-cases {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 50px;

      .container {
        flex-direction: column;

        h2 {
          text-align: center;
        }

        .content {
          margin: 0 0 0 30%;

          .btn {
            display: none;
          }
        }
      }
    }

    .modal-image {
      display: none;
    }
  }

  .plans {
    background: #F3F7FD;
    padding: 100px 0;

    .container {
      flex-direction: column;

      h2 {
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 1.5em;
        color: #4B5271;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 180px;
        position: relative;

        div:not(.col) {
          width: 40%;
          height: 3.3333333333333335em;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFFFFF;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          font-size: 1.5em;
          color: #6D6DF6;
          font-weight: 500;
        }

        div:first-child {
          svg {
            fill: #6D6DF6;
            stroke: #6D6DF6;
            margin: 2px 20px 0 0;
          }
        }

        div:last-child {
          color: #4B5271;

          svg {
            fill: #4B5271;
            stroke: #4B5271;
            margin: 2px 20px 0 0;
          }
        }

        .col {
          width: 300px;
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 20px;
          right: 0;
          margin: 0 auto;
          bottom: -10px;

          label {
            font-size: 1.7857142857142858em;
            color: #6D6DF6;
            position: absolute;
            left: 0;
            right: 0;
            top: 20px;
            margin: 0 auto;
            text-align: center;
          }

          img {
            width: 100%;
          }
        }
      }

      .plan-information {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 10px 0 0 0;
        padding: 4.285714285714286em 8.571428571428571em;

        h3 {
          font-size: 3.4285714285714284em;
          line-height: 1.2083333333333333em;
          color: #17175A;
        }

        .col:first-child {
          min-width: 390px;
        }

        .row {
          align-items: center;
        }

        .price {
          width: max-content;
          font-size: 7.142857142857143em;
          line-height: 0.9em;
          color: #6D6DF6;
          font-weight: 500;
          display: flex;
          align-items: flex-end;

          span {
            font-size: 0.16em;
            line-height: 1.1875em;
            margin: 0 0 0 10px;
          }
        }

        ul {
          margin: 20px 0 30px 0;
          padding: 0;
          list-style: none;

          li {
            font-size: 1.1428571428571428em;
            color: #7C8A95;
          }
        }

        .includes {
          h4 {
            font-size: 2.2857142857142856em;
            color: #6D6DF6;
          }

          ul {
            column-count: 2;
            column-gap: 30px;

            li {
              height: 55px;
              font-size: 1.1428571428571428em;
              line-height: 1.1875em;
              color: #17175A;
              margin-bottom: 20px;
              display: flex;

              svg {
                min-width: 20px;
                margin: 0 20px 0 0;
                fill: none;
              }
            }
          }
        }
      }
    }
  }

  .pricing-guide {
    padding: 50px 0;
    background: #F3F7FD;

    .container {
      flex-direction: column;
    }

    h2 {
      text-align: center;
    }

    .pricing-plans {
      width: 100%;
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .plan {
        background: #FFFFFF;
        box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
        border-radius: 4px;
        padding: 50px 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        .counts {
          display: flex;
          align-items: flex-end;
          margin-bottom: 30px;

          div {
            width: 8px;
            height: 8px;
            background: #6D6DF6;
            margin: 0 8px 0 0;

            &:last-child {
              margin: 0;
            }
          }
        }

        h4 {
          font-size: 1.7142857142857142em;
          color: #17175A;
        }

        label {
          height: 24px;
          font-size: 1.1428571428571428em;
          color: #6D6DF6;
        }

        h3 {
          display: flex;
          align-items: flex-end;
          font-size: 3.4285714285714284em;
          line-height: 0.8333333333333334em;
          color: #6D6DF6;
          margin: 50px 0 65px 0;

          span {
            font-size: 0.3333333333333333em;
            line-height: 1.1875em;
            margin: 0 0 0 10px;
          }
        }

        .btn {
          width: 100%;
          margin: auto 0 0 0;
        }
      }
    }

  }

  .waiting-action {
    display: flex;
    flex-direction: column;
    min-height: 25.214285714285715em;
    background: #6D6DF6;

    .container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      color: #fff;
    }

    p {
      font-size: 1.5em;
      line-height: 1.1904761904761905em;
      color: #FFFFFF;
    }

    .btn {
      color: #6D6DF6;
    }
  }
}