.landing-zth {
  display: flex;
  flex-direction: column;
  font-family: Eina;

  & > section {
    .container {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 10px;

      h2 {
        font-size: 60px;
        line-height: 72px;
      }

      .row {
        display: flex;
      }

      .col {
        display: flex;
        flex-direction: column;
      }

      .btn {
        height: 56px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }


  .zth-king-section {
    background: url("../../../assets/img/landing-zth/zth-king-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 50px 0 550px 0;

    .container {
      justify-content: space-between;
    }

    img.king {
      min-width: 580px;
      margin-right: 20px;
    }

    h2 {
      color: #fff;
      margin-bottom: 48px;
      margin-top: 40px;

      span {
        color: #17175a;
      }
    }

    p {
      font-size: 21px;
      line-height: 25px;
      color: #FFFFFF;
      margin-bottom: 48px;
    }

    .action {
      display: flex;

      .btn {
        height: 56px;
        font-size: 16px;
        font-weight: 500;
        margin-right: 35px;
      }
    }
  }

  .dragon-section {
    height: 1490px;
    background: url("../../../assets/img/landing-zth/dragon-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -230px;
    position: relative;
    z-index: 1000;

    h2 {
      color: #17175A;
      margin-bottom: 48px;
    }

    p {
      font-size: 21px;
      line-height: 25px;
      color: #4B5271;
      margin-bottom: 48px;
    }

    .btn {
      height: 56px;
      font-size: 16px;
    }

    img {
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: 0 0 0 24%;
    }
  }

  .static-section {
    background: linear-gradient(180.25deg, #5858A9 7.01%, #6B6BBA 98.2%);

    .container {
      padding-bottom: 50px;

      & > div {
        flex: 1;
        color: #fff;

        .value {
          font-size: 80px;
          line-height: 80px;
          font-weight: 500;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
          font-size: 21px;
          font-weight: 500;
          text-transform: uppercase;
        }

        &:nth-child(2) {
          border-left: 1px dashed #fff;
          border-right: 1px dashed #fff;
          display: flex;
          flex-direction: column;
          align-items: center;

          .value {
            width: 220px;
          }
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .value {
            width: 230px;
          }
        }
      }
    }
  }

  .structure-section {
    padding: 50px 0 90px 0;
    position: relative;
    background: linear-gradient(180deg, #F3F7FD 0%, #FFFFFF 100%);

    .container {
      display: flex;
      flex-direction: column;
    }

    .ppc-structure {
      h2 {
        margin-top: 15px;
      }

      .col {
        width: 50%;
      }

      img {
        position: absolute;
        right: 0;
        top: 50px;
      }

      .metrics {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0 45px 0;

        div {
          width: 50%;
          display: flex;
          align-items: center;

          font-size: 32px;
          text-transform: uppercase;
          color: #6D6DF6;
          font-weight: 500;
          margin: 0 0 20px 0;

          i {
            min-width: 20px;
            margin: 0 20px 0 0;
            display: flex;
            align-items: center;
          }

          svg {
            fill: #FF8685;
          }

          & > svg {
            margin: 0 0 0 10px;
          }

          &:nth-child(3),
          &:nth-child(4) {
            & > svg {
              transform: rotate(180deg);
            }
          }
        }
      }

      p {
        width: 90%;
        font-size: 21px;
        line-height: 25px;
        color: #4B5271;
        margin: 0;
      }
    }

    .zth-structure {
      margin: 170px 0 0 0;

      .metrics {
        display: flex;

        div {
          font-size: 32px;
          text-transform: uppercase;
          color: #6D6DF6;
          font-weight: 500;
          margin: 0 60px 0 0;
          display: flex;
          align-items: center;

          i {
            margin: 0 20px 0 0;
          }

          & > svg {
            fill: #7DD4A1;
            margin: 0 0 0 10px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            & > svg {
              transform: rotate(180deg);

            }
          }
        }
      }

      p {
        width: 700px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #4B5271;
        margin: 65px 0 50px 0;
      }

      .btn {
        background: #FFFFFF;
        border: 1px solid #6D6DF6;
        color: #6D6DF6;

        &:hover {
          background: rgba(96, 93, 249, 0.1);
        }
      }
    }

    .zth-structure-image {
      margin: 130px 0 0 0;
    }
  }

  .updated-version {
    position: relative;
    padding: 20px 0 0 0;

    h2 {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .setup-description {
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 48px;
        line-height: 58px;
        color: #4B5271;
        text-align: right;
        flex: 1;
        margin-bottom: 25px;

        &:last-child {
          color: #363694;
          text-align: left;
        }
      }

      .row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        i {
          width: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h5 {
          font-size: 21px;
          line-height: 25px;
          text-align: right;
          color: #4B5271;
          flex: 1;
          margin: 0;

          &:last-child {
            text-align: left;
            color: #6D6DF6;
          }
        }
      }


    }

    .setup-price {
      width: 100%;
      max-width: 1062px;
      display: flex;
      justify-content: center;
      border-top: 1px dashed #6D6DF6;
      border-bottom: 1px dashed #6D6DF6;
      margin-top: 20px;

      div {
        flex: 1;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .ppc {
        text-align: right;
        color: #4B5271;
        padding-right: 50px;
        border-right: 1px dashed #6D6DF6;

        span {
          color: #ef3f1e;
        }
      }

      .zth {
        color: #363694;
        padding-left: 50px;
        text-align: left;

        span {
          color: #7dd4a1;
        }
      }
    }
  }
}