.create-semantic-core {
  .col {
    display: flex;
    flex-direction: column;
  }

  .ant-upload {
    display: flex;
    flex-direction: column;

    .ant-btn {
      width: max-content;
    }
  }

  .main-keywords-row {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: 'col1 col1 col2 col2 .';

    .form-group {
      &:first-of-type {
        grid-area: col1;
      }

      &:last-of-type {
        grid-area: col2;
      }

      .custom-table {
        margin: 0;
      }
    }
  }

  .custom-table {
    max-height: 200px;
    height: max-content;

    .table-body .table-body__row .table-body__field {
      padding: 0 !important;

      input {
        border-radius: 0;
        border-color: transparent;
        height: 2rem;
      }

      &:first-of-type {
        display: flex;
        justify-content: center;
      }
    }
  }


  .ant-upload-list {
    max-width: 20%;
  }

  .all-keywords {
  }

  .product-information {
    .ant-checkbox-wrapper {
      margin: 0 0 15px 0;
    }

    .form-group.padding-0 {
      .custom-table {
        margin: 0;
      }
    }
  }

  .variations {
    .custom-table .table-body .table-body__row .table-body__field:nth-child(4) {
      justify-content: center;
    }
  }

  .conversion-options {
    .custom-table {
      max-height: 400px;
    }
  }

}