.main-pages .main-container .page > div.optimization-rules-page {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  & > .container {
    flex: 1;
    padding: 10px 0 10px 10px;
    display: flex;
    overflow: hidden;
  }

  .work-container {
    flex: 1;
    position: relative;
    overflow: auto;

    .route-loader {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1111;
      border-radius: 4px;
    }
  }
}