.identify-option {

  .container {
    width: 100%;
    height: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .pre-header {
    height: 600px;
  }

  .advertising-strategy {
    padding: 128px 0;
  }
}