.landing-contact-us {
  font-family: Eina;

  section {
    & > .container {
      width: 100%;
      height: 100%;
      max-width: 1460px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;

      h2 {
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 500;
        margin-bottom: 48px;

        span {
          color: #83FED0;
        }
      }
    }
  }

  .pre-header {
    background: #6D6DF6;
    padding-top: 96px;

    p {
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
    }

    img.support-team {
      max-width: 1100px;
      max-height: 510px;
      margin: 112px auto 50px;
    }

    img.spn-logo {
      max-width: 253px;
      max-height: 50px;
      margin: 18px auto 0;
    }
  }

  .topic-list {
    background: #6D6DF6;
    padding-bottom: 175px;
    padding-top: 95px;

    .container {
      flex-direction: row;
      align-items: center;
    }

    .location {
      min-height: 580px;
      display: flex;
      flex-direction: column;
      padding: 64px 48px 48px;

      background: #83FED0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px 0 0 4px;

      ul {
        list-style: none;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          font-size: 21px;
          line-height: 25px;
          color: #17175A;
          margin-bottom: 30px;

          i {
            min-width: 30px;
            margin: 0 30px 0 0;
          }
        }
      }

      a {
        width: max-content;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #6D6DF6;
        margin-top: 15px;

        svg {
          stroke: #6D6DF6;
          margin-left: 10px;
        }
      }
    }

    .topics {
      width: 820px;
      display: flex;
      flex-direction: column;

      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 96px 72px 96px 86px;

      h3 {
        font-size: 48px;
        line-height: 58px;
        color: #17175A;
        margin-bottom: 48px;

        span {
          color: #6D6DF6;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 18px 20px 18px 0;
        border-bottom: 0.5px solid #7C8A95;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          background: #83FED0;
          transition: .2s;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: .2s;
          }
        }

        h4 {
          font-size: 24px;
          line-height: 29px;
          color: #6D6DF6;
          margin-bottom: 12px;
          z-index: 10;
        }

        p {
          font-size: 16px;
          line-height: 19px;
          color: #7C8A95;
          margin: 0;
          z-index: 10;
        }

        i {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;

          svg {
            stroke: #7C8A95;
          }
        }
      }
    }

    .social {
      flex: 1;
      min-height: 580px;
      background: #83FED0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        font-size: 40px;
        color: #6D6DF6;
        margin-bottom: 85px;

        &:last-child {
          margin: 0;
        }

        &:hover {
          color: #5a5acb;
        }
      }
    }
  }

  .trustpilot-section {
    padding: 40px 0 20px;
    background: #83FED0;
    box-sizing: border-box;

    .container {
      min-height: 150px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    img {
      margin-right: 20px;

      &.logo {
        margin-bottom: 20px;
      }
    }

    p {
      margin: 0;
      font-size: 21px;
      line-height: 25px;
      color: #17175A;

      a {
        font-weight: 500;
        color: #6D6DF6;
        text-decoration: underline;
        margin: 0 0 0 10px;

        &:hover {
          color: #5858c6;
        }
      }
    }
  }

  .cases-section {
    padding: 144px 0 95px;

    .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .col {
      display: flex;
      flex-direction: column;

      h2 {
        text-align: left;
        margin-bottom: 48px;
        color: #17175A;
      }

      p {
        font-size: 21px;
        line-height: 25px;
        color: #4B5271;
        margin-bottom: 48px;
      }

      .btn {
        height: 56px;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .pre-footer {
    background: #6D6DF6;
    padding: 96px 0;

    .container {
      align-items: center;
    }

    h3 {
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 400;
      margin-bottom: 24px;
    }

    h2 {
      margin-bottom: 64px;

      span {
        color: #83FED0;
      }
    }

    .buttons {
      display: flex;

      .btn {
        height: 56px;
        font-size: 21px;
        font-weight: 500;
        color: #6D6DF6;
        text-transform: uppercase;

        &:first-child {
          background: #83FED0;
          margin: 0 40px 0 0;

          &:hover {
            background: #7aedc2;
          }
        }
      }
    }
  }
}

//----------------------------------------------------
//-----------------HELP & SUPPORT---------------------
//----------------------------------------------------
.landing-contact-us.help-support {
  .humans-only {
    padding: 75px 0;

    .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .col {
      max-width: 640px;
      margin: 0 20px 0 0;
      display: flex;
      flex-direction: column;

      h2 {
        color: #17175a;
        margin-bottom: 48px;
        text-align: left;

        span {
          color: #6D6DF6;
        }
      }

      p {
        font-size: 21px;
        line-height: 25px;
        color: #4B5271;
        margin-bottom: 48px;
      }

      .btn {
        height: 56px;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .chat-block {
      width: 47%;
      display: flex;
      flex-direction: column;
      background: #83FED0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 32px 52px;
      position: relative;

      h3 {
        font-size: 32px;
        line-height: 38px;
        color: #17175A;
        margin-bottom: 15px;

        span {
          color: #6D6DF6;
        }
      }

      p {
        font-size: 21px;
        line-height: 25px;
        color: #6D6DF6;
        margin-bottom: 32px;
      }

      .btn {
        height: 40px;
        color: #6D6DF6;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }

      img {
        width: 30%;
        position: absolute;
        bottom: 0;
        right: -30px;
      }
    }
  }

  .help-list {
    padding: 37px 0 112px;

    h2 {
      color: #17175A;
      margin-bottom: 104px;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      list-style: none;
      margin: 0;

      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        background: #6D6DF6;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 48px;

        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          margin-bottom: 20px;
          margin-top: -88px;
        }

        h4 {
          color: #fff;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          margin-bottom: 18px;
        }

        a {
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          text-decoration-line: underline;
          color: #83FED0;

          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }

  .work-time {
    padding: 96px;
    background: #83FED0;

    .container {
      align-items: center;
    }

    h3 {
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      color: #17175A;
      margin-bottom: 48px;

      span {
        color: #6D6DF6;
      }
    }

    .avatars {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 64px;
        height: 64px;
        margin: 0 33px 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    .btn {
      font-size: 21px;
      height: 56px;
      font-weight: 500;
      margin: 48px 0 18px;
      text-transform: uppercase;
    }

    p {
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      color: #6D6DF6;
    }
  }

  .connect-section {
    padding: 96px;

    h3 {
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      color: #17175A;
      margin: 0 0 64px 0;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      list-style: none;
      margin: 0;

      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        display: flex;
      }

      a {
        width: 100%;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-size: 24px;
        color: #6D6DF6;
        transition: .3s;

        i {
          font-size: 50px;
          margin: 0 20px 0 0;
          color: #4867AA;
        }

        &:hover {
          background: #6D6DF6;
          color: #fff;
          transition: .3s;

          i {
            color: #fff;
          }
        }
      }
    }
  }

  .popular-articles {
    padding: 110px 0;

    h2 {
      color: #17175a;
      margin-bottom: 70px;

      span {
        color: #6D6DF6;
      }
    }

    .list {
      display: grid;
      grid-column-gap: 80px;
      grid-template-columns: 1fr 1fr;

      a {
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.5px solid #7C8A95;
        padding: 10px 0;

        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: #6D6DF6;

        svg {
          width: 33px;
          height: 24px;
          stroke: #6D6DF6;
          margin: 0 0 0 20px;
        }
      }
    }
  }
}

//----------------------------------------------------
//--------------------BOOK A DEMO---------------------
//----------------------------------------------------
.landing-contact-us.book-demo {
  .pre-header {
    background: #fff;
    padding: 95px 0 144px;

    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    .col {
      //width: 50%;

      h2 {
        text-align: left;
        color: #17175A;
        margin-bottom: 48px;

        span {
          color: #6D6DF6;
        }
      }

      p {
        font-size: 21px;
        line-height: 25px;
        color: #4B5271;
        text-align: left;
        margin: 0;

        a {
          color: #6D6DF6;
          text-decoration: underline;
          margin: 0 0 0 5px;
        }
      }

      .btn {
        height: 56px;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 48px 0;
      }

      img {
        width: 216px;
        height: 48px;
      }
    }

    .image {
      width: 82%;
    }
  }

  .contact-form-section {
    background: #83FED0;
    padding: 112px 0 160px;

    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    .col {
      width: 50%;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: left;
        color: #17175a;
        margin-bottom: 48px;

        span {
          color: #6D6DF6;
        }
      }

      p {
        font-size: 24px;
        line-height: 29px;
        color: #17175A;
        margin-bottom: 48px;

        b {
          color: #6D6DF6;
        }
      }
    }

    .contact-form-block {
      width: 45%;
      height: max-content;
      max-width: 580px;
      min-height: 736px;
      margin-top: -208px;
      padding: 96px 64px 78px;
      display: flex;
      flex-direction: column;
      background: #6D6DF6;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      position: relative;

      h3 {
        font-size: 48px;
        line-height: 58px;
        color: #fff;
        margin-bottom: 48px;

        span {
          color: #83FED0;
        }
      }

      form {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .row {
        display: flex;

        .form-group {
          flex: 1;
          margin-right: 24px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        label {
          font-size: 16px;
          line-height: 19px;
          font-weight: 500;
          color: #FFFFFF;
          margin-bottom: 9px;
        }

        input, .custom-select {
          height: 40px;
        }

        .ant-radio-group {
          display: flex;
          align-items: center;

          .ant-radio-wrapper.ant-radio-wrapper-checked .ant-radio-inner::after {
            background: #fff;
          }

          .ant-radio {
            .ant-radio-inner {
              border-color: #fff !important;
            }
          }

          span {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }

      .ant-checkbox-wrapper {
        flex-direction: row;
        align-items: center;

        .ant-checkbox {
          width: 18px;
          height: 18px;

          .ant-checkbox-inner,
          input {
            width: 100%;
            height: 100%;
            margin: 0;
          }
        }

        .ant-checkbox-checked::after {
          border: 0;
        }

        .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAH/SURBVHgBzZi9TsJQGIbfc0QjoAH/4qCDgxcgk6OOOmlcXV2N3oEYb0DjFTjoapx0dNVF4qoDiX8xRmlAUhDoZz8MBkoLpYVy3oQAJ+f0PPnOk7T9BMwk6W5OQu4I0DoIcXOIP0FEg0BaAKlygfaT4URaMMwAibsAIRzhKkVKyBDEngIwnLgYwq4kwgIUiRRiTZrfc1AncQZS4bhqqQIplRACjH49hu+rCchwBbGtV4Rmik1zAqsQw+TOp0C6ROVrEPnLSdt5gQAxAFemPqQL9AWIYbTj2Wpl6jO6+Y6+AOVOp6tQ9RnZ+MDAeAmBA+UvJ/DzGGkYi65+IrKUcVzTMyCWOG/xJjRTQHTls+W6ngDZScxHFNt6a7u260BOEse3nx296SlQpxK7Bio9hFG8j6KTeJHYGttbR+EmhuzZ9N8EU0Qutwwbra7jWWJrbCtUuB39/11+Ga46YejOp+tHYldAg/N6w/9WUH4ldgUUWc403YmdoPxK7ApImL6MbT+1heqGxK6A3EAxTDckdg3UDirfJYk7AmoFZY1XiTsGqkHxI6fThn4k9gTE4Q3tquBXYs9A9VC14xtezPqW2BpxYKQICkW59zIG0qBONGn2Z9QBMntF0jDoAoqEG1eSJA6hxrFp3EWTSZFIVwQlQHRiDqYQLBzvlTaIjrh7xi29XzEH/oa/yrSPAAAAAElFTkSuQmCC') no-repeat center center;
          border: 0 !important;
          background-size: cover;
        }

        span {
          font-size: 13px;
          color: #FFFFFF;
          font-weight: 400;
        }

        a {
          color: #fff;
          text-decoration: underline;
        }
      }

      .back-to-form {
        background: none;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 32px;
        left: 32px;

        &:focus {
          outline: none;
        }

        svg {
          width: 33px;
          height: 24px;
          stroke: #fff;
          transform: rotate(180deg);
        }
      }

      .logo {
        margin: -32px auto 64px;
      }

      .user-name {
        text-align: center;
        font-size: 48px;
        margin-bottom: 32px;
      }

      p {
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 64px;
      }

      h4 {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #83FED0;
      }

      .actions {
        margin: auto 0 0 0;
        display: flex;
        justify-content: flex-end;

        button {
          height: 56px;
          text-transform: uppercase;
          font-size: 21px;
          font-weight: 500;
        }

        .btn.default {
          &:hover {
            background: #6D6DF6;
            color: #83FED0;
          }
        }

        .btn.green {
          background: #83FED0;
          color: #6D6DF6;

          &:hover {
            background: #74e1b8;
            color: #6D6DF6;
          }
        }
      }

      .cases-links {
        justify-content: center;

        .white {
          margin: 0 0 0 32px;
          color: #6D6DF6;
        }
      }


      .progress-bar {
        width: 100%;
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 0 0 4px 4px;

        &::before {
          content: '';
          height: 100%;
          position: absolute;
          left: 0;

          background: #fff;
          border-radius: 0 0 0 4px;
        }

        &.s-0::before {
          width: 25%;
        }

        &.s-1::before {
          width: 50%;
        }

        &.s-2::before {
          width: 75%;
        }

        &.s-3::before {
          width: 100%;
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }

  .ihor-tag {
    padding: 96px 0;

    .container {
      align-items: center;
    }

    h4 {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #6D6DF6;
      margin: 48px 0;
    }

    img {
      width: 128px;
      height: 128px;
      margin-bottom: 18px;
    }

    label {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #4B5271;
    }
  }
}

//----------------------------------------------------
//-----------------------PARTNERS---------------------
//----------------------------------------------------
.landing-contact-us.partners {
  .partner-program {
    padding: 96px 0;

    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        color: #17175A;
        text-align: left;
        margin-bottom: 32px;

        span {
          color: #6D6DF6;
        }
      }

      p {
        font-size: 21px;
        line-height: 25px;
        color: #4B5271;
        margin-bottom: 48px;
      }

      .btn {
        height: 56px;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;

        svg {
          width: 21px;
          height: 15px;
          stroke: #fff;
          margin: 0 0 0 25px;
        }
      }
    }

    .support-block {
      width: 458px;
      box-sizing: border-box;
      background: #83FED0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 18px 24px 24px;

      .row {
        display: flex;
        align-items: center;
      }

      .avatar {
        width: 75px;
        height: 75px;
        margin: 0 22px 0 0;
      }

      h4 {
        font-size: 21px;
        line-height: 25px;
        color: #17175A;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
        color: #17175A;
        margin: 0;
      }

      .online-status {
        width: 13px;
        height: 13px;
        background: #6D6DF6;
        border-radius: 50%;
        margin: 0 0 0 auto;
      }

      hr {
        height: 1px;
        background: #fff;
        margin: 18px 0 24px;
        border: 0;
      }

      p.description {
        font-size: 21px;
        line-height: 25px;
        color: #6D6DF6;

        svg {
          margin: 0 5px;
        }
      }

    }
  }
}