.not-found-page__header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px rgba(44, 48, 58, .08), 0 0 20px rgba(44, 48, 58, .04);
  box-shadow: 0 4px 12px rgba(44, 48, 58, .08), 0 0 20px rgba(44, 48, 58, .04);

  font-family: ir;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;

    div:first-child {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .logo {
      margin: 0 20px 0 0;
      min-width: 100px;
      max-width: 140px;
    }

    .logo.white {
      display: none;
    }

    .burger-menu-button {
      cursor: pointer;
      display: none;

      & > div {
        width: 1.7142857142857142rem;
        height: 2px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 1px;
        background-color: #363694;
        cursor: pointer;
        margin: 5px 0;
      }
    }

    nav {
      flex: 1;

      ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          display: inline-block;
          vertical-align: middle;
          position: relative;

          &.has-child {
            a {
              display: flex;
              align-items: center;

              svg {
                width: 10px;
                margin: 0 0 0 10px;
              }
            }
          }

          &.has-child .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            min-width: 150px;
            width: fit-content;
            border-radius: 8px;
            z-index: 10000;
            background-color: #fff;
            -webkit-box-shadow: 0 7px 7px rgba(44, 48, 58, .08);
            box-shadow: 0 7px 7px rgba(44, 48, 58, .08);
            overflow: hidden;

            li {
              &.soon {
                width: 100%;
                background: rgba(156, 156, 156, 0.49);
                opacity: .5;

                a {
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }

          &.has-child:hover .sub-menu {
            display: block;

            li {
              min-width: max-content;
              width: 100%;
              text-align: left;
            }
          }

          a {
            color: #38454f;
            font-weight: 500;
            display: block;
            text-transform: capitalize;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            opacity: .7;
            padding: 10px 25px;
            font-size: 14px;

            &:hover {
              opacity: .9;
            }
          }
        }
      }
    }

    .nav-buttons {
      display: flex;
      align-items: center;

      div {
        cursor: pointer;
      }

      .login-btn {
        display: block;
        color: #363694;
        font-size: 12px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;

        &:hover {
          color: #60c375;
        }
      }

      .register-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 40px;
        transition: .2s;
        background: #8fd39d;
        border-radius: 8px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 0 30px;
        font-size: 14px;
        font-weight: initial;

        &:hover {
          background-color: #60c375;
          -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        }
      }
    }
  }

  &.dark {
    background: initial;
    box-shadow: none;

    .container {
      nav {
        ul li a {
          color: #fff;

          &:hover {
            opacity: .9;
          }
        }

        ul li.has-child .sub-menu {
          //background: #2f2f2fba;
          //box-shadow: none;

          li a {
            color: #38454f;
          }

          li.soon {
            background: none;
          }
        }
      }

      .nav-buttons {
        .login-btn {
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 785px) {
    & .container {
      .burger-menu-button {
        display: block;
      }

      .header-menu.open {
        display: block;
      }

      .login-btn {
        display: none !important;
      }

      .header-menu {
        display: none;
        position: fixed;
        left: 0;
        top: 96px;
        background: #fff;
        width: 100%;
        z-index: 110;
        height: calc(100vh - 96px);

        .sub-menu {
          max-width: 185px !important;
          box-shadow: none !important;
        }

        ul {
          display: flex;
          flex-direction: column;

          a {
            color: #363694 !important;
          }

          li {
            text-align: left;
          }

          li.has-child {
            &:hover {
              box-shadow: none;

              .sub-menu {
                box-shadow: none;
              }
            }

            .sub-menu {
              position: relative;
              display: flex;
              flex-direction: column;
              padding: 0 0 0 20px;
              top: auto;
              background: #fff !important;
            }
          }
        }
      }

      .nav-buttons {
        .register-btn {
          height: 30px;
          font-size: 0.8571428571428571rem;
        }
      }
    }
  }

  @media (max-width: 500px) {
    & .container {
      img {
        max-width: 7em;
      }


      .nav-buttons .register-btn {
        width: max-content;
        padding: 0 20px;
      }
    }
  }
}
