@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .landing-page {
    zoom: 80%;
  }
}

.header-menu.mob {
  display: none;
}

.landing-page {
  padding-top: 142px;
}

.header-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  transition: all 0.3s;

  &.scrollDown {
    transform: translateY(-100%)
  }

  &.scrollUp {
    transform: translateY(0)
  }
}

.new-zth {
  display: flex;
  align-items: center;
  font-size: 14px;
  background: #6D6DF6;
  color: #fff;
  font-family: Eina;
  padding: 10px 30px;


  span {
    font-weight: 500;
    margin: 0 10px 0 0;
  }

  .btn {
    min-width: max-content;
    height: 26px;
    margin: 0 0 0 auto;
    padding: 0;

    a {
      display: flex;
      align-items: center;
      padding: 0 20px;
      font-size: 12px;
      color: #6D6DF6;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  @media (max-width: 600px) {
    padding: 15px 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    span {
      margin: 0 0 10px 0;
    }

    .btn {
      margin: 10px auto 0 auto;
    }
  }
}

.not-found-page__header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px rgba(44, 48, 58, .08), 0 0 20px rgba(44, 48, 58, .04);
  box-shadow: 0 4px 12px rgba(44, 48, 58, .08), 0 0 20px rgba(44, 48, 58, .04);

  font-family: Eina;

  .mob {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    div:first-child {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .logo-link {
      margin: 0 90px 0 0;
    }

    .logo {
      min-width: 100px;
      max-width: 140px;
    }

    .logo.white {
      display: none;
    }

    .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: relative;
      display: none;

      .burger {
        width: 100%;
        height: 2px;
        background-color: #293057;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        border-radius: 10px;
      }

      .burger::before,
      .burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #293057;
        transition: 0.5s;
        border-radius: 10px;
      }

      .burger::before {
        top: -16px;
      }

      .burger::after {
        top: 16px;
      }

      &.active .burger {
        background: rgba(0, 0, 0, 0);
      }

      &.active .burger::before {
        top: 0;
        transform: rotate(45deg);
      }

      &.active .burger::after {
        top: 0;
        transform: rotate(135deg);
      }
    }


    nav {
      flex: 1;

      ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          margin: 0 50px 0 0;

          &:last-child {
            margin: 0;
          }

          &.has-child {
            a {
              display: flex;
              align-items: center;

              svg {
                width: 10px;
                margin: 5px 0 0 10px;
              }
            }
          }

          &.has-child .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            min-width: 150px;
            width: fit-content;
            border-radius: 4px;
            z-index: 10000;
            background-color: #fff;
            -webkit-box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);
            box-shadow: 0px 5px 20px rgba(40, 62, 112, 0.1);

            overflow: hidden;

            li {
              padding: 15px 10px;

              &:hover {
                background: rgba(241, 241, 241, 0.6);
              }

              &.soon {
                width: 100%;
                background: rgba(156, 156, 156, 0.49);
                opacity: .5;

                a {
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }

          &.has-child:hover .sub-menu {
            display: block;

            li {
              min-width: max-content;
              width: 100%;
              text-align: left;
            }
          }

          a {
            font-size: 14px;
            color: #4B5271;
            font-weight: 500;
            display: block;
            text-transform: capitalize;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;

            &.active {
              color: #17175A;
            }

            &:hover {
              color: #17175A;
            }
          }
        }
      }
    }

    .nav-buttons {
      display: flex;
      align-items: center;

      .register-btn {
        height: 40px;
        margin: 0 0 0 25px;

        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
      }

      a {
        font-size: 14px;
        color: #17175A;
        font-weight: 500;

        &:hover {
          color: #6D6DF6;
        }
      }

      .btn {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }

    }
  }

  &.dark {
    background: initial;
    box-shadow: none;

    .container {
      nav {
        ul li a {
          color: #fff;

          &:hover {
            opacity: .9;
          }
        }

        ul li.has-child .sub-menu {
          //background: #2f2f2fba;
          //box-shadow: none;

          li a {
            color: #38454f;
          }

          li.soon {
            background: none;
          }
        }
      }

      .nav-buttons {
        .login-btn {
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 785px) {
    .desc {
      display: none !important;
    }

    .mob {
      display: flex !important;
    }

    & .container {
      .icon {
        display: block;
      }

      & > div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
      }

      .logo-link {
        margin: 0 auto 0 auto;
      }

      .header-menu.open {
        display: block;
      }

      .nav-buttons {
        display: none;
      }


      .nav-buttons {
        .login-link {
          display: none;
        }

        .register-btn,
        .login-btn {
          height: 30px;
          font-size: 12px;
          padding: 0 20px;
        }
      }
    }
  }


  @media (max-width: 500px) {
    & .container {
      img {
        max-width: 7em;
      }


      .nav-buttons .register-btn {
        width: max-content;
        padding: 0 20px;
      }
    }
  }
}


@media (max-width: 785px) {
  .desc {
    display: none !important;
  }

  .landing-page {
    padding-top: 96px;
  }

  .new-zth {
    display: none;
  }

  .landing-automation .header-menu.mob,
  .header-menu.mob {
    position: fixed;
    left: 0;
    top: 96px;
    bottom: 0;
    background: #fff;
    width: 100%;
    z-index: 110;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;

    &.open {
      display: flex !important;
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;

      a {
        color: #363694 !important;
      }

      li {
        text-align: left;
        margin: 0;
        padding: 0 30px 20px 20px;
        margin-bottom: 20px;

        border-bottom: 1px solid #6D6DF6;


        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 32px;
          font-weight: 400;

          svg {
            width: 9px;
            height: 16px;
          }
        }

        &:last-child {
          border: 0;
        }
      }

      li.has-child {
        &:hover {
          box-shadow: none;

          .sub-menu {
            box-shadow: none;
          }
        }

        a {
          svg {
            width: 20px;
            height: 16px;
          }
        }

        .sub-menu {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 20px 0 0 20px;
          margin: 0;
          top: auto;
          background: #fff !important;

          li {
            border: 0;
            margin: 0;

            a {
              font-size: 24px;
            }

            &.soon {
              background: inherit;

              a {
                color: #7C8A95 !important;
              }
            }
          }
        }
      }
    }

  }
}

