@import '../../style/variables.less';

.additional {
  font-size: 1.14286rem; // 16px
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 2em;
  z-index: 999;

  @media (max-width: @retina-desktop) {
    align-self: flex-end;
  }

  .free-trial {
    height: 2em;
    line-height: 2em;
    margin: 0;
    font-weight: 400;

    span {
      font-size: inherit; // 16px
      width: 2.2em;
      height: 1.4em;
      display: inline-block;
      margin: 0 0.9em;
      border-radius: 0.7em;
      text-align: center;
      line-height: 1.5em;
      font-weight: 700;
      background-color: #ec7f5c;
      color: @white;

      @media (max-width: 1689px) {
        margin: 0 0.3em;
      }
    }
  }

  .btn-upgrade {
    margin-left: 1.8em;

    @media (max-width: @desktop) {
      margin-left: 0.3em;
    }

    button {
      display: flex;
      align-items: center;
      border: 0;
      border-radius: 0.5em;
      color: @success-color;
      padding: 0 0.94em;

      span {
        font-size: 1rem; // 14px
      }
    }

    button:hover {
      box-shadow: @tooltip-shadow !important;
    }
  }
}

/*
* Retina
*/
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .additional {
    font-size: 1rem; // 14px
  }
}
