@import "../../style/variables.less";

.additional {
  font-size: 1.14286rem; // 16px
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  line-height: 2em;
  z-index: 999;
  margin-bottom: 10px;

  .free-trial {
    height: 2em;
    line-height: 2em;
    margin: 0;
    font-weight: 400;
    color: #6d6df6;

    span {
      font-size: inherit; // 16px
      width: 2.2em;
      height: 1.4em;
      display: inline-block;
      margin: 0 0.4em;
      border-radius: 0.7em;
      text-align: center;
      line-height: 1.4em;
      font-weight: 700;
      background-color: #6d6df6;
      color: @white;
    }
  }

  .btn-upgrade {
    margin-left: 1em;

    button {
      font-size: 1rem; // 14px
      width: 9.5714286em;
      height: 2.2857143em;
      display: flex;
      align-items: center;
      border: 0;
      border-radius: 0.5em;
      color: @success-color;
      padding: 0 0.94em;

      span {
        font-size: 1rem; // 14px
      }
    }

    button:hover {
      box-shadow: @tooltip-shadow !important;
    }
  }
}

/*
* Retina
*/
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .additional {
    font-size: 1rem; // 14px
  }
}
