.react-error-page {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5714285714285716rem 1.4285714285714286rem;
  overflow-x: hidden;

  img {
    width: 100%;
    max-width: 33.57142857142857rem;
    margin-bottom: 2.5714285714285716rem;
  }

  h2 {
    font-weight: 600;
    font-size: 3.4285714285714284rem;
    line-height: 3.9285714285714284rem;
    text-align: center;
    color: #353A3E;
    margin-bottom: 1.4285714285714286rem;
  }

  p {
    font-size: 1.2857142857142858rem;
    line-height: 1.5714285714285714rem;
    text-align: center;
    color: #46435C;
    margin-bottom: 2.857142857142857rem;
  }

  .actions {
    display: flex;
    margin-bottom: 2.142857142857143rem;

    .btn {
      height: 3.4285714285714284rem;
      font-size: 1.1428571428571428rem;
      margin: 0 0.7142857142857143rem;
    }
  }

  .social-links {
    h3 {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      display: flex;

      a {
        margin: 0 1.4285714285714286rem;

        svg {
          fill: #46435C;
        }

        &:hover {
          svg {
            fill: #FF5256;
          }
        }
      }
    }
  }
}