@import "../../style/variables.less";

@font-face {
  src: url('../../style/fonts/Eina02/Eina02-Regular/font.eot');
  font-family: 'Eina';
  src: url('../../style/fonts/Eina02/Eina02-Regular/font.woff2') format('woff2'), url('../../style/fonts/Eina02/Eina02-Regular/font.woff') format('woff'), url('../../style/fonts/Eina02/Eina02-Regular/font.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/Eina02/Eina02-Regular/font.ttf') format('truetype');
  font-weight: 400;
}

.visibleAnimation {
  transition: opacity 0.3s ease-in 0.3s;
  transform: scaleX(1);
}

.hideAnimation {
  transform: scaleX(1);
  transition: opacity 0.1s;
  opacity: 0;
  width: 0;
  transition: width 0.3s ease-in 0.3s;
}

.sidebar {
  font-size: 0.714286rem; // 10px
  width: 200px;
  min-height: 0;
  height: 100%;
  position: relative;
  background: #312C51;
  z-index: 100;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    height: 4.928571428571429rem;
    display: flex;
    align-items: center;
    padding: 0 1.7142857142857142rem;

    .sidebar-icon {
      margin: 0 0.8571428571428571rem 0 0;
      display: flex;
      align-items: center;

      svg {
        fill: #fff;
      }

      &:hover {
        cursor: pointer;

        svg {
          fill: #fff;
        }
      }
    }

    .sidebar-logo {
      width: fit-content;

      .logo {
        max-width: 8.714285714285714rem;
        margin: 3px 0 0 0;
      }
    }
  }

  .link-icon {
    margin-right: 0.8571428571428571rem;
    text-align: center;
    height: 20px;
    position: relative;

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      height: 18px;
    }

    i {
      position: absolute;
      right: -5px;
      top: -3px;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 12px !important;
        min-width: 12px !important;
        height: 12px !important;
      }
    }

    img, svg, .anticon, .ant-avatar {
      width: 20px !important;
      min-width: 20px !important;
      height: 20px !important;

      use {
        fill: #fff;
        stroke: #fff;
        transition: 0.3s;
      }

      @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        width: 18px !important;
        min-width: 18px !important;
        height: 18px !important;
      }
    }
  }


  .sidebar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;


    .disabled-link {
      pointer-events: none;

      &:hover {
        color: initial;
      }
    }

    .country-active {
      padding: 1.2em 0 1.2em 1.8em;
      max-height: 4rem;
      margin: 0 4px 0 4px;
      border-radius: 0.8em;
      background: #2A244B;
      cursor: pointer;
      transition: @transition;

      &__title {
        display: flex;
        flex-wrap: wrap;

        .ant-spin {
          display: flex;
          width: 2.7em;
          height: 1.6em;
          margin: 0 5px 0 0;
        }

        svg {
          width: 2.7em;
          height: 1.6em;
          margin: 0 5px 0 0;
        }

        h5 {
          font-size: 1rem; // 14px
          justify-self: center;
          color: #fff;
          align-self: flex-start;
          line-height: 0.9285714285714286rem;
          margin: 0 0 0 3px;

        }
      }

      &__description {
        font-size: 0.8rem; // 11.2px
        color: #fff;
        font-weight: 600;
        line-height: 1.3333em;
        transform-origin: left;
        margin: 2px 0 12px 0;

        @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
          margin-top: 1px;
        }
      }
    }

    .top-nav {
      margin: 2em 0 auto 0;

      .top-nav-list {
        list-style: none;
        margin: 0;

        .has-child {
          cursor: pointer;
        }

        .automate-list {
          list-style: none;
          cursor: default;
          opacity: 1;
          transition: opacity 0.3s ease-in 0.3s;
          padding: 0 0 0 2.4em;

          .automate-item:first-child {
            margin-top: 10px;
          }

          &.closed {
            .automate-item {
              animation: fadeOutItem .2s;
              animation-fill-mode: forwards; /* or: backwards, both, none */
            }
          }

          @keyframes fadeOutItem {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0;
            }
            90% {
              opacity: 0;
              display: block;
            }
            100% {
              opacity: 0;
              z-index: -1;
              display: none;
              position: absolute;
              left: -100%;
            }
          }

          .automate-item {
            margin: 2.2em 0;
            transition: .1s;

            .automate-link {
              font-size: 1rem;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              color: rgba(255, 255, 255, 0.5);
              white-space: nowrap;
              opacity: 1;
              cursor: pointer;

              &.visible {
                transition: opacity 0.1s ease-in 0.1s;
                opacity: 1;
              }

              &.hidden {
                transition: .1s;
                cursor: default;
                visibility: hidden;
                opacity: 0;
              }
            }

            .automate-link-active {
              color: #fff;

              .link-icon {
                use {
                  fill: #fff;
                  stroke: #fff;
                  transition: 0.3s;
                }
              }
            }
          }

          .automate-item:hover > .automate-link {
            color: #fff;
          }
        }


        .top-nav-item {
          width: 100%;
          display: flex;
          align-items: center;

          .custom-tooltip {
            width: 100%;
            margin: 0;

            & > span > div {
              width: 100%;
            }
          }

          .top-nav-link {
            width: 100%;
            height: 3.5714285714285716rem;

            font-size: 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            color: #fff;
            white-space: nowrap;
            padding: 0 10px 0 1.4285714285714286rem;
            border-left: 0.42857142857142855rem solid #312C51;

            .anticon {
              font-size: 1.7143em;
            }

            span {
              margin: 0;
            }
          }

          &:hover {
            .top-nav-link {
              background: rgba(255, 255, 255, 0.05);
              border-color: #FF5256;
            }
          }

          .top-nav-link-active {
            background: rgba(255, 255, 255, 0.05);
            border-color: #FF5256;

            .link-icon {
              use {
                fill: #fff;
                stroke: #fff;
                transition: 0.3s;
              }
            }
          }
        }

        .top-nav-item > div:hover > .top-nav-link,
        .top-nav-item > .custom-tooltip:hover .top-nav-link,
        .top-nav-item .top-nav-link:hover {
          color: @white;

          .link-icon {
            use {
              fill: #fff;
              stroke: #fff;
              transition: 0.3s;
            }
          }
        }

        .top-nav-link:hover .top-span {
          color: @white;
        }

        .top-nav-item.disabled:hover > .top-nav-link {
          color: #fff;
        }

        .top-nav-item {
          & > div:first-child {
            cursor: pointer;
          }

          &:hover {
            .collapsed-automate {
              display: block;
            }
          }

          .collapsed-automate {
            width: 200px;
            display: none;
            position: absolute;
            top: 26em;
            padding: 0 0 0 30px;
            left: 4.5em;

            &.zth {
              top: 16em;
            }

            .collapsed-automate-list {
              width: 200px;
              list-style: none;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin: 0;
              padding: 1.1em 0 1.1em 1.4285714285714286rem;
              background-color: @third-default-dark;
              border-radius: 4px;

              .automate-item {
                margin: 1.1em 0;
                cursor: pointer;
                position: relative;

                .automate-link {
                  font-size: 1rem; // 14px
                  height: 100%;
                  display: flex;
                  align-items: center;
                  color: #fff;
                  white-space: nowrap;
                }

                .automate-link-active {
                  color: #fff;

                  .link-icon {
                    use {
                      fill: #fff;
                      stroke: #fff;
                      transition: 0.3s;
                    }
                  }
                }
              }

              // .automate-item:active & {
              //   // display: none;
              //   background-color: #f00;
              // }

              .automate-item:hover > .automate-link {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .refer-link {
      margin: 0 4px 20px 4px;

      .custom-tooltip {
        margin: 0;
        width: 100%;

        a {
          width: 100%;
        }
      }

      a {
        display: flex;
        align-items: center;

        height: 3.4285714285714284rem;
        font-weight: bold;
        font-size: 0.8571428571428571rem;
        color: #FFFFFF;
        background: #FF5256;
        border-radius: 4px;
        transition: background 0.3s;

        .icon {
          min-width: 20px;
          width: 20px;
          margin: 0 0.7142857142857143rem 0 1.4285714285714286rem;

          display: flex;
          justify-content: center;
          align-items: center;

          @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
            width: 15px;
            min-width: 15px;
          }
        }

        svg {
          width: 1.4285714285714286rem;
          height: 1.5rem;
        }

        span {
          .visibleAnimation();
        }

        & {
          position: relative;
          overflow: hidden;
          transform: translate3d(0, 0, 0);
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;
          background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
          background-repeat: no-repeat;
          background-position: 50%;
          transform: scale(10, 10);
          opacity: 0;
          transition: transform .5s, opacity .5s;
        }

        &:active:after {
          transform: scale(0, 0);
          opacity: .3;
          transition: 0s;
        }

        &:hover {
          background: #D44043;
        }
      }
    }

    .facebook-link {
      margin: auto 4px 15px 4px;

      .custom-tooltip {
        width: 100%;
        margin: 0;

        a {
          width: 100%;
        }
      }

      a {
        display: flex;
        align-items: center;

        height: 3.4285714285714284rem;
        font-weight: bold;
        font-size: 0.8571428571428571rem;
        color: #fff;
        border: 1px solid #FFFFFF;
        border-radius: 4px;

        &:hover {
          color: #fff;
          transition: color 0.3s;
        }

        .icon {
          width: 20px;
          min-width: 20px;
          margin: 0 0.7142857142857143rem 0 1.4285714285714286rem;
          display: flex;
          justify-content: center;
          align-items: center;

          @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
            width: 15px;
            min-width: 15px;
            margin: 0 0.7142857142857143rem 0 13px;
          }
        }

        svg {
          width: 0.7142857142857143rem;
          height: 1.5rem;
        }

        span {
          .visibleAnimation();
        }
      }
    }

    .bottom-nav {
      .bottom-nav-list {
        list-style: none;
        margin: 0 0 0.6em;


        .bottom-nav-item {
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;

          &:last-child {
            margin-bottom: 2em;
          }

          .custom-tooltip {
            width: 100%;
            margin: 0;
          }

          button,
          a {
            height: 3.5714285714285716rem;
            width: 100%;
            font-size: 1rem; // 14px
            font-weight: 600;
            display: flex;
            align-items: center;
            color: #fff;
            white-space: nowrap;
            transition: .3s;
            padding: 0 10px 0 1.42857143rem;
            border-left: 0.42857143rem solid #312C51;

            .anticon {
              font-size: 1.7143em; // 24px
            }

            &:hover {
              background: rgba(255, 255, 255, 0.05);
              border-color: #FF5256;
            }
          }

          .automate-link-active {
            color: #fff;
            background: rgba(255, 255, 255, 0.05);
            border-color: #FF5256;

            .link-icon {
              use {
                fill: #fff;
                stroke: #fff;
                transition: 0.3s;
              }
            }
          }
        }

        .bottom-nav-item:hover button,
        .bottom-nav-item:hover a {
          color: @white;

          .link-icon {
            use {
              fill: #fff;
              stroke: #fff;
              transition: 0.3s;
            }
          }
        }
      }

      .anticon {
        font-size: 1.7143rem; // 24px
        width: 1em;
        height: 1em;

        .avatar {
          font-size: 1.7143rem; // 24px
          border-radius: 50%;
          width: 1em;
          height: 1em;
        }
      }
    }
  }

  .social-links {
    display: flex;
    flex-direction: column;
    padding: 0.7142857142857143rem 1.8571428571428572rem 0.7142857142857143rem 1.8571428571428572rem;
    margin: auto 0 0 0;
    transition: .3s ease-in-out;

    h3 {
      font-weight: 600;
      font-size: 0.8571428571428571rem;
      line-height: 1.0714285714285714rem;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      margin: 0;
      transition: opacity 0.3s ease-in 0.3s;
      transform: scaleX(1);
    }

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 0.8571428571428571rem 0 0 0;

        &:nth-child(1) {
          a {
            padding: 0;

            svg {
              height: 60%;
            }
          }
        }

        &:nth-child(2) {
          a {
            svg {
              width: 55%;
            }
          }
        }

        &:nth-child(3) {
          a {
            svg {
              width: 60%;
            }
          }
        }
      }

      a {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
        padding: 0 0 0 1px;

        svg {
          fill: #fff;
          transition: .2s ease-in-out;
        }

        &:hover {
          background: #fff;

          svg {
            fill: #FF5256;
          }
        }
      }
    }
  }

  //   ================================================================

  &.open {
    width: 200px;
    transition: @transition;

    .sidebar-logo {
      .visibleAnimation();
    }

    .sidebar-menu {
      .country-active {
        width: 192px;

        &__description {
          .visibleAnimation();
        }
      }

      .top-nav {
        .top-nav-list {
          .top-nav-item {
            .top-nav-link {
              .top-span {
                .visibleAnimation();
              }
            }
          }
        }
      }

      .bottom-nav {
        .bottom-nav-list {
          .bottom-nav-item {
            button > .bottom-span,
            a > .bottom-span {
              display: flex;
              align-items: center;

              .visibleAnimation();
            }
          }
        }
      }
    }
  }

  //   ================================================================

  &.closed {
    width: 7.2em;
    transition: @transition;

    .sidebar-logo {
      .hideAnimation();
      width: 0;

      img {
        width: 0;
      }
    }

    .sidebar-menu {
      .country-active {
        width: 6.4em;

        &__description {
          .hideAnimation();
        }
      }
    }

    .top-nav {
      .automate-list {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        padding: 0 0 0 20px;

        animation: .2s fadeOut;

        .automate-item {
          position: absolute;
          opacity: 0;
          left: -100%;
        }
      }

      .top-nav-list {

        .top-nav-item {

          @keyframes fadeOut {
            99% {
              visibility: visible;
              opacity: 0;
              max-height: 0;
            }
            100% {
              opacity: 0;
              max-height: 0;
              visibility: hidden;
            }
          }

          .top-nav-link {
            .top-span {
              .hideAnimation();
            }
          }
        }
      }
    }

    .refer-link,
    .facebook-link {
      a {
        span {
          .hideAnimation();
        }
      }
    }

    .bottom-nav {
      .bottom-nav-list {
        .bottom-nav-item {
          button > .bottom-span,
          a > .bottom-span {
            .hideAnimation();
          }
        }
      }
    }

    .social-links {
      padding-left: 1.5rem;

      h3 {
        transform: scaleX(1);
        opacity: 0;
        transition: width 0.3s ease-in 0.3s;
      }
    }
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

//   ================================================================

/*
* for delete
*/
//.top-nav-item:nth-child(-n + 2),
//a.top-nav-link {
//  pointer-events: none;
//}

.top-nav {
  span {
    position: relative;

    //.soon {
    //  width: 2.8571em;
    //  height: 1.1429em;
    //  position: absolute;
    //  top: -0.7143em;
    //  left: 80px;
    //
    //  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    //    left: 60px;
    //  }
    //}
    //
    .soon {
      background: #B6B6FB;
      height: 1.14285714rem;
      position: absolute;
      padding: 0 3px 2px 3px;
      top: -0.7143em;
      left: 85px;
      border-radius: 4px;
      color: #343C5A;
      display: flex;
      align-items: center;
      font-size: 0.8571428571428571rem;

      @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
        left: 60px;
        padding: 0 3px 1px 3px;
      }
    }
  }

  .new-fiches {
    background: #8FD39D;
    height: 1.14285714rem;
    position: absolute;
    padding: 0 5px 2px 5px;
    top: -0.7143em;
    left: 85px;
    border-radius: 4px;
    color: #343C5A;
    display: flex;
    align-items: center;
    font-size: 0.8571428571428571rem;


    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
      left: 63px;
      top: -7px;
      padding: 0 5px 1px 5px;
    }
  }

  .automate-list {
    li {
      a {
        position: relative;

        .soon {
          height: 1.14285714rem;
          position: absolute;
          top: -0.7143em;
          right: 2.5em;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    z-index: 100;
  }
}


//   ================================================================

/*
* Retina
*/
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
  .sidebar {
    &.open {
      width: 150px;

      .sidebar-menu .country-active {
        width: 142px;
      }
    }

    .collapsed-automate {
      width: 150px;
    }
  }
}

.hide-tooltip {
  display: none;
}

.sidebar-link-tooltip {
  padding-left: 5px !important;

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    background: #2A254B;

    .ant-popover-inner-content {
      display: flex;
      align-items: center;
      padding: 5px 0;

      .collapsed-automate-list {
        margin: 0;
        list-style: none;
      }

      a {
        height: 2.4285714285714284rem;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        padding: 0 2rem;
        border-left: 4px solid #2A254B;
        display: flex;
        align-items: center;

        &:hover {
          color: #fff;
          background: rgba(255, 255, 255, 0.05);
          border-color: #FF5256;
        }
      }
    }
  }
}

.back-to-admin {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  opacity: .3;
  transition: .3s ease-in;

  &:hover {
    opacity: 1;
    transition: .3s ease-in;
  }

  button {
    width: 60px;
    height: 60px;
    background: #2A254B;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #fff;
      stroke: #fff;
    }
  }
}

.back-admin-tooltip {
  .ant-popover-inner-content {
    background: #2A254B;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    width: 120px;

    button {
      height: max-content;
      width: max-content;
      padding: 1px 5px;
    }
  }

  .ant-popover-arrow {
    border-right-color: #2A254B !important;
    border-top-color: #2A254B !important;
  }
}

.toggle-marketplace-window {
  padding-left: 2px !important;

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    background: #343C5A;
    border-radius: 4px;
    padding: 15px 0 0 0;

    h3 {
      font-weight: 600;
      font-size: 1rem;
      color: #FFFFFF;
      margin-bottom: 17px;
      padding: 0 15px 0 1.4285714285714286rem;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;

      li {
        display: flex;
        align-items: center;

        font-weight: 600;
        font-size: 12px;
        color: #FFFFFF;
        padding: 10px 0 10px 1.4285714285714286rem;

        &:hover {
          background: rgba(109, 109, 246, 0.05);
          cursor: pointer;
        }

        &.active {
          background: rgba(109, 109, 246, 0.1);
          border-left: 0.2857142857142857rem solid #2A254B;
          padding: 10px 0 10px 1.1428571428571428rem;
        }

        svg {
          width: 1.9285714285714286rem;
          height: 1.1428571428571428rem;
          margin: 0 8px 0 0;
        }
      }
    }
  }
}
