@import '../../style/variables.less';

.sidebar {
  font-size: 0.714286rem;
  display: inline-block;
  width: 200px;
  height: 100vh;
  position: relative;
  background-color: @third-default-dark;
  z-index: 1000;

  @media (max-width: 799px) {
    position: absolute;
  }

  .sidebar-header {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    column-gap: 2.8em;
    padding: 1.6em 2.6em;
    height: 7.4em;

    .sidebar-icon {
      color: #b6b6fb;
      font-size: 1.8em;
      align-self: center;
    }

    .sidebar-logo {
      width: 10em;
    }
  }

  .sidebar-menu {
    height: calc(100vh - 7.4em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;

    .country-nav {
      .country-active {
        height: 7em;
        display: grid;
        padding: 1.2em 0 0 1.8em;
        margin: 0 0 2em 3.5px;
        border-radius: 0.8em;
        background: rgba(109, 109, 246, 0.1);
        cursor: pointer;
        transition: @transition;

        &__title {
          display: grid;

          img {
            width: 2.7em;
            height: 1.6em;
          }

          h5 {
            font-size: 1rem;
            justify-self: center;
            color: #fff;
            align-self: flex-start;
            line-height: 1.1429em;
            margin: 0;
          }
        }

        &__description {
          font-size: .8rem;
          color: @sidebar-text-color;
          line-height: 1.3333em;
          margin-top: 3px;
          transform-origin: left;
        }
      }

      .top-nav {
        padding: 0 2.4em;

        .top-nav-list {
          list-style: none;
          margin: 0;

          .top-nav-item {
            padding: 1.5em 0;

            .top-nav-link {
              font-size: 1rem;
              height: 100%;
              display: flex;
              align-items: center;
              color: @sidebar-text-color;
              white-space: nowrap;

              .anticon {
                font-size: 1.7143em;
                margin-right: 0.5833em;
              }

              span {
                margin: 0;
              }
            }

            .top-nav-link-active {
              color: @white;
            }

            .automate-list {
              list-style: none;
              margin-top: 2.3em;

              &.open {
                transform: scaleY(1);
                transform-origin: top;
                transition: all 0.2s ease-in;
              }

              &.closed {
                transform: scaleY(0);
                transform-origin: top;
                transition: all 0.2s ease-in;
              }

              .automate-item {
                padding: 1.1em 0;
                cursor: pointer;

                .automate-link {
                  font-size: 1rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  color: @sidebar-text-color;
                  white-space: nowrap;
                  opacity: 1;
                }

                .automate-link-active {
                  color: @white;
                }
              }

              .automate-item:hover > .automate-link {
                color: @white;
              }
            }
          }

          .top-nav-item:hover > .top-nav-link {
            color: @white;
          }

          .top-nav-item:last-child {
            cursor: pointer;

            &:hover {
              .collapsed-automate {
                opacity: 1;
              }
            }

            .collapsed-automate {
              width: 200px;
              position: absolute;
              top: 30.9em;
              left: 4.5em;
              padding: 0 0 0 30px;
              opacity: 0;
              transition: all 0.1s ease-in;

              .collapsed-automate-list {
                width: 200px;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0;
                padding: 1.1em 0 1.1em 2.4em;
                background-color: @third-default-dark;
                border-radius: 8px;

                .automate-item {
                  padding: 1.1em 0;
                  cursor: pointer;

                  .automate-link {
                    font-size: 1rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: @sidebar-text-color;
                    white-space: nowrap;
                  }

                  .automate-link-active {
                    color: @white;
                  }
                }

                .automate-item:hover > .automate-link {
                  color: @white;
                }
              }
            }
          }
        }
      }
    }

    .bottom-nav {
      padding: 0 2.4em;

      .bottom-nav-list {
        list-style: none;
        margin: 0 0 0.6em;

        .bottom-nav-item {
          padding: 1.5em 0;
          cursor: pointer;

          button,
          a {
            font-size: 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            color: @sidebar-text-color;
            white-space: nowrap;

            .anticon {
              font-size: 1.7143em;
              margin-right: 0.5833em;
            }
          }
        }

        .bottom-nav-item:hover > button,
        .bottom-nav-item:hover > a {
          color: @white;
        }
      }
    }
  }

  //   ================================================================

  &.open {
    width: 200px;
    transition: @transition;

    .sidebar-logo {
      transform: scaleX(1);
      transform-origin: left;
      transition: @transition 0.3s;
    }

    .sidebar-menu {
      .country-nav {
        .country-active {
          width: 192px;
          grid-template-rows: repeat(2, minmax(min-content, max-content));
          grid-template-columns: minmax(min-content, max-content);

          &__title {
            grid-template-rows: minmax(min-content, max-content);
            grid-template-columns: repeat(2, minmax(min-content, max-content));

            h5 {
              margin-left: 0.5714em;
              // margin-left: 2px;
            }
          }

          &__description {
            transform: scaleX(1);
            transition: @transition 0.3s;
          }
        }

        .top-nav {
          .top-nav-list {
            .top-nav-item {
              .top-nav-link {
                span {
                  transform: scaleX(1);
                  transform-origin: left;
                  transition: @transition 0.3s;
                }
              }
            }
          }
        }
      }

      .bottom-nav {
        .bottom-nav-list {
          .bottom-nav-item {
            button > span,
            a > span {
              transform: scaleX(1);
              transform-origin: left;
              transition: @transition 0.3s;
            }
          }
        }
      }
    }
  }

  //   ================================================================

  &.closed {
    width: 7.2em;
    transition: @transition;

    .sidebar-logo {
      transform: scaleX(0);
      transform-origin: left;
      transition: @transition;
    }

    .sidebar-menu {
      .country-nav {
        .country-active {
          width: 6.4em;
          grid-template-rows: minmax(min-content, max-content);
          grid-template-columns: minmax(min-content, max-content) 0;

          &__title {
            grid-template-rows: repeat(2, minmax(min-content, max-content));
            grid-template-columns: minmax(min-content, max-content);
          }

          &__description {
            transform: scaleX(0);
          }
        }

        .top-nav {
          .top-nav-list {
            .top-nav-item {
              .top-nav-link {
                span {
                  transform: scaleX(0);
                  transform-origin: left;
                  transition: @transition;
                }
              }
            }
          }
        }
      }
    }

    .bottom-nav {
      .bottom-nav-list {
        .bottom-nav-item {
          button > span,
          a > span {
            transform: scaleX(0);
            transform-origin: left;
            transition: @transition;
          }
        }
      }
    }
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

//   ================================================================

/*
* for delete
*/
.top-nav-item:nth-child(-n + 2),
.automate-item:first-child {
  pointer-events: none;
}

.top-nav-item:nth-child(-n + 2),
.automate-item:first-child {
  .top-nav-link,
  .automate-link {
    position: relative;
    width: fit-content;
  }

  .top-nav-link::before,
  .automate-link::before {
    font-size: 12px;
    width: 3.3334em;
    height: 1.3334em;
    display: inline-block;
    position: absolute;
    top: -0.8334em;
    right: -3.5834em;
    content: 'soon';
    background-color: @sidebar-text-color;
    border-radius: 4px;
    color: @third-default-dark;
    text-align: center;
    line-height: 1.3334em;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.1s ease-in;
  }
}

.open .sidebar-menu .top-nav-link::before,
.open .sidebar-menu .automate-link::before {
  transform: scaleX(1);
  transition: all 0.1s ease-in 0.3s;
}

// .sidebar .sidebar-menu .collapsed-automate .automate-link::before {
//   opacity: 1;
// }

// .top-nav-item:nth-child(-n + 2),
// .automate-item:first-child {
//   .top-nav-link,
//   .automate-link {
//     position: relative;
//     width: fit-content;
//   }

//   .soon,
//   .automate-soon {
//     font-size: 12px;
//     width: 3.3334em;
//     height: 1.3334em;
//     display: inline-block;
//     position: absolute;
//     top: -0.8334em;
//     right: -3.5834em;
//     // content: 'soon';
//     background-color: @sidebar-text-color;
//     border-radius: 4px;
//     color: @third-default-dark;
//     text-align: center;
//     line-height: 1.3334em;
//     font-weight: 600;
//     // opacity: 0;
//     transition: all 0.2s ease-in;
//   }

//   .automate-soon {
//     top: 0;
//     right: 3em;
//   }
// }

// .collapsed-automate {
//   .automate-soon {
//     top: 0;
//     right: 3em;
//   }
// }

// .sidebar-menu .soon,
// .sidebar-menu .automate-soon {
//   display: none;
// }
/*
* for delete
*/

//   ================================================================

/*
* Retina
*/
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .sidebar {
    font-size: 0.47619rem;

    &.open {
      width: 150px;
    }

    .collapsed-automate {
      width: 150px;
    }
  }

  .top-nav-item:nth-child(-n + 2),
  .automate-item:first-child {
    .top-nav-link::before,
    .automate-link::before {
      font-size: 8px;
    }
  }
}
