@primary-default: #ccc;
@import "../../style/variables";

.Sidebar {
    display: inline-block;
    width: 72px;
    min-height: 100vh;
    position: fixed;
    background-color: #343C5A;
    transition: 0.3s;

    &.SidebarOpen {
        width: 200px;

        &+.MainContent {
            margin-left: 200px;
        }
    }

    .SidebarHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;

        .SidebarIcon {
            color: #B6B6FB;
            font-size: 18px;
        }

        .SidebarLogo {
            width: 100px;
            margin-right: 6px;

            img {
                width: 100%;
            }
        }
    }

    &+.MainContent {
        margin-left: 72px;
    }
}

.SidebarMenu {
    min-height: calc(100vh - 75px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        background-color: transparent !important;
        box-shadow: none !important;

        li {
            font-size: 14px;
            margin: 10px 0 !important;
            transition: 0.3s !important;

            a, .ant-menu-submenu-title {
                display: flex;
                align-items: center;
                color: #B6B6FB !important;
            }

            i {
                transition: 0.3s !important;

                &.anticon {
                    font-size: 30px;
                    width: 40px;
                    text-align: left;
                }

                &.anticon-right-circle {
                    color: #B6B6FB;
                }

                &.ant-menu-submenu-arrow {
                    display: none;
                }
            }

            &.ant-menu-item-selected {
                color: #fff !important;
                background-color: transparent !important;
            }

            &.ant-menu-submenu-open {
                .ant-menu-submenu-title {
                    color: #fff !important;
                }
            }

            &.logOut {
                i.anticon {
                    font-size: 24px;
                    padding-left: 4px;
                }
            }
        }

        &.ant-menu-sub li {
            height: 24px !important;
            padding-left: 36px !important;
            line-height: 24px !important;
        }
    }
}

.Sidebar:not(.SidebarOpen) {
    .SidebarHeader {
        justify-content: center;
    }

    .SidebarMenu {
        .ant-menu-inline-collapsed {
            width: 100%;

            li {
                padding: 0 16px !important;

                .ant-menu-submenu-title {
                    padding: 0 !important;
                }

                i {
                    font-size: 22px;
                    text-align: center;
                }

                &.logOut i {
                    font-size: 18px;
                    padding-left: 0;
                }
            }
        }
    }
}

.CountryActive {
    margin: 4px;
    padding: 12px 21px;
    border-radius: 8px;
    background: rgba(109, 109, 246, 0.1);
    cursor: pointer;

    &--title {
        display: flex;
        align-items: center;

        img {
            width: 27px;
            margin-right: 8px;
        }

        h5 {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
    }

    &--description {
        color: #B6B6FB;
        font-size: 12px;
        line-height: 16px;
    }
}

.RegionsList {
    .ant-popover-arrow {
        border-bottom-color: #3A416A !important;
        border-left-color: #3A416A !important;
    }

    .ant-popover-inner {
        background: #3A416A;

        .ant-popover-inner-content {
            padding: 8px 20px;
        }
    }

    .CountryList {
        padding: 12px 0;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(109, 109, 246, 0.2);
        }

        h4 {
            color: #fff;
        }

        .CountryItem {
            border-bottom: none;
            padding: 6px 0;

            .ant-list-item-meta {
                .ant-list-item-meta-avatar {
                    margin-right: 8px;
                }

                .ant-list-item-meta-title {
                    color: #fff;
                    font-size: 12px;
                    line-height: 1;
                    margin-bottom: 4px;
                }

                .ant-list-item-meta-description {
                    color: #B6B6FB;
                    font-size: 10px;
                    line-height: 16px;
                }
            }
        }
    }
}
