@import "../../../../style/variables.less";

.campaigns-section .campaigns-list {
  height: 600px;
  margin: 15px 0 15px 0;
  background: #fff;
  box-shadow: @default-section-shadow;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 4px;

  padding: 20px 0 0 0;

  .form-group {
    width: 300px;
    height: 32px;
    margin: 0 0 0 20px;
  }

  .custom-table {
    flex: 1;

    .table-overflow {
      height: 100%;
    }

    .table-head {
      box-shadow: @default-section-shadow;
    }
  }
}