.amazon-connect .connect-mws-section {
  a {
    font-size: 1.4285714285714286rem;
    color: #6D6DF6;
    font-weight: 500;
    margin-bottom: 1.0714285714285714rem;
  }

  h4 {
    font-size: 1.4285714285714286rem;
    line-height: 1.7142857142857142rem;
    color: #38454F;
    margin-bottom: 1.7857142857142858rem;
  }

  .select-marketplace {
    display: flex;
    flex-direction: column;
    max-width: 17.857142857142858rem;

    label {
      display: block;
      font-size: 1rem;
      color: #343C5A;
      font-weight: 500;
      margin-bottom: 0.7142857142857143rem;
    }

    .custom-select {
      height: 2.2857142857142856rem;

      .ant-select-arrow {
        right: 10px;
      }

      .ant-select-selection-selected-value {
        padding: 0 0 0 10px;
      }
    }

    .btn {
      height: 3.4285714285714284rem;
      font-size: 1.1428571428571428rem;
      font-weight: 500;
      margin-top: 2.142857142857143rem;
      margin-bottom: 4.285714285714286rem;
    }
  }

  .mws-credentials {
    display: flex;

    .form-group {
      display: flex;
      flex-direction: column;
      flex: 1;

      &:first-child {
        margin-right: 2.142857142857143rem;
      }

      label {
        font-size: 1rem;
        color: #343C5A;
        font-weight: 500;
        display: block;
        margin-bottom: 0.7142857142857143rem;
      }

      input {
        height: 2.2857142857142856rem;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0 10px;
      }
    }
  }
}