@import "../../../../style/variables.less";

.analytics-page .navigation {
  width: 170px;
  background: #fff;
  box-shadow: @default-section-shadow;
  border-radius: 4px;
  margin: 0 5px 10px 10px;
  padding: 4px 0 0 0;
  //transition: .2s;
  overflow: hidden;

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    width: 140px;
  }

  &.visible {

  }

  &.hidden {
    width: 0;
    margin: 0 5px 10px 0;
  }

  ul {
    list-style: none;
    min-width: max-content;

    li {
      min-width: max-content;

      a {
        height: 3.5714285714285716rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 20px;

        font-size: 1rem;
        color: #656A84;
        font-weight: 500;
        cursor: pointer;

        border-bottom: 0.5px solid #C9CBD4;

        svg {
          fill: #C9CBD4;
        }

        &.active {
          background: rgba(245, 245, 255, 0.7);
          padding-left: 16px;
          border-left: 4px solid #6D6DF6;
          color: #6D6DF6;

          svg {
            fill: #6D6DF6;
          }
        }

        &:hover {
          background: rgba(245, 245, 255, 0.7);
        }

        .switch-sub-menu {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: 0 -5px 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px 0 0 0;
          z-index: 10;

          svg {
            width: 12px;
            height: 8px;
            stroke: #343C5A;
            transition: .2s;
          }

          &:hover {
            background: rgba(109, 109, 246, 0.05);
          }

          &.opened {
            padding: 0 0 2px 0;

            svg {
              transform: rotate(180deg);
            }
          }
        }
      }

      .sub-menu {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.15s ease-out;

        &.opened {
          max-height: 130px;
          transition: max-height 0.25s ease-in;
        }

        li {
          display: flex;
          align-items: center;

          a {
            width: 100%;
            justify-content: flex-start;

            &::before {
              content: '';
              width: 6px;
              min-width: 6px;
              height: 6px;
              border-radius: 50%;
              margin: 0 10px 0 0;
              background: #C9CBD4;
            }

            &.active {
              border-left: none;
              padding-left: 20px;

              &::before {
                background: #6D6DF6;
              }
            }

            .custom-tooltip {
              margin: 0 0 0 auto;
            }
          }
        }
      }
    }
  }

  .ant-popover {
    .ant-popover-title, .ant-popover-inner-content {
      font-size: 1rem;
    }
  }
}
