@import '../../../../style/variables.less';

.ant-modal-wrap {
  z-index: 100000;
}

.reactivate-account {
  font-size: 0.714286rem; // 10px
  width: fit-content !important;
  height: fit-content;
  border-radius: 0.9em;
  padding: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000000;
  flex: initial !important;

  @media (max-width: 450px) {

    .ant-modal-content {
      width: 100% !important;
      height: max-content !important;

    }
  }

  .ant-modal-content {
    border-radius: 0.9em;
    padding: 2.5rem 3.2142857142857144rem 3.2142857142857144rem;

    .ant-modal-close {
      display: none;
    }

    .ant-modal-body {
      font-size: inherit; // 10px
      padding: 0;

      .reactivate-title {
        font-size: 1.4285714285714286rem;
        letter-spacing: -0.06px;
        color: #343C5A;
        font-weight: 500;
      }

      .reactivate-text {
        font-size: 1rem;
        color: #343C5A;
        margin-bottom: 2.142857142857143rem;

        .reactivate-data {
          color: #17175a;
          font-weight: 600;
        }
      }
    }

    .ant-modal-footer {
      border: none;
      padding: 0;
      // margin-bottom: 2.4em;

      div {
        display: flex;

        button {
          font-size: 1rem; // 14px
          width: 8.571428571428571rem;
          height: 2.2857142857142856rem;
          border: none;
          border-radius: 8px;
          margin: 0;
        }

        .ant-btn {
          background: rgba(109, 109, 246, 0.1);
          color: #363694;
          box-shadow: none;
          margin: 0 15px 0 0;

          &:hover {
            background: rgba(109, 109, 246, 0.3);
            box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08), 0px 0px 20px rgba(142, 147, 192, 0.08);
          }
        }

        .ant-btn.ant-btn-primary {
          width: 14.285714285714286rem;
          background: #7DD4A1 !important;
          color: @white;

          &:hover {
            background: #5e9168 !important;
            box-shadow: 0px 12px 16px rgba(142, 147, 192, 0.08),
            0px 0px 20px rgba(142, 147, 192, 0.08);
          }
        }
      }
    }
  }
}
