@import '../../../../style/variables.less';

.ant-modal-wrap {
  z-index: 100000;
}

.reactivate-account {
  width: 95% !important;
  max-width: 42.857142857142854rem;

  .ant-modal-content {
    .ant-modal-close {
      display: none;
    }

    .ant-modal-body {
      padding: 4.285714285714286rem 2.857142857142857rem;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 600;
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        text-align: center;
        color: #312C51;
        margin-bottom: 1.4285714285714286rem;
      }

      p {
        font-size: 1.1428571428571428rem;
        line-height: 1.4285714285714286rem;
        text-align: center;
        color: #46435C;
        margin-bottom: 2.142857142857143rem;

        span {
          color: #7FD3A1;
        }
      }

      .actions {
        display: flex;
        justify-content: center;

        .btn {
          height: 3.4285714285714284rem;
          font-size: 1.1428571428571428rem;
          margin: 0 0.7142857142857143rem;
        }
      }

      .btn.transparent {
        font-size: 1.1428571428571428rem;
        margin: 1.4285714285714286rem auto 0;
      }
    }
  }
}

.confirm-subscribe-window, .confirm-payment-window {
  width: 95% !important;
  max-width: 42.857142857142854rem;

  .ant-modal-body {
    padding: 4.285714285714286rem 1.4285714285714286rem;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      line-height: 1.7142857142857142rem;
      text-align: center;
      color: #312C51;
      margin-bottom: 1.4285714285714286rem;
    }

    p {
      font-size: 1.1428571428571428rem;
      line-height: 1.4285714285714286rem;
      text-align: center;
      color: #46435C;
      margin-bottom: 2.142857142857143rem;

      .price {
        display: inline-block;
        font-weight: 600;

        a, br, .prev-value {
          display: none;
        }
      }

      span {
        font-weight: 600;
        margin: 0 5px 0 0;
      }
    }

    .actions {
      display: flex;
      justify-content: center;

      .btn {
        height: 3.4285714285714284rem;
        font-size: 1.1428571428571428rem;
        margin: 0 0.7142857142857143rem;
      }
    }

    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #46435C;
      margin: 1.4285714285714286rem auto 0;

      &:hover {
        color: #312C51;
      }
    }
  }
}
