@import "../../../../style/variables.less";

.TableSettings {
    table thead.ant-table-thead tr th {
        background: @body-background;
        border: 0;

    }
    table {
        background: @body-background;
        border-spacing: 0 4px;
        tr {
            background: #fff;
            td {
                border: 0;

            }
        }
    }
}
