@import "../../style/variables.less";

.main-pages .main-container .page > .analytics-page {
  height: 100%;
  padding: 0;

  display: grid;
  grid-template-areas: 'header header' 'nav workplace';
  grid-row-gap: 15px;
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;

  .navigation {
    grid-area: nav;
  }

  .workplace {
    grid-area: workplace;
    width: 100%;
    overflow-x: hidden;
    padding: 0 15px 0 15px;

    .metrics-block {
      grid-gap: 15px;
    }

    .main-chart {
      margin: 15px 0 0 0;
    }

    .list-section {
      background: #fff;
      min-height: 240px;
      height: max-content;
      max-height: 600px;
      margin: 15px 0 15px 0;

      box-shadow: @default-section-shadow;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 4px;

      padding: 20px 0 0 0;


      .form-group {
        width: 300px;
        height: 32px;
        margin: 0 0 0 20px;
      }

      .custom-table {
        flex: 1;
        display: flex;

        .table-overflow {
          flex: 1;
          //height: 100%;

          .no-data {
            width: max-content;
            margin: 0 auto;
          }
        }

        .table-head {
          box-shadow: @default-section-shadow;
        }

        .table-head {
          box-shadow: none;
          border-top: 0.5px solid #C9CBD4;
          border-bottom: 2px solid #C9CBD4;

          .th {
            border-right: 0.5px solid #C9CBD4;
            padding-left: 12px;

            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              border: 0;
            }
          }

          .title {
            font-size: 14px;
          }
        }

        .table-body {
          .table-body__row {
            .table-body__field {
              font-size: 14px;
              padding-left: 12px;
              border-right: 0.5px solid #C9CBD4;

              &:first-child {
                padding-left: 20px;
              }

              &:last-child {
                border: 0;
              }

              a {
                color: #6D6DF6;
                font-weight: 500;

                &:hover {
                  text-decoration: underline;
                }
              }


              .status {
                &.active {
                  color: #7DD4A1;
                }

                &.inactive {
                  color: #EC7F5C;
                }
              }
            }
          }
        }

        .total-data {
          width: max-content;
          background: #F8F9FA;
          border-top: 1px solid #c9cbd4;
          border-bottom: 0.5px solid #C9CBD4;


          .table-body__field {
            font-weight: 500;
            color: #343C5A;
            font-size: 14px;
            padding-left: 12px;
            border-right: 0.5px solid #C9CBD4;

            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              border: 0;
            }

            a {
              color: #343C5A;
              font-size: 14px;
              pointer-events: none;
            }
          }
        }
      }

      .pw-pagination {
        padding-left: 20px;
      }
    }

  }

  .analytics-header {
    grid-area: header;
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    zoom: 80%;
  }
}