.optimization-rules-page .rules-list {
  flex: 1;
  max-width: 395px;
  background: #fff;
  border-radius: 4px;
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;

  .tabs {
    height: 4.285714285714286rem;
    padding: 0 1.4285714285714286rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 1.0714285714285714rem;
    border-radius: 4px 4px 0 0;

    .tab {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.7142857142857143rem;
      line-height: 1.0714285714285714rem;
      text-transform: uppercase;
      color: #353A3E;
      cursor: pointer;
      position: relative;

      svg {
        width: 1.4285714285714286rem;
        height: 1.4285714285714286rem;
        margin-bottom: 2px;
        fill: #353A3E;
        stroke: #353A3E;
      }

      &:hover {
        color: #FF5256;

        svg {
          fill: #FF5256;
          stroke: #FF5256;
        }
      }

      &.active {
        color: #FF5256;

        svg {
          fill: #FF5256;
          stroke: #FF5256;
        }

        &::before {
          height: 4px;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: #FF5256;
        }
      }
    }
  }

  .search-block {
    margin: 0 1.4285714285714286rem 1.4285714285714286rem;
  }

  .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #C9CBD4;
    position: relative;
    overflow: auto;

    .fetching-data {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(245, 245, 255, 0.5);
      z-index: 10;

      .ant-spin {
        margin: 0 0 0 20px;
      }
    }

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      padding: 10px 1.42857143rem;
      border-bottom: 0.5px solid #C9CBD4;

      &:hover {
        background: rgba(255, 250, 250, 0.8);
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background: transparent;
        transition: 0.2s ease-in-out;
      }

      .status {
        width: 8px;
        height: 8px;
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;

        &.enabled {
          background: #7DD4A1;
        }

        &.paused {
          background: #FFAF52;
        }
      }

      &.active {
        background: rgba(255, 250, 250, 0.8);

        &::before {
          background: #FF5256;
        }
      }

      .name {
        font-weight: 600;
        font-size: 1rem;
        color: #353A3E;
      }

      .description {
        font-size: 0.8571428571428571rem;
        line-height: 1rem;
        color: #353A3E;
        margin: 4px 0 10px;
      }

      .details-row {
        display: flex;
        align-items: center;
        font-size: 0.8571428571428571rem;
        line-height: 1rem;
        color: #353A3E;

        .type {
          margin: 0 auto 0 14px;
        }
      }
    }
  }

  .pw-pagination {
    background: #fff;
    padding: 1.0714285714285714rem 1.4285714285714286rem;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #C9CBD4;

    z-index: 20;

    .items-count {
      margin: 0 0 0 auto;
    }
  }
}