.our-whale-page {
  section {
    & > .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1460px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  .assists {
    padding: 96px 0 128px 0;

    h2 {
      font-size: 60px;
      line-height: 72px;
      font-weight: 400;
      color: #2D2E55;
      margin-bottom: 96px;

      span {
        color: #6D6DF6;
      }
    }

    .row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      grid-column-gap: 50px;
      margin-bottom: 128px;

      &:last-of-type {
        margin: 0;
      }
    }

    .image {
      min-width: 435px;
      width: 435px;
      height: 289px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
    }

    h3 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #2D2E55;
      margin-bottom: 28px;

      span {
        color: #6D6DF6;
      }
    }

    p {
      font-size: 24px;
      line-height: 29px;
      color: #7C8A95;
      margin: 0;
      font-weight: 100;
    }
  }

  .ad-investment {
    padding: 128px 0 148px;
    background: url(../../../assets/img/landing-ourWhale/ad-investment-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 28px;
      color: #2D2E55;

      span {
        color: #6D6DF6;
      }
    }

    p {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #7C8A95;
      margin: 0;
      font-weight: 100;
    }
  }

  .statistic {
    padding: 128px 0;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #2D2E55;
      margin-bottom: 48px;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;

      li {
        display: flex;
        flex-direction: column;

        div {
          font-size: 48px;
          line-height: 58px;
          color: #6D6DF6;
          margin-bottom: 24px;
        }

        label {
          font-size: 21px;
          line-height: 25px;
          color: #7C8A95;
          text-transform: capitalize;
        }
      }
    }
  }

  .values {
    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #2D2E55;
      margin: 0 0 64px;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      width: 100%;
      list-style: none;
      margin: 0 0 103px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 48px;
      grid-column-gap: 40px;

      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        i {
          width: 64px;
          height: 64px;
          margin-bottom: 24px;
          box-shadow: 0px 4px 14px #6D6DF6;
          border-radius: 4px;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        h5 {
          font-size: 21px;
          line-height: 25px;
          font-weight: 400;
          color: #2D2E55;
          margin-bottom: 12px;
        }

        p {
          font-size: 21px;
          line-height: 25px;
          margin: 0;
          color: #7C8A95;
          font-weight: 100;
        }
      }
    }
  }

  .focus {
    background: url(../../../assets/img/landing-ourWhale/focus-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 128px 0;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      text-align: center;
      color: #2D2E55;
      margin-bottom: 48px;

      span {
        color: #6D6DF6;
      }
    }

    .slider {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;

      li {
        background: #FFFFFF;
        box-shadow: 0px 4px 17px rgba(193, 211, 237, 0.56);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 20px;

        i {
          width: 36px;
          height: 36px;
          margin-bottom: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        p {
          text-align: center;
          font-size: 21px;
          line-height: 25px;
          margin: 0;
          color: #7C8A95;
          font-weight: 100;
        }
      }
    }
  }

  .machine-human-intelligence {
    background: url(../../../assets/img/landing-ourWhale/machine-human-intelligence-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 128px 0;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      color: #FFFFFF;
      margin-bottom: 48px;

      br {
        display: none;
      }

      span {
        color: #83FED0;
      }
    }

    ul {
      width: 65%;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      grid-row-gap: 0;

      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;

        &:last-of-type {
          margin: 0;
        }
      }

      i {
        min-width: 18px;
        width: 18px;
        height: 18px;
        margin: 3px 12px 0 0;
        display: flex;
        align-items: center;
      }

      p {
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 0;
        font-weight: 100;
      }
    }
  }

  .company-timeline {
    background: #fff;
    padding: 128px 0;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      margin-bottom: 64px;
      color: #2D2E55;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      position: relative;
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;
      min-height: 400px;

      .line {
        width: 100%;
        height: 1px;
        background: #E1E1E1;
        position: relative;
        border-radius: 0 10px 10px 0;

        &::after,
        &::before {
          content: '';
          width: 12px;
          height: 1px;
          background: #E1E1E1;
          position: absolute;
          right: -1px;
          border-radius: 4px;
        }

        &::before {
          bottom: 4px;
          transform: rotate(40deg);
        }

        &::after {
          top: 4px;
          transform: rotate(-40deg);
        }
      }

      li {
        height: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 12px;
        border-left: 1px solid #E1E1E1;
        position: absolute;

        &::before {
          content: '';
          width: 64px;
          height: 64px;
          position: absolute;
          left: -32px;
          background: #6D6DF6;
          border-radius: 4px;
          z-index: 100;
          box-shadow: 0px 4px 14px #6D6DF6;
          -webkit-background-size: cover !important;
          -moz-background-size: cover !important;
          -o-background-size: cover !important;
          background-size: cover !important;
        }

        &:nth-child(2n) {
          bottom: 0;
          justify-content: flex-end;

          &::before {
            top: -32px;
          }
        }

        &:nth-child(2n + 1) {
          top: 0;


          &::before {
            bottom: -32px;
          }
        }

        &:nth-child(1) {
          left: 32px;

          &::before {
            background: url(../../../assets/img/landing-ourWhale/timeline-bg-1.png) no-repeat center center;
          }
        }

        &:nth-child(2) {
          left: 19%;

          &::before {
            background: url(../../../assets/img/landing-ourWhale/timeline-bg-2.png) no-repeat center center;
          }
        }

        &:nth-child(3) {
          left: calc(36%);

          &::before {
            background: url(../../../assets/img/landing-ourWhale/timeline-bg-3.png) no-repeat center center;
          }
        }

        &:nth-child(4) {
          left: calc(53%);

          &::before {
            background: url(../../../assets/img/landing-ourWhale/timeline-bg-4.png) no-repeat center center;
          }
        }

        &:nth-child(5) {
          left: calc(70%);

          &::before {
            background: url(../../../assets/img/landing-ourWhale/timeline-bg-5.png) no-repeat center center;
          }
        }

        b {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 12px;
          color: #4B5271;
        }

        p {
          font-size: 21px;
          line-height: 25px;
          font-weight: 100;
          margin: 0;
          color: #7C8A95;
        }
      }

    }
  }

  .performance {
    padding: 128px 0;
    background: #F3F7FD;

    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 64px;
      color: #2D2E55;

      span {
        color: #6D6DF6;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      * {
        transition: .5s;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        cursor: pointer;
        min-height: 240px;

        &:hover {
          background: #FFFFFF;
          box-shadow: 0px 4px 17px rgba(193, 211, 237, 0.56);
          border-radius: 4px;

          i {
            filter: grayscale(0);
            opacity: 1;
          }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-bottom: 2px solid #EAF1FC;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(4) {
          border-right: 2px solid #EAF1FC;
        }

        i {
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 24px;
          filter: grayscale(60%);
          opacity: .2;
        }

        p {
          font-size: 21px;
          line-height: 25px;
          text-align: center;
          color: #7C8A95;
          margin: 0;
          font-weight: 100;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .assists {
      .row {
        &:first-of-type {
          flex-direction: column-reverse;
        }

        &:last-of-type {
          flex-direction: column;
        }

        .image {
          margin: 0 auto 24px;
        }
      }
    }

    .machine-human-intelligence {
      ul {
        width: 100%;
      }
    }

    .company-timeline {
      ul {
        flex-direction: column;
        align-items: flex-start;

        .line {
          position: absolute;
          left: 24px;
          top: 0;
          width: 1px;
          height: 100%;

          &::after {
            top: auto;
            bottom: 4px;
            right: -10px;
            transform: rotate(140deg);
          }
        }

        li {
          height: max-content;
          border: 0;
          margin-bottom: 40px;
          position: relative;
          left: 0 !important;
          padding: 0 0 0 48px;

          b {
            padding: 0 0 4px 11px;
            margin-bottom: 8px;
            border-bottom: 1px solid #E1E1E1;
          }

          p {
            padding-left: 11px;
          }

          &::before {
            width: 48px;
            height: 48px;
            left: 0 !important;
            top: 8px !important;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .assists {
      padding: 64px 0;

      .image {
        min-width: auto;
        width: 100%;
        height: auto;
      }

      .row {
        margin-bottom: 48px;
      }

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 48px;
      }

      h3 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 18px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .ad-investment {
      padding: 64px 0;
      background: url(../../../assets/img/landing-ourWhale/ad-investment-bg-mob.png) no-repeat center center;


      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 18px;

        br {
          display: none;
        }
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .statistic {
      padding: 64px 0;

      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 18px;
      }

      ul {
        grid-template-columns: repeat(2, 1fr);

        li {
          div {
            font-size: 42px;
            line-height: 58px;
            margin: 0;
          }

          label {
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
          }
        }
      }
    }

    .values {
      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 32px;
      }

      ul {
        grid-template-columns: 1fr;
        grid-row-gap: 0;

        li {
          display: grid;
          grid-template-areas: 'icon title' 'text text';
          grid-template-columns: max-content 1fr;
          grid-column-gap: 11px;
          padding: 18px 0 0 0;
          border-bottom: 1px solid #EEEEEE;

          &.opened {
            p {
              max-height: 500px;
              transition: .3s ease-out;
              padding: 18px 0;
            }

            h5 {
              &::before {
                transform: rotate(45deg);
                transition: .3s;
              }
            }
          }

          &:last-of-type {
            border: 0;
          }

          i {
            grid-area: icon;
            margin: 0;
          }

          h5 {
            grid-area: title;
            margin: auto 0;
            position: relative;
            padding: 0 20px 0 0;

            &::before {
              width: 25px;
              height: 25px;
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto 0;
              background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFiSURBVHgB7duxTcNAFIDhdzYNVNmAjMAIMAmijRSvQEaIkgmYBEaiQKQJPIwQ0aXOX9xJ/1e9606/zpYLX4TUshKdmKbDY+b3dt7yeylls9tdv0SDhuhEZm7mmIt5XM7zNhrVTdDZspoX0aiegnbBoDCDwgwKMyjMoDCDwgwKMyjMoDCDwgwKMyjMoDCDwgwKMyjMoDCDwgwKMyjMoDCDwgwKMyjMoDCDwgwKMyjMoDCDwgwKMyjMoDCDws5ugaxWH3fDkE3+v17K+FqvM78eokGnoNN0eP67aaFLnB55YzKqd2h5C13s6n8Yx3g6Hn9P6XAbDSol7+t1ZpsHoJuriev1Z9br/f6myb372QQzKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKMygMIPCDAozKOwH0aIuJXfF0hYAAAAASUVORK5CYII=');
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;

              transition: .3s ease-out;
            }
          }

          p {
            grid-area: text;
            max-height: 0;
            overflow: hidden;
            transition: .3s;
            padding: 18px 0 0 0;
          }
        }
      }
    }

    .focus {
      padding: 64px 0 106px;

      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 24px;
      }

      ul {
        display: none;
      }

      .slider {
        display: block;

        .slick-arrow {
          display: none !important;
        }

        .slick-list {
          box-shadow: 0px 4px 10px rgba(193, 211, 237, 0.4);
        }

        .slick-track {
          display: flex;
          align-items: stretch;

          .slick-slide {
            height: auto;

            & > div {
              height: 100%;
            }
          }
        }

        .slide {
          height: 100%;
          background: #FFFFFF;
          border-radius: 4px;
          padding: 32px 20px;
          display: flex !important;
          flex-direction: column;
          align-items: center;

          i {
            margin: 0 0 18px;
          }

          p {
            margin: 0;
            font-size: 12px;
            font-weight: 100;
            line-height: 17px;
            text-align: center;
          }
        }

        .slick-dots {
          display: flex !important;
          justify-content: center;
          grid-column-gap: 30px;
          bottom: -42px;

          li {
            width: 10px;
            height: 10px;
            background: transparent;
            box-shadow: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            &.slick-active {
              background: #6D6DF6;

              button {
                background: #6D6DF6;
              }
            }

            button {
              width: 6px;
              height: 6px;
              background: #C9CBD4;
              border-radius: 50%;
              padding: 0;

              &::before {
                display: none;
              }
            }
          }
        }
      }
    }

    .machine-human-intelligence {
      padding: 64px 0;

      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
      }

      p {
        font-size: 12px;
        line-height: 17px;
      }
    }

    .company-timeline {
      padding: 64px 0;

      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 28px;
      }

      ul {
        li {
          &::before {
            top: 0 !important;
          }

          b {
            padding: 0 0 6px 11px;
            font-size: 12px;
            line-height: 17px;
          }

          p {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }

    .performance {
      padding: 64px 0;

      h2 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 28px;

        br {
          display: none;
        }
      }

      ul {
        grid-template-columns: 1fr;
        grid-row-gap: 12px;

        li {
          min-height: auto;
          border: 0 !important;
          display: flex;
          flex-direction: row;
          background: #FFFFFF;
          box-shadow: 0px 4px 17px rgba(193, 211, 237, 0.56);
          border-radius: 4px;
          padding: 12px;

          i {
            width: 32px;
            height: 32px;
            margin: 0 8px 0 0;
            opacity: 1;
            filter: grayscale(0);

            svg {
              height: 100%;
            }
          }

          p {
            font-size: 12px;
            line-height: 17px;
            text-align: left;
          }
        }
      }
    }
  }
}
