@import "../../../../../../style/variables";

.OptimizeStrategy {

    .strategies {
        display: grid;
        grid-template-columns: 180px 180px 180px 180px;
        grid-gap: 15px;

    }

    //.descriptions {
    //    margin-top: 10px;
    //    max-width: 740px;
    //}

    @media (max-width: @desktop) {
        .strategies {
            grid-template-columns: 1fr 1fr;

        }
    }
    @media (max-width: @laptop) {
        padding: 14px 0;

        .strategies {
            grid-template-columns: 1fr;

        }
    }
}

.StrategyItem {
    padding: 10px;
    border: 2px solid #C9CBD4;
    border-radius: 8px;
    transition: 0.3s;

    .caption-strategy {
        display: flex;
        text-align: left;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .strategy-checkbox {
        display: none;
    }

    .params-item {
        padding: 5px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .params-value {
            min-width: 35px;

            &.high, &.max {
                color: @action-color;
            }

            &.mid {
                color: #47B881;
            }

            &.low {
                font-weight: 600;
                color: @action-color-dark;
            }
        }
    }

    .strategy-control {
        margin: 10px 0;
        text-align: center;

        .strategy-btn {
            min-width: 120px;
            background: #6D6DF6;
            color: #fff;
            border-radius: 8px;
            border: 0;
        }

        .check {
            font-size: 28px;
        }
    }

    &.selected {
        background: #6D6DF6;
        border-color: #6D6DF6;
        box-shadow: 0 12px 16px rgba(142, 147, 192, 0.2), 0 0 20px rgba(142, 147, 192, 0.16);

        .strategy-control {
            margin-top: 25px;
            margin-bottom: 0;
        }

        @media (min-width: @laptop) {
            color: white;
            .params-item {

                .params-value {
                    font-weight: 600;
                    color: #fff;
                }
            }
        }

    }

    @media (max-width: @laptop) {
        & {
            border: 1px solid #C9CBD4;

            .strategy-checkbox {
                display: block;
                margin-right: 8px;
            }

            .params {
                display: flex;
                justify-content: space-between;

                .params-item {
                    justify-content: center;
                    width: unset;

                    .params-name {
                        &:after {
                            content: ':';
                        }

                        margin-right: 4px;
                    }
                }
            }

            .strategy-control {
                display: none;
            }

            &.selected {
                background: white;
                border-color: transparent;

                .params-item {

                    .params-value {
                        font-weight: 600;
                        //color: unset;

                    }
                }
            }
        }
    }
}
