.product-settings {

  .setup-setting {
    .section-header {
      &:hover {
        cursor: default;
        background: #fff;
      }

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        a {
          font-size: 1rem;
          text-decoration-line: underline;
          font-weight: 500;
          color: #6D6DF6;
        }
      }
    }
  }
}

