.product-settings {

  .setup-setting {
    .section-header {
      &:hover {
        cursor: default;
        background: #fff;
      }

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        a {
          font-size: 1rem;
          text-decoration-line: underline;
          font-weight: 500;
          color: #6D6DF6;
        }
      }
    }
  }
}

.setup-setting {
  .section-header {
    &:hover {
      cursor: default;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box !important;

    .row {
      display: flex;
    }

    & > .row {
      margin-bottom: 20px;
    }

    & > .row {
      display: flex;

      &:first-child {
        margin-top: 15px;
      }

      &:last-child {
        margin-bottom: 40px;
      }

      & > .col:first-child {
        width: 50%;
        padding: 0 20px 0 0;
      }

      & > .col:last-child {
        width: 50%;
        padding: 0 0 0 20px;
      }
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #343C5A;
  }

  p {
    font-size: 1rem;
    color: #656A84;
    border-left: 0.5px solid #C9CBD4;
    padding: 0 0 0 10px;
    text-align: justify;
  }

  .InputCurrency {
    width: 120px;
    height: 2.2857142857142856rem;
  }

  .error-field {
    & > {
      .InputCurrency .ant-input-number,
      .multi-text-area,
      .custom-select .ant-select-selection,
      .ant-input {
        border-color: #EC7F5C;
      }

    }
  }

  .main-keywords-setting {
    a {
      width: max-content;
      font-size: 1rem;
      text-decoration-line: underline;
      font-weight: 500;
      color: #6D6DF6;
      margin-bottom: 20px;
    }

    .ant-checkbox-wrapper {
      width: max-content;
      margin: 20px 0 0 0;

      &:hover {
        .ant-checkbox {
          &::after {
            display: none;
          }
        }
      }

      .ant-checkbox {
        width: 1.2857142857142858rem;
        height: 1.2857142857142858rem;

        input, .ant-checkbox-inner {
          width: 100%;
          height: 100%;
        }
      }

      span {
        font-size: 0.8571428571428571rem;
        color: #343C5A;
      }
    }
  }

  .portfolio-settings {
    margin-bottom: 20px;

    .ant-radio-wrapper {
      & > span:last-child {
        font-size: 1rem;
        color: #343C5A;
        padding: 0;
        margin: 0 0 0 10px;
      }
    }

    .row {
      display: flex;
      margin-bottom: 20px;
      position: relative;

      .form-group {
        margin: 10px 0 0 28px;

        &:first-child {
          width: 50%;
        }

        &:last-child {
          height: max-content;
          width: 11.785714285714286rem;
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;

          label {
            display: block;
            margin: 0 0 10px 0;
            font-size: 1rem;
            color: #343C5A;
            padding: 0;
          }

          .InputCurrency {
            width: 100%;
          }
        }
      }
    }

    .form-group {
      height: 2.2857142857142856rem;
      margin: 10px 0 20px 28px;

      .custom-select {
        width: 100%;
        height: 100%;
      }
    }
  }

  .date-settings {
    .form-group {
      display: flex;
      flex-direction: column;
      width: 12.857142857142858rem;
      margin: 0 25px 0 0;

      &:last-child {
        margin: 0;
      }

      label {
        font-size: 1rem;
        color: #343C5A;
        font-weight: 500;
        display: block;
        margin: 0 0 10px 0;
      }
    }

    .ant-checkbox-wrapper {
      width: max-content;
      margin: 20px 0 0 0;

      &:hover {
        .ant-checkbox {
          &::after {
            display: none;
          }
        }
      }

      .ant-checkbox {
        width: 1.2857142857142858rem;
        height: 1.2857142857142858rem;

        input, .ant-checkbox-inner {
          width: 100%;
          height: 100%;
        }
      }

      span {
        font-size: 0.8571428571428571rem;
        color: #343C5A;
      }
    }
  }

  .daily-budget-settings {
    .recommended-budget {
      font-size: 1rem;
      color: #343C5A;
      margin: 5px 0 0 0;

      span {
        background: #6D6DF6;
        color: #fff;
        border-radius: 16px;
        font-weight: 500;
        padding: 3px 10px;
        margin: 0 0 0 5px;
      }
    }
  }

  .brand-name-setting {
    .form-group {
      height: 2.2857142857142856rem;
      width: 75%;
    }
  }
}