.auth-page {
  min-height: 100vh;
  background: #F3F3F3;
  display: flex;
  justify-content: center;
  padding: 7.142857142857143rem 3.5714285714285716rem;
  font-family: Montserrat;


  .container {
    width: 100%;
    max-width: 85.71428571428571rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    background: #fff;
    display: flex;

    form {
      width: 39%;
      display: flex;
      flex-direction: column;
      padding: 3.4285714285714284rem 4.571428571428571rem;

      h2 {
        font-weight: 600;
        font-size: 2.2857142857142856rem;
        line-height: 2.7142857142857144rem;
        text-align: center;
        color: #312C51;
        margin: auto 0 8px;
      }

      p {
        font-weight: 500;
        font-size: 1.1428571428571428rem;
        line-height: 1.4285714285714286rem;
        text-align: center;
        color: #5B586F;
        margin-bottom: 2.142857142857143rem;
      }

      .form-group {
        margin-bottom: 1.4285714285714286rem;
        position: relative;

        input {
          height: 3.4285714285714284rem;
          font-size: 1.1428571428571428rem;
          padding-right: 3.5714285714285716rem;
        }

        .input-suffix {
          display: flex;
          align-items: center;
          position: absolute;
          right: 1.4285714285714286rem;
          top: 0;
          bottom: 0;
          margin: auto 0;
          z-index: 11;
          cursor: pointer;

          svg {
            width: 1.4285714285714286rem;
            height: initial;
          }
        }
      }


      .submit {
        width: 100%;
        height: 3.4285714285714284rem;
        margin: 0 0 1.4285714285714286rem;
        font-weight: 600;
        font-size: 1.2857142857142858rem;
      }

      .sds-btn {
        position: relative;

        .ant-spin {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }


      .terms {
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        text-align: center;
        color: #5B586F;

        a {
          color: #6959AB;
          padding: 0 3px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .page-description {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 3.4285714285714284rem;

      background: url('../../../assets/img/page-login/description-bg.png') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;


      .logo {
        width: 11.285714285714286rem;
        margin: 0 0 auto auto;
      }

      .description-img {
        max-width: 32.142857142857146rem;
        margin: 3.5714285714285716rem auto 1.4285714285714286rem;
      }

      p {
        font-weight: 600;
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 3.5714285714285716rem;
      }

      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 0 0 0;

        a {
          margin: 0 2rem 0 0;
          display: flex;
          align-items: center;

          &:last-child {
            margin: 0;
          }

          svg {
            fill: #fff;
            transition: .2s ease-in-out;
          }

          &:hover {
            svg {
              fill: #FF5256;
            }
          }
        }
      }
    }
  }

  &.login-page {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.142857142857143rem;

      a {
        font-weight: 600;
        font-size: 1rem;
        color: #C9CBD4;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;

      .ant-checkbox {
        width: 1.2857142857142858rem;
        height: 1.2857142857142858rem;

        & + span {
          padding: 0 0 0 10px;
          font-weight: 600;
          font-size: 0.8571428571428571rem;
          color: #5B586F;
          margin-bottom: 2px;
        }
      }
    }

    .terms {
      font-size: 0.8571428571428571rem;
      line-height: 1.0714285714285714rem;
      text-align: center;
      color: #5B586F;

      a {
        color: #6959AB;
        padding: 0 3px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .sign-up {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.2142857142857142rem;
      text-align: center;
      color: #5B586F;
      margin: auto 0 0 0;

      a {
        color: #6959AB;
        padding: 0 3px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


  &.agency-registration {
    .container {
      form {
        .sds-btn.submit {
          background: #6D6DF6;

          &:hover {
            background: #5f5fd7;
          }

          &:disabled {
            background: #C9CBD4;
          }
        }
      }

      .page-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 3.4285714285714284rem;

        background: url('../../../assets/img/page-login/agency-description-bg.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }
  }
}

