.zth-jobs {
  min-height: 150px;

  .pagination {
    display: flex;
    margin-bottom: 20px;

    .form-group {
      width: 250px;

      &:first-child {
        margin: 0 20px 0 0;
      }

      input, .custom-select {
        width: 100%;
        margin: 0;
      }
    }
  }
}
