.admin-panel section.zth-jobs {
  min-height: 150px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 0;

  .filters {
    display: flex;
    margin-bottom: 20px;

    input {
      width: 250px;
      margin: 0 20px 0 0;
    }

    .custom-select {
      width: 250px;

    }
  }

  .custom-table {
    max-width: 100%;
    border: 1px solid #c9cbd4;
    margin: 20px 0 10px 0;
    min-height: 120px;

    .table-head {
      background: #f0f0f0;

      .th {
        padding: 0;
        border-right: 1px solid #c9cbd4;
        justify-content: center;

        &:last-child {
          border: 0;
        }
      }

      .title {
        justify-content: center;
      }
    }

    .table-body {
      .table-body__row {
        .table-body__field {
          padding: 5px;
          border-right: 1px solid #c9cbd4;
          justify-content: center;

          .google-url {
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #6D6DF6;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          button {
            color: #6D6DF6;

            &:hover {
              text-decoration: underline;
            }
          }

          &:last-child {
            border: 0;
            justify-content: center;


          }
        }
      }
    }
  }

  .custom-select {
    width: max-content;
  }

}
