.admin-panel {
  .tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow-x: auto;

    button {
      width: 20vw;
      height: 4.28571429rem;
      position: relative;

      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.14285714rem;
      color: #343C5A;
      font-weight: 500;
      text-transform: uppercase;

      &:first-child {
        border-radius: 8px 0 0 0;
      }

      &:last-child {
        border-radius: 0 8px 0 0;
      }

      &.active {
        &::before {
          content: '';
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background: #6D6DF6;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    padding: 2em 4em;
    margin-bottom: 10px;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    &:nth-child(2) {
      border-radius: 0 0 8px 8px;
    }

    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      padding: 10px 5px !important;
    }

    .ant-table-title {
      font-weight: bolder;
      font-size: 1.4285714285714286rem;
    }

    .ant-table-wrapper {
      max-width: 100%;
      margin: 20px 0 0 0;
    }

    .btn {
      padding: 0 20px;
    }
  }

  .fields {
    display: flex;

    .form-group:last-child {
      margin: 0;
    }
  }

  .or {
    font-size: 1.4285714285714286rem;
    margin: 0 20px 0 0;
  }

  .form-group {
    display: flex;
    margin: 0 50px 0 0;
    width: max-content;

    input, .pw-date-picker {
      width: 20%;
      min-width: 250px;
      height: 32px;
      margin: 0 20px 0 0;
    }

    .DatePicker {
      margin: 0 20px 0 0;

      .ant-calendar-picker-input {
        display: flex;
        align-items: center;

        input {
          width: auto;
          min-width: 0;
        }
      }
    }

    .btn {
      height: 32px;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .ant-select {
    width: 150px;
  }

  .optimization-jobs-section {
    .product {
      display: flex;
      align-items: center;

      img {
        width: 3.5714285714285716rem;
        height: 3.5714285714285716rem;
        margin: 0 10px 0 0;
      }

      span {
        display: block;
        width: 200px;
      }
    }

    .hide-button {
      .ant-table-row-expand-icon-cell {
        .ant-table-row-expand-icon {
          display: none;
        }
      }
    }


    .actions {
      display: flex;
      flex-direction: column;

      .btn {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }

  .action-field {
    .previous {
      margin: 0 5px 0 0;
    }

    .current {
      font-weight: 500;
      margin: 0 0 0 5px;
    }
  }
}