.custom-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  height: 100%;

  .table-overflow {
    overflow: auto;
    display: flex;
    flex-direction: column;

    .table-head {
      min-width: fit-content;
      max-width: 100%;
      height: fit-content;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #c9cbd4;
      z-index: 1;

      & > div {
        font-size: 1rem; // 14px
        display: flex;
        align-items: center;
        padding: 0.5714286em;
        color: #343c5a;

        &:first-child {
          min-width: 1.4285714em;
          text-align: center;
        }

        .title {
          width: 100%;
          min-height: 24px;
          display: flex;
          align-items: center;
          font-weight: 500;

          &.right {
            flex-direction: row-reverse;

            .sorter-buttons {
              margin: 0 10px 0 0;
            }
          }


          .title-info {
            display: flex;
            align-items: center;
          }

          .sorter-buttons {
            height: 20px;
            display: flex;
            align-items: center;
            margin: 0 0 0 10px;

            svg {
              opacity: 0;

              use {
                stroke: #C9CBD4;
              }
            }

            &.is-sorter {
              svg {
                opacity: 1;

                use {
                  stroke: #6D6DF6;
                }
              }

              &.asc {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }

          @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
            align-items: center;
            line-height: 0;
          }
        }

        &.sorter-column {
          cursor: pointer;

          &:hover {
            svg {
              opacity: 1;
            }
          }
        }
      }

      // .input-search {
      //   width: 100%;

      //   .switch-block {
      //     margin: 0.7142857em 0;
      //     display: flex;
      //     justify-content: space-between;

      //     .ant-switch {
      //       margin: 0 0 0 0.7142857em;
      //     }
      //   }

      //   input {
      //     height: 32px;
      //     border: 0;
      //     border-radius: 8px;
      //   }

      //   i {
      //     color: #343c5a;
      //     font-weight: bold;
      //     font-size: 16px;
      //   }
      // }
    }

    .table-body {
      min-width: fit-content;
      max-width: 100%;
      flex: 1;

      .table-body__row {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #c9cbd4;

        .table-body__field {
          &.right {
            display: flex;
            flex-direction: row-reverse;
          }

          .title-info {
            .custom-tooltip.information-tooltip {
              width: 0.8571429em;
              margin: 0;
            }
          }
        }

        &:last-child {
          border: 0;
        }

        & > div {
          font-size: 1rem; // 14px
          padding: 1.0714286em 0.5714286em;
          display: flex;
          align-items: center;

          &:last-child {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .spin-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ant-spin-spinning {
          font-size: 1rem; // 14px
        }
      }


      .anticon {
        color: #656a84;
        opacity: 0.5;
      }
    }
  }

  .table-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .desk {
      display: block;
    }

    .mob {
      display: none;
    }

    .ant-select {
      margin: 1.4285714em 2em 1.4285714em 0;
      border-bottom: 1px solid #000000;
      padding: 0 0 3px 0;

      .ant-select-selection--single {
        width: 70px;
        border: 0;
        border-radius: 0 !important;
      }
    }

    @media (max-width: 1400px) {
      .desk {
        display: none;
      }

      .mob {
        display: block;
      }
    }
  }

  .ant-pagination {
    font-size: 1rem; // 14px
    margin: 1.4285714em 2em;
  }
}



