.custom-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  height: 100%;

  .table-overflow {
    overflow: auto;

    .table-head {
      min-width: fit-content;
      max-width: 100%;
      height: fit-content;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #c9cbd4;
      z-index: 1;

      & > div {
        font-size: 1rem; // 14px
        display: flex;
        align-items: center;
        padding: 0.5714286em;
        font-weight: 500;
        color: #343c5a;

        &:first-child {
          min-width: 1.4285714em;
          text-align: center;
        }
      }

      // .input-search {
      //   width: 100%;

      //   .switch-block {
      //     margin: 0.7142857em 0;
      //     display: flex;
      //     justify-content: space-between;

      //     .ant-switch {
      //       margin: 0 0 0 0.7142857em;
      //     }
      //   }

      //   input {
      //     height: 32px;
      //     border: 0;
      //     border-radius: 8px;
      //   }

      //   i {
      //     color: #343c5a;
      //     font-weight: bold;
      //     font-size: 16px;
      //   }
      // }
    }

    .table-body {
      min-width: fit-content;
      max-width: 100%;
      flex: 1;

      .table-body__row {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #c9cbd4;

        .table-body__field {
          .title-info {
            .custom-tooltip.information-tooltip {
              width: 0.8571429em;
              margin: 0;
            }
          }
        }

        &:last-child {
          border: 0;
        }

        & > div {
          font-size: 1rem; // 14px
          padding: 1.0714286em 0.5714286em;
          display: flex;
          align-items: center;

          &:first-child {
            font-size: 1rem; // 14px
            min-width: 1.4285714em;
            color: #343c5a;
            font-weight: 500;
          }

          &:last-child {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .ant-spin-spinning {
        font-size: 1rem; // 14px
        width: 100%;
        margin: 3.5714286em auto;
      }

      .anticon {
        color: #656a84;
        opacity: 0.5;
      }
    }
  }

  .table-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .ant-select {
      .ant-select-selection--single {
        width: 70px;
        border: 0;
        box-shadow: 0px 16px 16px rgba(44, 48, 58, 0.08), 0px 6px 40px rgba(44, 48, 58, 0.09), 0px 0px 16px rgba(44, 48, 58, 0.09);

      }
    }
  }

  .ant-pagination {
    font-size: 1rem; // 14px
    margin: 1.4285714em 0.7142857em;
  }
}
