.custom-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  height: 100%;

  .table-overflow {
    overflow: auto;
    display: flex;
    flex-direction: column;

    .table-head {
      min-width: fit-content;
      max-width: 100%;
      height: fit-content;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #c9cbd4;
      z-index: 1;

      & > div {
        font-size: 1rem; // 14px
        display: flex;
        align-items: center;
        padding: 0.5714286em;
        color: #343c5a;

        &:first-child {
          min-width: 1.4285714em;
          text-align: center;
        }

        .title {
          min-height: 24px;
          display: flex;


          .title-info {
            display: flex;
            align-items: center;
          }

          .sorter-buttons {
            flex-direction: column;
            justify-content: center;
            margin: 0 0 0 5px;
            display: none;

            i {
              font-size: 12px;
              cursor: pointer;
              color: #bfbfbf;
            }

            &.is-sorter {
              display: flex;
            }
          }

          @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
            align-items: center;
            line-height: 0;
          }
        }

        &.sorter-column {
          cursor: pointer;

          &:hover {
            background: #fafafa;

            .title {
              .sorter-buttons {
                display: flex;
              }
            }
          }
        }

        &.filter-column {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding-right: 30px;

          .filter-popover {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            padding: 0 5px;
            color: #9b9b9b;

            &:hover {
              color: #000c17;
            }
          }

          .ant-popover-inner-content {
            padding: 0;
          }

          .ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
            right: 13px;
          }
        }
      }

      // .input-search {
      //   width: 100%;

      //   .switch-block {
      //     margin: 0.7142857em 0;
      //     display: flex;
      //     justify-content: space-between;

      //     .ant-switch {
      //       margin: 0 0 0 0.7142857em;
      //     }
      //   }

      //   input {
      //     height: 32px;
      //     border: 0;
      //     border-radius: 8px;
      //   }

      //   i {
      //     color: #343c5a;
      //     font-weight: bold;
      //     font-size: 16px;
      //   }
      // }
    }

    .table-body {
      min-width: fit-content;
      max-width: 100%;
      flex: 1;

      .table-body__row {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #c9cbd4;

        .table-body__field {
          .title-info {
            .custom-tooltip.information-tooltip {
              width: 0.8571429em;
              margin: 0;
            }
          }
        }

        &:last-child {
          border: 0;
        }

        & > div {
          font-size: 1rem; // 14px
          padding: 1.0714286em 0.5714286em;
          display: flex;
          align-items: center;

          &:first-child {
            font-size: 1rem; // 14px
            min-width: 1.4285714em;
            color: #343c5a;
            font-weight: 500;
          }

          &:last-child {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .spin-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ant-spin-spinning {
          font-size: 1rem; // 14px
        }
      }


      .anticon {
        color: #656a84;
        opacity: 0.5;
      }
    }
  }

  .table-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .ant-select {
      margin: 1.4285714em 2em 1.4285714em 0;
      border-bottom: 1px solid #000000;
      padding: 0 0 3px 0;

      .ant-select-selection--single {
        width: 70px;
        border: 0;
        border-radius: 0 !important;
      }
    }
  }

  .ant-pagination {
    font-size: 1rem; // 14px
    margin: 1.4285714em 2em;
  }
}



