@import "../../../style/variables.less";

.main-pages > .main-container > .user-cabinet {
  font-size: 0.714286rem; // 10px
  padding: 1.2em 1.6em;

  .automate-box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 0 0 0.8em 0.8em;
    padding: 2.5em;
    background-color: @white;

    .reactivate {
      width: 100%;
      height: 4.8em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.8em;
      padding: 0 1.6em 0 2em;
      background-color: rgba(189, 189, 189, 0.2);
      margin: 0 0 20px 0;

      .reactivate-title {
        font-size: 1.1429rem; // 16px
        color: @third-default-dark;
        margin: 0;
      }

      .reactivate-text {
        font-size: 1.0714285714285714rem; // 15px
        color: @third-default-dark;
        margin: 0;

        .reactivate-data {
          font-weight: 600;
        }
      }

      .reactivate-btn {
        font-size: 1.1428571428571428rem; // 16px
        width: 16.6667em;
        height: 2em;
        position: relative;
        border-radius: 0.6667em;
        color: @white;
        background-color: #7DD4A1;

        .reactivate-img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 1em;
        }
      }
    }

    .automate {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .ppc {
        width: 20%;
        min-width: 150px;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .ppc-title-wrap {
          display: flex;
          align-items: center;

          .ppc-icon {
            width: 3.2em;
            height: 3.2em;
            margin-right: 1.2em;
          }

          .ppc-title {
            font-size: 1.7143rem; // 24px
            color: @second-account-color;
            margin: 0;
          }
        }

        .ppc-text {
          font-size: 1.0714285714285714rem; // 14px
          color: @third-account-color;
          margin: 15px 0;
        }

        .ppc-link-wrap {
          font-size: 1rem; // 14px
          color: @second-account-color;
        }

        .ppc-link {
          font-size: 1rem; // 14px
          color: #6d6df6;
        }
      }

      .plan {
        width: 52%;
        margin: 0 2em;

        .charged {
          width: 100%;
          min-height: 9.6em;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          padding: 1em 2em 1.4em;
          border-radius: 0.8em;
          background-color: #f3f7fd;
          margin-bottom: 1em;

          .charged-title {
            font-size: 1.1429rem; // 16px
            position: relative;
            min-width: 25%;
            width: max-content;
            height: 100%;
            display: flex;
            align-items: center;
            color: @second-account-color;
            font-weight: 600;
            margin: 0;
            padding-right: 2%;

            &::after {
              width: 0.0625em;
              height: 3em;
              display: inline-block;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              content: "";
              background-color: @border-solid;
            }
          }

          .charged-description {
            width: 20%;
            min-width: 130px;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;

            .charged-text {
              font-size: 1rem; // 14px
              color: @third-account-color;
              margin: 0 auto;
            }

            .charged-data {
              font-size: 1.7143rem; // 24px
              color: @account-color-action;
              font-weight: 600;
            }

            @media (max-width: 1400px) {
              & {
                width: auto;
                align-items: center;
                margin: 0 auto;

                .charged-data {
                  margin: 0;
                }
              }
            }
          }

          .indicators-text {
            width: 45%;
            font-size: 1rem; // 14px
            color: @third-account-color;
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin: 0;
            flex-wrap: wrap;

            @media (max-width: 1400px) {
              & {
                width: 100%;
                justify-content: center;
                border-top: 1px solid #c3c5ce;
              }
            }

            .indicators-data {
              font-size: 1.7143rem; // 24px
              align-self: flex-end;
              color: @third-default-dark;
              white-space: nowrap;
              margin-left: .5em;

              sub {
                font-size: 1rem; // 14px
                width: fit-content;
                left: 0.25em;
                color: @account-color-action;
                white-space: nowrap;
              }
            }
          }

          .load-data {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex: 1;
            font-size: 1.5rem;
            text-align: center;

            .load-text {
              text-align: left;
              padding: 0 10px;
            }
          }
        }

        .plan-text {
          font-size: 1.0714285714285714rem; // 15px
          width: fit-content;
          color: @second-account-color;
          font-weight: 600;
          margin: 0;
          margin-left: auto;

          .plan-data {
            font-size: 1.1429rem; // 16px
            color: @account-color-action;
            font-weight: 600;
          }
        }

        .row {
          display: flex;
          align-items: center;
          margin: 0 0 15px 0;

          .cancel-text {
            font-size: 1rem;
            color: #38454F;
            margin: 0;

            .cancel-data {
              color: @second-account-color;
              white-space: nowrap;
              font-weight: 600;
            }
          }

          .cancel-btn {
            font-size: 1rem;
            margin: 0 0 0 20px;

            font-weight: 500;
            text-decoration-line: underline;
            color: #656A84;
          }
        }
      }

      .coupon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 20px 0;

        h4 {
          font-weight: 600;
          font-size: 1rem;
          color: #38454F;
          margin: 0 0 20px 0;
        }

        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .input-block {
            width: 45%;
            position: relative;

            input {
              width: 100%;
              height: 2.2857142857142856rem;
              background: #F3F7FD;
              border: 1px solid rgba(148, 163, 173, 0.4);
              box-sizing: border-box;
              border-radius: 8px;
              padding: 0 0 0 40px;

              font-size: 1rem;
              color: rgba(101, 106, 132, 0.6);

              &:focus {
                outline: none;
              }
            }

            img {
              position: absolute;
              left: 15px;
              top: 0;
              bottom: 0;
              margin: auto 0;
            }

          }

          .btn {
            width: 45%;
            height: 2.2857142857142856rem;
            text-transform: capitalize;
          }
        }

        .applied-coupon {
          width: 100%;
          margin: 10px 0 0 0;

          h4 {
            left: 0;
            color: #82BB79;
            font-size: 1rem;
            margin: 0 0 10px 0;
          }

          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
              left: 0;
              color: #82BB79;
              font-weight: 600;
              font-size: 1rem;
            }

            .discount {
              width: 50%;
              min-width: max-content;
              font-size: 18px;
              color: #6D6DF6;
              text-align: left;
              margin: 0 0 0 10px;
            }
          }
        }

      }


      .cancel {
        width: 20%;
        display: flex;
        flex-flow: column;

        .plan-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: auto 0 0 0;
          font-size: 1rem;
          letter-spacing: 0.2px;
          color: #656A84;

          .plan-data {
            width: 50%;
            min-width: max-content;
            font-size: 1.7142857142857142rem;
            letter-spacing: 0.2px;
            color: #6D6DF6;
            font-weight: 600;
            margin: 0 0 0 10px;
            text-align: left;
          }
        }
      }

      .subscribe-btn {
        width: 220px;
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
        margin: auto 0;

        .btn {
          width: 100%;
          height: 4em;
          margin-bottom: 20px;

          .ant-spin-spinning {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  @media (max-width: 1222px) {
    & {
      .automate-box {
        .automate {
          .ppc {
            width: 40%;
          }
        }

        .automate {
          .cancel {
            width: 50%;
            margin: 0 auto;
            align-items: center;

            .coupon,
            .plan-text {
              width: 100%;
            }
          }
        }
      }

    }
  }

  @media (max-width: 990px) {
    & {
      .automate-box {
        .automate {
          .plan {

            .charged {
              flex-direction: column;

              .charged-title {
                width: 100%;
                justify-content: center;
                padding: 0;
                border-bottom: 1px solid #c3c5ce;

                &::after {
                  display: none;
                }
              }

              .charged-description {
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1222px) {
    & {
      .automate-box {
        .automate {
          .ppc {
            width: 40%;
          }
        }

        .automate {
          .cancel {
            margin: 0 auto;
            align-items: center;
          }
        }
      }

    }
  }

  @media (max-width: 700px) {
    & {
      .automate-box {
        .automate {
          flex-direction: column;
          align-items: center;

          .ppc {
            width: 100%;
            text-align: center;

            .ppc-title-wrap {
              justify-content: center;
            }
          }

          .plan {
            width: 100%;
            margin: 0;
          }

          .cancel {
            width: 100%;
            align-items: center;
          }
        }
      }
    }
  }
}
