@import "../../../style/variables.less";

.main-container .user-cabinet {
  font-size: 0.714286rem; // 10px

  .subscriptions {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 0 0 4px 4px;
    padding: 2.857142857142857rem 2.5em;
    background-color: @white;
    margin-bottom: 1.4285714285714286rem;
    box-shadow: @default-section-shadow;
    z-index: 5;
    position: relative;

    .description {
      margin-bottom: 1.2142857142857142rem;

      h2 {
        font-size: 1.4285714285714286rem;
        color: #38454F;
        margin-bottom: 1.7142857142857142rem;
      }

      p {
        font-size: 0.8571428571428571rem;
        color: #343C5A;
        margin-bottom: 0;
      }
    }

    .ant-table-wrapper {
      .ant-table-thead > tr > th {
        background: #F5F5FF;
        border-top: 1px solid #C9CBD4;
        border-bottom: 1px solid #C9CBD4;
        border-radius: 0;
      }

      .ant-table-tbody > tr > td {
        border-bottom: 1px solid #C9CBD4;
        border-radius: 0;
      }

      .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
        background: initial;
      }

      .price {
        color: #343C5A;
        font-size: 1rem;

        .prev-value {
          color: #343C5A;
          text-decoration: line-through;
        }

        .new-value {
          color: #7DD4A1;
          margin: 0 0 0 10px;
        }
      }

      a {
        font-size: 0.8571428571428571rem;
        text-decoration-line: underline;
        color: #6D6DF6;
      }

      .status-field {
        font-size: 1rem;

        .error-status {
          color: #EC7F5C;

          a {
            color: #EC7F5C;
            text-decoration: underline;
          }
        }

        .success-status {
          color: #7DD4A1;
        }
      }

      .coupon-fields {
        position: relative;
        width: 9.357142857142858rem;
        min-width: 9.357142857142858rem;

        .ant-input {
          width: 9.357142857142858rem;
          height: 2.2857142857142856rem;
          box-sizing: border-box;
        }

        .btn {
          width: 9.357142857142858rem;
          position: absolute;
          right: 0;
          top: 0;

          svg {
            width: 1rem;
            height: 1rem;
            min-width: 1rem;
            line-height: 2.2857142857142856rem;

            use {
              stroke: #fff;
            }
          }

          &.short {
            width: 2.2857142857142856rem;
            padding: 0;
            transition: width .1s;

            svg {
              margin: 0;
            }

            span {
              display: none;
            }
          }
        }

        .coupon-name {
          display: block;
          color: #6D6DF6;
          margin: 3px 0 0 0;

          b {
            font-weight: 500;
            margin: 0 0 0 5px;
          }
        }
      }
    }

    .subscription-actions {
      display: flex;
      align-items: center;
      margin-top: 1.4285714285714286rem;

      .btn {
        margin: 0 20px 0 0;
      }

      .white {
        margin-right: 2.142857142857143rem;
        background: #fff;
      }

      p {
        font-size: 0.8571428571428571rem;
        color: #656A84;
        margin: 0;
      }
    }


    .reactivate {
      width: 100%;
      min-height: 4.8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.8em;
      padding: 5px 1.6em 5px 2em;
      background-color: rgba(189, 189, 189, 0.2);
      margin: 0 0 20px 0;

      .reactivate-title {
        font-size: 1.1429rem; // 16px
        color: #343C5A;
        margin: 0;
      }

      .reactivate-text {
        font-size: 1.0714285714285714rem; // 15px
        color: @third-default-dark;
        margin: 0;
        padding: 0 10px;

        .reactivate-data {
          font-weight: 600;
        }
      }

      .reactivate-btn {
        font-size: 1.1428571428571428rem;
        width: 13em;
        height: 2em;
        position: relative;
        color: @white;

        .reactivate-img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 1em;

          display: flex;
          align-items: center;

          svg {
            width: 1.2857142857142858rem;
          }
        }
      }
    }

  }
}
