.account-page .subscriptions {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 2.142857142857143rem 0;

  h3 {
    font-weight: 600;
    font-size: 1.4285714285714286rem;
    line-height: 1.7142857142857142rem;
    color: #312C51;
    margin: 0 0 0.7142857142857143rem 1.4285714285714286rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2142857142857142rem;
    color: #46435C;
    margin: 0 0 1.4285714285714286rem 1.4285714285714286rem;

    a {
      color: #6959AB;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .table {
    width: 100%;
    border-top: 0.5px solid #C9CBD4;
    border-bottom: 0.5px solid #C9CBD4;
    margin-bottom: 1.4285714285714286rem;
    display: flex;
    position: relative;
    overflow-x: auto;

    .col {
      min-width: 12.857142857142858rem;
      flex: 1;
      border-left: 0.5px solid #C9CBD4;

      .header {
        height: 50px;
        font-weight: 600;
        font-size: 1.1428571428571428rem;
        color: #312C51;
        padding: 0 0.8571428571428571rem;
        border-bottom: 2px solid #C9CBD4;
        display: flex;
        align-items: center;

        @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
          height: 40px;
        }
      }

      .value {
        min-height: 5rem;
        padding: 1rem 0.8571428571428571rem 0;
        font-size: 1.1428571428571428rem;
        line-height: 1.4285714285714286rem;
        color: #46435C;

        a {
          color: #6959AB;
        }

        .status-field {
          div {
            text-transform: capitalize;
          }
        }

        .price {
          .prev-value {
            font-size: 1rem;
            line-height: 1.2142857142857142rem;
            text-decoration-line: line-through;
            color: #46435C;
            margin: 0 4px 0 0;
            display: inline-block;
          }

          .new-value {
            font-size: 1.1428571428571428rem;
            line-height: 1.4285714285714286rem;
            color: #7FD3A1;
          }

          a {
            font-size: 0.8571428571428571rem;
            color: #6959AB;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .coupon-fields {
          position: relative;

          input {
            height: 2.2857142857142856rem;
          }

          .btn {
            width: 100%;
            height: 2.2857142857142856rem;
            position: absolute;
            right: 0;
            top: 0;

            svg {
              stroke: #fff;
            }

            &.short {
              width: 2.4285714285714284rem;
              padding: 0;
              transition: width .1s;

              svg {
                margin: 0;
              }

              span {
                display: none;
              }
            }
          }

          .coupon-name {
            font-size: 0.8571428571428571rem;
            color: #312C51;
            margin: 2px 0 0 0;

            b {
              margin: 0 0 0 3px;
            }
          }
        }
      }

      &:first-child {
        border: 0;

        .header, .value {
          padding-left: 1.4285714285714286rem;
        }
      }
    }

    .load-data {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 11;
      background: rgba(245, 245, 255, 0.5);
    }
  }

  .subscription-actions {
    padding: 0 0 0 1.4285714285714286rem;
    display: flex;
    align-items: center;

    .btn {
      height: 3.4285714285714284rem;
      font-size: 1.1428571428571428rem;

      &.cancel {
        background: #F3F3F3;
        color: #46435C;

        &:hover {
          background: #eaeaea;
        }
      }
    }

    p {
      margin: 0 0 0 1.4285714285714286rem;
      font-size: 0.8571428571428571rem;
      color: #46435C;

      a {
        color: #6959AB;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 850px) {
    .table {
      width: auto;
      flex-direction: column;
      margin: 0 20px 20px;
      border: 1px solid #C9CBD4;
      border-radius: 4px;
      box-sizing: border-box;

      .col {
        border: 0;
        border-bottom: 0.5px solid #C9CBD4;
        padding: 14px 20px;

        .header {
          min-height: auto;
          border: 0;
          padding: 0;
          margin: 0 0 10px;
          font-size: 16px;
          line-height: 20px;
        }

        .value {
          min-height: auto;
          padding: 0;
          font-size: 16px;
          line-height: 20px;
        }

        &:first-child {
          border-bottom: 0.5px solid #C9CBD4;

          .header, .value {
            padding: 0;
          }
        }
      }
    }

    .subscription-actions {
      flex-direction: column;
      padding: 0 20px;

      .btn {
        width: 100%;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
      }
    }
  }
}

.add-payment-method-window {
  width: 95% !important;
  max-width: 640px;
  overflow: auto;


  .ant-modal-body {
    padding: 3.5714285714285716rem 4.285714285714286rem;
  }

  .container {
    width: 100%;
    flex: 1;
    max-width: 59.285714285714285rem;
    display: flex;

    &:first-child {
      margin: 0 0 2.857142857142857rem;
    }

    & > img {
      display: none;
    }
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;

    .description-row {
      img {
        display: none;
      }

      .section-description {
        display: flex;
        flex-direction: column;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 1.4285714285714286rem;
      line-height: 1.7142857142857142rem;
      color: #312C51;
      margin-bottom: 0.7142857142857143rem;
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.2142857142857142rem;
      color: #46435C;
      margin: 0;
    }

    .form-group {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 1.4285714285714286rem;
      position: relative;

      .inputs-row {
        flex: 1;
        display: flex;

        input:nth-child(2) {
          margin: 0 0 0 1.4285714285714286rem;
        }
      }

      label {
        width: 13.928571428571429rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #46435C;
      }

      .StripeElement {
        flex: 1;
        height: 2.2857142857142856rem;
        min-height: 2.2857142857142856rem;
        max-height: 2.2857142857142856rem;
        border-radius: 4px;
        border: 1px solid #C9CBD4;
        color: #46435C;
        padding: 8px 0 8px 1.07142857rem;

        @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
          padding: 5px 0 5px 1.07142857rem;
        }

        &:hover {
          border-color: #46435C;
        }

        &--focus {
          border-color: #6959AB !important;
        }
      }

      &.error-field {
        .StripeElement {
          border-color: #FF5256 !important;
        }
      }

      &.disabled {
        .StripeElement {
          background-color: #f5f5f5;
          pointer-events: none;
        }
      }

      input {
        flex: 1;
        height: 2.2857142857142856rem;
        min-height: 2.2857142857142856rem;
      }

      .custom-select {
        flex: 1;
        height: 2.2857142857142856rem;
        min-height: 2.2857142857142856rem;
      }

      .input-suffix {
        position: absolute;
        right: 1.2142857142857142rem;
        margin: auto 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          height: 1rem;
          width: initial;
        }

        &.opened {
          svg {
            height: 0.8571428571428571rem;
          }
        }
      }

      &.card-container__cvc {
        .StripeElement, input {
          max-width: 10rem;
          width: 10rem;
          min-width: 10rem;
        }
      }

      .fake-card-field {
        position: absolute;
        height: 2.2857142857142856rem;
        right: 0;
        top: 0;
        left: 13.92857143rem;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #C9CBD4;
        font-size: 1rem;
        padding-left: 1.07142857rem;
        background: #FAFAFA;
        pointer-events: none;
        color: rgba(0, 0, 0, .25);
      }
    }

    .row {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 1.42857143rem 0 0 0;

      .form-group {
        width: max-content;
        margin: 0;


      }

      .lock-description {
        display: flex;
        align-items: center;

        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #46435C;
        margin: 0 0 0 20px;

        svg {
          width: 1rem;
          min-width: 1rem;
          height: 1rem;
          margin: 0 8px 0 0;

          fill: #46435C;
        }
      }

    }

    .payment-logo {
      margin: 0.7142857142857143rem 0 0 13.92857143rem;
      display: flex;
      align-items: center;

      img {
        height: 1.4285714285714286rem;
        width: initial;
        margin: 0 10px 0 0;

        &:last-child {
          margin: 0 0 0 auto;
        }
      }
    }

    .ant-checkbox-wrapper {
      margin: 1.4285714285714286rem 0 0 13.92857143rem;
      width: max-content;
      display: flex;
      align-items: center;

      .ant-checkbox {
        width: 1.2857142857142858rem;
        min-width: 1.2857142857142858rem;
        height: 1.2857142857142858rem;
      }

      span:last-child {
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #46435C;
        padding: 0 0 0 8px;
      }
    }

    .btn {
      height: 2.2857142857142856rem;
      font-size: 0.8571428571428571rem;
      margin: 1.4285714285714286rem 0 0 13.92857143rem;
      position: relative;

      .ant-spin {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .delete-card {
      display: none;
    }
  }
}


