@import '../../style/variables.less';

.ant-modal-wrap {
  display: flex;
  margin: auto;
}

.custom-modal-window {
  max-width: 1170px;
  max-height: 90vh;
  height: max-content;

  font-family: ir;
  display: flex;
  flex-direction: column;

  margin: auto;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  .ant-modal-close {
    display: none;
  }

  .ant-modal-body {
    padding: 25px 63px 0 63px;
  }

  .ant-modal-footer {
    border: 0;
    padding-bottom: 45px;
    padding-right: 63px;

    button {
      width: 120px;
      height: 40px;
      border-radius: 8px;
      margin: 0 0 0 24px;
      border: 0;

      &:first-child {
        background: #F5F5FF;
      }

      &:last-child {
        background: #6D6DF6;
      }
    }
  }

  .ant-modal-content {
    height: 100%;
    overflow: auto;
  }


  @media (max-width: 1000px) {
    & {
      .ant-modal-body {
        padding: 20px 50px;
      }
    }
  }
  @media (max-width: 500px) {
    & {
      .ant-modal-body {
        padding: 10px 30px;
      }
    }
  }
}

.confirm-action-modal {
  max-width: 250px;
  font-family: ir;
  border-radius: 9px;
  height: max-content;

  .ant-modal-close {
    display: none;
  }

  .ant-modal-title {
    font-size: 16px;
    letter-spacing: -0.08px;
    color: #17175A;
  }

  .ant-modal-body {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.08px;
    color: #17175A;
    opacity: 0.5;
  }

  .ant-modal-content {
    overflow: auto;
    padding: 16px 10px;
  }

  .ant-modal-content,
  .ant-modal-header {
    text-align: center;
    border-radius: 9px;
  }

  .ant-modal-header,
  .ant-modal-footer {
    border: 0;
    padding: 0;
  }

  .ant-modal-footer {
    & > div {
      width: 100%;
      display: flex;
      justify-content: space-around;

      button.ant-btn {
        width: 88px;
        height: 32px;
        background-color: #6D6DF6 !important;
        border-radius: 8px;
        font-size: 14px;
        text-align: center;
        letter-spacing: -0.08px;
        color: #fff;
        border: 0;

        &:hover {
          background-color: #2600c1 !important;
          color: #fff;
        }
      }
    }
  }
}

.payment-notification-window {

}


.reports-changes-window {
  max-width: 20vw;
  text-align: center;

  .ant-modal-body {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0 0 20px 0;
    }

    b {
      color: @success-color;
    }
  }

  .ant-modal-footer {
    padding: 0;

    div {
      display: flex;
      justify-content: center;
      margin: 0 0 20px 0;

      button {
        margin: 0;

        &:first-child {
          display: none;
        }
      }
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      max-width: 30vw;
    }
  }

}


//----------------------------------------------
.payment-modal-wrap {
  width: max-content;
  //padding: 0 0 0 200px;
}

.payment-notification-window {
  padding-left: 200px;
  max-width: 40vw;
  width: 100% !important;

  .ant-result-title {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 1.7rem;
  }

  .ant-result-subtitle {
    font-size: 1.2rem;
  }

  .buttons-block {
    width: 100%;
    padding: 0 0 50px 0;
    display: flex;
    justify-content: space-between;

    .btn {
      font-size: 1rem;
      width: 40%;
      height: 2.858em;
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      padding-left: 150px;
      max-width: 50vw;
    }
  }
}
