.ant-modal-wrap {
  display: flex;
}

.custom-modal-window {
  width: 100% !important;
  max-width: 1170px;
  max-height: 90vh;
  height: max-content;

  font-family: ir;
  display: flex;
  flex-direction: column;

  margin: auto;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  .ant-modal-close {
    display: none;
  }

  .ant-modal-body {
    padding: 25px 63px 0 63px;
  }

  .ant-modal-footer {
    border: 0;
    padding-bottom: 45px;
    padding-right: 63px;

    button {
      width: 120px;
      height: 40px;
      border-radius: 8px;
      margin: 0 0 0 24px;
      border: 0;

      &:first-child {
        background: #F5F5FF;
      }

      &:last-child {
        background: #6D6DF6;
      }
    }
  }

  .ant-modal-content {
    height: 100%;
    overflow: auto;
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  }

  @media (max-width: 1000px) {
    & {
      .ant-modal-body {
        padding: 20px 50px;
      }
    }
  }
  @media (max-width: 500px) {
    & {
      .ant-modal-body {
        padding: 10px 30px;
      }
    }
  }
}

.confirm-action-modal {
  max-width: 250px;
  font-family: ir;
  border-radius: 9px;

  .ant-modal-close {
    display: none;
  }

  .ant-modal-title {
    font-size: 16px;
    letter-spacing: -0.08px;
    color: #17175A;
  }

  .ant-modal-body {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.08px;
    color: #17175A;
    opacity: 0.5;
  }

  .ant-modal-content {
    overflow: auto;
    padding: 16px 10px;
  }

  .ant-modal-content,
  .ant-modal-header {
    text-align: center;
    border-radius: 9px;
  }

  .ant-modal-header,
  .ant-modal-footer {
    border: 0;
    padding: 0;
  }

  .ant-modal-footer {
    & > div {
      width: 100%;
      display: flex;
      justify-content: space-around;

      button.ant-btn {
        width: 88px;
        height: 32px;
        background-color: #6D6DF6 !important;
        border-radius: 8px;
        font-size: 14px;
        text-align: center;
        letter-spacing: -0.08px;
        color: #fff;
        border: 0;

        &:hover {
          background-color: #2600c1 !important;
          color: #fff;
        }
      }
    }
  }
}
