.manage-price-slider {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 65px 120px;
  font-family: Eina;

  h3 {
    font-size: 48px;
    line-height: 58px;
    color: #17175A;
    margin-bottom: 74px;
  }

  .description {
    font-size: 21px;
    color: #17175A;
    text-align: left;
    margin-bottom: 60px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .col {
    min-width: 450px;
    width: 450px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .price {
    width: max-content;
    font-size: 40px;
    line-height: 50px;
    color: #6D6DF6;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;

    span.dollar {
      font-size: 0.6em;
      margin: 0 5px 10px 0;
    }

    label {
      font-size: 16px;
      line-height: 20px;

      &:first-child {
        margin: 0 10px 7px 0;
      }

      &:last-child {
        margin: 0 0 5px 10px;
      }
    }
  }

  .btn {
    height: 56px;
    font-size: 21px;
    font-weight: 500;
  }

  .includes {
    h4 {
      font-size: 2.2857142857142856em;
      color: #6D6DF6;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;

      li {
        font-size: 1.1428571428571428em;
        line-height: 1.1875em;
        color: #17175A;
        margin-bottom: 20px;
        display: flex;

        svg {
          min-width: 20px;
          margin: 0 20px 0 0;
          fill: none;
        }
      }
    }

    .btn {
      font-size: 21px;
      text-transform: uppercase;
      color: #6D6DF6;
      font-weight: 500;
      height: 56px;
      border: 2px solid #6D6DF6;
      background: #fff;
      margin: 48px 0 0 auto;

      &:hover {
        background: rgba(109, 109, 246, 0.1);
        color: #6D6DF6;
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 65px 95px;

    .col {
      width: 420px;
      margin-right: 65px;
    }

    .includes {
      position: relative;
      padding-bottom: 104px;

      ul {
        grid-template-columns: 1fr;
      }

      .btn {
        margin-right: auto;
        margin-left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  @media (max-width: 900px) {
    padding: 60px;


    .row {
      flex-direction: column;
    }

    .col {
      width: 100%;
      margin: 0 0 60px 0;
    }

    .includes {
      width: 100%;
      padding: 0;

      .btn {
        position: initial;
        margin: 30px auto 0 auto;
      }
    }
  }

  @media (max-width: 600px) {
    padding: 45px 40px;

    h3 {
      font-size: 24px;
              line-height: 31px;
      margin-bottom: 48px;
    }

    .description {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .col {
      width: 100%;
      min-width: auto;
      margin-bottom: 40px;
    }

    .price {
      font-size: 30px;
      line-height: 35px;
      flex-wrap: wrap;

      label:first-child {
        width: 100%;
        font-size: 16px;
        margin-bottom: 0;

        br {
          display: none;
        }
      }

      label:last-child {
        font-size: 16px;
      }
    }

    .includes {
      h4 {
        font-size: 24px;
      }

      ul {
        li {
          font-size: 16px;
        }
      }

      .btn {
        height: 40px;
        width: 100%;
        font-size: 14px;
        padding: 5px 10px;
        text-align: center;
      }
    }
  }
}
