.custom-tooltip {
  margin-left: 10px;
  display: inline-block;

  span {
    display: flex;
    cursor: pointer;
  }

  .info-icon {
    svg {
      min-width: 12px;
      width: 12px;
      height: 12px;

      use {
        fill: #C9CBD4;
      }
    }

    &:hover {
      svg {
        use {
          fill: #6959AB;
        }
      }
    }
  }

  .warning-icon {
    svg {
      width: 1.1428571428571428rem;
      height: 1.1428571428571428rem;
    }

  }
}

.ant-popover {
  z-index: 10000;

  * {
    font-family: Montserrat;
  }
}

.ant-popover-title {
  padding-left: 8px;
}

.ant-popover-inner-content {
  max-width: 300px;
  padding: 10px 8px;
  color: rgb(35, 47, 63);
  font-size: 1rem;
}