@import "../../../../style/mixins.less";
@import "../../../../style/variables.less";

.ProductList {
    //margin: @margin 0 0 @margin;
    display: flex;
    flex-direction: column;

    .product-list-wrapper {

    }

    .list-pagination {
        margin-top: @margin * 2;
    }

    .product-list {
        max-height: 750px;
        overflow-y: auto;
    }

    .SelectProduct {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: @margin 0;

        button {
            min-width: 162px;
            color: #fff;
            border-radius: 8px;
            background: @action-color;
            border: 0;
        }


        &.selected-all {
            button {
                background: @action-color-dark;

            }
        }

        .selected-products {
            display: flex;
            align-items: center;

            .product {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 20px;
                border-radius: 8px;
                color: #fff;
                background: @action-color;
                margin-left: 5px;
            }
        }
    }
}
