.amazon-connect .success-section {
  align-items: center;
  img {
    width: 34.142857142857146rem;
    margin-bottom: 1.7857142857142858rem;
  }

  h3 {
    font-size: 1.7142857142857142rem;
    line-height: 2.0714285714285716rem;
    text-align: center;
    color: #343C5A;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 1.7857142857142858rem 0 0 0;

    .btn:last-child {
      margin: 0;
    }
  }
}