.jungle-scout-report-page .account-list {
  width: 395px;
  min-width: 395px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.2s ease-in;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  z-index: 10;
  background: #fff;

}