@import "../../../../style/variables.less";

.analytics-page .main-chart {
  position: relative;
  background: #fff;
  box-shadow: @default-section-shadow;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  //transition: .2s;
  overflow: hidden;

  &.visible {
    min-height: 320px;
    margin-bottom: 10px !important;
  }

  &.hidden {
    min-height: 0;
    height: 0;
    margin-bottom: 0 !important;
  }

  .yAxis {
    tspan {
      font-size: 12px;
    }
  }

  .chart-settings {
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-left: 0.5px solid #C9CBD4;

    & > button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 20px 0;

      text-transform: uppercase;
      font-size: 10px;
      color: #656A84;


      svg {
        fill: #656A84;
        stroke: #656A84;
        width: 1.4285714285714286rem;
        height: 1.4285714285714286rem;
      }

      &:hover {
        color: #6D6DF6;

        svg {
          fill: #6D6DF6;
          stroke: #6D6DF6;
        }
      }
    }

    .overlay-options-popover {
      .ant-popover-inner-content {
        padding: 10px 18px;
      }

      .switches {
        display: flex;
        flex-direction: column;

        .switch-block {
          display: flex;
          align-items: center;
          margin: 0 0 10px 0;

          &:last-child {
            margin: 0;
          }

          button {
            margin: 0 15px 0 0;
          }

          span {
            font-size: 1rem;
            color: #38454F;
          }
        }
      }
    }

    .overlay-legend-popover {
      .chart-legend {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        & > div {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: #38454F;

          svg {
            margin: 0 15px 0 0;
          }
        }
      }
    }
  }

  .main-chart-container {
    width: calc(100% - 60px);
    height: 100%;
    min-height: 320px;
    padding: 0 10px;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 10;

    .btn {
      height: 2.2857142857142856rem;
      text-transform: uppercase;
      font-size: 1.1428571428571428rem;
      font-weight: 500;
    }
  }
}
