@import "./style/variables.less";
@import "./style/fonts";


@default-purple: #6959AB;


html {
  box-sizing: border-box;
  font-size: 14px;
  color: #46435C;

  * {
    font-family: Montserrat;
  }

  body {
    color: #46435C;

  }
}

#root {
  font-size: 1rem;
  height: 100%;
}

body {
  &.hide-mc-modal {
    .mc-banner,
    .mc-modal,
    .mc-modal-bg {
      display: none !important;
    }
  }
}


//-------------------------------------
/*Retina CSS */
//-------------------------------------
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
  html {
    font-size: 10.5px;
  }
}

//-------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.ant-btn-primary {
  background-color: #6959AB !important;

  &:hover {
    background-color: #24293F !important;
  }
}

/*
*  MEDIA
*/
#root > .main-pages {
  @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 800px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 800px), only screen and (max-device-pixel-ratio: 1) and (max-width: 800px) {
    flex-flow: column;
    position: relative;
    overflow-y: hidden;
  }

  @media (max-width: 799px) {
    position: relative;
    min-height: 100vh;
    height: max-content;
    max-height: max-content;
    // flex-flow: column;
    // overflow-y: hidden;
  }

  @media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 800px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 800px), only screen and (min-device-pixel-ratio: 2) and (max-width: 800px) {
    flex-flow: column;
    overflow-y: hidden;
  }

  .sidebar {
    @media only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 800px), only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 800px), only screen and (max-device-pixel-ratio: 1) and (max-width: 800px) {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

/*
*  MEDIA
*/

.main-pages {
  min-height: -webkit-fill-available;
  height: 100vh;
  max-height: 100%;
  display: flex;
  background: #F3F3F3;
  font-family: Montserrat;


  .product-list-container {
    display: flex;
    flex: 1;
  }

  .main-container {
    flex: 1;
    position: relative;
    height: 100vh;
    background: #F3F3F3;

    display: grid;
    grid-template-areas: 'errorsBar errorsBar errorsBar' 'productList switchProductList mainPage';
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: max-content 1fr;

    z-index: 10;

    .page {
      max-height: 100%;
      overflow: auto;
      grid-area: mainPage;
      position: relative;

      & > div {
        padding: 10px;
      }
    }

    .errors-bar {
      grid-area: errorsBar;
    }

    .product-list {
      grid-area: productList;
    }

    .switch-list {
      grid-area: switchProductList;
    }

    @media (max-width: 850px) {
      min-height: 100vh;
      height: max-content;

      display: flex;
      flex-direction: column;
      padding: 90px 10px 10px;

      .page {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > div {
          padding: 0;
        }
      }
    }
  }

  @media (max-width: 850px) {
    flex-direction: column;
  }
  @media (max-width: 500px) {
    overflow-y: auto;
    height: max-content;
    flex-direction: column;
  }
}


.attribution-window-block {
  margin: 0 20px 0 auto;
  padding: 0 20px 0 0;
  border-right: 0.5px solid #C9CBD4;
  position: relative;

  .label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    font-size: 0.8571428571428571rem;
    color: #686868;

    .custom-tooltip {
      margin: 0 5px 2px 0;
      z-index: 1;
    }
  }

  .form-group {
    display: flex;
    align-items: center;

    .custom-select {
      width: 17.8rem;
      height: 2.2857142857142856rem;

      .ant-select-selection {
        padding: 0 0 0 10.5rem;
        background: transparent;

        .ant-select-selection-selected-value {
          font-weight: 600;
          font-size: 0.8571428571428571rem;
        }
      }
    }
  }
}


.disable-page {
  overflow: hidden;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 12, 23, 0.6);
    z-index: 1000;
  }
}

.ant-pagination {
  font-size: 1rem; // 14px
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 1.4285714em;
  margin: 1.1428571em 0 0 0;

  li {
    min-width: 2.2857142857142856rem;
    height: 2.2857142857142856rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.ant-pagination-next,
    &.ant-pagination-prev {
      background-color: inherit;

      a {
        background-color: inherit;

      }

      .ant-pagination-item-link {
        width: 100%;
      }
    }
  }

  li {
    min-width: 1.7857142857142858rem;
    height: 1.7857142857142858rem;
    border: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0.8;
    background: none;
    border-radius: 4px;
    margin: 0;
    padding: 0 3px;

    &:last-child {
      margin: 0;
    }

    a {
      color: #363694;

      i {
        color: #363694 !important;
      }
    }

    &:hover {
      //background: rgba(109, 109, 246, 0.3);
      a {
        color: #5252ff;
        background: none !important;

        i {
          color: #5252ff !important;
        }
      }
    }

    &[title] > a {
      border: inherit !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      padding: 0;
      height: 100%;
      font-size: 1rem;
    }

    &.ant-pagination-jump-prev,
    &.ant-pagination-jump-next {
      box-shadow: none;
      border: 0;
      background: none;

      a {
        width: 100%;

        div {
          width: 100%;
        }
      }
    }

    &.ant-pagination-item-active {
      box-shadow: none;
      background: #6D6DF6;
      opacity: 1;

      a {
        color: #fff;
      }
    }
  }

  .ant-pagination-prev:hover,
  .ant-pagination-next:hover {
    a {
      background: rgba(109, 109, 246, 0.3);
    }
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: 0;
    border-radius: 0.5714286em;

    i {
      color: #6d6df6;
      opacity: 1;
    }
  }

  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
    color: #6d6df6;
  }

  .ant-pagination-jump-next,
  .ant-pagination-jump-prev {
    padding: 0 !important;
    width: 20px;

    a {
      width: 100%;
    }
  }

  .ant-pagination-disabled {
    display: none;
  }
}

//progress bar
#nprogress {
  z-index: 100000;

  .bar {
    background: @action-color !important;
  }

  .spinner-icon {
    border-top-color: @action-color !important;
    border-left-color: @action-color !important;
  }
}

//check box
.ant-checkbox {
  position: relative;

  &:not(.ant-checkbox-disabled):hover {
    &::before {
      content: '';
      width: 200%;
      height: 200%;
      left: -50%;
      top: -50%;
      border-radius: 50%;
      position: absolute;
      background: rgba(105, 89, 171, 0.05);
    }
  }

  .ant-checkbox-inner {
    border-color: @default-purple !important;
    background-color: inherit;
  }


  &.ant-checkbox-disabled {
    opacity: 1 !important;

    .ant-checkbox-inner {
      border: 1px solid #C9CBD4 !important;
      background-color: inherit;
    }
  }

  &.ant-checkbox-indeterminate {
    .ant-checkbox-inner {
      background: @default-purple;

      &::after {
        width: 63%;
        height: 2px;
        border-radius: 5px;
        background: #fff;
        top: 50%;
      }
    }
  }
}


.ant-checkbox-checked .ant-checkbox-inner {
  background-color: @default-purple !important;
  border-color: @default-purple !important;
}

.ant-checkbox-checked:hover {
  &::after {
    border: 0;
  }
}

.ant-checkbox-wrapper-checked:hover {
  .ant-checkbox-checked {
    &::after {
      border: 0;
    }
  }
}

.ant-checkbox-wrapper-disabled {
  .ant-checkbox {
    opacity: .6;

    .ant-checkbox-inner {
      border: 0;
    }
  }
}

.ant-checkbox.ant-checkbox-checked {
  .ant-checkbox-inner {
    background: #6959AB url(./assets/img/icons/checked-checkbox.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &::after {
      display: none;
    }
  }

  &.ant-checkbox-disabled {
    .ant-checkbox-inner {
      background: url(./assets/img/icons/disabled-checked-checkbox.svg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #C9CBD4 !important;

      &::after {
        display: none;
      }
    }
  }
}


//radio
.ant-radio-wrapper {
  width: max-content;
  display: flex;
  align-items: center;

  * {
    outline: none !important;
    box-shadow: none !important;
    animation: none !important;
  }

  .ant-radio-input:focus + .ant-radio-inner {
    border-color: #6959AB;
  }


  .ant-radio {
    width: 18px;
    height: 18px;

    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      width: 14px;
      height: 14px;
    }

    .ant-radio-input {
      width: 100%;
      height: 100%;
    }

    .ant-radio-inner {
      width: 100%;
      height: 100%;
      border: 2px solid #6959AB;

      &::after {
        transition: 0s !important;
      }
    }

    &:hover {
      .ant-radio-inner {
        border: 2px solid #6959AB;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 220%;
        height: 220%;
        border-radius: 50%;
        background: rgba(105, 89, 171, 0.05);

      }
    }
  }

  &.ant-radio-wrapper-checked {
    .ant-radio {
      .ant-radio-inner {
        &::after {
          background: #6959AB;

          width: calc(100% - 3px);
          height: calc(100% - 3px);

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .ant-radio-checked::after {
      display: none;
    }
  }

  &.ant-radio-wrapper-disabled {
    &.ant-radio-wrapper-checked {
      .ant-radio-inner {
        border-color: #C9CBD4 !important;

        &::after {
          background: #C9CBD4;
        }
      }
    }

    .ant-radio:hover {
      cursor: auto;

      &::before {
        display: none;
      }
    }
  }
}


//switch
.main-pages, .custom-modal-window {
  .ant-switch {
    width: 30px;
    min-width: 30px;
    height: 20px;
    background: #C9CBD4;
    border: 0;
    position: relative;
    box-shadow: none !important;

    &:focus {
      box-shadow: none;
    }

    .ant-click-animating-node {
      display: none !important;
    }

    &:active,
    &:focus {
      &::after {
        box-shadow: 0 1px 3px rgba(105, 89, 171, 0.15), 0 0 0 0.9285714285714286rem rgba(105, 89, 171, 0.15);
        transition: 0.1s !important;
      }
    }

    &.dark {
      &.ant-switch-checked {
        background: #A292E2;
      }
    }
  }

  .ant-switch:not(.ant-switch-disabled):active::after {
    width: 18px;
  }

  .ant-switch::after {
    background: #FFFFFF;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.1s !important;
  }

  .ant-switch-checked::after {
    left: 28px;
  }

  .ant-switch-checked {
    background: #6959AB;
  }

  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    & {
      .ant-switch {
        min-width: 24px;
        width: 24px;
        height: 16px;
      }

      .ant-switch:not(.ant-switch-disabled):active::after {
        width: 12px;
      }

      .ant-switch::after {
        width: 12px;
        height: 12px;
        top: 2px;
        left: 3px;
      }

      .ant-switch-checked::after {
        left: 22px;
      }
    }
  }
}


// tooltip

.ant-tooltip-content {
  width: fit-content;

  .ant-tooltip-arrow::before {
    background-color: @white !important;
  }

  .ant-tooltip-inner {
    border-radius: 8px;
    background-color: @white !important;
    color: @action-color-dark !important;
    box-shadow: @tooltip-shadow;

    .title-tooltip {
      position: relative;
    }

    .title-tooltip::after {
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -3px;
      left: 0;
      content: "";
      background-color: @body-background;
    }
  }
}

.ant-drawer .ant-drawer-mask,
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.ant-drawer-content {
  .ant-drawer-header {
    padding-top: 60px;
    border: 0;
    text-align: center;
  }

  .check-box-item {
    margin: 0 0 20px 0;
  }
}

.ant-cascader-menus.ant-cascader-menus-placement-bottomLeft {
  border-radius: 0.5714em;

  .ant-cascader-menu {
    width: 17.1429em;
    height: fit-content;
    border-radius: 0.5714em;
  }
}

button.btn,
a.btn {
  width: max-content;
  height: 2.2857142857142856rem;
  border: 0;
  border-radius: 4px;
  font-size: 0.8571428571428571rem; //12px
  cursor: pointer;
  //transition: .2s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2.857142857142857rem;

  background-position: center;
  transition: background 0.3s;
  overflow: hidden;

  &.icon {
    border-radius: 50%;
    padding: 0;

    svg {
      fill: #656A84;
    }

    &:hover {
      background: rgba(109, 109, 246, 0.05);

      svg {
        fill: #6D6DF6;
      }
    }

    &:focus {
      background: rgba(109, 109, 246, 0.15);

      svg {
        fill: #6D6DF6;
      }
    }
  }


  &.p15 {
    padding: 0 1.0714285714285714rem;

    svg {
      margin: 0 0.8571428571428571rem 0 0;
    }
  }

  &.p70 {
    padding: 0 5rem;

    svg {
      margin: 0 0.8571428571428571rem 0 0;
    }
  }

  a {
    color: #fff;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  &.default {
    background: #6D6DF6;

    &:hover {
      background: #5F5FBE;
      color: #fff;
    }
  }

  &.green-btn {
    background: #7DD4A1;

    &:hover {
      background: #6EB47B;
      color: #fff;
    }
  }

  &.cancel {
    background: #c9cbd4;

    &:hover {
      background: #a8a9b1;
      color: #fff;
    }
  }

  &.white {
    background: #F3F7FD;
    color: #343C5A;

    &:hover {
      background: #E0E0F9;
      color: #343C5A;
    }
  }

  &.white.bord {
    border: 1px solid #C9CBD4;
  }

  //ripple effect
  & {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .5s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }

  &:focus {
    outline: none;
  }

  //& {
  //  position: relative;
  //  overflow: hidden;
  //}
  //
  //span.ripple {
  //  position: absolute;
  //  background: #fff;
  //  transform: translate(-50%, -50%);
  //  pointer-events: none;
  //  border-radius: 50%;
  //  animation: animate .5s linear infinite;
  //}
  //
  //@keyframes animate {
  //  0% {
  //    width: 0px;
  //    height: 0px;
  //    opacity: .5;
  //  }
  //  100% {
  //    width: 500px;
  //    height: 500px;
  //    opacity: 0;
  //  }
  //}
}

button.sds-btn,
a.sds-btn,
button.btn,
a.btn {
  width: max-content;
  height: 2.2857142857142856rem;
  border: 0;
  border-radius: 4px;
  font-size: 0.8571428571428571rem; //12px
  cursor: pointer;
  //transition: .2s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 2.857142857142857rem;

  background-position: center;
  transition: background 0.3s;
  overflow: hidden;
  font-weight: 600;

  &.default {
    background: #FF5256;

    &:hover {
      background: #D44043;
      color: #fff;
    }

    &:disabled {
      background: #C9CBD4;
    }
  }

  &.white {
    border: 1px solid #C9CBD4;
    background: #fff;
    color: #6E6A83;

    &:hover {
      background: #F3F3F3;
      color: #6E6A83;
    }
  }

  &.blue {
    background: #6959AB;
    color: #fff;

    &:hover {
      background: #24293F;
      color: #fff;
    }
  }

  &.grey {
    background: #F3F3F3;
    color: #46435C;

    &:hover {
      background: #d3d3d3;
    }
  }

  &.transparent {
    color: #353A3E;
    padding: 0;

    &:hover {
      color: #6959AB;
    }
  }

  &.icon {
    border-radius: 50%;
    padding: 0;

    svg {
      fill: #46435C;
      transition: .2s ease-in-out;
    }

    &:hover {
      background: rgba(105, 89, 171, 0.05);

      svg {
        fill: @default-purple;
      }
    }

    &:focus {
      background: rgba(105, 89, 171, 0.15);

      svg {
        fill: @default-purple;
      }
    }
  }

  //ripple effect
  & {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .5s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    background: #C9CBD4;
    color: #fff;

    .ant-spin {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.transparent[disabled] {
    background: transparent !important;
    color: #46435C !important;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}


button.default[disabled],
button.cancel[disabled],
button.green-btn[disabled],
button.white[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  background: #C9CBD4;
  color: #fff;
}

/*
*  CHECKBOX
*/
.ant-checkbox-wrapper,
.ant-checkbox-wrapper-checked {
  font-size: 1rem; // 14px

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @default-purple;
    border-color: @default-purple;
  }

  .ant-checkbox {
    font-size: inherit; // 14px
    width: 1.7142857em;
    height: 1.7142857em;
  }

  .ant-checkbox {
    .ant-checkbox-input, .ant-checkbox-inner, .ant-checkbox-checked {
      width: 100%;
      height: 100%;
    }
  }

  span {
    font-size: inherit; // 14px
  }
}

/*
*  CHECKBOX
*/

/*
*  SELECT
*/
.ant-select {
  .ant-select-selection--single {
    height: 2.2857142857142856rem;

    .ant-select-selection__rendered,
    .ant-select-selection-selected-value {
      height: 100%;
      display: flex !important;
    }
  }

  .ant-select-selection-selected-value {
    font-size: 1rem;
  }
}

.ant-select-dropdown-menu-item {
  font-size: 1rem;
}


/*
*  /SELECT
*/

/*
*  TREE SELECT
*/

.ant-select-dropdown {
  .ant-select-tree {
    .ant-select-tree-checkbox-inner {
      border-radius: 2px;
      width: 1.28571429rem;
      height: 1.28571429rem;
      border-color: #6959AB;
    }

    .ant-select-tree-checkbox.ant-select-tree-checkbox-checked {
      .ant-select-tree-checkbox-inner {
        transition: 0s;

        &::after {
          display: none;
        }
      }

      &::after {
        display: none;
      }
    }

    .ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner {
      border-color: #6959AB;
    }

    .ant-select-tree-node-content-wrapper-normal:hover {
      background: #fff;
    }

    .ant-select-tree-node-content-wrapper-normal .ant-select-tree-title {
      color: #343C5A;
      font-size: 0.85714286rem;
      line-height: 10px;
    }
  }
}

/*
*  /TREE SELECT
*/


/*
*  INPUT
*/

.form-group {
  .ant-input,
  input {
    height: 2.2857142857142856rem;
    border-radius: 4px;
    border: 1px solid #C9CBD4;
    background: #FFFFFF;
    color: #46435C;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 1rem;
    padding-left: 1.0714285714285714rem;

    &:hover {
      border-color: #46435C !important;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: #6959AB !important;
    }

    &::placeholder {
      font-size: 1rem;
      color: rgba(101, 106, 132, 0.4);
    }

    &:disabled {
      color: rgba(0, 0, 0, .25);
      background-color: #f5f5f5;
      cursor: not-allowed;

      &:hover {
        border-color: #C9CBD4 !important;
      }
    }
  }

  &.error-field {
    .ant-input,
    input {
      border: 1px solid #FF5256;
    }
  }

  &.dark-mode {
    input {
      background: transparent;
      border: 1px solid #898989;
      color: #fff;

      &:hover {
        border: 1px solid #6959AB !important;
      }

      &:focus {
        border: 1px solid #fff !important;
      }

      &::placeholder {
        color: #B7B7B7;
      }
    }
  }
}

.form-group {
  .form-control,
  .ant-input-search {
    &:hover {
      .ant-input:not(.ant-input-disabled),
      .ant-input {
        border: 1px solid #343C5A;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    &:focus {
      outline: none;

      .ant-input:not(.ant-input-disabled),
      .ant-input {
        border: 1px solid #6959AB;
      }
    }
  }

  .ant-input-suffix {
    svg {
      width: 1.2857142857142858rem;
      height: 1.2857142857142858rem;
    }

    i {
      display: none;
    }
  }

  textarea {
    width: 100%;
    border: 1px solid #C9CBD4;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-sizing: border-box;
    padding: 13px 15px;

    &:hover {
      border: 1px solid #343C5A;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:focus {
      outline: none;
      border: 1px solid #6959AB;
    }

    &::placeholder {
      font-size: 1rem;
      color: #C9CBD4;
    }
  }
}

/*
*  /INPUT
*/

/*
*  SCROLLBAR
*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #bbbdc6;
  border-radius: 2px;
}

::-webkit-scrollbar:horizontal {
  width: unset;
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #C3C5CE;
  border-radius: 20px;
}

/*
*  ////////////////
*/

.disable-page-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  .btn {
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 1.2857142857142858rem;
  }
}

.event-blocker div:last-child {
  height: inherit !important;
}


.ant-input-affix-wrapper {
  .ant-input-suffix {
    right: 10px !important;
  }
}

.ant-spin {
  .ant-spin-dot-item {
    background-color: #6959AB;
  }
}


//dropdown

.ant-dropdown {
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .ant-dropdown-menu-item {
    color: #46435C;
    font-size: 0.8571428571428571rem;
    line-height: 1.0714285714285714rem;
    padding: 0.8571428571428571rem 1.4285714285714286rem;

    &:hover {
      background: rgba(250, 250, 250, 0.7);
    }
  }
}

//----------------
//blocks elevation
.mdc-elevation-z0 {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z1 {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z2 {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z3 {
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z4 {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z5 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z6 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z7 {
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z8 {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z9 {
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z10 {
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z11 {
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z12 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z13 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z14 {
  -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z15 {
  -webkit-box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z16 {
  -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z17 {
  -webkit-box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z18 {
  -webkit-box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z19 {
  -webkit-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z20 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z21 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z22 {
  -webkit-box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z23 {
  -webkit-box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-z24 {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

//-------------------------------------------------------------------

.ppc-processing {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
