@import "../../../../style/variables.less";


.analytics-page {
  .list-section {
    max-width: 100%;
    height: max-content;
    max-height: calc(100vh - 100px);
    margin: 0 0 10px 0;
    box-shadow: @default-section-shadow;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;

    padding: 20px 0 0 0;

    display: flex;
    flex-direction: column;

    .form-group {
      width: 300px;
      height: 2.2857142857142856rem;
      margin: 0 0 0 20px;
    }


    .section-header {
      display: grid;
      grid-template-areas: 'filters columns date' 'currentFilters currentFilters currentFilters';
      grid-template-columns: 1fr max-content max-content;
      justify-content: space-between;
    }


    .list-filters-block {
      grid-area: filters;
    }

    .current-filters {
      grid-area: currentFilters;
    }

    .columns-select {
      grid-area: columns;
    }

    .DatePicker {
      grid-area: date;
    }

    .pw-pagination {
      grid-area: pagination;
    }


    .columns-select {
      height: 32px;

      display: flex;
      margin: 0 20px 0 0;
      //position: relative;

      i {
        width: 2.2857142857142856rem;
        height: 2.2857142857142856rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        svg {
          width: 1.4285714285714286rem;
          height: 1.4285714285714286rem;
        }

        &:hover {
          background: rgba(109, 109, 246, 0.05);
        }
      }
    }

    .popover-column-select {
      width: 240px;
      height: 70%;
      max-height: 300px;
      padding: 20px 20px 10px 20px;
      position: absolute;
      top: 60px;
      right: 260px;
      display: flex;
      flex-direction: column;

      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      z-index: 1000;

      @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        top: 55px;

        right: 200px;
      }

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background: #fff;
        position: absolute;
        top: -6px;
        right: 10px;
        border-top-color: #fff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #fff;
        box-shadow: -5px -2px 5px rgba(0, 0, 0, 0.06);
        transform: rotate(45deg);
        border-radius: 2px;
        z-index: 1;
      }

      .form-group {
        width: 100%;
        margin: 0 0 20px 0;

        .ant-input-search {
          height: 2.2857142857142856rem;

          .ant-input-search-icon {
            display: none;
          }

          .ant-input {
            font-size: 1rem;
          }
        }
      }

      .columns-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;

        .ant-checkbox-wrapper {
          margin: 0 0 10px 0;
          display: flex;
          align-items: center;

          .ant-checkbox {
            min-width: 1.2857142857142858rem;
            width: 1.2857142857142858rem;
            height: 1.2857142857142858rem;
            margin-top: 3px;
          }

          span {
            font-size: 1rem;
            text-align: left;
          }
        }
      }
    }


    .DatePicker {
      margin: 0 20px 0 0;
    }

    .custom-table {
      height: inherit;
      display: flex;
      flex: 1;
      overflow: hidden;

      .load-data {
        padding-top: 40px;
      }

      .table-overflow {
        flex: 1;
        //height: 100%;
        min-height: 130px;

        .no-data {
          width: max-content;
          margin: 0 auto;
        }
      }

      .table-head {
        box-shadow: @default-section-shadow;
      }

      .table-head {
        box-shadow: none;
        border-top: 0.5px solid #C9CBD4;
        border-bottom: 2px solid #C9CBD4;

        .th {
          border-right: 0.5px solid #C9CBD4;
          padding-left: 12px;

          &:first-child {
            padding-left: 20px;
          }

          &:last-child {
            border: 0;
          }
        }
      }

      .table-body {
        .table-body__row {
          .table-body__field {
            //font-size: 14px;
            padding-left: 12px;
            border-right: 0.5px solid #C9CBD4;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #343C5A;

            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              border: 0;
              justify-content: flex-start;
            }

            a {
              color: #6D6DF6;
              font-weight: 500;
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;

              &:hover {
                text-decoration: underline;
              }
            }

            .overflow-text {
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            .product-field {
              display: flex;

              img {
                width: 4.571428571428571rem;
                min-width: 4.571428571428571rem;
                height: 4.571428571428571rem;
                margin: 0 7px 0 0;
              }

              .col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                  font-size: 1rem;
                  color: #343C5A;
                  margin-bottom: 0;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                }

                p {
                  font-size: 0.8571428571428571rem;
                  color: #343C5A;
                  margin: 0;
                }
              }
            }


            .status {
              &.active {
                color: #259B25;
              }

              &.inactive {
                color: #D66744;
              }

              &.paused {
                color: #EEBB81;
              }

              &.archived {
                color: #656A84;
              }
            }

            .type {
              text-transform: capitalize;
            }

            .InputCurrency {
              height: 2.2857142857142856rem;
              z-index: 1;
            }
          }
        }
      }

      .total-data {
        min-width: max-content;
        background: #F8F9FA;
        border-top: 1px solid #c9cbd4;
        border-bottom: 0.5px solid #C9CBD4;


        .table-body__field {
          font-weight: 500;
          color: #343C5A;
          font-size: 1rem;
          padding-left: 12px;
          border-right: 0.5px solid #C9CBD4;
          padding-top: 10px;
          padding-bottom: 10px;

          &:first-child {
            padding-left: 20px;
          }

          &:last-child {
            border: 0;
          }

          a {
            color: #343C5A;
            font-size: 1rem;
            pointer-events: none;
          }
        }
      }
    }

    .pw-pagination {
      padding-left: 20px;
      min-height: 40px;
      height: 40px;
    }


    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
      max-height: calc(100vh - 96px);
    }
  }
}

