.privacy-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0))), #f3f7fd;
  background: -o-linear-gradient(top, #fff 0, rgba(255, 255, 255, 0) 100%), #f3f7fd;
  background: linear-gradient(180deg, #fff 0, rgba(255, 255, 255, 0) 100%), #f3f7fd;

  .box {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 125px 10px 100px 10px;
  }

  .h1-wrap {
    margin-bottom: 105px;
    text-align: center
  }

  .h1-wrap h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3333;
    letter-spacing: .95px;
    color: #363694;
    margin-bottom: 15px
  }

  .h1-wrap p {
    font-size: 11px;
    line-height: 1.45;
    color: #7c8a95
  }

  .page-content {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: .4px;
    color: #38454f;
    padding-left: 25px;
    padding-right: 25px
  }

  .page-content blockquote {
    font-weight: 700;
    color: #38454f;
    margin-bottom: 45px
  }

  .page-content blockquote p {
    margin-bottom: 0
  }

  .page-content blockquote a {
    text-decoration: none
  }

  .page-content blockquote a:hover {
    text-decoration: underline
  }

  .page-content h4 {
    color: #17175a;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px
  }

  .page-content h3 {
    color: #363694;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 30px
  }

  .page-content a {
    color: #6d6df6;
    font-weight: 700;
    text-decoration: underline
  }

  .page-content a:hover {
    text-decoration: none
  }

  .page-content p {
    margin-bottom: 30px
  }

  .page-content p:last-child {
    margin-bottom: 0
  }

  @media screen and (max-width: 1023px) {
    & {
      padding: 50px 0
    }

    .h1-wrap {
      margin-bottom: 25px
    }

    .page-content {
      padding: 0
    }

    .page-content blockquote {
      margin-bottom: 15px
    }

    .page-content p {
      margin-bottom: 15px
    }
  }

  @media screen and (max-width: 480px) {
    .h1-wrap h1 {
      margin-bottom: 10px
    }

    .h1-wrap h1 {
      font-size: 35px
    }

    .page-content {
      font-size: 14px
    }

    .page-content h4 {
      font-size: 16px
    }

    .page-content h3 {
      font-size: 21px
    }
  }
}