
.SideInfo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    grid-template-columns: 1fr 350px;
    background: rgba(#000, 0.6);
    visibility: hidden;
    overflow: hidden;

    .side-info-content {
        transition: 0.6s;
        transform: translateX(100%);
        min-width: 300px;
        max-width: 500px;
        min-height: 100%;
        background: #fff;
        box-shadow: 0px 16px 16px rgba(44, 48, 58, 0.08),
        0px 6px 40px rgba(44, 48, 58, 0.03),
        0px 0px 16px rgba(44, 48, 58, 0.03);
        height: max-content;
        position: relative;
        overflow-y: auto;
        z-index: 110;

        .close {
            position: absolute;
            right: 0;
            margin: 10px;

            i {
                cursor: pointer;
                font-size: 14px;
            }
        }

        .caption {
            margin-top: 30px;
            text-align: center;
            line-height: 24px;
            font-size: 22px;
            padding: 0 15px;
        }
    }

    .side-info-bg {
        min-width: 20px;
        width: 100%;
        flex: 1;
        z-index: -1;
    }

    &.show {
        .side-info-bg {
            z-index: 110;
        }

        visibility: visible;

        .side-info-content {

            transition: 0.6s;
            height: 100%;
            transform: translateX(0);

        }
    }

}






