.auth-page.confirm-page {
  .container {
    form {
      position: relative;

      .form-loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
      }

      h2 {
        margin-bottom: 2.142857142857143rem;
      }

      h4 {
        font-weight: 600;
        font-size: 1.4285714285714286rem;
        line-height: 1.7142857142857142rem;
        text-align: center;
        color: #312C51;
        margin-bottom: 8px;
      }

      p {
        font-size: 1.1428571428571428rem;
        line-height: 1.4285714285714286rem;
        text-align: center;
        color: #46435C;
        margin-bottom: 2.142857142857143rem;
      }

      .submit {
        width: max-content;
        margin: 0 auto;
      }

      .sign-up {
        margin: auto auto 0;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        text-align: center;
        color: #46435C;

        a {
          color: #6959AB;
          padding: 0 3px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .container {
      form {
        h4 {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
        }

        .submit {
          width: 100%;
        }

        .sign-up {
          font-size: 16px;
          line-height: 20px;
          margin: 60px 0 0 0;
        }
      }
    }
  }
}