.account-drawer {
  .ant-drawer-content-wrapper {
    width: max-content !important;
  }

  .ant-drawer-body {
    width: 520px;
    height: max-content;
    padding: 3em;
    position: relative;

    .close-btn {
      font-size: 2.2857rem; // 32px
      line-height: 0.5938em;
      position: absolute;
      top: 0.71875em;
      right: 0.71875em;
      transform: scale(1);
      transition: all 0.1s ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }

    h3 {
      font-size: 1.4285714285714286rem;
      line-height: 2.142857142857143rem;
      color: #38454F;
      text-align: center;
      padding: 1em 0 2em 0;
      margin: 0;
    }

    .form-group {
      border: 0;

      label {
        display: block;
        margin: 0 0 6px 0;
        font-size: 0.9285714285714286rem;
        color: #38454F;
      }

      .ant-select {
        width: 100%;
      }


      input,
      .ant-select-selection--single,
      .ant-input-number {
        height: 40px;
        width: 100%;
        border-radius: 4px;
      }

      .ant-select-selection--single {
        .ant-select-selection__rendered,
        .ant-select-selection-selected-value {
          height: 100%;
          line-height: 40px;
        }

        .ant-select-selection__rendered {
          padding-left: 11px;
        }
      }

    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .button-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: auto 0 0 0;

      button {
        width: 48%;
        font-size: 1.1428571428571428rem;
        height: 2.857142857142857rem;
      }
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;

      .ant-input {
        border-radius: 4px;
      }
    }

    .update-company-information {
      height: 100%;
      display: flex;
      flex-direction: column;

      form {
        .row {
          margin: 0 0 15px 0;

          &:nth-child(4) {
            margin: 0 0 40px 0;
          }

          .form-group {
            width: 48%;

            .ant-select {
              width: 100%;
            }
          }

          .company-name {
            width: 100%;
          }
        }

      }
    }

    .add-card-window {
      height: 100%;
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.1428571428571428rem;
        color: #38454F;
      }

      .card-container {
        .card-container__card,
        .card-container__expiry,
        .card-container__cvc {
          label {
            display: block;
            margin: 0 0 6px 0;
            font-size: 0.9285714285714286rem;
            color: #38454F;
          }

          & > div {
            border: 1px solid rgba(148, 163, 173, 0.4);
            border-radius: 4px;
            height: 40px;
            line-height: 40px;
            padding: 10px 0 10px 1em;
            box-sizing: border-box;
          }
        }

        .fake-card-field {
          display: flex;
          align-items: center;
          background: rgba(232, 237, 241, 0.58);
        }

        .row {
          align-items: flex-end;
          margin: 24px 0 30px 0;

          .card-container__expiry,
          .card-container__cvc {
            width: 80px;
          }

          svg {
            margin: 0 0 13px 0;
            fill: #6D6DF6;
          }

          p {
            margin: 0 0 5px 0;
          }
        }
      }

      .logo-block {
        display: flex;

        img {
          margin: 0 25px 0 0;

          &:last-child {
            margin: 0 0 0 auto;
          }
        }

        @media (max-width: 402px) {
          & {
            img:last-child {
              margin: 10px auto 0 0;
            }
          }
        }

        @media (max-width: 327px) {
          & {
            img:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    .update-card-info {
      .billing-address-block {
        border-top: 1px solid rgba(201, 203, 212, 0.5);
        padding: 30px 0 0 0;
        margin: 30px 0 0 0;

        .row {
          margin: 0 0 15px 0;

          &:last-child {
            margin: 0 0 40px 0;
          }

          .form-group {
            width: 48%;

            .ant-select {
              width: 100%;
            }

            &.w-100 {
              width: 100%;
            }
          }

          &:nth-child(3) {
            .form-group {
              width: 100%;
            }
          }
        }
      }
    }
  }


  //-------------------------------------
  /*Retina CSS */
  //-------------------------------------
  @media (max-width: 550px) {
    & {
      .ant-drawer-body {
        width: 100vw;

        .update-card-info .billing-address-block .row .form-group,
        .update-company-information form .row .form-group {
          width: 100%;
        }
      }

      .row,
      .logo-block {
        flex-wrap: wrap;
      }


    }
  }
}

.confirm-payment-window {
  text-align: center;
  max-width: 440px;

  .ant-modal-body {
    padding-left: 45px;
    padding-right: 45px;
  }

  h2 {
    font-size: 1.4285714285714286rem;
  }

  .btn {
    width: 40%;
    min-width: 100px;
    font-size: 0.8571428571428571rem;

    .ant-spin-spinning {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      i {
        background-color: #8fd39d;
      }
    }
  }

  .buttons-block {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .ant-spin {
      margin: 0 auto 7px auto;
    }
  }
}

