.main-pages .main-container .page > div.scanner-page {
  height: 100%;
  display: flex;

  .page-workspace {
    flex: 1;
    display: grid;

    .scanning-processing-status {
      grid-area: processingStatus;
    }

    .problems-count {
      grid-area: problemsCount;
    }

    .problems-report {
      grid-area: problemsReport;
    }

    .part-problems-count {
      grid-area: partProblemsCount;
    }

    &.processing, &.finished {
      grid-template-areas: 'processingStatus problemsCount' 'partProblemsCount partProblemsCount' 'problemsReport problemsReport';
      grid-template-columns: 43.3% 1fr;
      grid-template-rows: max-content max-content 1fr;
      grid-gap: 10px;
    }
  }

  .switch-list {
    z-index: 20;

    button {
      left: -2.142857142857143rem;

      @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        left: -25px;
      }
    }

    &.closed {
      button {
        left: -2.2857142857142856rem;

        &:hover {
          left: -1.4285714285714286rem;
        }
      }
    }
  }
}