@import "../../../../style/mixins.less";
@import "../../../../style/variables.less";

.ReportTable {
    .report-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @second-default-dark;
        margin: 12px 0;

        h3 {
            color: inherit;
            margin: 0;
        }

        & > div {
            display: inherit;
            align-items: inherit;
        }

        .total-count {
            margin: 0 8px;
            padding: 2px 4px;
            width: 32px;
            height: 20px;
            border-radius: 12px;
            text-align: center;
            font-size: 12px;
            background: @success-color;
            color: #fff;
        }

        button {
            margin-left: 8px;
            background: @action-color;
            color: #fff;
            border-radius: 8px;
        }
    }

    .ReportItemTable {
        background: #fff;
        border-radius: 8px;
        padding-top: 12px;

        .Table {
            margin-top: 12px;

        }
    }

    overflow-x: hidden;

    .ant-tabs-tab {
        padding: 12px 0;
        color: @action-color;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
        color: @action-color;
    }

    .ant-tabs-ink-bar {
        background: @action-color;
    }
}

.TabName {
    display: flex;
    align-items: center;

    .tab-name-count {
        margin-left: 15px;
        min-width: 28px;
        padding: 0 4px;
        height: 18px;
        border-radius: 12px;
        border: 1px solid #C9CBD4;
        text-align: center;
        font-size: 12px;
    }
}

.ant-calendar-range {
    width: 100%;
    overflow: hidden;

    .ant-calendar-body {
        border-left: 1px solid #e8e8e8;
    }
}

.info-icon {
    &:hover {
        color: @action-color;
        cursor: pointer;
    }
}
