@import "../../../../style/mixins.less";
@import "../../../../style/variables.less";

.ReportTable {
    .ReportItemTable {
        background: #fff;
        border-radius: 8px;
        padding-top: 12px;

        .Table {
            margin-top: 12px;

        }
    }

    overflow-x: hidden;

    .ant-tabs-tab {
        padding: 12px 0;
        color: @action-color;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
        color: @action-color;
    }

    .ant-tabs-ink-bar {
        background: @action-color;
    }
}

.TabName {
    display: flex;
    align-items: center;

    .tab-name-count {
        margin-left: 15px;
        width: 28px;
        height: 18px;
        border-radius: 12px;
        border: 1px solid #C9CBD4;
        text-align: center;
        font-size: 12px;
    }
}

.ant-calendar-range {
    width: 100%;
    overflow: hidden;

    .ant-calendar-body {
        border-left: 1px solid #e8e8e8;
    }
}