.has-incomplete-batch-window {
  .ant-modal-body {
    padding: 2.857142857142857rem;
  }

  .actions {
    width: max-content;
    display: flex;
    justify-content: center;
    height: 2.2857142857142856rem;
    margin: 0 0 0 auto;

    button {
      height: 2.2857142857142856rem;
      font-weight: 500;
      font-size: 0.8571428571428571rem;
      position: relative;

      &:first-child {
        margin: 0 15px 0 0;
      }

      .ant-spin {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2.2857142857142856rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}