.not-retina {
  font-size: 14px !important;
}

.landing-automation {
  font-family: 'Open Sans', sans-serif;

  section {
    h2 {
      font-size: 2.2857142857142856rem;
      line-height: 2.2857142857142856rem;
      letter-spacing: 0.4px;
      color: #17175A;
      margin: 0;
      text-align: center;
      font-family: e3sb;
    }

    .container {
      width: 100%;
      max-width: 1360px;
      margin: 0 auto;
      padding: 0 10px;

      .btn {
        font-size: 1.1428571428571428rem;
        letter-spacing: 0.4px;
        font-family: 'Open Sans', sans-serif;
      }

      .prev,
      .next {
        height: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        top: 11.428571428571429rem;
        font-size: 20px;
        color: #8A8AF8;

        &:hover {
          color: #4d4d99;
        }
      }

      .prev {
        transform: rotate(180deg);
      }

      @media (max-width: 1440px) {
        & {
          padding: 0 60px;
        }
      }

      @media (max-width: 500px) {
        & {
          padding: 0 50px;

          h2 {
            font-size: 26px;
            line-height: 27px;
          }

          .btn {
            font-size: 15px;
          }
        }
      }

      @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
        & {
          max-width: 1200px;
        }
      }
    }
  }

  .first-section {
    position: relative;
    overflow: hidden;

    .video-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: esb;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: #6D6DF6;
      padding: 0 0 50px 0;

      .pulse {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 0 0 20px;
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          border: 3px solid #B7B7FF;
          left: -20px;
          right: -20px;
          top: -20px;
          bottom: -20px;
          border-radius: 50%;
          animation: pulse 1.8s linear infinite;
          opacity: 0;
        }

        &::after {
          animation-delay: .5s;
        }

        div::after {
          content: '';
          position: absolute;
          border: 3px solid #B7B7FF;
          left: -20px;
          right: -20px;
          top: -20px;
          bottom: -20px;
          border-radius: 50%;
          animation: pulse 1.8s linear infinite;
          opacity: 0;
          animation-delay: 1s;
        }
      }

      @keyframes pulse {
        0% {
          transform: scale(0.5);
          opacity: 0;
          border-color: #B7B7FF;
        }
        25% {
          opacity: 1;
          border-color: #B7B7FF;
        }
        50% {
          opacity: .7;
          border-color: rgba(183, 183, 255, 0.73);
        }
        100% {
          transform: scale(1.5);
          border-color: rgba(183, 183, 255, 0.13);
        }
      }
    }


    .container {
      min-height: 650px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content {
        width: 45%;
        z-index: 100;

        .sponsored {
          display: flex;
          margin: 0 0 15px 0;

          span {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.4px;
            color: #6D6DF6;
            margin-right: 15px;

            div {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #6D6DF6;
              margin: 0 10px 0 0;
            }
          }
        }

        h1 {
          font-size: 3.4285714285714284rem;
          line-height: 4rem;
          letter-spacing: 0.477886px;
          color: #262F56;
          margin: 0;
          font-family: e2b;

          span {
            color: #6D6DF6;
          }
        }

        .description {
          font-size: 1.1428571428571428rem;
          line-height: 1.7142857142857142rem;
          letter-spacing: 0.4px;
          color: #4B5271;
          margin: 2.857142857142857rem 0 2.5rem 0;
          font-style: normal;
          font-weight: normal;
          font-family: e2sb;
        }

        .col {
          display: flex;
          flex-direction: column;
        }

        .advantages {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          font-size: 1.1428571428571428rem;
          line-height: 1.1428571428571428rem;
          letter-spacing: 0.4px;
          color: #7C8A95;

          span {
            display: flex;
            align-items: center;
            margin: 0 20px 0 0;

            &:last-child {
              margin: 0;
            }

            div {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #BDC6CF;
              margin: 0 10px 0 0;
            }
          }
        }

        .actions {
          display: flex;
          margin: 3.5714285714285716rem 0 0 0;

          .btn {
            width: 159px;
            height: 56px;
            font-size: 1.1428571428571428rem;
            letter-spacing: 0.4px;
            font-weight: 500;
            margin: 0 55px 0 0;
          }

          img {
            cursor: pointer;
          }
        }
      }

      .image-block {
        height: 75%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 3% 0 0 0;

        img {
          height: 100%;
        }
      }

      @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
        & {
          .image-block {
            right: -200px;
          }

          .content .advantages {
            width: max-content;
            flex-wrap: nowrap;
          }
        }
      }

      @media (max-width: 1600px) {
        & {
          .image-block {
            right: -200px;
          }
        }
      }

      @media (max-width: 1200px) {
        & {
          .image-block {
            width: 70%;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      @media (max-width: 700px) {
        & {
          flex-direction: column;

          .image-block {
            position: relative;
            width: 90%;
            margin-bottom: 40px;
            right: -120px;

            img {
              width: 100%;
              height: auto;
            }
          }

          .content {
            width: 100%;
          }
        }
      }

      @media (max-width: 500px) {
        & {
          .content {
            width: 100%;
            margin: 0 auto;
            text-align: left;

            .sponsored {
              flex-direction: column;

              span {
                margin: 5px 0;
              }
            }

            h1 {
              font-size: 21px;
              line-height: 25px;
              text-align: left;
            }

            .description {
              font-size: 15px;
            }

            .col {
              flex-direction: column-reverse;

              .advantages {
                flex-direction: column;
                align-items: flex-start;
                margin: 0 0 60px 0;

                div {
                  display: none;
                }

                span {
                  position: relative;
                  margin: 0 0 5px 0;
                  padding: 0 0 0 10px;

                  &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    background: #BDC6CF;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                  }
                }
              }

              .actions {
                margin: 0 0 20px 0;

                img {
                  width: 40%;
                }
              }
            }
          }

          .image-block {
            left: 0;
            top: -30px;
            width: max-content;
            position: relative;

            img {
              width: 40%;
            }
          }
        }
      }
    }

    @media (max-width: 700px) {
      .video-btn {
        margin: 40px 0 0 0;
      }
    }
    @media (max-width: 500px) {
      .video-btn {
        margin: 0;
        flex-direction: column;

        .pulse {
          margin: 20px 0 0 0;
        }
      }
    }
  }

  .daily-routine-jeff {
    background: #F3F7FD;

    .container {
      min-height: 520px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .image-block {
        width: 45%;
      }

      .content {
        width: 47%;

        .title {
          font-size: 1.7142857142857142rem;
          line-height: 2.2857142857142856rem;
          letter-spacing: 0.4px;
          color: #17175A;
          font-family: e4b;
        }

        .description {
          font-size: 1.1428571428571428rem;
          line-height: 2rem;
          letter-spacing: 0.4px;
          color: #17175A;
          margin: 1.7857142857142858rem 0;
          font-family: e2sb;
        }

        .list {
          div {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #7C8A95;
            margin: 0 0 0.7142857142857143rem 0;
            position: relative;
            padding: 0 0 0 28px;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 5px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #6D6DF6;
            }
          }
        }
      }
    }

    @media (max-width: 700px) {
      & {
        .container {
          flex-direction: column;

          .image-block {
            width: 60%;
            margin: 30px 0 40px 0;
          }

          .content {
            width: 60%;
            text-align: center;
            margin: 0 0 50px 0;
          }
        }
      }
    }

    @media (max-width: 500px) {
      & {
        .container {
          flex-direction: column;

          .image-block {
            width: 120%;
            margin: 30px 0 40px -10%;
          }

          .content {
            width: 100%;
            text-align: left;
            margin: 0 0 50px 0;

            .title {
              font-size: 17px;
              line-height: 21px;
            }

            .description {
              font-size: 15px;
              line-height: 21px;
            }

            .list {
              div {
                font-size: 12px;
                line-height: 15px;
              }
            }
          }
        }
      }
    }
  }

  .steps .container {
    min-height: 680px;
    padding-top: 5.714285714285714rem;
    padding-bottom: 3.5714285714285716rem;
    display: flex;
    flex-direction: column;

    .all-steps {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 60px 0 40px 0;

      & > div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8571428571428571rem;
        letter-spacing: 0.4px;
        color: #262F56;

        &:first-child {
          align-items: flex-start;
        }

        &:last-child {
          align-items: flex-end;
        }

        div {
          position: relative;
          cursor: pointer;

          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 2px solid rgba(54, 54, 148, 0.2);

          &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #6D6DF6;
          }
        }

        span {
          width: max-content;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.4px;
          color: #262F56;
          position: absolute;
          top: 50px;
          text-transform: capitalize;
          font-family: e4sb;
        }

        &.active {
          div {
            width: 32px;
            height: 32px;
            background: #6D6DF6;
            border-radius: 50%;
            transition-delay: 2s;

            &::before {
              background: #fff;
              transition-delay: 2s;
            }
          }
        }
      }


      & > i {
        width: 25%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 2px;
        border-radius: 10px;
        background: url(../../../assets/img/landing-automation/point.svg) center repeat-x;
        background-size: auto 2px;
        position: relative;

        &::before {
          width: 0;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 2px;
          border-radius: 15px;
          background: #6D6DF6;
          transition: 2s;
        }

        &.loaded::before {
          width: 100%;
          transition: 2s;
        }
      }
    }

    .row {
      display: flex;
      justify-content: space-between;

      .content {
        width: 31%;
        margin: 5% 0 0 0;

        .title {
          display: flex;
          align-items: center;
          font-size: 1.7142857142857142rem;
          line-height: 2.2857142857142856rem;
          letter-spacing: 0.477886px;
          color: #17175A;
          font-family: esb;

          .dash {
            margin: 0 10px 5px 10px;
          }
        }

        .description {
          min-height: 10rem;
          margin: 2.142857142857143rem 0;
          font-size: 1.1428571428571428rem;
          line-height: 2rem;
          letter-spacing: 0.4px;
          color: #17175A;
        }

        .btn {
          width: 10rem;
          height: 3.4285714285714284rem;
        }
      }

      .slider {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .image-block {
          left: 0;
          right: 0;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          margin-top: 20px;

          img {
            width: 100%;
          }
        }

        .prev,
        .next {
          top: 11.428571428571429rem;
        }
      }
    }

    @media (max-width: 850px) {
      & {
        .all-steps {
          & > div {
            span {
              font-size: 14px;
            }
          }
        }
      }
    }

    @media (max-width: 750px) {
      & {
        .all-steps {
          margin-bottom: 60px;

          & > div {
            span {
              width: 18vw;
            }
          }
        }
      }
    }

    @media (max-width: 630px) {
      & {
        .all-steps {
          flex-wrap: nowrap;
        }
      }
    }

    @media (max-width: 500px) {
      & {
        .all-steps {
          margin: 30px 0;

          & > div {
            span {
              display: none;
            }

            div {
              width: 25px;
              height: 25px;

              &::before {
                width: 6.25px;
                height: 6.25px;
              }
            }

            &.active {
              div {
                width: 25px;
                height: 25px;
              }
            }
          }

          i {
            width: 15%;
          }
        }

        .row {
          flex-direction: column-reverse;
          width: 100%;
          margin: 0 auto;

          .content {
            margin: 60px 0 0 0;
            width: 100%;
          }

          .slider {
            width: 100%;
            margin: 0 auto;
            justify-content: center;

            .image-block {
              width: 100% !important;
              position: relative;
            }

            .prev,
            .next {
              display: none;
            }
          }
        }
      }
    }
  }

  .achievements {
    background: #6D6DF6;

    .container {
      min-height: 17.142857142857142rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 65px 0;

      & > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid rgba(196, 196, 196, 0.5);
        padding: 0 20px;

        &:last-child {
          border: 0;
        }

        .value {
          font-family: eb;
          font-size: 4.571428571428571rem;
          line-height: 5.714285714285714rem;
          letter-spacing: 0.4px;
          color: #FFFFFF;
          margin: 0 0 20px 0;
          text-align: center;
        }

        .description {
          font-style: normal;
          font-size: 15px;
          line-height: 1.3571428571428572rem;
          letter-spacing: 0.4px;
          color: #FFFFFF;
          height: 20%;
          text-align: center;
        }
      }

      @media (max-width: 800px) {
        & {
          & > div {
            margin: 0 0 10px 0;

            &:last-child {
              .value,
              .description {
                text-align: right;
              }
            }
          }
        }
      }

      @media (max-width: 600px) {
        & {
          flex-direction: row;
          padding: 20px 20px 50px 20px;

          & > div {
            width: 50%;
            border: 0;
            margin: 0;
            flex: inherit;

            .value {
              font-size: 48px;
              line-height: 80px;
              margin: 0;
            }

            .description {
              font-size: 13px;
            }

            &:last-child {
              display: none;
            }

            &:nth-child(1),
            &:nth-child(2) {
              margin: 0 0 20px 0;
            }

            &:nth-child(2n) {
              text-align: right;
              align-items: flex-end;
            }

            &:nth-child(2n+1) {
              text-align: left;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }

  .our-cases .container {
    padding-top: 5.714285714285714rem;
    padding-bottom: 5.714285714285714rem;

    .slider {
      margin: 2.857142857142857rem 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .image-block {
          width: 100%;
          margin: 0 60px;

          img {
            width: 100%;
          }

          .change-chart {
            font-size: 0.8571428571428571rem;
            letter-spacing: 0.4px;
            text-decoration-line: underline;
            color: #7C8A95;
            position: absolute;
            right: 0;
            margin: 0 80px 0 0;
            cursor: pointer;
          }
        }


      }

      .navigation {
        display: flex;
        align-items: center;
        margin: 2.142857142857143rem 0 0 0;

        div {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #17175A;
          margin-right: 15px;
          cursor: pointer;

          &.active-dot {
            width: 12px;
            height: 12px;
            background: #fff;
            border: 1px solid #17175A;

          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .content {
      h3 {
        margin: 5rem 0 0 0;
        font-family: e2b;
        font-size: 1.7142857142857142rem;
        line-height: 2.2857142857142856rem;
        letter-spacing: 0.4px;
        color: #17175A;
      }

      .row {
        display: flex;
        justify-content: space-between;

        .line {
          width: 1px;
          background: #BDC6CF;
          opacity: 0.5;
          border-radius: 9px;
        }

        .col {
          width: 45%;
          padding: 1.4285714285714286rem 0 0 0;

          h4 {
            font-family: e3sb;
            font-size: 1.4285714285714286rem;
            letter-spacing: 0.477886px;
            color: #17175A;
            margin: 0 0 2.142857142857143rem 0;
          }

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 1.0714285714285714rem 0;

            .metric-name {
              font-size: 0.9285714285714286rem;
              letter-spacing: 0.4px;
              color: #17175A;
            }

            .metric-value {
              font-style: normal;
              font-weight: bold;
              font-size: 1.1428571428571428rem;
              letter-spacing: 0.4px;
              color: #6D6DF6;
            }
          }
        }
      }

      .btn {
        width: 10rem;
        height: 3.4285714285714284rem;
        margin: 3.2142857142857144rem auto 0 auto;
      }
    }

    @media (max-width: 800px) {
      & {
        .slider {
          .row {
            .image-block {
              width: 90%;
              margin: 0;
              height: auto;

              .change-chart {
                margin: 0 30px 0 0;
              }
            }
          }
        }
      }
    }

    @media (max-width: 500px) {
      & {
        .slider {
          .row {
            .image-block {
              width: 100%;
              margin: 0;

              .change-chart {
                margin: 0;
              }
            }

            .prev,
            .next {
              display: none;
            }

          }
        }

        .content {
          h3 {
            font-size: 17px;
            line-height: 21px;
          }

          .row {
            flex-direction: column;

            .col {
              width: 100%;

              h4 {
                font-size: 15px;
                line-height: 21px;
              }

              .metric-name {
                font-size: 15px;
                line-height: 21px;
              }
            }

            .line {
              width: 100%;
              height: 1px;
            }
          }

          .btn {
            margin: 30px auto 0 0;
          }
        }
      }
    }
  }

  .comments {
    background: #F3F7FD;
    padding: 5.714285714285714rem 5.714285714285714rem 100px 5.714285714285714rem;
    position: relative;

    .container {
      max-width: 2000px;
      padding: 0;
    }

    h2 {
      margin-bottom: 4.642857142857143rem;
    }

    .carousel {
      padding: 0 40px;
      position: relative;

      .slick-track {
        & > div {
          padding: 0 10px;
        }
      }

      .slide-item {
        background: #FFFFFF;
        border: 1px solid #DCDFF2;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 1.7142857142857142rem 1.4285714285714286rem;

        .row {
          display: flex;
          margin: 0 0 1.0714285714285714rem 0;

          img {
            width: 40px;
            height: 40px;
            margin: 0 1.0714285714285714rem 0 0;
          }

          .name {
            font-family: eb;
            font-size: 1.1428571428571428rem;
            letter-spacing: 0.4px;
            color: #17175A;
            display: flex;
            align-items: center;
          }
        }

        .comment {
          font-size: 0.9285714285714286rem;
          line-height: 1.4285714285714286rem;
          letter-spacing: 0.4px;
          color: #4B5271;
        }
      }

      .prev,
      .next {
        width: 2.2857142857142856rem;
        height: 2.2857142857142856rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;

        top: 0;
        bottom: 0;
        margin: auto 0;

        color: #8A8AF8;

        &:hover {
          color: #4d4d99;
        }
      }

      .prev {
        transform: rotate(180deg);
        left: -50px;
      }

      .next {
        right: -50px;
      }
    }

    .slick-dots {
      bottom: -4.285714285714286rem;

      li {
        margin: 0 1px 0 0;

        &:last-child {
          margin: 0;
        }

        button:before {
          opacity: 1;
          color: #17175A;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }

        &.slick-active {
          button:before {
            width: 12px;
            height: 12px;
            color: #F3F7FD;
            border: 1px solid #17175A;
            border-radius: 50%;
            font-size: 0;
          }
        }
      }
    }

    @media (max-width: 1000px) {
      & {
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    @media (max-width: 600px) {
      & {
        padding-left: 15px;
        padding-right: 15px;

        h2 {
          margin-bottom: 30px;
        }

        .carousel {
          padding: 0 30px;

          .slick-track {
            & > div {
              padding: 0 5px;
            }
          }
        }

        .container {
          .prev,
          .next {
            display: none;
          }
        }
      }
    }
  }

  .under-hood .container {
    padding-top: 5.714285714285714rem;
    padding-bottom: 7.142857142857143rem;

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 4.642857142857143rem 0 0 0;

      & > div {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.857142857142857rem 1.4285714285714286rem;
        transition: .3s;

        .col {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &:hover {
          box-shadow: 0px 12px 24px rgba(142, 147, 192, 0.08), 0px 0px 32px rgba(142, 147, 192, 0.08);
          border-radius: 4px;
          transition: .3s;

          .image {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            transition: .3s;
          }
        }

        .image {
          height: 72px;
          display: flex;
          align-items: center;
          transition: .3s;

          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }

        .title {
          width: 100%;
          font-family: esb;
          font-size: 16px;
          letter-spacing: 0.4px;
          color: #17175A;
          margin: 0 0 15px 0;
          text-transform: capitalize;
          text-align: center;
        }

        .description {
          text-align: center;
        }
      }
    }

    @media (max-width: 500px) {
      & {
        padding-top: 60px;
        padding-bottom: 60px;

        .list {
          flex-direction: column;
          align-items: center;
          margin: 35px 0 0 0;

          & > div {
            display: block;
            width: 100%;
            padding: 25px 20px;

            .col {
              flex-direction: row;
            }

            .image {
              display: inline-block;
              margin: 0 20px 0 0;
            }

            .title {
              text-transform: capitalize;
              text-align: left;
              font-size: 15px;
              line-height: 21px;
            }

            .description {
              text-align: left;
              font-size: 15px;
              line-height: 21px;
              letter-spacing: 0.4px;
              color: #4B5271;
              height: 0;
              overflow: hidden;
            }

            &:hover {
              .description {
                height: max-content;
              }
            }
          }
        }
      }
    }
  }

  .pricing {
    background: #F3F7FD;

    .container {
      padding-top: 5.714285714285714rem;
      padding-bottom: 7.142857142857143rem;

      .price-drawer {
        max-width: 960px;
        background: #FFFFFF;
        box-shadow: 0px 16px 16px rgba(99, 114, 150, 0.08);
        border-radius: 8px;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 55px;
        padding-right: 60px;
        margin: 5rem auto 0 auto;
        box-sizing: border-box;

        .row {
          display: flex;
          justify-content: space-between;

          .col {
            display: flex;
            flex-direction: column;

            h2 {
              text-align: left;
            }

            &:first-child {
              width: 55%;
            }

            &:last-child {
              width: 40%;
            }
          }
        }

        .slider-container {
          margin: 80px 0 15px 0;

          .slider .irs .irs-bar {
            background: #6d6df6;
            height: 20px;
            border-radius: 100px;
            background: url(../../../assets/img/landing-automation/slider.png) left center repeat-x, #6d6df6;
            text-align: center;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 20px;
            font-family: esb;
          }

          @media screen and (max-width: 760px) {
            .slider .irs .irs-bar small {
              display: none
            }
          }

          .slider .irs .irs-line {
            border-radius: 100px;
            height: 20px
          }

          .slider .irs .irs-handle {
            background: #6d6df5;
            border: 4px solid #fff;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 13px;
            width: 16px;
            height: 40px;
            top: 14px;
            cursor: e-resize
          }

          .slider .irs .irs-handle i {
            display: none
          }

          .slider .irs .irs-single {
            font-size: 15px;
            color: #363694;
            font-weight: 700;
            background: #fff;
            -webkit-box-shadow: 0 16px 16px rgba(44, 48, 58, .08), 0 6px 40px rgba(44, 48, 58, .03), 0 0 16px rgba(44, 48, 58, .03);
            box-shadow: 0 16px 16px rgba(44, 48, 58, .08), 0 6px 40px rgba(44, 48, 58, .03), 0 0 16px rgba(44, 48, 58, .03);
            top: -40px;
            border-radius: 8px;
            z-index: 3;
            width: 160px;
            text-align: center;
            font-weight: 700;
            padding: 12px 0;
            letter-spacing: .4px
          }

          .slider .irs .irs-single::before {
            border: 9px solid transparent;
            border-top-color: #fff;
            bottom: -16px;
            margin-left: -9px
          }
        }


        .sum {
          display: flex;
          flex-direction: column;
          margin: -15px 0 0 0;

          .result-sum {
            font-family: e3sb;
            font-size: 64px;
            line-height: 85px;
            letter-spacing: 0.4px;
            color: #17175A;
          }

          .description {
            font-size: 1rem;
            letter-spacing: 0.4px;
            color: #6D6DF6;
          }

          a {
            color: rgb(0, 0, 238);
            margin: 5px 0 0 0;
          }
        }

        .btn {
          width: 8.571428571428571rem;
          height: 3.4285714285714284rem;
          margin: 15px 0 0 0;
        }

        .list {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
          margin: 50px 0 0 0;

          div {
            display: flex;
            align-items: center;
            margin: 0 0 1.7857142857142858rem 0;
            font-family: er;

            font-size: 1rem;
            letter-spacing: 0.4px;
            color: #4B5271;

            img {
              margin: 0 0.8571428571428571rem 0 0;
            }
          }
        }

        .white {
          width: 7.142857142857143rem;
          height: 2.5714285714285716rem;
          border: 1px solid #BDC6CF;
          color: #38454F;
          font-size: 0.8571428571428571rem;
          border-radius: 4px;
          margin: 1.78571429rem auto 0 auto;
          box-shadow: none;
        }
      }

      @media (max-width: 600px) {
        & {
          .price-list {
            padding: 20px;

            .row {
              &:first-child {
                flex-direction: column;

                .col {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      @media (max-width: 500px) {
        & {
          padding-top: 60px;
          padding-bottom: 60px;

          .price-drawer {
            margin-top: 35px;

            h2 {
              font-size: 21px;
              line-height: 25px;
            }

            .slider-container {
              margin-top: 80px;
            }

            .sum {
              .result-sum {
                font-size: 50px;
              }

              .description,
              a {
                font-size: 14px;
                line-height: 18px;
              }
            }

            .btn {
              margin: 10px auto 15px 0;
            }

            .list {
              display: none;
            }
          }
        }
      }
    }
  }

  .secure .container {
    max-width: 960px;
    padding-top: 80px;

    h2 {
      span {
        color: #6D6DF6;
      }
    }

    & > p {
      margin: 30px auto 45px auto;

      font-family: er;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.4px;
      color: #7C8A95;
    }

    .list {
      display: flex;
      justify-content: center;

      .item {
        flex: 1;
        height: max-content;

        &:nth-child(2) {
          margin: 0 40px;
        }

        .image {
          width: 100%;
          height: 192px;
          display: flex;
          align-items: center;
          justify-content: center;

          background: #FFFFFF;
          box-shadow: 0px 12px 24px rgba(142, 147, 192, 0.08), 0px 0px 32px rgba(142, 147, 192, 0.08);
          border-radius: 4px;

          img {
          }
        }

        h4 {
          font-family: e4b;
          font-size: 24px;
          text-align: center;
          letter-spacing: 0.4px;
          color: #17175A;
          margin: 40px 0 20px 0;
        }

        p {
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.4px;
          color: #7C8A95;
        }
      }
    }

    @media (max-width: 900px) {
      & > p {
        br {
          display: none;
        }
      }
    }

    @media (max-width: 600px) {
      & {
        & > p {
          font-size: 18px;
        }

        .list {
          flex-direction: column;

          .item {
            margin: 0 0 30px 0;

            &:nth-child(2) {
              margin: 0 0 50px 0;
            }

            h4 {
              font-size: 20px;
            }

            p {
              font-size: 14px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .blog-posts {
    background: #F3F7FD;

    .container {
      padding-top: 90px;
      padding-bottom: 100px;

      h2 {
        font-size: 32px;
      }

      p {
        font-family: er;
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #7C8A95;
        margin: 30px 0 40px 0;
      }

      .posts {
        display: flex;
        justify-content: center;

        .item {
          flex: 1;

          &:nth-child(2) {
            margin: 0 40px;
          }

          h4 {
            font-family: e4b;
            font-size: 24px;
            letter-spacing: 0.4px;
            color: #6D6DF6;
            margin: 45px 0 20px 0;
          }

          span {
            font-size: 16px;
            letter-spacing: 0.4px;
            color: #7C8A95;
          }
        }
      }
    }
  }

  .support {
    background: #fff;
    position: relative;

    .rectangle {
      width: 60%;
      height: 500px;
      position: absolute;
      bottom: 60px;
      right: 0;
      background: linear-gradient(170.27deg, #F3F7FD 0.04%, rgba(243, 247, 253, 0) 118.17%);
      border-radius: 200px 0 0 200px;
      z-index: 1;
    }

    .container {
      max-width: 960px;
      padding-top: 260px;
      padding-bottom: 120px;
      display: flex;
      justify-content: flex-start;
      position: relative;
      z-index: 100;

      .col {
        z-index: 100;

        h3 {
          font-family: e4b;
          font-size: 32px;
          letter-spacing: 0.4px;
          color: #6D6DF6;

          img {
            margin: 0 0 0 30px;
          }
        }

        p {
          font-family: er;
          font-size: 25px;
          line-height: 28px;
          letter-spacing: 0.4px;
          color: #7C8A95;
          margin: 20px 0 40px 0;
        }

        h4 {
          font-family: e4b;
          font-size: 20px;
          letter-spacing: 0.4px;
          color: #4F4F4F;
        }

        a {
          font-family: e3r;
          font-size: 20px;
          letter-spacing: 0.4px;
          text-decoration-line: underline;
          color: #6D6DF6;
          margin: 10px 0 0 0;
          cursor: pointer;

          &:hover {
            color: #434398;
          }
        }
      }

      .image {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }


    @media (max-width: 850px) {
      .container {
        padding-bottom: 50px;

        .image {
          width: 75%;
        }
      }
    }

    @media (max-width: 750px) {
      & {
        margin-top: 50px;

        .rectangle {
          height: 100%;
          width: 90%;
          bottom: 0;

        }

        .container {
          padding-top: 100px;

          .col {
            width: 100%;
            text-align: center;
          }

          .image {
            display: none;
          }
        }
      }
    }

    @media (max-width: 500px) {
      & {
        .container {
          .col {
            h3 {
              font-size: 26px;
            }

            p {
              font-size: 18px;

              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .trial {
    background: #6D6DF6;

    .container {
      padding-bottom: 90px;
      padding-top: 90px;

      h2 {
        font-size: 48px;
        line-height: 50px;
        color: #FFFFFF;
        margin-bottom: 40px;
      }

      p {
        font-family: er;
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        margin-bottom: 40px;
      }

      button {
        max-width: 331px;
        width: 100%;
        height: 68px;
        background: #FFFFFF;
        border-radius: 4px;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: esb;
        font-size: 16px;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        color: #6D6DF6;
        margin: 0 auto 20px auto;

        &:hover {
          background: rgba(255, 255, 255, 0.94);
        }
      }

      ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        color: #fff;

        li {
          margin: 0 20px;
        }
      }


      @media (max-width: 500px) {
        & {
          h2 {
            font-size: 35px;
          }

          p {
            font-size: 20px;
          }

          button {
            height: 56px;
            font-size: 14px;
          }

          ul {
            flex-direction: column;

            li {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

  }

  .modal-image {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    display: none;

    img {
      width: 100%;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #000000;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;
    }

    @media (max-width: 500px) and (orientation: portrait) {
      display: flex;
    }
  }

  .survey-modal-window {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    max-width: 1360px;
    bottom: -100vh;
    background: #fff;
    transition: .3s;
    z-index: 1000;
    right: 20px;
    left: 20px;
    margin: 0 auto;
    padding: 15px 55px;
    box-shadow: 0px 12px 16px rgba(44, 48, 58, 0.08), 0px 0px 20px rgba(44, 48, 58, 0.08);
    border-radius: 4px;

    &.opened {
      bottom: 100px;
      transition: .3s;

    }

    &.closed {
      display: none;
    }

    .description {
      margin: 0 0 0 40px;
      width: 50%;
    }

    h2 {
      font-size: 1.4285714285714286rem;
      letter-spacing: 0.4px;
      color: #17175A;
      margin: 15px 0 0 0;
    }

    span {
      font-size: 1.4285714285714286rem;
      align-items: center;
      letter-spacing: 0.4px;
      color: #17175A;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin: 0 30px 0 auto;
    }

    .buttons button {
      height: 56px;
      font-size: 1.1428571428571428rem;
      line-height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      border-radius: 4px;
      padding: 0 15px;
    }

    .buttons button.handle-ok {
      background: #363694;
      color: #fff;
    }

    .buttons button.handle-cancel {
      width: 32px;
      height: 32px;
      background: #F3F7FD;
      border-radius: 4px;
      position: absolute;
      font-size: 30px;
      top: 19px;
      right: 16px;
    }

    @media (max-width: 914px) {
      .buttons {
        margin: 10px auto;
      }

      .description {
        width: 65%;
      }
    }

    @media (max-width: 715px) {
      & {
        padding-top: 40px;
        flex-direction: column;
        align-items: center;

        .description {
          width: auto;
          margin: 10px 0;
          text-align: center;
        }
      }
    }
  }

  .scroll-top {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5.714285714285714rem;
    background: #fff;
    -webkit-box-shadow: 15px 0 20px rgba(109, 109, 246, .08), 0 15px 24px rgba(109, 109, 246, .12);
    box-shadow: 15px 0 20px rgba(109, 109, 246, .08), 0 15px 24px rgba(109, 109, 246, .12);
    border-radius: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    z-index: 99;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;

    &:hover {
      -webkit-box-shadow: 0 0 20px rgba(109, 109, 246, .15), 0 0 24px rgba(109, 109, 246, .3);
      box-shadow: 0 0 20px rgba(109, 109, 246, .15), 0 0 24px rgba(109, 109, 246, .3);
    }

    &:after {
      content: "";
      position: absolute;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url(../../../assets/img/landing-automation/scroll.svg) center no-repeat;
    }
  }

  .social-links {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5.714285714285714rem;
    z-index: 999;

    a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      background: rgba(54, 54, 148, .1);
      border-radius: 50%;
      position: relative;
      margin: 0 0 20px 0;
      font-size: 20px;
      color: #363694;

      &:hover {
        color: #fff;
        background: rgba(54, 54, 148, .8);
      }
    }
  }

  @media (max-width: 1100px) {
    .scroll-top,
    .social-links {
      display: none;
    }
  }
  @media (max-width: 1650px) {
    .scroll-top {
      right: 20px;
    }

    .social-links {
      left: 20px;
    }
  }
}

.video-modal-window-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-modal-window {
  width: max-content !important;
  padding: 0;
  top: 0;
  bottom: 0;

  .ant-modal-content {
    width: max-content;
    background: none;

    .ant-modal-body {
      padding: 0;
      width: max-content;
      height: max-content;
    }
  }

  @media (max-width: 800px) {
    width: 100vw !important;

    .ant-modal-content,
    .ant-modal-body,
    iframe {
      width: 100% !important;
    }
  }
}

