
.StrategyInfo {

    .info-item {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 15px;

        & > div {
            align-self: center;
        }

        margin: 15px 10px;

        .info-caption {
            color: #6D6DF6;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 25px;
        }
    }

}
