.optimization-rules-page .header {
  height: 5rem;
  min-height: 5rem;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 2.85714286rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);



  h2 {
    font-weight: 600;
    font-size: 1.7142857142857142rem;
    line-height: 2.0714285714285716rem;
    color: #353A3E;
    margin: 0 auto 0 0;
  }

  .btn {
    margin: 0 0 0 20px;
    padding: 0 20px;

    svg {
      width: 1.4285714285714286rem;
      height: 1.4285714285714286rem;
      stroke: white;
      margin: 0 10px 0 0;
    }
  }

  a.btn {
    svg {
      stroke: none;
    }
  }

  .back {
    align-items: center;

    svg {
      transform: rotate(90deg);
      height: max-content;
      width: 1rem;
    }
  }
}