.seed-keywords {
  & > .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.4285714285714286rem;
    margin-bottom: 10px;

    & > .col {
      display: flex;
      flex-direction: column;
      z-index: 11;
      position: relative;
      overflow: hidden;
    }
  }

  .description {
    grid-template-columns: 1fr;
    margin: 0 0 0.71428571rem;

    p {
      margin: 0;
    }
  }

  .header {
    .col {
      justify-content: flex-end;

      p {
        margin: 0;
      }

      .row {
        display: flex;
        justify-content: space-between;
      }

      label {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        color: #353A3E;
        margin-bottom: 5px;
      }

      p {
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
        margin: 0;
      }

      button {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2142857142857142rem;
      }
    }
  }

  .body {
    height: 200px;
    z-index: 11;
    position: relative;

    textarea {
      height: 100%;
      resize: none;
      font-size: 1rem;
    }

    .item-text {
      width: 100%;
      display: flex;

      &.not-valid {
        color: #C9CBD4;
      }

      & > i {
        margin: 0 0 0 auto;
      }
    }


  }

  .footer {
    margin: 5px 0 0;

    .col {
      align-items: flex-end;
    }

    .sds-btn {
      height: 2.2857142857142856rem;
      font-size: 0.8571428571428571rem;
      padding: 0 15px;

      svg {
        width: 1rem;
        height: 1rem;
        stroke: #fff;
        margin: 0 12px 0 0;
      }
    }

    .length-error {
      width: 100%;
      font-size: 0.7857142857142857rem;
      color: #FF5256;
      margin: 0 0 5px;
    }

    .estimated-info {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      p {
        flex: 1;
        font-weight: 600;
        font-size: 0.8571428571428571rem;
        line-height: 1.2142857142857142rem;
        color: #353A3E;
        margin: 0 1.0714285714285714rem 0 0;
      }

      .information-tooltip {
        margin: 0;
      }

      .count {
        height: 20px;
        display: flex;
        align-items: center;
        width: max-content;
        background: #F3F3F3;
        border-radius: 4px;
        padding: 0 8px;

        font-weight: 600;
        font-size: 0.8571428571428571rem;
        line-height: 1.0714285714285714rem;
        color: #6959AB;

        .ant-spin {
          display: flex;
          align-items: center;
        }

        .border {
          border-bottom: 1px dashed #6959AB;
        }
      }
    }
  }
}
