.main-pages .main-container .page > .analytics-page .workplace .product-ads-section {
  margin: 15px 0;
  //padding: 20px;

  h2 {
    font-size: 16px;
    color: #343C5A;
    margin-bottom: 28px;
  }

  .metrics-list {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    //padding-right: 70px;
    min-height: 100px;

    & > div {
      display: flex;
      flex-direction: column;
      border-right: 0.5px solid #C9CBD4;

      &:last-child {
        border: 0;
      }

      &:first-child {
        .title, .value {
          justify-content: flex-start;
        }
      }

      div {
        flex: 1;
      }
    }

    .title {
      font-size: 1rem;
      font-weight: 500;
      color: #343C5A;
      border-bottom: 2px solid #C9CBD4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 12px;
    }

    .value {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 12px;

      font-weight: 500;
      font-size: 1rem;
      color: #343C5A;
    }
  }
}