.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
}

.not-found-page .img {
  margin-bottom: 75px;
  position: relative;
  display: inline-block
}
.not-found-page .img:after {
  content: '';
  position: absolute;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../../assets/img/not-found.gif') center no-repeat;
  background-size: contain;
  width: 37%;
  height: 100%;
}


.not-found-page .img img {
  vertical-align: top
}

.not-found-page h1 {
  font-size: 33px;
  line-height: 1.4;
  color: #363694;
  margin-bottom: 15px;
  font-weight: 700
}

.not-found-page p {
  font-size: 16px;
  line-height: 1.75;
  color: #7c8a95;
  max-width: 590px;
  margin: 0 auto;
  margin-bottom: 45px
}

.not-found-page .btn {
  padding: 20px 65px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #8fd39d;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-height:750px) {
  .not-found-page .img {
    margin-bottom: 25px
  }
  .not-found-page .img img {
    width: 500px
  }
  .not-found-page h1 {
    margin-bottom: 10px
  }
  .not-found-page p {
    margin-bottom: 30px
  }
}

@media screen and (max-width:760px) {
  .not-found-page .img {
    margin-bottom: 25px
  }
  .not-found-page .img img {
    width: 90%
  }
  .not-found-page h1 {
    margin-bottom: 10px
  }
  .not-found-page p {
    margin-bottom: 30px
  }
}


@media screen and (max-width:480px) {
  .box {
    padding-left: 10px!important;
    padding-right: 10px!important
  }
  .not-found-page {
    padding: 50px 0
  }
  .not-found-page h1 {
    font-size: 25px
  }
  .not-found-page p {
    font-size: 14px
  }
  .not-found-page .btn {
    padding: 20px 50px;
    font-size: 18px
  }
}
